<template>
  <div>
    <b-row>
      <b-col cols="6">
        <chart-pie :chart-data="chartdata1" :options="options1" />
      </b-col>
      <b-col cols="6">
        <chart-pie :chart-data="chartdata2" :options="options2" />
      </b-col>
    </b-row>
    <br />
    <b-row>
      <b-col cols="6">
        <chart-pie :chart-data="chartdata3" :options="options3" />
      </b-col>
      <b-col cols="6">
        <chart-pie :chart-data="chartdata4" :options="options4" />
      </b-col>
    </b-row>
  </div>
</template>
<script>
import ChartPie from "@/components/ChartPie";
import { mapState } from "vuex";
export default {
  data() {
    return {
      std: [],
      yyyy: 0,
      y0y1: 0,
      y1y2: 0,
      y2y3: 0,
      y3y4: 0,
      y4y5: 0,
      y5y6: 0,
      overy6: 0,
      s: 0,
      m: 0,
      l: 0,
      ll: 0,
      chartdata1: null,
      chartdata2: null,
      chartdata3: null,
      chartdata4: null,
      boynum: "",
      girlnum: "",
      options1: {
        responsive: false, //改true會變大 不受cols控制
        maintainAspectRatio: false,
        title: {
          display: true,
          text: "人數",
          fontColor: "#000000",
          fontSize: "24",
          position: "top" // 標題位置
        },
        legend: {
          display: true,
          position: "left",
          labels: {
            generateLabels: function(chart) {
              var data = chart.data;
              if (data.labels.length && data.datasets.length) {
                return data.labels.map(function(label, i) {
                  var ds = data.datasets[0];
                  var arc = chart.getDatasetMeta(0).data[i];
                  var custom = (arc && arc.custom) || {};
                  var getValueAtIndexOrDefault =
                    Chart.helpers.getValueAtIndexOrDefault;
                  var arcOpts = chart.options.elements.arc;
                  var fill = custom.backgroundColor
                    ? custom.backgroundColor
                    : getValueAtIndexOrDefault(
                        ds.backgroundColor,
                        i,
                        arcOpts.backgroundColor
                      );
                  var stroke = custom.borderColor
                    ? custom.borderColor
                    : getValueAtIndexOrDefault(
                        ds.borderColor,
                        i,
                        arcOpts.borderColor
                      );
                  var bw = custom.borderWidth
                    ? custom.borderWidth
                    : getValueAtIndexOrDefault(
                        ds.borderWidth,
                        i,
                        arcOpts.borderWidth
                      );

                  var value =
                    chart.config.data.datasets[
                      chart.getDatasetMeta(0).data[i]._datasetIndex
                    ].data[chart.getDatasetMeta(0).data[i]._index];

                  return {
                    text: label + " : " + value + "人",
                    fillStyle: fill,
                    strokeStyle: stroke,
                    lineWidth: bw,
                    hidden:
                      isNaN(ds.data[i]) ||
                      chart.getDatasetMeta(0).data[i].hidden,
                    index: i
                  };
                });
              } else {
                return [];
              }
            }
          }
        }
      },
      options2: {
        responsive: false,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: "年齡",
          fontColor: "#000000",
          fontSize: "24",
          position: "top" // 標題位置
        },
        legend: {
          display: true,
          position: "left",
          labels: {
            generateLabels: function(chart) {
              var data = chart.data;
              if (data.labels.length && data.datasets.length) {
                return data.labels.map(function(label, i) {
                  var ds = data.datasets[0];
                  var arc = chart.getDatasetMeta(0).data[i];
                  var custom = (arc && arc.custom) || {};
                  var getValueAtIndexOrDefault =
                    Chart.helpers.getValueAtIndexOrDefault;
                  var arcOpts = chart.options.elements.arc;
                  var fill = custom.backgroundColor
                    ? custom.backgroundColor
                    : getValueAtIndexOrDefault(
                        ds.backgroundColor,
                        i,
                        arcOpts.backgroundColor
                      );
                  var stroke = custom.borderColor
                    ? custom.borderColor
                    : getValueAtIndexOrDefault(
                        ds.borderColor,
                        i,
                        arcOpts.borderColor
                      );
                  var bw = custom.borderWidth
                    ? custom.borderWidth
                    : getValueAtIndexOrDefault(
                        ds.borderWidth,
                        i,
                        arcOpts.borderWidth
                      );

                  var value =
                    chart.config.data.datasets[
                      chart.getDatasetMeta(0).data[i]._datasetIndex
                    ].data[chart.getDatasetMeta(0).data[i]._index];

                  return {
                    text: label + " : " + value + "人",
                    fillStyle: fill,
                    strokeStyle: stroke,
                    lineWidth: bw,
                    hidden:
                      isNaN(ds.data[i]) ||
                      chart.getDatasetMeta(0).data[i].hidden,
                    index: i
                  };
                });
              } else {
                return [];
              }
            }
          }
        }
      },
      options3: {
        responsive: false,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: "障礙類別",
          fontColor: "#000000",
          fontSize: "24",
          position: "top" // 標題位置
        },
        legend: {
          display: true,
          position: "left",
          labels: {
            generateLabels: function(chart) {
              var data = chart.data;
              if (data.labels.length && data.datasets.length) {
                return data.labels.map(function(label, i) {
                  var ds = data.datasets[0];
                  var arc = chart.getDatasetMeta(0).data[i];
                  var custom = (arc && arc.custom) || {};
                  var getValueAtIndexOrDefault =
                    Chart.helpers.getValueAtIndexOrDefault;
                  var arcOpts = chart.options.elements.arc;
                  var fill = custom.backgroundColor
                    ? custom.backgroundColor
                    : getValueAtIndexOrDefault(
                        ds.backgroundColor,
                        i,
                        arcOpts.backgroundColor
                      );
                  var stroke = custom.borderColor
                    ? custom.borderColor
                    : getValueAtIndexOrDefault(
                        ds.borderColor,
                        i,
                        arcOpts.borderColor
                      );
                  var bw = custom.borderWidth
                    ? custom.borderWidth
                    : getValueAtIndexOrDefault(
                        ds.borderWidth,
                        i,
                        arcOpts.borderWidth
                      );

                  var value =
                    chart.config.data.datasets[
                      chart.getDatasetMeta(0).data[i]._datasetIndex
                    ].data[chart.getDatasetMeta(0).data[i]._index];

                  return {
                    text: label + " : " + value + "人",
                    fillStyle: fill,
                    strokeStyle: stroke,
                    lineWidth: bw,
                    hidden:
                      isNaN(ds.data[i]) ||
                      chart.getDatasetMeta(0).data[i].hidden,
                    index: i
                  };
                });
              } else {
                return [];
              }
            }
          }
        }
      },
      options4: {
        responsive: false, //改true 整個bar圖表會填滿螢幕width
        maintainAspectRatio: false,
        title: {
          display: true,
          text: "障礙程度",
          fontColor: "#000000",
          fontSize: "24",
          position: "top" // 標題位置
        },
        legend: {
          display: true,
          position: "left",
          labels: {
            generateLabels: function(chart) {
              var data = chart.data;
              if (data.labels.length && data.datasets.length) {
                return data.labels.map(function(label, i) {
                  var ds = data.datasets[0];
                  var arc = chart.getDatasetMeta(0).data[i];
                  var custom = (arc && arc.custom) || {};
                  var getValueAtIndexOrDefault =
                    Chart.helpers.getValueAtIndexOrDefault;
                  var arcOpts = chart.options.elements.arc;
                  var fill = custom.backgroundColor
                    ? custom.backgroundColor
                    : getValueAtIndexOrDefault(
                        ds.backgroundColor,
                        i,
                        arcOpts.backgroundColor
                      );
                  var stroke = custom.borderColor
                    ? custom.borderColor
                    : getValueAtIndexOrDefault(
                        ds.borderColor,
                        i,
                        arcOpts.borderColor
                      );
                  var bw = custom.borderWidth
                    ? custom.borderWidth
                    : getValueAtIndexOrDefault(
                        ds.borderWidth,
                        i,
                        arcOpts.borderWidth
                      );

                  var value =
                    chart.config.data.datasets[
                      chart.getDatasetMeta(0).data[i]._datasetIndex
                    ].data[chart.getDatasetMeta(0).data[i]._index];

                  return {
                    text: label + " : " + value + "人",
                    fillStyle: fill,
                    strokeStyle: stroke,
                    lineWidth: bw,
                    hidden:
                      isNaN(ds.data[i]) ||
                      chart.getDatasetMeta(0).data[i].hidden,
                    index: i
                  };
                });
              } else {
                return [];
              }
            }
          }
        }
      }
    };
  },
  components: {
    ChartPie
  },
  methods: {
    calcStudingStd() {
      if (this.students) {
        return this.students.filter(
          student =>
            student.status == "studing" &&
            student.measures &&
            student.measures.length > 1
        );
      }
    }
  },
  computed: {
    ...mapState({
      students: state => state.students
    })
  },
  created() {
    this.studingStd = this.calcStudingStd();
    if (this.studingStd) {
      let bsum = 0;
      let gsum = 0;
      for (let i = 0; i < this.studingStd.length; i++) {
        if (this.studingStd[i].gender == "男") {
          bsum += 1;
          // console.log("studentID", this.students[i].id);
          // console.log("=BOY");
        }
        if (this.studingStd[i].gender == "女") {
          gsum += 1;
          // console.log("studentID", this.students[i].id);
          // console.log("=GIRL");
        }
      }
      this.boynum = bsum;
      this.girlnum = gsum;
    }
    this.chartdata1 = {
      labels: ["男生", "女生"],
      datasets: [
        {
          // label: "人數",
          data: [this.boynum, this.girlnum],
          backgroundColor: ["#0088A8", "#FF8888"]
        }
      ]
    }; //以上為計算chartdata1(人數)--------------------------------------------------------------
    this.date = new Date();
    this.yyyy = this.date.getFullYear();
    for (let i = 0; i < this.studingStd.length; i++) {
      // console.log("studing student", this.studingStd[i].name);
      let age = 0;
      age = parseInt(this.yyyy) - parseInt(this.studingStd[i].birthy);
      // console.log("student", this.studingStd[i].name);
      // console.log("age", age);
      if (age > 6) {
        // console.log(">6old student", this.studingStd[i].name);
        // console.log(">6 age", age);
        this.overy6 += 1;
        // console.log("overy6", this.overy6);
      } else {
        // console.log("<6 age", age);
        // console.log(
        // "this.studingStd[i].birthm",
        // parseInt(this.studingStd[i].birthm)
        // );
        if (parseInt(this.studingStd[i].birthm) > 7) {
          // console.log(">7");
          // console.log("age", age);
          if (age == 1) {
            this.y0y1 += 1;
          }
          if (age == 2) {
            this.y1y2 += 1;
          }
          if (age == 3) {
            // console.log("age=3");
            this.y2y3 += 1;
            // console.log("y2y3", this.y2y3);
          }
          if (age == 4) {
            // console.log("age=4");
            this.y3y4 += 1;
            // console.log("y3y4", this.y3y4);
          }
          if (age == 5) {
            this.y4y5 += 1;
          }
          if (age == 6) {
            this.y5y6 += 1;
          }
          // console.log("student", this.students[i].name);
          // console.log("age", age);
        } else {
          // console.log("<7");
          if (age == 1) {
            this.y1y2 += 1;
          }
          if (age == 2) {
            this.y2y3 += 1;
          }
          if (age == 3) {
            this.y3y4 += 1;
          }
          if (age == 4) {
            this.y4y5 += 1;
          }
          if (age == 5) {
            this.y5y6 += 1;
          }
          if (age == 6) {
            this.overy6 += 1;
          }
          // console.log("studentID", this.students[i].name);
          // console.log("age", age);
        }
      }
    }
    this.chartdata2 = {
      labels: ["0-1歲", "1-2歲", "2-3歲", "3-4歲", "4-5歲", "5-6歲", ">6歲"],
      datasets: [
        {
          // label: "人數",
          data: [
            this.y0y1,
            this.y1y2,
            this.y2y3,
            this.y3y4,
            this.y4y5,
            this.y5y6,
            this.overy6
          ],
          backgroundColor: [
            "	#0088A8",
            "	#EEEE00",
            "	#FF7744",
            "	#FF8888",
            "	#00AA00",
            "	#AA7700"
          ]
        }
      ]
    }; //以上為計算chartdata2(年齡)----------------------------------------------------------------

    const y = this.studingStd.length; //std.length為狀態為studing學生人數
    // console.log("std", this.std.length);
    var calc = {}; //空物件
    for (let y = 0; y < this.studingStd.length; y++) {
      //找出這個學生的障礙類別(變成KEY)
      let typekey = ""; //空字串，跑完迴圈就變成"障礙類別的key"
      for (let i = 0; i < this.studingStd[y].obstacle.length; i++) {
        typekey += this.studingStd[y].obstacle[i];
        /*
                假如這個學生的障礙類別是 1，typeKey 就是 "1"
                假如這個學生的障礙類別是 1，2，7，typeKey 就是 "127"
            */
      }
      //如果這個類別是空的，設定成空陣列[]
      // console.log("typeof", typeof calc[typekey]);
      if (typeof calc[typekey] == "undefined") {
        calc[typekey] = []; //這個空陣列要拿來放對應的value
      }
      //push東西到clac[typekey]
      calc[typekey].push(this.studingStd[y]);
      // console.log("value",calc.value)
      // console.log("after puah calc[typekey]", calc[typekey]);
    }
    // console.log("calcKey = ", Object.keys(calc));
    let item = Object.keys(calc); //把每一個key一個一個放進陣列裡
    let amount = [];
    // console.log("item", item);

    for (let l = 0; l < item.length; l++) {
      // console.log("calc.item[0].legth", calc[item[0]].length);
      amount.push(calc[item[l]].length);
    }
    // console.log("amount", amount);
    this.chartdata3 = {
      labels: item,
      datasets: [
        {
          // label: "人數",
          data: amount,
          // data:[10,30,5,5],
          backgroundColor: [
            "#0088A8",
            "#EEEE00",
            "#FF7744",
            "#FF8888",
            "#00AA00",
            "#AA7700",
            "#00AA55",
            "#A500CC",
            "#7700FF",
            "#00DDDD",
            "	#77FFCC",
            "#BB5500",
            "#00DD00"
          ]
        }
      ]
    }; //以上為計算chartdata3------------------------------------
    for (let i = 0; i < this.studingStd.length; i++) {
      // console.log("obstacle_grade",this.studingStd[i].obstacle_grade)
      if (this.studingStd[i].obstacle_grade == "輕度") {
        this.s += 1;
      }
      if (this.studingStd[i].obstacle_grade == "中度") {
        this.m += 1;
      }
      if (this.studingStd[i].obstacle_grade == "重度") {
        this.l += 1;
      }
      if (this.studingStd[i].obstacle_grade == "極重度") {
        this.ll += 1;
      }
    }
    // console.log("s", this.s);
    // console.log("m", this.m);
    // console.log("l", this.l);
    // console.log("ll", this.ll);
    this.chartdata4 = {
      labels: ["輕度", "中度", "重度", "極重度"],
      datasets: [
        {
          data: [this.s, this.m, this.l, this.ll],
          backgroundColor: ["	#0088A8", "	#EEEE00", "	#FF7744", "	#FF8888"]
        }
      ]
    };
  }
};
</script>