<template>
  <div>
    <b-row>
      <b-col cols="6">
        <chart-bar :chart-data="chartdata1" :options="options" />
      </b-col>
      <!-- 七大領域分析 -->
      <b-col cols="6">
        <chart-bar class="chartbar" :chart-data="chartdata2" :options="options" />
        <!-- 指標分析 -->
      </b-col>
    </b-row>
  </div>
</template>
<script>
import { mapState } from "vuex";
import ChartBar from "@/components/ChartBar";

const numarr = [
  "zero",
  "one",
  "two",
  "three",
  "four",
  "five",
  "six",
  "seven",
  "eight",
  "nine",
  "ten",
  "eleven",
  "twelve",
  "thirteen",
  "fourteen",
  "fifteen",
  "sixteen",
  "seventeen",
  "eighteen",
  "nineteen",
  "twenty",
  "twenty_one",
  "twenty_two",
  "twenty_three",
  "twenty_four",
  "twenty_five",
  "twenty_six",
  "twenty_seven",
  "twenty_eight",
  "twenty_nine",
  "thirty",
  "thirty_one",
  "thirty_two",
  "thirty_three",
  "thirty_four",
  "thirty_five",
  "thirty_six",
  "thirty_seven",
  "thirty_eight",
  "thirty_nine",
  "forty",
  "forty_one",
  "forty_two",
  "forty_three",
  "forty_four",
  "forty_five"
];
const d1fields = {
  see: 7,
  listen: 6,
  touch: 9,
  smell: 4,
  final: 6
};
const d2fields = {
  posture_control: 14,
  change_posture: 10,
  move: 15,
  sport: 15
};
const d3fields = {
  take: 8,
  operation: 20,
  art: 19
};
const d4fields = {
  eat: 11,
  toilet: 9,
  clean: 15,
  dress: 16
};
const d5fields = {
  language: 7,
  language_comp: 23,
  compress: 25,
  communication: 18
};
const d6fields = {
  concept: 45,
  imitate: 4,
  memory: 6,
  match: 4,
  logic: 3,
  solve: 4,
  read: 5
};
const d7fields = {
  self: 7,
  adapt: 10,
  interact: 8,
  game: 5
};
export default {
  data() {
    return {
      stdnum: "",
      chartdata1: null,
      chartdata2: null,
      domain1: "",
      domain2: "",
      domain3: "",
      domain4: "",
      domain5: "",
      domain6: "",
      domain7: "",
      life_action: "",
      knowledge: "",
      interactAdapt: "",
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{ id: "y-axis-1", ticks: { min: -10, max: 50 } }]
          //中心給的資料不超過20％
        }
      }
    };
  },
  computed: {
    ...mapState({
      students: state => state.students
    })
  },
  components: {
    ChartBar
  },
  methods: {
    calstdnum() {
      let sum = 0;
      for (let i = 0; i < this.students.length; i++) {
        if (
          this.students[i].status == "studing" &&
          this.students[i].measures &&
          this.students[i].measures.length > 1
        ) {
          sum = sum + 1;
        }
      }
      // console.log("sum", sum);
      return sum;
    },
    calcD1() {
      // console.log("domain", domain);
      // console.log("d", d);
      let sum = 0;
      for (let i = 0; i < this.students.length; i++) {
        if (
          this.students[i].status == "studing" &&
          this.students[i].measures &&
          this.students[i].measures.length > 1
        ) {
          // console.log("students[i]", this.students[i].id);
          // console.log("statue", this.students[i].status);
          // console.log("幾位學生測量超過兩次");
          let k = this.students[i].measures.length;
          if (
            this.students[i].measures[k - 1].domain1 &&
            this.students[i].measures[k - 2].domain1
          ) {
            // console.log("幾位學生都寫過domain1（三位）");
            // console.log("寫過d1的學生", this.students[i].id);
            for (var key of Object.keys(d1fields)) {
              for (var j = 1; j <= d1fields[key]; j++) {
                if (this.students[i].measures[k - 1].domain1[key][numarr[j]]) {
                  sum += parseInt(
                    this.students[i].measures[k - 1].domain1[key][numarr[j]]
                  );
                }
              }
            }
            // console.log("+sum", sum);
            for (var key of Object.keys(d1fields)) {
              for (var j = 1; j <= d1fields[key]; j++) {
                if (this.students[i].measures[k - 2].domain1[key][numarr[j]]) {
                  sum -= parseInt(
                    this.students[i].measures[k - 2].domain1[key][numarr[j]]
                  );
                }
              }
            }
            // console.log("-sum", sum);
          }
        }
      }
      return sum;
    },
    calcD2() {
      let sum = 0;
      for (let i = 0; i < this.students.length; i++) {
        if (
          this.students[i].status == "studing" &&
          this.students[i].measures &&
          this.students[i].measures.length > 1
        ) {
          // console.log("D2students[i]", this.students[i].id);
          let k = this.students[i].measures.length;
          if (
            this.students[i].measures[k - 1].domain2 &&
            this.students[i].measures[k - 2].domain2
          ) {
            for (var key of Object.keys(d2fields)) {
              for (var j = 1; j <= d2fields[key]; j++) {
                if (this.students[i].measures[k - 1].domain2[key][numarr[j]]) {
                  sum += parseInt(
                    this.students[i].measures[k - 1].domain2[key][numarr[j]]
                  );
                }
              }
            }
            // console.log("+d2sum", sum);
            for (var key of Object.keys(d2fields)) {
              for (var j = 1; j <= d2fields[key]; j++) {
                if (this.students[i].measures[k - 2].domain2[key][numarr[j]]) {
                  sum -= parseInt(
                    this.students[i].measures[k - 2].domain2[key][numarr[j]]
                  );
                }
              }
            }
          }
          // console.log("-d2sum", sum);
        }
      }
      return sum;
    },
    calcD3() {
      let sum = 0;
      for (let i = 0; i < this.students.length; i++) {
        if (
          this.students[i].status == "studing" &&
          this.students[i].measures &&
          this.students[i].measures.length > 1
        ) {
          // console.log("D3students[i]", this.students[i].id);
          let k = this.students[i].measures.length;
          if (
            this.students[i].measures[k - 1].domain3 &&
            this.students[i].measures[k - 2].domain3
          ) {
            for (var key of Object.keys(d3fields)) {
              for (var j = 1; j <= d3fields[key]; j++) {
                if (this.students[i].measures[k - 1].domain3[key][numarr[j]]) {
                  sum += parseInt(
                    this.students[i].measures[k - 1].domain3[key][numarr[j]]
                  );
                }
              }
            }
            // console.log("+d3sum", sum);
            for (var key of Object.keys(d3fields)) {
              for (var j = 1; j <= d3fields[key]; j++) {
                if (this.students[i].measures[k - 2].domain3[key][numarr[j]]) {
                  sum -= parseInt(
                    this.students[i].measures[k - 2].domain3[key][numarr[j]]
                  );
                }
              }
            }
          }
          // console.log("-d3sum", sum);
        }
      }
      return sum;
    },
    calcD4() {
      let sum = 0;
      for (let i = 0; i < this.students.length; i++) {
        if (
          this.students[i].status == "studing" &&
          this.students[i].measures &&
          this.students[i].measures.length > 1
        ) {
          // console.log("D3students[i]", this.students[i].id);
          let k = this.students[i].measures.length;
          if (
            this.students[i].measures[k - 1].domain4 &&
            this.students[i].measures[k - 2].domain4
          ) {
            for (var key of Object.keys(d4fields)) {
              for (var j = 1; j <= d4fields[key]; j++) {
                if (this.students[i].measures[k - 1].domain4[key][numarr[j]]) {
                  sum += parseInt(
                    this.students[i].measures[k - 1].domain4[key][numarr[j]]
                  );
                }
              }
            }
            // console.log("+d3sum", sum);
            for (var key of Object.keys(d4fields)) {
              for (var j = 1; j <= d4fields[key]; j++) {
                if (this.students[i].measures[k - 2].domain4[key][numarr[j]]) {
                  sum -= parseInt(
                    this.students[i].measures[k - 2].domain4[key][numarr[j]]
                  );
                }
              }
            }
          }
          // console.log("-d3sum", sum);
        }
      }
      return sum;
    },
    calcD5() {
      let sum = 0;
      for (let i = 0; i < this.students.length; i++) {
        if (
          this.students[i].status == "studing" &&
          this.students[i].measures &&
          this.students[i].measures.length > 1
        ) {
          // console.log("D3students[i]", this.students[i].id);
          let k = this.students[i].measures.length;
          if (
            this.students[i].measures[k - 1].domain5 &&
            this.students[i].measures[k - 2].domain5
          ) {
            for (var key of Object.keys(d5fields)) {
              for (var j = 1; j <= d5fields[key]; j++) {
                if (this.students[i].measures[k - 1].domain5[key][numarr[j]]) {
                  sum += parseInt(
                    this.students[i].measures[k - 1].domain5[key][numarr[j]]
                  );
                }
              }
            }
            // console.log("+d3sum", sum);
            for (var key of Object.keys(d5fields)) {
              for (var j = 1; j <= d5fields[key]; j++) {
                if (this.students[i].measures[k - 2].domain5[key][numarr[j]]) {
                  sum -= parseInt(
                    this.students[i].measures[k - 2].domain5[key][numarr[j]]
                  );
                }
              }
            }
          }
          // console.log("-d3sum", sum);
        }
      }
      return sum;
    },
    calcD6() {
      let sum = 0;
      for (let i = 0; i < this.students.length; i++) {
        if (
          this.students[i].status == "studing" &&
          this.students[i].measures &&
          this.students[i].measures.length > 1
        ) {
          // console.log("D3students[i]", this.students[i].id);
          let k = this.students[i].measures.length;
          if (
            this.students[i].measures[k - 1].domain6 &&
            this.students[i].measures[k - 2].domain6
          ) {
            for (var key of Object.keys(d6fields)) {
              for (var j = 1; j <= d6fields[key]; j++) {
                if (this.students[i].measures[k - 1].domain6[key][numarr[j]]) {
                  sum += parseInt(
                    this.students[i].measures[k - 1].domain6[key][numarr[j]]
                  );
                }
              }
            }
            // console.log("+d3sum", sum);
            for (var key of Object.keys(d6fields)) {
              for (var j = 1; j <= d6fields[key]; j++) {
                if (this.students[i].measures[k - 2].domain6[key][numarr[j]]) {
                  sum -= parseInt(
                    this.students[i].measures[k - 2].domain6[key][numarr[j]]
                  );
                }
              }
            }
          }
          // console.log("-d3sum", sum);
        }
      }
      return sum;
    },
    calcD7() {
      let sum = 0;
      for (let i = 0; i < this.students.length; i++) {
        if (
          this.students[i].status == "studing" &&
          this.students[i].measures &&
          this.students[i].measures.length > 1
        ) {
          // console.log("D3students[i]", this.students[i].id);
          let k = this.students[i].measures.length;
          if (
            this.students[i].measures[k - 1].domain7 &&
            this.students[i].measures[k - 2].domain7
          ) {
            for (var key of Object.keys(d7fields)) {
              for (var j = 1; j <= d7fields[key]; j++) {
                if (this.students[i].measures[k - 1].domain7[key][numarr[j]]) {
                  sum += parseInt(
                    this.students[i].measures[k - 1].domain7[key][numarr[j]]
                  );
                }
              }
            }
            // console.log("+d3sum", sum);
            for (var key of Object.keys(d7fields)) {
              for (var j = 1; j <= d7fields[key]; j++) {
                if (this.students[i].measures[k - 2].domain7[key][numarr[j]]) {
                  sum -= parseInt(
                    this.students[i].measures[k - 2].domain7[key][numarr[j]]
                  );
                }
              }
            }
          }
          // console.log("-d3sum", sum);
        }
      }
      return sum;
    },
    calcLife_action() {
      let sum = 0;
      this.domain2 = this.calcD2();
      this.domain3 = this.calcD3();
      this.domain4 = this.calcD4();
      for (let i = 0; i < this.students.length; i++) {
        if (
          this.students[i].measures &&
          this.students[i].measures.length > 1 &&
          this.students[i].status == "studing"
        ) {
          let k = this.students[i].measures.length;
          if (
            this.students[i].measures[k - 1].domain1 &&
            this.students[i].measures[k - 2].domain1
          ) {
            // console.log("student.id", this.students[i].id);
            for (var j = 1; j <= d1fields["smell"]; j++) {
              if (
                this.students[i].measures[k - 1].domain1 &&
                this.students[i].measures[k - 1].domain1["smell"][numarr[j]]
              )
                sum += parseInt(
                  this.students[i].measures[k - 1].domain1["smell"][numarr[j]]
                );
              // console.log("+smell sum", sum);
            }
            for (var j = 1; j <= d1fields["smell"]; j++) {
              if (
                this.students[i].measures[k - 2].domain1 &&
                this.students[i].measures[k - 2].domain1["smell"][numarr[j]]
              ) {
                sum -= parseInt(
                  this.students[i].measures[k - 2].domain1["smell"][numarr[j]]
                );
              }

              // console.log("-smell sum", sum);
            }
          }

          sum += this.domain2;
          // console.log("+domain2 sum", sum);
          sum += this.domain3;
          // console.log("+domain3 sum", sum);
          sum += this.domain4;
          // console.log("+domain4 sum", sum);
        }
      }
      return sum;
    },
    calcKnowledge() {
      let sum = 0;
      this.domain6 = this.calcD6();
      for (let i = 0; i < this.students.length; i++) {
        if (
          this.students[i].measures &&
          this.students[i].measures.length > 1 &&
          this.students[i].status == "studing"
        ) {
          let k = this.students[i].measures.length;
          if (
            this.students[i].measures[k - 1].domain1 &&
            this.students[i].measures[k - 2].domain1
          ) {
            // console.log("student.id", this.students[i].id);
            for (let j = 1; j <= d1fields["see"]; j++) {
              if (
                this.students[i].measures[k - 1].domain1 &&
                this.students[i].measures[k - 1].domain1["see"][numarr[j]]
              ) {
                sum += parseInt(
                  this.students[i].measures[k - 1].domain1["see"][numarr[j]]
                );
              }
            }
            for (let j = 1; j <= d1fields["see"]; j++) {
              if (
                this.students[i].measures[k - 2].domain1 &&
                this.students[i].measures[k - 2].domain1["see"][numarr[j]]
              ) {
                sum -= parseInt(
                  this.students[i].measures[k - 2].domain1["see"][numarr[j]]
                );
              }
            }
            for (var j = 1; j <= d5fields["language"]; j++) {
              // console.log("enter508")
              if (
                this.students[i].measures[k - 1].domain5 &&
                this.students[i].measures[k - 1].domain5["language"][numarr[j]]
              ) {
                // console.log("enter512")
                sum += parseInt(
                  this.students[i].measures[k - 1].domain5["language"][
                    numarr[j]
                  ]
                );
              }
            }
            for (var j = 1; j <= d5fields["language"]; j++) {
              if (
                this.students[i].measures[k - 2].domain5 &&
                this.students[i].measures[k - 2].domain5["language"][numarr[j]]
              ) {
                sum -= parseInt(
                  this.students[i].measures[k - 2].domain5["language"][
                    numarr[j]
                  ]
                );
              }
            }
            for (var j = 1; j <= d5fields["language_comp"]; j++) {
              if (
                this.students[i].measures[k - 1].domain5 &&
                this.students[i].measures[k - 1].domain5["language_comp"][
                  numarr[j]
                ]
              ) {
                sum += parseInt(
                  this.students[i].measures[k - 1].domain5["language_comp"][
                    numarr[j]
                  ]
                );
              }
            }
            for (var j = 1; j <= d5fields["language_comp"]; j++) {
              if (
                this.students[i].measures[k - 2].domain5 &&
                this.students[i].measures[k - 2].domain5["language_comp"][
                  numarr[j]
                ]
              ) {
                sum -= parseInt(
                  this.students[i].measures[k - 2].domain5["language_comp"][
                    numarr[j]
                  ]
                );
              }
            }
          }
          sum += this.domain6;
        }
      }
      return sum;
    },

    calcInteractAdapt() {
      let sum = 0;
      this.domain7 = this.calcD7();
      for (let i = 0; i < this.students.length; i++) {
        if (
          this.students[i].measures &&
          this.students[i].measures.length > 1 &&
          this.students[i].status == "studing"
        ) {
          let k = this.students[i].measures.length;
          if (
            this.students[i].measures[k - 1].domain1 &&
            this.students[i].measures[k - 2].domain1
          ) {
            // console.log("inter student.id", this.students[i].id);
            for (let j = 1; j <= d1fields["listen"]; j++) {
              if (
                this.students[i].measures[k - 1].domain1 &&
                this.students[i].measures[k - 1].domain1["listen"][numarr[j]]
              ) {
                sum += parseInt(
                  this.students[i].measures[k - 1].domain1["listen"][numarr[j]]
                );
                // console.log("+listen sum", sum);
              }
            }
            for (let j = 1; j <= d1fields["listen"]; j++) {
              if (
                this.students[i].measures[k - 2].domain1 &&
                this.students[i].measures[k - 2].domain1["listen"][numarr[j]]
              ) {
                sum -= parseInt(
                  this.students[i].measures[k - 2].domain1["listen"][numarr[j]]
                );
                // console.log("-listen sum", sum);
              }
            }
            for (var j = 1; j <= d1fields["touch"]; j++) {
              // console.log("enter508")
              if (
                this.students[i].measures[k - 1].domain1 &&
                this.students[i].measures[k - 1].domain1["touch"][numarr[j]]
              ) {
                // console.log("enter512")
                sum += parseInt(
                  this.students[i].measures[k - 1].domain1["touch"][numarr[j]]
                );
                // console.log("+touch sum", sum);
              }
            }
            for (var j = 1; j <= d1fields["touch"]; j++) {
              if (
                this.students[i].measures[k - 2].domain1 &&
                this.students[i].measures[k - 2].domain1["touch"][numarr[j]]
              ) {
                sum -= parseInt(
                  this.students[i].measures[k - 2].domain1["touch"][numarr[j]]
                );
                // console.log("-touch sum", sum);
              }
            }

            for (var j = 1; j <= d1fields["final"]; j++) {
              // console.log("enter508")
              if (
                this.students[i].measures[k - 1].domain1 &&
                this.students[i].measures[k - 1].domain1["final"][numarr[j]]
              ) {
                // console.log("enter512")
                sum += parseInt(
                  this.students[i].measures[k - 1].domain1["final"][numarr[j]]
                );
                // console.log("+final sum", sum);
              }
            }
            for (var j = 1; j <= d1fields["final"]; j++) {
              if (
                this.students[i].measures[k - 2].domain1 &&
                this.students[i].measures[k - 2].domain1["final"][numarr[j]]
              ) {
                sum -= parseInt(
                  this.students[i].measures[k - 2].domain1["final"][numarr[j]]
                );
                // console.log("-final sum", sum);
              }
            }
            for (var j = 1; j <= d5fields["compress"]; j++) {
              if (
                this.students[i].measures[k - 1].domain5 &&
                this.students[i].measures[k - 1].domain5["compress"][numarr[j]]
              ) {
                sum += parseInt(
                  this.students[i].measures[k - 1].domain5["compress"][
                    numarr[j]
                  ]
                );
                // console.log("+compress sum", sum);
              }
            }
            for (var j = 1; j <= d5fields["compress"]; j++) {
              if (
                this.students[i].measures[k - 2].domain5 &&
                this.students[i].measures[k - 2].domain5["compress"][numarr[j]]
              ) {
                sum -= parseInt(
                  this.students[i].measures[k - 2].domain5["compress"][
                    numarr[j]
                  ]
                );
                // console.log("-compress sum", sum);
              }
            }

            for (var j = 1; j <= d5fields["communication"]; j++) {
              if (
                this.students[i].measures[k - 1].domain5 &&
                this.students[i].measures[k - 1].domain5["communication"][
                  numarr[j]
                ]
              ) {
                sum += parseInt(
                  this.students[i].measures[k - 1].domain5["communication"][
                    numarr[j]
                  ]
                );
                // console.log("+communication sum", sum);
              }
            }
            for (var j = 1; j <= d5fields["communication"]; j++) {
              if (
                this.students[i].measures[k - 2].domain5 &&
                this.students[i].measures[k - 2].domain5["communication"][
                  numarr[j]
                ]
              ) {
                sum -= parseInt(
                  this.students[i].measures[k - 2].domain5["communication"][
                    numarr[j]
                  ]
                );
                // console.log("-communication sum", sum);
              }
            }
          }
          sum += this.domain7;
          // console.log("+domain7 sum", sum);
        }
      }
      // console.log("final sum", sum);
      return sum;
    }
  },
  created() {
    this.stdnum = this.calstdnum();
    // console.log("stdnum", this.stdnum);
    // let one = "1";
    // this.domain1 = this.calcD1("domain1", "d1");
    // console.log("domain1", this.domain1);
    // let two = 2;
    this.domain1 = this.calcD1();
    this.domain2 = this.calcD2();
    this.domain3 = this.calcD3();
    this.domain4 = this.calcD4();
    // let five = 5;
    this.domain5 = this.calcD5();
    this.domain6 = this.calcD6();
    this.domain7 = this.calcD7();
    this.chartdata1 = {
      labels: [
        "領域一",
        "領域二",
        "領域三",
        "領域四",
        "領域五",
        "領域六",
        "領域七"
      ],
      datasets: [
        {
          label: "全體服務對象七大領域比較",
          // fill: false, // 是否填滿色彩
          lineTension: 0,
          // backgroundColor: "#f87979",
          data: [
            ((this.domain1 / 128) * 100) / this.stdnum,
            ((this.domain2 / 216) * 100) / this.stdnum,
            ((this.domain3 / 188) * 100) / this.stdnum,
            ((this.domain4 / 204) * 100) / this.stdnum,
            ((this.domain5 / 292) * 100) / this.stdnum,
            ((this.domain6 / 284) * 100) / this.stdnum,
            ((this.domain7 / 120) * 100) / this.stdnum
          ],
          backgroundColor: [
            "	#0088A8",
            "	#EEEE00",
            "	#FF7744",
            "	#FF8888",
            "	#00AA00",
            "	#AA7700",
            "	#E63F00"
          ]
        }
      ]
    };
    this.life_action = this.calcLife_action();
    this.knowledge = this.calcKnowledge();
    this.interactAdapt = this.calcInteractAdapt();
    this.chartdata2 = {
      labels: ["生活與行動", "獲得知識與技巧", "互動與適應"],
      datasets: [
        {
          label: "全體服務對象指標比較",

          lineTension: 0,
          // backgroundColor: "#f87979",
          data: [
            ((this.life_action / 624) * 100) / this.stdnum,
            ((this.knowledge / 432) * 100) / this.stdnum,
            ((this.interactAdapt / 376) * 100) / this.stdnum
          ],
          backgroundColor: ["	#0088A8", "	#EEEE00", "	#E63F00"]
        }
      ]
    };
  }
};
</script>
<style scoped>
</style>