<template>
  <div>
    <b-row>
      <b-col cols="2"></b-col>
      <b-col cols="4">
        <chart-bar class="chartbar" :chart-data="elephantdata" :options="options" />
      </b-col>
      <b-col cols="4">
        <chart-bar class="chartbar" :chart-data="beardata" :options="options" />
      </b-col>
      <b-col cols="2"></b-col>
    </b-row>
    <br />
    <br />
    <b-row>
      <b-col cols="2"></b-col>
      <b-col cols="4">
        <chart-bar class="chartbar" :chart-data="sheepdata" :options="options" />
      </b-col>
      <b-col cols="4">
        <chart-bar class="chartbar" :chart-data="hippodata" :options="options" />
      </b-col>
      <b-col cols="2"></b-col>
    </b-row>
  </div>
</template>

<script>
import ChartBar from "@/components/ChartBar";
import { mapState } from "vuex";
const numarr = [
  "zero",
  "one",
  "two",
  "three",
  "four",
  "five",
  "six",
  "seven",
  "eight",
  "nine",
  "ten",
  "eleven",
  "twelve",
  "thirteen",
  "fourteen",
  "fifteen",
  "sixteen",
  "seventeen",
  "eighteen",
  "nineteen",
  "twenty",
  "twenty_one",
  "twenty_two",
  "twenty_three",
  "twenty_four",
  "twenty_five",
  "twenty_six",
  "twenty_seven",
  "twenty_eight",
  "twenty_nine",
  "thirty",
  "thirty_one",
  "thirty_two",
  "thirty_three",
  "thirty_four",
  "thirty_five",
  "thirty_six",
  "thirty_seven",
  "thirty_eight",
  "thirty_nine",
  "forty",
  "forty_one",
  "forty_two",
  "forty_three",
  "forty_four",
  "forty_five"
];

const d1fields = {
  see: 7,
  listen: 6,
  touch: 9,
  smell: 4,
  final: 6
};
const d2fields = {
  posture_control: 14,
  change_posture: 10,
  move: 15,
  sport: 15
};
const d3fields = {
  take: 8,
  operation: 20,
  art: 19
};
const d4fields = {
  eat: 11,
  toilet: 9,
  clean: 15,
  dress: 16
};
const d5fields = {
  language: 7,
  language_comp: 23,
  compress: 25,
  communication: 18
};
const d6fields = {
  concept: 45,
  imitate: 4,
  memory: 6,
  match: 4,
  logic: 3,
  solve: 4,
  read: 5
};
const d7fields = {
  self: 7,
  adapt: 10,
  interact: 8,
  game: 5
};

export default {
  data() {
    return {
      ele_life_action: "",
      ele_knowledge: "",
      ele_interactAdapt: "",
      elephantdata: null,
      bear_life_action: "",
      bear_knowledge: "",
      bear_interactAdapt: "",
      beardata: null,
      sheep_life_action: "",
      sheep_knowledge: "",
      sheep_interactAdapt: "",
      sheepdata: null,
      hippo_life_action: "",
      hippo_knowledge: "",
      hippo_interactAdapt: "",
      hippodata: null,
      options: {
        responsive: false, //改true 整個bar圖表會填滿螢幕width
        maintainAspectRatio: false,
        scales: {
          yAxes: [
            {
              //   id: "y-axis-1",
              ticks: { min: -10, max: 40 },
              scaleLabel: {
                display: true, //顯示標題軸
                labelString: "(%)" //搞不正
              }
            }
          ]
        }
      }
    };
  },
  computed: {
    ...mapState({
      classes: state => state.classes,
      students: state => state.students,
      anastudent: state => state.anastudent
    })
  },
  components: {
    ChartBar
  },
  methods: {
    calcDomain2(k) {
      // console.log("k",k)
      let sum = 0;
      if (
        this.anastudent.measures[k - 1].domain2 &&
        this.anastudent.measures[k - 2].domain2
      ) {
        for (var key of Object.keys(d2fields)) {
          for (var i = 1; i <= d2fields[key]; i++) {
            sum += parseInt(
              this.anastudent.measures[k - 1].domain2[key][numarr[i]]
            );
          }
        }
        //   console.log("+domain2 sum", sum);
        for (var key of Object.keys(d2fields)) {
          for (var i = 1; i <= d2fields[key]; i++) {
            sum -= parseInt(
              this.anastudent.measures[k - 2].domain2[key][numarr[i]]
            );
          }
        }
      }
      //   console.log("-domain2 sum", sum);
      return sum;
    },
    calcDomain3(k) {
      let sum = 0;
      if (
        this.anastudent.measures[k - 1].domain3 &&
        this.anastudent.measures[k - 2].domain3
      ) {
        for (var key of Object.keys(d3fields)) {
          for (var i = 1; i <= d3fields[key]; i++) {
            sum += parseInt(
              this.anastudent.measures[k - 1].domain3[key][numarr[i]]
            );
          }
        }
        for (var key of Object.keys(d3fields)) {
          for (var i = 1; i <= d3fields[key]; i++) {
            sum -= parseInt(
              this.anastudent.measures[k - 2].domain3[key][numarr[i]]
            );
          }
        }
      }

      return sum;
    },
    calcDomain4(k) {
      let sum = 0;
      if (
        this.anastudent.measures[k - 1].domain4 &&
        this.anastudent.measures[k - 2].domain4
      ) {
        for (var key of Object.keys(d4fields)) {
          for (var i = 1; i <= d4fields[key]; i++) {
            sum += parseInt(
              this.anastudent.measures[k - 1].domain4[key][numarr[i]]
            );
          }
        }
        for (var key of Object.keys(d4fields)) {
          for (var i = 1; i <= d4fields[key]; i++) {
            sum -= parseInt(
              this.anastudent.measures[k - 2].domain4[key][numarr[i]]
            );
          }
        }
      }
      return sum;
    },
    calcDomain6(times) {
      let sum = 0;
      if (
        this.anastudent.measures[times - 1].domain6 &&
        this.anastudent.measures[times - 2].domain6
      ) {
        for (var key of Object.keys(d6fields)) {
          for (var i = 1; i <= d6fields[key]; i++) {
            sum += parseInt(
              this.anastudent.measures[times - 1].domain6[key][numarr[i]]
            );
          }
        }
        for (var key of Object.keys(d6fields)) {
          for (var i = 1; i <= d6fields[key]; i++) {
            sum -= parseInt(
              this.anastudent.measures[times - 2].domain6[key][numarr[i]]
            );
          }
        }
      }
      return sum;
    },
    calcDomain7(times) {
      let sum = 0;
      if (
        this.anastudent.measures[times - 1].domain7 &&
        this.anastudent.measures[times - 2].domain7
      ) {
        for (var key of Object.keys(d7fields)) {
          for (var i = 1; i <= d7fields[key]; i++) {
            sum += parseInt(
              this.anastudent.measures[times - 1].domain7[key][numarr[i]]
            );
          }
        }
        for (var key of Object.keys(d7fields)) {
          for (var i = 1; i <= d7fields[key]; i++) {
            sum -= parseInt(
              this.anastudent.measures[times - 2].domain7[key][numarr[i]]
            );
          }
        }
      }

      return sum;
    },
    calcLifeAction(clsid) {
      console.log("clsid", clsid);
      let sum = 0;
      for (let i = 0; i < this.classes.length; i++) {
        if (this.classes[i].id == clsid) {
          for (let j = 0; j < this.classes[i].students.length; j++) {
            for (let z = 0; z < this.students.length; z++) {
              if (
                this.classes[i].students[j] == this.students[z].id &&
                this.students[z].measures &&
                this.students[z].status == "studing" &&
                this.students[z].measures.length > 1
              ) {
                // console.log("this.student[z].id", this.students[z].id);
                // console.log("應該有四位吻合跑4次");
                var k = this.students[z].measures.length;
                this.$store.commit("setObject", {
                  key: "anastudent",
                  value: this.students[z]
                });
                // console.log("anastudent", this.anastudent);
                // var k = this.students[z].measures.length;
                this.domain2 = this.calcDomain2(k);
                //   console.log("domain2", this.domain2);
                this.domain3 = this.calcDomain3(k);
                this.domain4 = this.calcDomain4(k);
                // if (
                //   this.students[z].measures[k - 1].domain1 &&
                //   this.students[z].measures[k - 2].domain1
                // ) {
                // console.log("兩位吻合跑三次");
                for (var x = 1; x <= d1fields["smell"]; x++) {
                  if (
                    this.students[z].measures[k - 1].domain1 &&
                    this.students[z].measures[k - 1].domain1["smell"][numarr[x]]
                  ) {
                    sum += parseInt(
                      this.students[z].measures[k - 1].domain1["smell"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("+smell sum", sum);
                for (var x = 1; x <= d1fields["smell"]; x++) {
                  if (
                    this.students[z].measures[k - 2].domain1 &&
                    this.students[z].measures[k - 2].domain1["smell"][numarr[x]]
                  ) {
                    sum -= parseInt(
                      this.students[z].measures[k - 2].domain1["smell"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("-fsmell sum", sum);
                sum += this.domain2;
                // console.log("+fdomain2 sum", sum);
                sum += this.domain3;
                // console.log("+fdomain3 sum", sum);
                sum += this.domain4;
                // console.log("+fdomain4 sum", sum);
                // }
              }
            }
          }
        }
      }
      //   console.log("lifeaction sum", sum);
      return sum;
    },

    calcKnowdge(clsid) {
      let sum = 0;
      for (let i = 0; i < this.classes.length; i++) {
        if (this.classes[i].id == clsid) {
          for (let j = 0; j < this.classes[i].students.length; j++) {
            for (let z = 0; z < this.students.length; z++) {
              if (
                this.classes[i].students[j] == this.students[z].id &&
                this.students[z].measures &&
                this.students[z].status == "studing" &&
                this.students[z].measures.length > 1
              ) {
                var s = this.students[z].measures.length;
                this.$store.commit("setObject", {
                  key: "anastudent",
                  value: this.students[z]
                });

                this.domain6 = this.calcDomain6(s);
                for (var x = 1; x <= d1fields["see"]; x++) {
                  if (
                    this.students[z].measures[s - 1].domain1 &&
                    this.students[z].measures[s - 1].domain1["see"][numarr[x]]
                  ) {
                    sum += parseInt(
                      this.students[z].measures[s - 1].domain1["see"][numarr[x]]
                    );
                  }
                }
                // console.log("+see sum", sum);
                for (var x = 1; x <= d1fields["see"]; x++) {
                  if (
                    this.students[z].measures[s - 2].domain1 &&
                    this.students[z].measures[s - 2].domain1["see"][numarr[x]]
                  ) {
                    sum -= parseInt(
                      this.students[z].measures[s - 2].domain1["see"][numarr[x]]
                    );
                  }
                }
                // console.log("-see sum", sum);
                for (var x = 1; x <= d5fields["language"]; x++) {
                  if (
                    this.students[z].measures[s - 1].domain5 &&
                    this.students[z].measures[s - 1].domain5["language"][
                      numarr[x]
                    ]
                  ) {
                    sum += parseInt(
                      this.students[z].measures[s - 1].domain5["language"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("+lan sum", sum);
                for (var x = 1; x <= d5fields["language"]; x++) {
                  if (
                    this.students[z].measures[s - 2].domain5 &&
                    this.students[z].measures[s - 2].domain5["language"][
                      numarr[x]
                    ]
                  ) {
                    sum -= parseInt(
                      this.students[z].measures[s - 2].domain5["language"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("-lan sum", sum);
                for (var x = 1; x <= d5fields["language_comp"]; x++) {
                  if (
                    this.students[z].measures[s - 1].domain5 &&
                    this.students[z].measures[s - 1].domain5["language_comp"][
                      numarr[x]
                    ]
                  ) {
                    sum += parseInt(
                      this.students[z].measures[s - 1].domain5["language_comp"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("+lancomp sum", sum);
                for (var x = 1; x <= d5fields["language_comp"]; x++) {
                  if (
                    this.students[z].measures[s - 2].domain5 &&
                    this.students[z].measures[s - 2].domain5["language_comp"][
                      numarr[x]
                    ]
                  ) {
                    sum -= parseInt(
                      this.students[z].measures[s - 2].domain5["language_comp"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("-lancomp sum", sum);

                sum += this.domain6;
                // console.log("+domain6 sum", sum);
                // }
              }
            }
          }
        }
      }
      //   console.log("knowledge sum", sum);
      return sum;
    },

    calcInteractAdapt(clsid) {
      let sum = 0;
      for (let i = 0; i < this.classes.length; i++) {
        if (this.classes[i].id == clsid) {
          for (let j = 0; j < this.classes[i].students.length; j++) {
            for (let z = 0; z < this.students.length; z++) {
              if (
                this.classes[i].students[j] == this.students[z].id &&
                this.students[z].measures &&
                this.students[z].status == "studing" &&
                this.students[z].measures.length > 1
              ) {
                var v = this.students[z].measures.length;
                this.$store.commit("setObject", {
                  key: "anastudent",
                  value: this.students[z]
                });

                this.domain7 = this.calcDomain7(v);
                // if (
                //   this.students[z].measures[v - 1].domain1 &&
                //   this.students[z].measures[v - 2].domain1 &&
                //   this.students[z].measures[v - 1].domain5 &&
                //   this.students[z].measures[v - 2].domain5
                // ) {
                for (var x = 1; x <= d1fields["listen"]; x++) {
                  if (
                    this.students[z].measures[v - 1].domain1 &&
                    this.students[z].measures[v - 1].domain1["listen"][
                      numarr[x]
                    ]
                  ) {
                    sum += parseInt(
                      this.students[z].measures[v - 1].domain1["listen"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("+see sum", sum);
                for (var x = 1; x <= d1fields["listen"]; x++) {
                  if (
                    this.students[z].measures[v - 2].domain1 &&
                    this.students[z].measures[v - 2].domain1["listen"][
                      numarr[x]
                    ]
                  ) {
                    sum -= parseInt(
                      this.students[z].measures[v - 2].domain1["listen"][
                        numarr[x]
                      ]
                    );
                  }
                }
                for (var x = 1; x <= d1fields["touch"]; x++) {
                  if (
                    this.students[z].measures[v - 1].domain1 &&
                    this.students[z].measures[v - 1].domain1["touch"][numarr[x]]
                  ) {
                    sum += parseInt(
                      this.students[z].measures[v - 1].domain1["touch"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("+see sum", sum);
                for (var x = 1; x <= d1fields["touch"]; x++) {
                  if (
                    this.students[z].measures[v - 2].domain1 &&
                    this.students[z].measures[v - 2].domain1["touch"][numarr[x]]
                  ) {
                    sum -= parseInt(
                      this.students[z].measures[v - 2].domain1["touch"][
                        numarr[x]
                      ]
                    );
                  }
                }
                for (var x = 1; x <= d1fields["final"]; x++) {
                  if (
                    this.students[z].measures[v - 1].domain1 &&
                    this.students[z].measures[v - 1].domain1["final"][numarr[x]]
                  ) {
                    sum += parseInt(
                      this.students[z].measures[v - 1].domain1["final"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("+see sum", sum);
                for (var x = 1; x <= d1fields["final"]; x++) {
                  if (
                    this.students[z].measures[v - 2].domain1 &&
                    this.students[z].measures[v - 2].domain1["final"][numarr[x]]
                  ) {
                    sum -= parseInt(
                      this.students[z].measures[v - 2].domain1["final"][
                        numarr[x]
                      ]
                    );
                  }
                }

                // console.log("-see sum", sum);
                for (var x = 1; x <= d5fields["compress"]; x++) {
                  if (
                    this.students[z].measures[v - 1].domain5 &&
                    this.students[z].measures[v - 1].domain5["compress"][
                      numarr[x]
                    ]
                  ) {
                    sum += parseInt(
                      this.students[z].measures[v - 1].domain5["compress"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("+lan sum", sum);
                for (var x = 1; x <= d5fields["compress"]; x++) {
                  if (
                    this.students[z].measures[v - 2].domain5 &&
                    this.students[z].measures[v - 2].domain5["compress"][
                      numarr[x]
                    ]
                  ) {
                    sum -= parseInt(
                      this.students[z].measures[v - 2].domain5["compress"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("-lan sum", sum);
                for (var x = 1; x <= d5fields["communication"]; x++) {
                  if (
                    this.students[z].measures[v - 1].domain5 &&
                    this.students[z].measures[v - 1].domain5["communication"][
                      numarr[x]
                    ]
                  ) {
                    sum += parseInt(
                      this.students[z].measures[v - 1].domain5["communication"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("+lancomp sum", sum);
                for (var x = 1; x <= d5fields["communication"]; x++) {
                  if (
                    this.students[z].measures[v - 2].domain5 &&
                    this.students[z].measures[v - 2].domain5["communication"][
                      numarr[x]
                    ]
                  ) {
                    sum -= parseInt(
                      this.students[z].measures[v - 2].domain5["communication"][
                        numarr[x]
                      ]
                    );
                  }
                }
                // console.log("-lancomp sum", sum);

                sum += this.domain7;
                // console.log("+domain6 sum", sum);
                // }
              }
            }
          }
        }
      }
      //   console.log("knowledge sum", sum);
      return sum;
    }
  },

  created() {
    //換資料庫記得改班級id
    //做大象班表格

    this.ele_life_action = this.calcLifeAction("AsfLt16BqcvwZYhsNEbk");
    this.ele_knowledge = this.calcKnowdge("AsfLt16BqcvwZYhsNEbk");
    this.ele_interactAdapt = this.calcInteractAdapt("AsfLt16BqcvwZYhsNEbk");
    if (this.ele_life_action && this.ele_knowledge && this.ele_interactAdapt) {
      this.elephantdata = {
        labels: ["生活與行動", "獲得知識的技巧", "互動與適應"],
        datasets: [
          {
            label: "大象班",
            data: [
              (this.ele_life_action / 624) * 100,
              (this.ele_knowledge / 432) * 100,
              (this.ele_interactAdapt / 376) * 100
            ],
            backgroundColor: ["	#0088A8", "	#EEEE00", "	#E63F00"]
          }
        ]
      };
    } else {
      this.elephantdata = {
        labels: ["生活與行動", "獲得知識的技巧", "互動與適應"],
        datasets: [
          {
            label: "大象班",
            data: [0, 0, 0]
            // backgroundColor: ["	#0088A8", "	#EEEE00", "	#E63F00"]
          }
        ]
      };
    }

    //做小熊班表格
    this.bear_life_action = this.calcLifeAction("AyOejF1w0FPpEdfw6Csh");
    this.bear_knowledge = this.calcKnowdge("AyOejF1w0FPpEdfw6Csh");
    this.bear_interactAdapt = this.calcInteractAdapt("AyOejF1w0FPpEdfw6Csh");
    // console.log("bear_life_action", this.bear_life_action);
    // console.log("bear_knowledge", this.bear_knowledge);
    if (
      this.bear_life_action &&
      this.bear_knowledge &&
      this.bear_interactAdapt
    ) {
      this.beardata = {
        labels: ["生活與行動", "獲得知識的技巧", "互動與適應"],
        datasets: [
          {
            label: "小熊班",
            data: [
              (this.bear_life_action / 624) * 100,
              (this.bear_knowledge / 432) * 100,
              (this.bear_interactAdapt / 376) * 100
            ],
            backgroundColor: ["	#0088A8", "	#EEEE00", "	#E63F00"]
          }
        ]
      };
    } else {
      this.beardata = {
        labels: ["生活與行動", "獲得知識的技巧", "互動與適應"],
        datasets: [
          {
            label: "小熊班",
            data: [0, 0, 0]
            //   backgroundColor: ["	#0088A8", "	#EEEE00", "	#E63F00"]
          }
        ]
      };
    }

    //做綿羊班長條圖表格
    this.sheep_life_action = this.calcLifeAction("NgL5EV5tcu7eriaiA2NL");
    this.sheep_knowledge = this.calcKnowdge("NgL5EV5tcu7eriaiA2NL");
    this.sheep_interactAdapt = this.calcInteractAdapt("NgL5EV5tcu7eriaiA2NL");
    if (
      this.sheep_life_action &&
      this.sheep_interactAdapt &&
      this.sheep_knowledge
    ) {
      this.sheepdata = {
        labels: ["生活與行動", "獲得知識的技巧", "互動與適應"],
        datasets: [
          {
            label: "綿羊班",
            data: [
              (this.sheep_life_action / 624) * 100,
              (this.sheep_knowledge / 432) * 100,
              (this.sheep_interactAdapt / 376) * 100
            ],
            backgroundColor: ["	#0088A8", "	#EEEE00", "	#E63F00"]
          }
        ]
      };
    } else {
      this.sheepdata = {
        labels: ["生活與行動", "獲得知識的技巧", "互動與適應"],
        datasets: [
          {
            label: "綿羊班",
            data: [0, 0, 0]
            //   backgroundColor: ["	#0088A8", "	#EEEE00", "	#E63F00"]
          }
        ]
      };
    }

    //做河馬班長條圖表格
    this.hippo_life_action = this.calcLifeAction("OTQmD4n8RAzBevkWo9Cs");
    this.hippo_knowledge = this.calcKnowdge("OTQmD4n8RAzBevkWo9Cs");
    this.hippo_interactAdapt = this.calcInteractAdapt("OTQmD4n8RAzBevkWo9Cs");
    if (
      this.hippo_life_action &&
      this.hippo_knowledge &&
      this.hippo_interactAdapt
    ) {
      this.hippodata = {
        labels: ["生活與行動", "獲得知識的技巧", "互動與適應"],
        datasets: [
          {
            label: "河馬班",
            data: [
              (this.hippo_life_action / 624) * 100,
              (this.hippo_knowledge / 432) * 100,
              (this.hippo_interactAdapt / 376) * 100
            ],
            backgroundColor: ["	#0088A8", "	#EEEE00", "	#E63F00"]
          }
        ]
      };
    } else {
      this.hippodata = {
        labels: ["生活與行動", "獲得知識的技巧", "互動與適應"],
        datasets: [
          {
            label: "河馬班",
            data: [0, 0, 0]
            //   backgroundColor: ["	#0088A8", "	#EEEE00", "	#E63F00"]
          }
        ]
      };
    }
  }
};
</script>