<template>
  <div>
    <span v-for="(cls, idx) in classes" :key="idx">
      <b-button
        class="mx-2"
        :variant="currentClass==cls ? 'success' : 'outline-success'"
        @click="chooseClass(cls)"
      >{{cls.name}}</b-button>
    </span>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
   middleware: "authenticated",
  created: function() {
    if (!this.currentClass) {
      //此判斷式讓新增學生後能留在原班級頁面
      if (this.classes && this.classes.length > 0) {
        this.chooseClass(this.classes[0]);
        // console.log("this.CurrentClass", this.currentClass);
      }
    }
  },
  computed: {
    ...mapState({
      classes: state => state.classes,
      currentClass: state => state.currentClass
    })
  },
  methods: {
    chooseClass(cls) {
      this.$store.commit("setObject", {
        key: "currentClass",
        value: cls
      });
      // console.log("currentclass.students", this.currentClass.students);
      // console.log("classlist_currentClass", this.currentClass);
    }
  },
  watch: {
    currentClass: function(value) {
      this.$store.commit("setObject", {
        key: "currentStudent",
        value: null
      });
    }
  }
};
</script>

<style scoped>
.span {
  width: 150px;
}
</style>