<template>
  <div>
    <table>
      <tr>
        <th rowspan="2">序號</th>
        <th rowspan="2">姓名</th>
        <th rowspan="2">年齡</th>
        <th rowspan="2">障礙類別</th>
        <th rowspan="2">程度</th>
        <th rowspan="2">服務月數</th>
        <th colspan="3">進步情況(%)</th>
      </tr>

      <tr>
        <th>生活與行動(%)</th>
        <th>獲得知識(%)</th>
        <th>互動與適應(%)</th>
      </tr>
      <tr v-for="(student,idx) in studingStd" :key="`student-${idx}`">
        <td>{{idx+1}}</td>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td>{{student.obstacle}}</td>
        <td>{{student.obstacle_grade}}</td>
        <td>{{calcM(student)}}</td>
        <td>{{calcLifeAction(student)}}</td>
        <td>{{calcKnowledge(student)}}</td>
        <td>{{clacInteractAdapt(student)}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import { mapState } from "vuex";
const numarr = [
  "zero",
  "one",
  "two",
  "three",
  "four",
  "five",
  "six",
  "seven",
  "eight",
  "nine",
  "ten",
  "eleven",
  "twelve",
  "thirteen",
  "fourteen",
  "fifteen",
  "sixteen",
  "seventeen",
  "eighteen",
  "nineteen",
  "twenty",
  "twenty_one",
  "twenty_two",
  "twenty_three",
  "twenty_four",
  "twenty_five",
  "twenty_six",
  "twenty_seven",
  "twenty_eight",
  "twenty_nine",
  "thirty",
  "thirty_one",
  "thirty_two",
  "thirty_three",
  "thirty_four",
  "thirty_five",
  "thirty_six",
  "thirty_seven",
  "thirty_eight",
  "thirty_nine",
  "forty",
  "forty_one",
  "forty_two",
  "forty_three",
  "forty_four",
  "forty_five"
];

const d1fields = {
  see: 7,
  listen: 6,
  touch: 9,
  smell: 4,
  final: 6
};
const d2fields = {
  posture_control: 14,
  change_posture: 10,
  move: 15,
  sport: 15
};
const d3fields = {
  take: 8,
  operation: 20,
  art: 19
};
const d4fields = {
  eat: 11,
  toilet: 9,
  clean: 15,
  dress: 16
};
const d5fields = {
  language: 7,
  language_comp: 23,
  compress: 25,
  communication: 18
};
const d6fields = {
  concept: 45,
  imitate: 4,
  memory: 6,
  match: 4,
  logic: 3,
  solve: 4,
  read: 5
};
const d7fields = {
  self: 7,
  adapt: 10,
  interact: 8,
  game: 5
};

export default {
  data() {
    return {
      // serviceMonth: "",
      yyyy: "",
      mm: ""
    };
  },
  computed: {
    ...mapState({
      students: state => state.students
    }),
    studingStd() {
      // let std = [];
      if (this.students) {
        return this.students.filter(
          student =>
            student.status == "studing" &&
            student.measures &&
            student.measures.length > 1 //測量兩次以上才列入中心平均計算
        );
      } else {
        return [];
      }
    }
  },
  methods: {
    calcM(std) {
      //算服務月數
      if (std.enterm && std.entery) {
        let serviceMonth = null;
        if (this.mm > std.enterm) {
          serviceMonth = (this.yyyy - std.entery) * 12 + (this.mm - std.enterm);
        } else {
          serviceMonth = (this.yyyy - std.entery) * 12 - (std.enterm - this.mm);
        }
        return serviceMonth;
      }
    },
    calcDomain2(std, k) {
      let sum = 0;
      for (var key of Object.keys(d2fields)) {
        for (var i = 1; i <= d2fields[key]; i++) {
          sum += parseInt(std.measures[k - 1].domain2[key][numarr[i]]);
        }
      }
      for (var key of Object.keys(d2fields)) {
        for (var i = 1; i <= d2fields[key]; i++) {
          sum -= parseInt(std.measures[k - 2].domain2[key][numarr[i]]);
        }
      }
      return sum;
    },
    calcDomain3(std, k) {
      let sum = 0;
      for (var key of Object.keys(d3fields)) {
        for (var i = 1; i <= d3fields[key]; i++) {
          sum += parseInt(std.measures[k - 1].domain3[key][numarr[i]]);
        }
      }
      for (var key of Object.keys(d3fields)) {
        for (var i = 1; i <= d3fields[key]; i++) {
          sum -= parseInt(std.measures[k - 2].domain3[key][numarr[i]]);
        }
      }
      return sum;
    },
    calcDomain4(std, k) {
      let sum = 0;
      for (var key of Object.keys(d4fields)) {
        for (var i = 1; i <= d4fields[key]; i++) {
          sum += parseInt(std.measures[k - 1].domain4[key][numarr[i]]);
        }
      }
      for (var key of Object.keys(d4fields)) {
        for (var i = 1; i <= d4fields[key]; i++) {
          sum -= parseInt(std.measures[k - 2].domain4[key][numarr[i]]);
        }
      }
      return sum;
    },
    calcDomain6(std, k) {
      let sum = 0;
      for (var key of Object.keys(d6fields)) {
        for (var i = 1; i <= d6fields[key]; i++) {
          sum += parseInt(std.measures[k - 1].domain6[key][numarr[i]]);
        }
      }
      for (var key of Object.keys(d6fields)) {
        for (var i = 1; i <= d6fields[key]; i++) {
          sum -= parseInt(std.measures[k - 2].domain6[key][numarr[i]]);
        }
      }
      return sum;
    },
    calcDomain7(std, k) {
      let sum = 0;
      for (var key of Object.keys(d7fields)) {
        for (var i = 1; i <= d7fields[key]; i++) {
          sum += parseInt(std.measures[k - 1].domain7[key][numarr[i]]);
        }
      }
      for (var key of Object.keys(d7fields)) {
        for (var i = 1; i <= d7fields[key]; i++) {
          sum -= parseInt(std.measures[k - 2].domain7[key][numarr[i]]);
        }
      }
      return sum;
    },
    calcLifeAction(std) {
      let k = std.measures.length;
      if (
        std.measures &&
        std.measures[k - 1].domain1 &&
        std.measures[k - 1].domain2 &&
        std.measures[k - 1].domain3 &&
        std.measures[k - 1].domain4 &&
        std.measures[k - 1].domain5 &&
        std.measures[k - 1].domain6 &&
        std.measures[k - 1].domain7
      ) {
        let sum = 0;
        for (var i = 1; i <= d1fields["smell"]; i++) {
          sum += parseInt(std.measures[k - 1].domain1["smell"][numarr[i]]);
        }
        for (var i = 1; i <= d1fields["smell"]; i++) {
          sum -= parseInt(std.measures[k - 2].domain1["smell"][numarr[i]]);
        }
        sum += this.calcDomain2(std, k);
        sum += this.calcDomain3(std, k);
        sum += this.calcDomain4(std, k);
        // console.log("sum", sum);
        sum = (sum / 624) * 100;
        return sum.toFixed(1);
      } else {
        return 0.0;
      }
    },
    calcKnowledge(std) {
      let k = std.measures.length;
      if (
        std.measures &&
        std.measures[k - 1].domain1 &&
        std.measures[k - 1].domain2 &&
        std.measures[k - 1].domain3 &&
        std.measures[k - 1].domain4 &&
        std.measures[k - 1].domain5 &&
        std.measures[k - 1].domain6 &&
        std.measures[k - 1].domain7
      ) {
        let sum = 0;
        for (var i = 1; i <= d1fields["see"]; i++) {
          sum += parseInt(std.measures[k - 1].domain1["see"][numarr[i]]);
        }
        for (var i = 1; i <= d5fields["language"]; i++) {
          sum += parseInt(std.measures[k - 1].domain5["language"][numarr[i]]);
        }
        for (var i = 1; i <= d5fields["language_comp"]; i++) {
          sum += parseInt(
            std.measures[k - 1].domain5["language_comp"][numarr[i]]
          );
        }

        for (var i = 1; i <= d1fields["see"]; i++) {
          sum -= parseInt(std.measures[k - 2].domain1["see"][numarr[i]]);
        }
        for (var i = 1; i <= d5fields["language"]; i++) {
          sum -= parseInt(std.measures[k - 2].domain5["language"][numarr[i]]);
        }
        for (var i = 1; i <= d5fields["language_comp"]; i++) {
          sum -= parseInt(
            std.measures[k - 2].domain5["language_comp"][numarr[i]]
          );
        }
        sum += this.calcDomain6(std, k);
        sum = (sum / 432) * 100;
        return sum.toFixed(1);
      }
    },
    clacInteractAdapt(std) {
      let k = std.measures.length;
      if (
        std.measures &&
        std.measures[k - 1].domain1 &&
        std.measures[k - 1].domain2 &&
        std.measures[k - 1].domain3 &&
        std.measures[k - 1].domain4 &&
        std.measures[k - 1].domain5 &&
        std.measures[k - 1].domain6 &&
        std.measures[k - 1].domain7
      ) {
        let sum = 0;
        for (var i = 1; i <= d1fields["listen"]; i++) {
          sum += parseInt(std.measures[k - 1].domain1["listen"][numarr[i]]);
        }
        for (var i = 1; i <= d1fields["touch"]; i++) {
          sum += parseInt(std.measures[k - 1].domain1["touch"][numarr[i]]);
        }
        for (var i = 1; i <= d1fields["final"]; i++) {
          sum += parseInt(std.measures[k - 1].domain1["final"][numarr[i]]);
        }
        for (var i = 1; i <= d5fields["compress"]; i++) {
          sum += parseInt(std.measures[k - 1].domain5["compress"][numarr[i]]);
        }
        for (var i = 1; i <= d5fields["communication"]; i++) {
          sum += parseInt(
            std.measures[k - 1].domain5["communication"][numarr[i]]
          );
        }

        for (var i = 1; i <= d1fields["listen"]; i++) {
          sum -= parseInt(std.measures[k - 2].domain1["listen"][numarr[i]]);
        }
        for (var i = 1; i <= d1fields["touch"]; i++) {
          sum -= parseInt(std.measures[k - 2].domain1["touch"][numarr[i]]);
        }
        for (var i = 1; i <= d1fields["final"]; i++) {
          sum -= parseInt(std.measures[k - 2].domain1["final"][numarr[i]]);
        }
        for (var i = 1; i <= d5fields["compress"]; i++) {
          sum -= parseInt(std.measures[k - 2].domain5["compress"][numarr[i]]);
        }
        for (var i = 1; i <= d5fields["communication"]; i++) {
          sum -= parseInt(
            std.measures[k - 2].domain5["communication"][numarr[i]]
          );
        }
        sum += this.calcDomain7(std, k);

        sum = (sum / 376) * 100;
        return sum.toFixed(1);
        // return sum;
      }
    }
  },
  created() {
    this.date = new Date();
    this.yyyy = this.date.getFullYear();
    this.mm = String(this.date.getMonth() + 1).padStart(2, "0");
  }
};
</script>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td,
th {
  border: 1px solid #d0d0d0;
  text-align: center;
  padding: 8px;
}
th {
  font-size: 17px;
}
</style>