<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">寶貝潛能中心</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav v-if="teacher">
          <b-nav-item to="/classes">班級資料</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav v-if="teacher_super">
          <b-nav-item to="/classes">班級資料</b-nav-item>
          <b-nav-item to="/assess">評鑑資料</b-nav-item>
          <b-nav-item to="/data_analysis">服務成效分析</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav v-if="social">
          <b-nav-item to="/classes">班級資料</b-nav-item>
          <b-nav-item to="/assess">評鑑資料</b-nav-item>
          <b-nav-item to="/visit_records">服務紀錄</b-nav-item>
          <b-nav-item to="/alumni">校友資料</b-nav-item>
          <b-nav-item to="/feedback_list">家長回饋</b-nav-item>
          <b-nav-item to="/data_analysis">服務成效分析</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav v-if="social_super">
          <b-nav-item to="/classes">班級資料</b-nav-item>
          <b-nav-item to="/assess">評鑑資料</b-nav-item>
          <b-nav-item to="/visit_records">服務紀錄</b-nav-item>
          <b-nav-item to="/alumni">校友資料</b-nav-item>
          <b-nav-item to="/feedback_list">家長回饋</b-nav-item>
          <b-nav-item to="/data_analysis">服務成效分析</b-nav-item>
          <!-- <b-nav-item to="/control_role">編輯使用者權限</b-nav-item> -->
        </b-navbar-nav>
        <b-navbar-nav v-if="roleController">
          <b-nav-item to="/control_role">編輯使用者權限</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <!-- <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
          </b-nav-form>-->

          <div class="Sign_out">
            <b-button @click.prevent="Sign_out" variant="light">登出</b-button>
          </div>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import firebase from "firebase";
import Navbar from "@/components/Navbar.vue";

export default {
  computed: {
    // isRoot() {
    //   //console.log("ISROOT, Current User = ", this.$store.state.user)
    //   return this.$store.state.user && this.$store.state.user.role === "admin";
    // },
    teacher() {
      if (this.$store.state.user && this.$store.state.user.role == "teacher") {
        return true;
      } else {
        return false;
      }
    },
    teacher_super() {
      if (
        this.$store.state.user &&
        this.$store.state.user.role == "teacher_super"
      ) {
        return true;
      } else {
        return false;
      }
    },
    social() {
      if (this.$store.state.user && this.$store.state.user.role == "social") {
        return true;
      } else {
        return false;
      }
    },
    social_super() {
      if (
        this.$store.state.user &&
        this.$store.state.user.role == "social_super"
      ) {
        return true;
      } else {
        return false;
      }
    },
    roleController() {
      if (
        this.$store.state.user &&
        this.$store.state.user.role == "roleController"
      ) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    enterClass(cname) {
      this.$store.commit("setObject", { key: "classname", value: cname });
      this.$router.push("/classpage");
    },
    Sign_out() {
      let _this = this;
      this.$store.dispatch("signOut").then(() => {
        _this.$router.push("/login");
      });
    }
  }
};
</script>

<style scoped>
</style>



