<template>
  <div>
    <b-row>
      <b-col cols="6">
        <chart-bar class="chartbar" :chart-data="chartdata1" :options="options" />
      </b-col>
      <b-col cols="6">
        <chart-bar class="chartbar" :chart-data="chartdata2" :options="options2" />
      </b-col>
    </b-row>
  </div>
</template>
<script>
import ChartBar from "@/components/ChartBar";
import { mapState } from "vuex";

const numarr = [
  "zero",
  "one",
  "two",
  "three",
  "four",
  "five",
  "six",
  "seven",
  "eight",
  "nine",
  "ten",
  "eleven",
  "twelve",
  "thirteen",
  "fourteen",
  "fifteen",
  "sixteen",
  "seventeen",
  "eighteen",
  "nineteen",
  "twenty",
  "twenty_one",
  "twenty_two",
  "twenty_three",
  "twenty_four",
  "twenty_five",
  "twenty_six",
  "twenty_seven",
  "twenty_eight",
  "twenty_nine",
  "thirty",
  "thirty_one",
  "thirty_two",
  "thirty_three",
  "thirty_four",
  "thirty_five",
  "thirty_six",
  "thirty_seven",
  "thirty_eight",
  "thirty_nine",
  "forty",
  "forty_one",
  "forty_two",
  "forty_three",
  "forty_four",
  "forty_five"
];

const d1fields = {
  see: 7,
  listen: 6,
  touch: 9,
  smell: 4,
  final: 6
};
const d2fields = {
  posture_control: 14,
  change_posture: 10,
  move: 15,
  sport: 15
};
const d3fields = {
  take: 8,
  operation: 20,
  art: 19
};
const d4fields = {
  eat: 11,
  toilet: 9,
  clean: 15,
  dress: 16
};
const d5fields = {
  language: 7,
  language_comp: 23,
  compress: 25,
  communication: 18
};
const d6fields = {
  concept: 45,
  imitate: 4,
  memory: 6,
  match: 4,
  logic: 3,
  solve: 4,
  read: 5
};
const d7fields = {
  self: 7,
  adapt: 10,
  interact: 8,
  game: 5
};

export default {
  data() {
    return {
      chartdata1: null,
      chartdata2: null,
      domain1: "",
      domain2: "",
      domain3: "",
      domain4: "",
      domain5: "",
      domain6: "",
      domain7: "",
      life_action: "",
      knowledge: "",
      interactAdapt: "",
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [
            {
              id: "y-axis-1",
              ticks: { min: -10, max: 30 },
              scaleLabel: {
                display: true, //顯示標題軸
                labelString: "(%)" //搞不正
              }
            }
          ]
        }
      },
      options2: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [
            {
              id: "y-axis-1",
              ticks: { min: -10, max: 30 },
              scaleLabel: {
                display: true, //顯示標題軸
                labelString: "(%)" //搞不正
              }
            }
          ]
        }
      }
    };
  },
  computed: {
    ...mapState({
      currentStudent: state => state.currentStudent
      // students: state => state.students
    })
  },
  watch: {
    currentStudent: function(newstudent) {
      let k = newstudent.measures.length;
      this.chartdata1 = this.getChartData1(k);
      this.chartdata2 = this.getChartData2(k);
    }
  },
  methods: {
    getChartData1(k) {
      if (
        this.currentStudent.measures &&
        this.currentStudent.measures[k - 1].domain1 &&
        this.currentStudent.measures[k - 1].domain2 &&
        this.currentStudent.measures[k - 1].domain3 &&
        this.currentStudent.measures[k - 1].domain4 &&
        this.currentStudent.measures[k - 1].domain5 &&
        this.currentStudent.measures[k - 1].domain6 &&
        this.currentStudent.measures[k - 1].domain7
      ) {
        this.domain1 = this.calcDomain1(k);
        this.domain2 = this.calcDomain2(k);
        this.domain3 = this.calcDomain3(k);
        this.domain4 = this.calcDomain4(k);
        this.domain5 = this.calcDomain5(k);
        this.domain6 = this.calcDomain6(k);
        this.domain7 = this.calcDomain7(k);
        return {
          labels: [
            "領域一",
            "領域二",
            "領域三",
            "領域四",
            "領域五",
            "領域六",
            "領域七"
          ],
          datasets: [
            {
              label: "個人領域比較",
              // fill: false, // 是否填滿色彩
              lineTension: 0,
              // backgroundColor: "#f87979",
              data: [
                (this.domain1 / 128) * 100,
                (this.domain2 / 216) * 100,
                (this.domain3 / 188) * 100,
                (this.domain4 / 204) * 100,
                (this.domain5 / 292) * 100,
                (this.domain6 / 284) * 100,
                (this.domain7 / 120) * 100
              ],
              backgroundColor: [
                "	#0088A8",
                "	#EEEE00",
                "	#FF7744",
                "	#FF8888",
                "	#00AA00",
                "	#AA7700",
                "	#E63F00"
              ]
              // borderColor: [
              //   "	#003377",
              //   "rgba(54, 162, 235, 1)",
              //   "rgba(255, 206, 86, 1)",
              //   "rgba(75, 192, 192, 1)",
              //   "rgba(153, 102, 255, 1)",
              //   "rgba(255, 159, 64, 1)"
              // ],
              // borderWidth: 1
            }
          ]
        };
      } else {
        alert("有資料尚未填寫完成，無法分析");
      }
    },
    getChartData2(k) {
      if (
        this.currentStudent.measures &&
        this.currentStudent.measures[k - 1].domain1 &&
        this.currentStudent.measures[k - 1].domain2 &&
        this.currentStudent.measures[k - 1].domain3 &&
        this.currentStudent.measures[k - 1].domain4 &&
        this.currentStudent.measures[k - 1].domain5 &&
        this.currentStudent.measures[k - 1].domain6 &&
        this.currentStudent.measures[k - 1].domain7
      ) {
        this.life_action = this.calcLife_action(k, "smell");
        this.knowledge = this.calcKnowledge(k);
        this.interactAdapt = this.clacInteractAdapt(k);
        return {
          labels: ["生活與行動", "獲得知識與技巧", "互動與適應"],
          datasets: [
            {
              label: "核心服務成效指標",
              lineTension: 0,
              data: [
                (this.life_action / 624) * 100,
                (this.knowledge / 432) * 100,
                (this.interactAdapt / 376) * 100
              ],
              backgroundColor: ["	#0088A8", "	#EEEE00", "	#E63F00"]
            }
          ]
        };
      } else {
        alert("有資料尚未填寫完成，無法分析");
      }
    },
    calcLife_action(k, key) {
      this.domain2 = this.calcDomain2(k);
      this.domain3 = this.calcDomain3(k);
      this.domain4 = this.calcDomain4(k);
      let sum = 0;
      for (var i = 1; i <= d1fields[key]; i++) {
        sum += parseInt(
          this.currentStudent.measures[k - 1].domain1[key][numarr[i]]
        );
      }
      for (var i = 1; i <= d1fields[key]; i++) {
        sum -= parseInt(
          this.currentStudent.measures[k - 2].domain1[key][numarr[i]]
        );
      }
      sum += this.domain2;
      sum += this.domain3;
      sum += this.domain4;
      // console.log("sum", sum);
      return sum;
    },
    calcKnowledge(k) {
      this.domain6 = this.calcDomain6(k);
      let sum = 0;
      for (var i = 1; i <= d1fields["see"]; i++) {
        sum += parseInt(
          this.currentStudent.measures[k - 1].domain1["see"][numarr[i]]
        );
      }
      for (var i = 1; i <= d5fields["language"]; i++) {
        sum += parseInt(
          this.currentStudent.measures[k - 1].domain5["language"][numarr[i]]
        );
      }
      for (var i = 1; i <= d5fields["language_comp"]; i++) {
        sum += parseInt(
          this.currentStudent.measures[k - 1].domain5["language_comp"][
            numarr[i]
          ]
        );
      }

      for (var i = 1; i <= d1fields["see"]; i++) {
        sum -= parseInt(
          this.currentStudent.measures[k - 2].domain1["see"][numarr[i]]
        );
      }
      for (var i = 1; i <= d5fields["language"]; i++) {
        sum -= parseInt(
          this.currentStudent.measures[k - 2].domain5["language"][numarr[i]]
        );
      }
      for (var i = 1; i <= d5fields["language_comp"]; i++) {
        sum -= parseInt(
          this.currentStudent.measures[k - 2].domain5["language_comp"][
            numarr[i]
          ]
        );
      }
      sum += this.domain6;
      return sum;
    },
    clacInteractAdapt(k) {
      this.domain7 = this.calcDomain7(k);
      let sum = 0;
      for (var i = 1; i <= d1fields["listen"]; i++) {
        sum += parseInt(
          this.currentStudent.measures[k - 1].domain1["listen"][numarr[i]]
        );
      }
      for (var i = 1; i <= d1fields["touch"]; i++) {
        sum += parseInt(
          this.currentStudent.measures[k - 1].domain1["touch"][numarr[i]]
        );
      }
      for (var i = 1; i <= d1fields["final"]; i++) {
        sum += parseInt(
          this.currentStudent.measures[k - 1].domain1["final"][numarr[i]]
        );
      }
      for (var i = 1; i <= d5fields["compress"]; i++) {
        sum += parseInt(
          this.currentStudent.measures[k - 1].domain5["compress"][numarr[i]]
        );
      }
      for (var i = 1; i <= d5fields["communication"]; i++) {
        sum += parseInt(
          this.currentStudent.measures[k - 1].domain5["communication"][
            numarr[i]
          ]
        );
      }

      for (var i = 1; i <= d1fields["listen"]; i++) {
        sum -= parseInt(
          this.currentStudent.measures[k - 2].domain1["listen"][numarr[i]]
        );
      }
      for (var i = 1; i <= d1fields["touch"]; i++) {
        sum -= parseInt(
          this.currentStudent.measures[k - 2].domain1["touch"][numarr[i]]
        );
      }
      for (var i = 1; i <= d1fields["final"]; i++) {
        sum -= parseInt(
          this.currentStudent.measures[k - 2].domain1["final"][numarr[i]]
        );
      }
      for (var i = 1; i <= d5fields["compress"]; i++) {
        sum -= parseInt(
          this.currentStudent.measures[k - 2].domain5["compress"][numarr[i]]
        );
      }
      for (var i = 1; i <= d5fields["communication"]; i++) {
        sum -= parseInt(
          this.currentStudent.measures[k - 2].domain5["communication"][
            numarr[i]
          ]
        );
      }
      sum += this.domain7;
      return sum;
    },
    calcDomain1(k) {
      let sum = 0;
      for (var key of Object.keys(d1fields)) {
        // console.log("KEY", key);
        // console.log(d1fields[key]);
        for (var i = 1; i <= d1fields[key]; i++) {
          sum += parseInt(
            this.currentStudent.measures[k - 1].domain1[key][numarr[i]]
          );
        }
      }
      for (var key of Object.keys(d1fields)) {
        for (var i = 1; i <= d1fields[key]; i++) {
          sum -= parseInt(
            this.currentStudent.measures[k - 2].domain1[key][numarr[i]]
          );
        }
      }
      return sum;
    },
    calcDomain2(k) {
      let sum = 0;
      for (var key of Object.keys(d2fields)) {
        for (var i = 1; i <= d2fields[key]; i++) {
          sum += parseInt(
            this.currentStudent.measures[k - 1].domain2[key][numarr[i]]
          );
        }
      }
      for (var key of Object.keys(d2fields)) {
        for (var i = 1; i <= d2fields[key]; i++) {
          sum -= parseInt(
            this.currentStudent.measures[k - 2].domain2[key][numarr[i]]
          );
        }
      }
      return sum;
    },
    calcDomain3(k) {
      let sum = 0;
      for (var key of Object.keys(d3fields)) {
        for (var i = 1; i <= d3fields[key]; i++) {
          sum += parseInt(
            this.currentStudent.measures[k - 1].domain3[key][numarr[i]]
          );
        }
      }
      for (var key of Object.keys(d3fields)) {
        for (var i = 1; i <= d3fields[key]; i++) {
          sum -= parseInt(
            this.currentStudent.measures[k - 2].domain3[key][numarr[i]]
          );
        }
      }
      return sum;
    },
    calcDomain4(k) {
      let sum = 0;
      for (var key of Object.keys(d4fields)) {
        for (var i = 1; i <= d4fields[key]; i++) {
          sum += parseInt(
            this.currentStudent.measures[k - 1].domain4[key][numarr[i]]
          );
        }
      }
      for (var key of Object.keys(d4fields)) {
        for (var i = 1; i <= d4fields[key]; i++) {
          sum -= parseInt(
            this.currentStudent.measures[k - 2].domain4[key][numarr[i]]
          );
        }
      }
      return sum;
    },
    calcDomain5(k) {
      let sum = 0;
      for (var key of Object.keys(d5fields)) {
        for (var i = 1; i <= d5fields[key]; i++) {
          sum += parseInt(
            this.currentStudent.measures[k - 1].domain5[key][numarr[i]]
          );
        }
      }
      for (var key of Object.keys(d5fields)) {
        for (var i = 1; i <= d5fields[key]; i++) {
          sum -= parseInt(
            this.currentStudent.measures[k - 2].domain5[key][numarr[i]]
          );
        }
      }
      return sum;
    },
    calcDomain6(k) {
      let sum = 0;
      for (var key of Object.keys(d6fields)) {
        for (var i = 1; i <= d6fields[key]; i++) {
          sum += parseInt(
            this.currentStudent.measures[k - 1].domain6[key][numarr[i]]
          );
        }
      }
      for (var key of Object.keys(d6fields)) {
        for (var i = 1; i <= d6fields[key]; i++) {
          sum -= parseInt(
            this.currentStudent.measures[k - 2].domain6[key][numarr[i]]
          );
        }
      }
      return sum;
    },
    calcDomain7(k) {
      let sum = 0;
      for (var key of Object.keys(d7fields)) {
        for (var i = 1; i <= d7fields[key]; i++) {
          sum += parseInt(
            this.currentStudent.measures[k - 1].domain7[key][numarr[i]]
          );
        }
      }
      for (var key of Object.keys(d7fields)) {
        for (var i = 1; i <= d7fields[key]; i++) {
          sum -= parseInt(
            this.currentStudent.measures[k - 2].domain7[key][numarr[i]]
          );
        }
      }
      return sum;
    }
  },
  created() {
    let k = this.currentStudent.measures.length;
    this.chartdata1 = this.getChartData1(k);
    this.chartdata2 = this.getChartData2(k);
  },
  components: {
    ChartBar
  }
};
</script>
<style scoped>
.chartbar {
  width: 500px;
}
</style>