<template>
  <div class="board">
    <div v-for="(student, idx) in classStudents" :key="`student-${idx}`">
      {{idx+1}}.
      <b-button
        :variant="childstyle(student)"
        @click="selectStudent(student)"
      >{{studentlabel(student)}}</b-button>
    </div>
    <!-- <div v-if="user_role">
      <b-button class="ml-3 bcenter" @click="addStudent" variant="primary">新增</b-button>
    </div>-->
  </div>
</template>

<script>
import firebase from "firebase";
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      user: state => state.user,
      currentClass: state => state.currentClass,
      currentStudent: state => state.currentStudent,
      students: state => state.students
    }),
    classStudents() {
      let cls = this.currentClass;
      if (!cls || !cls.students) {
        return [];
      } else {
        if (this.students) {
          //此判斷式解決登出後can not read null of filter 錯誤
          // console.log("student list this.students", this.students);
          //按下tracking後再跳回classes students的值卻沒有改
          return this.students.filter(
            student =>
              cls.students.indexOf(student.id) >= 0 &&
              student.status == "studing" &&
              student.measures &&
              student.measures.length > 1
          );
        }
      }
    },
    user_role() {
      if (this.user && this.user.role == "teacher") {
        return false;
      } else {
        return true;
      }
    }
  },

  methods: {
    childstyle(child) {
      if (child && this.currentStudent && child.id === this.currentStudent.id) {
        return "success";
      }
      if (child.gender === "男") {
        return "outline-info";
      } else if (child.gender === "女") {
        return "outline-danger";
      } else {
        return "outline-dark";
      }
    },
    studentlabel(std) {
      let result = std.name;
      if (std.gender) {
        result += " -- " + std.gender;
      }
      if (std.birthy && std.birth) {
        result += " -- " + std.birthy + "/" + std.birth;
      }

      return result;
    },
    selectStudent(std) {
      // console.log("currentclass", this.currentClass);
      let k = std.measures.length;
      if (
        std.measures[k - 1].domain1 &&
        std.measures[k - 1].domain2 &&
        std.measures[k - 1].domain3 &&
        std.measures[k - 1].domain4 &&
        std.measures[k - 1].domain5 &&
        std.measures[k - 1].domain6 &&
        std.measures[k - 1].domain7
      ) {
        this.$store.commit("setObject", {
          key: "currentStudent",
          value: std
        });
      } else {
        this.$store.commit("setObject", {
          key: "currentStudent",
          value: null
        });
        alert("尚有資料未填，故無法進行資料分析");
      }
    }
    // addStudent() {
    //   // this.$store.commit("setObject", {
    //   //   key: "currentStudent",
    //   //   value: null
    //   // }); //不清空學生資料會一直顯示，有時新增學生就不會即時顯示出來
    //   this.$router.push("/add_std");
    // }
  }
};
</script>

<style scoped>
.board {
  margin-left: 48px;
}
.btn {
  display: inline-block;
  width: 300px;
  text-align: left;
  margin-bottom: 12px;
}
.bcenter {
  text-align: center;
}
</style>