<template>
  <div>
    <b-card>
      <!-- 放學生基本資料 -->
      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">學生姓名：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.name" placeholder></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">性別：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-radio-group v-model="form.gender" name="gender">
              <b-form-radio value="男">男生</b-form-radio>
              <b-form-radio value="女">女生</b-form-radio>
            </b-form-radio-group>
          </b-col>
        </b-row>
      </div>
      <br />
      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">年齡：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.age" placeholder></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">出身年份：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.birthy" id="input-default" placeholder="西元年 如：2016"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">出身日期：</label> &nbsp;
          </b-col>
          <b-col sm="2">
            <b-form-input v-model="form.birthm" id="input-default" placeholder="  ex:03"></b-form-input>
          </b-col>
          <b-col sm="1">
            <p>月</p>
          </b-col>
          <b-col sm="2">
            <b-form-input v-model="form.birthd" id="input-default" placeholder="ex:05"></b-form-input>
          </b-col>
          <b-col sm="1">
            <p>日</p>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">身份證字號：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.ID" placeholder></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />
      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">通訊地址：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.address" id="input-default" placeholder></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">戶籍地址：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.address2" id="input-default" placeholder></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">日托編號：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.number" placeholder></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">轉入日期年份：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.entery" id="input-default" placeholder="請輸入西元年 如:2017"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">轉入日期：</label> &nbsp;
          </b-col>
          <b-col sm="2">
            <b-form-input v-model="form.enterm" id="input-default" placeholder="  ex:03"></b-form-input>
          </b-col>
          <b-col sm="1">
            <p>月</p>
          </b-col>
          <b-col sm="2">
            <b-form-input v-model="form.enterd" id="input-default" placeholder="ex:05"></b-form-input>
          </b-col>
          <b-col sm="1">
            <p>日</p>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">轉出日期年份：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.outy" id="input-default" placeholder="請輸入西元年 如:2017"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">轉出日期：</label> &nbsp;
          </b-col>
          <b-col sm="2">
            <b-form-input v-model="form.outm" id="input-default" placeholder="  ex:03"></b-form-input>
          </b-col>
          <b-col sm="1">
            <p>月</p>
          </b-col>
          <b-col sm="2">
            <b-form-input v-model="form.outd" id="input-default" placeholder="ex:05"></b-form-input>
          </b-col>
          <b-col sm="1">
            <p>日</p>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">轉出學校：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.goschool" placeholder></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <b-form-group label="障礙類別：">&nbsp;</b-form-group>
          </b-col>
          <b-col sm="10">
            <b-form-checkbox-group v-model="form.obstacle" name="obstacle">
              <b-form-checkbox value="1">1</b-form-checkbox>
              <b-form-checkbox value="2">2</b-form-checkbox>
              <b-form-checkbox value="3">3</b-form-checkbox>
              <b-form-checkbox value="4">4</b-form-checkbox>
              <b-form-checkbox value="5">5</b-form-checkbox>
              <b-form-checkbox value="6">6</b-form-checkbox>
              <b-form-checkbox value="7">7</b-form-checkbox>
              <b-form-checkbox value="8">8</b-form-checkbox>其他：
              <input type="text" v-model="form.other" />
            </b-form-checkbox-group>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">障礙程度：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-radio-group v-model="form.obstacle_grade" name="obstacle_grade">
              <b-form-radio value="輕度">輕度</b-form-radio>
              <b-form-radio value="中度">中度</b-form-radio>
              <b-form-radio value="重度">重度</b-form-radio>
              <b-form-radio value="極重度">極重度</b-form-radio>
              <b-form-radio value="其他">其他</b-form-radio>
            </b-form-radio-group>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">父親姓名：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.father"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">父親電話：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.fathercell"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">母親姓名：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.mother"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">母親電話：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.mothercell"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">主要照顧者：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.takecare" id="input-default"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">主要照顧者電話：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.takecarecell" id="input-default"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid v-if="user_role">
        <b-row>
          <b-col sm="2">
            <label for="input-default">班級調動：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-button @click="changeClass('OTQmD4n8RAzBevkWo9Cs')" variant="outline-danger">河馬班</b-button>
            <b-button @click="changeClass('NgL5EV5tcu7eriaiA2NL')" variant="outline-danger">綿羊班</b-button>
            <b-button @click="changeClass('AyOejF1w0FPpEdfw6Csh')" variant="outline-danger">小熊班</b-button>
            <b-button @click="changeClass('AsfLt16BqcvwZYhsNEbk')" variant="outline-danger">大象班</b-button>
          </b-col>
        </b-row>
      </div>
      <br />
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">狀態改變：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-button @click="tracking()" variant="outline-primary">進入畢業追蹤狀態</b-button>
            <!-- <b-button @click="concluding_case" variant="outline-primary">結案</b-button> -->
          </b-col>
        </b-row>
      </div>
      <br />
      <br />

      <b-button variant="primary" @click="certain_modify" class="sub">確定修改</b-button>

      <br />
      <br />

      <b-button variant="success" @click="add_form">新增評量表:</b-button>
      <br />
      <br />
      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">評量表：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <div v-if="wfirst">
              <b-button @click="first" variant="outline-success">第一次</b-button>
            </div>
            <br />
            <div v-if="wsecond">
              <b-button @click="second" variant="outline-success">第二次</b-button>
            </div>
            <br />
            <div v-if="wthird">
              <b-button @click="third" variant="outline-success">第三次</b-button>
            </div>
            <br />
            <div v-if="wfourth">
              <b-button @click="fourth" variant="outline-success">第四次</b-button>
            </div>
            <br />
            <div v-if="wfifth">
              <b-button @click="fifth" variant="outline-success">第五次</b-button>
            </div>
            <br />
            <div v-if="wsixth">
              <b-button @click="sixth" variant="outline-success">第六次</b-button>
            </div>
            <br />
          </b-col>
        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import { fireDb } from "~/plugins/firebase.js";
import firebase from "firebase";
import { mapState } from "vuex";

export default {
  created() {
    // console.log("currentstudent", this.currentStudent);
    this.date = new Date();
    this.yyyy = this.date.getFullYear();
    this.form = JSON.parse(JSON.stringify(this.currentStudent));
    this.form.age = parseInt(this.yyyy) - parseInt(this.currentStudent.birthy);
    //或修改出生年份 年齡也得跟著自動修改
    // console.log("currentClass", this.currentClass);
  },
  computed: {
    ...mapState({
      currentStudent: state => state.currentStudent,
      currentClass: state => state.currentClass,
      students: state => state.students,
      user: state => state.user,
      classes: state => state.classes
    }),

    user_role() {
      if (this.user.role == "teacher") {
        return false;
      } else {
        return true;
      }
    },

    wfirst() {
      if (
        (this.currentStudent.measures &&
          this.currentStudent.measures.length >= 1) ||
        this.measures_length == 1
      ) {
        return true;
      } else {
        return false;
      }
    },
    wsecond() {
      if (
        (this.currentStudent.measures &&
          this.currentStudent.measures.length >= 2) ||
        this.measures_length == 2
      ) {
        return true;
      } else {
        return false;
      }
    },
    wthird() {
      if (
        (this.currentStudent.measures &&
          this.currentStudent.measures.length >= 3) ||
        this.measures_length == 3
      ) {
        return true;
      } else {
        return false;
      }
    },
    wfourth() {
      if (
        (this.currentStudent.measures &&
          this.currentStudent.measures.length >= 4) ||
        this.measures_length == 4
      ) {
        return true;
      } else {
        return false;
      }
    },
    wfifth() {
      if (
        (this.currentStudent.measures &&
          this.currentStudent.measures.length >= 5) ||
        this.measures_length == 5
      ) {
        return true;
      } else {
        return false;
      }
    },
    wsixth() {
      if (
        (this.currentStudent.measures &&
          this.currentStudent.measures.length >= 6) ||
        this.measures_length == 6
      ) {
        return true;
      } else {
        return false;
      }
    }
  },

  watch: {
    currentStudent: function(newstudent) {
      this.form = JSON.parse(JSON.stringify(newstudent));
    }
  },

  data() {
    return {
      form: {
        name: "",
        gender: "",
        age: "",
        birthy: "",
        birthm: "",
        birthd: "",
        ID: "",
        address: "",
        address2: "",
        number: "",
        entery: "",
        enterm: "",
        enterd: "",
        outy: "",
        outm: "",
        outd: "",
        goschool: "",
        father: "",
        fathercell: "",
        mother: "",
        mothercell: "",
        takecare: "",
        takecarecell: "",
        status: "studing",
        obstacle: [],
        obstacle_grade: "",
        other: ""
      },
      measuretime: "", //用來區分是第幾次填寫評量表
      temp_stdid: "",
      // wfirst: false,
      // wsecond: false,
      // wthird: false,
      // wfourth: false,
      // wfifth: false,
      // wsixth: false,
      measures_length: "",
      // name: "",
      // gender: "",
      classStudents: []
    };
  },

  methods: {
    async changeClass(classid) {
      //將此小孩移至classid班裡
      // console.log("currentClass", this.currentClass);
      // console.log("currentStudentid", this.currentStudent.id);
      // console.log("classid", classid);
      // console.log("classes",this.classes)

      await fireDb
        .collection("classes")
        .doc(this.currentClass.id)
        //將currentStudent.id 從firebase classes/currentClass.id/students[]裡移除
        .update({
          students: firebase.firestore.FieldValue.arrayRemove(
            this.currentStudent.id
          )
        })
        .then(() => {
          //更新state.classes裡的學生
          this.$store.commit("changeStdClassRemove");
          //將currentStudent.id從state.classes[i].students裡移除
        });

      await fireDb
        //將currentStudent.id新增至firebase classes/classid/students[]
        .collection("classes")
        .doc(classid)
        .update({
          students: firebase.firestore.FieldValue.arrayUnion(
            this.currentStudent.id
          )
        })
        .then(() => {
          this.$store.commit("changeStdClassAdd", classid);
          //將currentStudent.id新增至classes[i].students裡
        });

      //page/studentlist顯示名單跑的classStudent[]可能也要更新才能即時顯示改變
    },
    tracking() {
      let _student = JSON.parse(JSON.stringify(this.currentStudent));
      _student.status = "tracking";
      let ref;
      ref = fireDb.collection("students").doc(this.currentStudent.id);
      ref
        .update({
          status: _student.status
        })
        .then(() => {
          this.$store.commit("changStdStatus", {
            key: this.currentStudent.id,
            value: "tracking"
          });
          //將state students[i].status更新

          this.$store.commit("setObject", {
            key: "currentStudent",
            value: null
          }); //再跳回classes才不會還開著剛剛進入追蹤狀態的學生的資料
        })
        .then(() => {
          console.log("students", this.students);
          this.$router.push("/alumni");
        });
    },
    async certain_modify() {
      this.form.age = parseInt(this.yyyy) - parseInt(this.form.birthy);
      let _this = this;
      let docid = this.form.id;
      // console.log("this.form.id", this.form.id);
      const ref = fireDb.collection("students").doc(docid);
      delete this.form.id;
      const document = this.form;
      console.log("document", document);
      try {
        await ref.update(document).then(() => {
          for (let i = 0; i < this.students.length; i++) {
            let _students = JSON.parse(JSON.stringify(this.students));
            if (_students[i].id == this.currentStudent.id) {
              Object.assign(_students[i], document);
              console.log("after object assign _students=", _students);
              this.$store.commit("setObject", {
                key: "students",
                value: _students
              });
            }
          }
        });
      } catch (e) {
        console.error(e);
      }

      this.$store.commit("setObject", {
        key: "currentStudent",
        value: null
      }); //修改完後student_data關起來
    },
    first: function() {
      this.measuretime = 1;
      this.$store.commit("setObject", {
        key: "measuretime",
        value: this.measuretime
      });
      this.$router.push("/evaluation_form");
    },
    second: function() {
      this.measuretime = 2;
      this.$store.commit("setObject", {
        key: "measuretime",
        value: this.measuretime
      });

      this.$router.push("/evaluation_form");
    },
    third: function() {
      this.measuretime = 3;
      this.$store.commit("setObject", {
        key: "measuretime",
        value: this.measuretime
      });

      this.$router.push("/evaluation_form");
    },
    fourth: function() {
      this.measuretime = 4;
      this.$store.commit("setObject", {
        key: "measuretime",
        value: this.measuretime
      });

      this.$router.push("/evaluation_form");
    },
    fifth: function() {
      this.measuretime = 5;
      this.$store.commit("setObject", {
        key: "measuretime",
        value: this.measuretime
      });

      this.$router.push("/evaluation_form");
    },
    sixth: function() {
      this.measuretime = 6;
      this.$store.commit("setObject", {
        key: "measuretime",
        value: this.measuretime
      });

      this.$router.push("/evaluation_form");
    },
    add_form: function() {
      if (!this.currentStudent.measures) {
        this.measures_length = 1;
      } else {
        this.measures_length = this.currentStudent.measures.length + 1;
      }
    }
  }
};
</script>

<style scoped>
.card {
  background: lightgoldenrodyellow;
  margin: 30px 20px;
  padding: 12px;
  border: 1px solid green;
}
input {
  display: inline-block;
  width: 60%;
}
</style>