<template>
  <div>
    <b-row style="margin-left:50px">
      <b-col cols="2">
        <b-row>
          <b-button
            @click="category"
            :variant="opencategory==true ? 'success' : 'outline-success'"
          >服務成員類別分析</b-button>
        </b-row>
        <br />
        <b-row>
          <b-button
            @click="center"
            :variant="opencenter==true ? 'success' : 'outline-success'"
          >全體服務對象進步比例</b-button>
          <!-- 兩張圖 -->
        </b-row>
        <br />
        <b-row>
          <b-button @click="form" :variant="openform==true ? 'success' : 'outline-success'">統整表格</b-button>
        </b-row>
      </b-col>

      <b-col cols="10" v-if="opencategory">
        <Category />
      </b-col>
      <b-col cols="10" v-if="opencenter">
        <Center />
      </b-col>
      
      <b-col cols="10" v-if="openform">
        <Form />
      </b-col>
    </b-row>
  </div>
</template>
<script>
import Category from "@/components/category.vue";
import Center from "@/components/center.vue";
import Form from "@/components/form.vue";
export default {
  data() {
    return {
      opencategory: false,
      opencenter: false,
      openform: false
    };
  },
  components: {
    Category,
    Center,
    Form
  },
  methods: {
    category() {
      this.opencategory = true;
      this.opencenter = false;
      this.openform = false;
      return;
    },
    center() {
      this.opencenter = true;
      this.opencategory = false;
      this.openform = false;
      return;
    },
    form() {
      this.openform = true;
      this.opencategory = false;
      this.opencenter = false;
      return;
    }
  }
};
</script>
<style scoped>
</style>