<template>
  <div>
    <Navbar></Navbar>
    <b-container fluid> 
      <nuxt />
    </b-container>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";

export default {
  middleware: "authenticated",
  components: {
    Navbar
  }
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
  border: 0;
  /* background: #cceeff !important; */
  background: lightgoldenrodyellow;
}
.container-fluid {
  /* border: 1px solid orange; */
  padding: 12px;
  background: lightgoldenrodyellow;
  width:1600px
}
</style>
