<template>
  <b-container fluid>
    <section>
      <h2>新增學生資料</h2>
      <br />
      <br />
      <b-form @submit="submit">
        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">學生姓名：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.name" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">性別：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-radio-group v-model="form.gender" name="gender">
                <b-form-radio value="男">男生</b-form-radio>
                <b-form-radio value="女">女生</b-form-radio>
              </b-form-radio-group>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">出身年份：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.birthy" id="input-default" placeholder="請輸入西元年 如：2016"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">出身日期：</label> &nbsp;
            </b-col>
            <b-col sm="2">
              <b-form-input v-model="form.birthm" id="input-default" placeholder="  ex:03"></b-form-input>
            </b-col>
            <b-col sm="1">
              <p>月</p>
            </b-col>
            <b-col sm="2">
              <b-form-input v-model="form.birthd" id="input-default" placeholder="ex:05"></b-form-input>
            </b-col>
            <b-col sm="1">
              <p>日</p>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">身份證字號：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.ID" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">通訊地址：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.address" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">戶籍地址：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.address2" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">日托編號：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.number" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">轉入日期年份：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.entery" id="input-default" placeholder="請輸入西元年 如:2017"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">轉入日期：</label> &nbsp;
            </b-col>
            <b-col sm="2">
              <b-form-input v-model="form.enterm" id="input-default" placeholder="  ex:03"></b-form-input>
            </b-col>
            <b-col sm="1">
              <p>月</p>
            </b-col>
            <b-col sm="2">
              <b-form-input v-model="form.enterd" id="input-default" placeholder="ex:05"></b-form-input>
            </b-col>
            <b-col sm="1">
              <p>日</p>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">轉出日期年份：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.outy" id="input-default" placeholder="請輸入西元年 如:2017"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">轉出日期：</label> &nbsp;
            </b-col>
            <b-col sm="2">
              <b-form-input v-model="form.outm" id="input-default" placeholder="  ex:03"></b-form-input>
            </b-col>
            <b-col sm="1">
              <p>月</p>
            </b-col>
            <b-col sm="2">
              <b-form-input v-model="form.outd" id="input-default" placeholder="ex:05"></b-form-input>
            </b-col>
            <b-col sm="1">
              <p>日</p>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">轉出學校：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.goschool" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <b-form-group label="障礙類別：">&nbsp;</b-form-group>
            </b-col>
            <b-col sm="10">
              <b-form-checkbox-group v-model="form.obstacle" name="obstacle">
                <b-form-checkbox value="1">1</b-form-checkbox>
                <b-form-checkbox value="2">2</b-form-checkbox>
                <b-form-checkbox value="3">3</b-form-checkbox>
                <b-form-checkbox value="4">4</b-form-checkbox>
                <b-form-checkbox value="5">5</b-form-checkbox>
                <b-form-checkbox value="6">6</b-form-checkbox>
                <b-form-checkbox value="7">7</b-form-checkbox>
                <b-form-checkbox value="8">8</b-form-checkbox>其他：
                <input type="text" v-model="form.other" />
              </b-form-checkbox-group>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">障礙程度：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-radio-group v-model="form.obstacle_grade" name="obstacle_grade">
                <b-form-radio value="輕度">輕度</b-form-radio>
                <b-form-radio value="中度">中度</b-form-radio>
                <b-form-radio value="重度">重度</b-form-radio>
                <b-form-radio value="極重度">極重度</b-form-radio>
                <b-form-radio value="其他">其他</b-form-radio>
              </b-form-radio-group>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">父親姓名：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.father" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">父親電話：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.fathercell" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">母親姓名：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.mother" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">母親電話：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.mothercell" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">主要照顧者：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.takecare" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">主要照顧者電話：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.takecarecell" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <br />

        <b-button variant="primary" type="submit" class="sub">確定新增</b-button>
      </b-form>

      <br />
      <br />
    </section>
  </b-container>
</template>

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
import { mapState } from "vuex";

export default {
  name: "submit",
  data() {
    return {
      form: {
        name: "",
        gender: "",
        age: "",
        birthy: "",
        birthm: "",
        birthd: "",
        ID: "",
        address: "",
        address2: "",
        number: "",
        entery: "",
        enterm: "",
        enterd: "",
        outy: "",
        outm: "",
        outd: "",
        goschool: "",
        father: "",
        fathercell: "",
        mother: "",
        mothercell: "",
        takecare: "",
        takecarecell: "",
        status: "studing",
        obstacle: [],
        obstacle_grade: "",
        other: ""
      },
      yyyy: ""
    };
  },
  computed: {
    ...mapState({
      user: state => state.user,
      currentClass: state => state.currentClass,
      currentStudent: state => state.currentStudent,
      students: state => state.students,
      classes: state => state.classes
    })
  },
  mounted() {
    this.date = new Date();
    this.yyyy = this.date.getFullYear();
    // console.log("yyyy", this.yyyy);
  },
  methods: {
    async submit(evt) {
      // console.log("before age", this.form.age);
      this.form.age = parseInt(this.yyyy) - parseInt(this.form.birthy);
      // console.log("after age", this.form.age);
      // console.log("this.currentClass.students", this.currentClass.students);
      //要存學生id到firebase classes裡面

      evt.preventDefault();
      //console.log(this.form);
      let document = this.form;
      let sid = null;
      let _this = this;
      //console.log("students", this.students.length);
      // console.log("STUDENTS", this.students);
      // console.log("Enter FB");
      await fireDb
        .collection("students")
        .add(document)
        .then(result => {
          // console.log("result", result);
          sid = result.id;
          document.id = result.id;
          // console.log("before commit students", this.students);
          this.$store.commit("addItem", { key: "students", value: document });
          // console.log("after commit students", this.students);
          // if (this.currentClass.students) {
          if (this.currentClass.students.length !== 0) {
            // console.log("Has students");
            fireDb
              .collection("classes")
              .doc(this.currentClass.id)
              .update({
                students: firebase.firestore.FieldValue.arrayUnion(sid)
              })
              .then(() => {
                this.$store.commit("addClassStudent", sid);
                //在stats classes[i]裡新增學生
                // this.$router.push("/classes");
              });
          } else {
            // console.log(" enter No students"); //新增第一位學生時沒印
            fireDb
              .collection("classes")
              .doc(this.currentClass.id)
              .update({
                students: [document.id]
              })
              .then(() => {
                this.$store.commit("addClassStudent", sid);
                this.$store.commit("setObject", {
                  key: "currentClass",
                  value: this.currentClass
                });
                // this.$router.push("/classes");
              });
          }
        })
        .then(() => {
          console.log("before push to classes this.students", this.students);
          this.$router.push("/classes");
        })
        .catch(() => {
          console.log("Write Student ERROR");
          return;
        });
    }
  }
};
</script>







<style scoped>
section {
  width: 70%;
  /*background: #ffc8b4;*/
  margin: 24px auto;
  padding: 24px;
}
.sub {
  text-align: center;
}
</style>
