<template>
  <div>
    <section>追蹤中</section>
    <b-row>
      <span style="margin-left:40px;" v-for="(trackstd,idx) in tracking_std" :key="`track-${idx}`">
        {{idx+1}}.
        <b-button
          v-b-toggle.collapse-2
          @click="selectStd(trackstd)"
          :variant="childstyle(trackstd)"
        >{{studentlabel(trackstd)}}</b-button>
      </span>
    </b-row>
    <b-row v-if="showstudent">
      <!--b-collapse id="collapse-2" class="mt-2"-->
      <b-card>
        <section>
          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">學生姓名：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.name" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">性別：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-radio-group v-model="form.gender" name="gender">
                  <b-form-radio value="男">男生</b-form-radio>
                  <b-form-radio value="女">女生</b-form-radio>
                </b-form-radio-group>
              </b-col>
            </b-row>
          </div>
          <br />
          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">年齡：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.age" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">出身年份：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="form.birthy" id="input-default" placeholder="西元年 如：2016"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">出身日期：</label> &nbsp;
          </b-col>
          <b-col sm="2">
            <b-form-input v-model="form.birthm" id="input-default" placeholder="  ex:03"></b-form-input>
          </b-col>
          <b-col sm="1">
            <p>月</p>
          </b-col>
          <b-col sm="2">
            <b-form-input v-model="form.birthd" id="input-default" placeholder="ex:05"></b-form-input>
          </b-col>
          <b-col sm="1">
            <p>日</p>
          </b-col>
        </b-row>
      </div>
      <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">身份證字號：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.ID" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">通訊地址：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.address" id="input-default" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">戶籍地址：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.address2" id="input-default" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">日托編號：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.number" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">轉入日期年份：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.entery" id="input-default" placeholder="請輸入西元年 如:2017"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">轉入日期：</label> &nbsp;
              </b-col>
              <b-col sm="2">
                <b-form-input v-model="form.enterm" id="input-default" placeholder="  ex:03"></b-form-input>
              </b-col>
              <b-col sm="1">
                <p>月</p>
              </b-col>
              <b-col sm="2">
                <b-form-input v-model="form.enterd" id="input-default" placeholder="ex:05"></b-form-input>
              </b-col>
              <b-col sm="1">
                <p>日</p>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">轉出日期年份：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.outy" id="input-default" placeholder="請輸入西元年 如:2017"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">轉出日期：</label> &nbsp;
              </b-col>
              <b-col sm="2">
                <b-form-input v-model="form.outm" id="input-default" placeholder="  ex:03"></b-form-input>
              </b-col>
              <b-col sm="1">
                <p>月</p>
              </b-col>
              <b-col sm="2">
                <b-form-input v-model="form.outd" id="input-default" placeholder="ex:05"></b-form-input>
              </b-col>
              <b-col sm="1">
                <p>日</p>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">轉出學校：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.goschool" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <b-form-group label="障礙類別：">&nbsp;</b-form-group>
              </b-col>
              <b-col sm="10">
                <b-form-checkbox-group v-model="form.obstacle" name="obstacle">
                  <b-form-checkbox value="1">1</b-form-checkbox>
                  <b-form-checkbox value="2">2</b-form-checkbox>
                  <b-form-checkbox value="3">3</b-form-checkbox>
                  <b-form-checkbox value="4">4</b-form-checkbox>
                  <b-form-checkbox value="5">5</b-form-checkbox>
                  <b-form-checkbox value="6">6</b-form-checkbox>
                  <b-form-checkbox value="7">7</b-form-checkbox>
                  <b-form-checkbox value="8">8</b-form-checkbox>其他：
                  <input type="text" v-model="form.other" />
                </b-form-checkbox-group>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">障礙程度：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-radio-group v-model="form.obstacle_grade" name="obstacle_grade">
                  <b-form-radio value="輕度">輕度</b-form-radio>
                  <b-form-radio value="中度">中度</b-form-radio>
                  <b-form-radio value="重度">重度</b-form-radio>
                  <b-form-radio value="極重度">極重度</b-form-radio>
                  <b-form-radio value="其他">其他</b-form-radio>
                </b-form-radio-group>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">父親姓名：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.father"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">父親電話：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.fathercell"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">母親姓名：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.mother"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">母親電話：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.mothercell"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">主要照顧者：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.takecare" id="input-default"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">主要照顧者電話：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form.takecarecell" id="input-default"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">狀態改變：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-button @click="concluding_case()" variant="outline-primary">結案</b-button>
              </b-col>
            </b-row>
          </div>
          <br />
          <br />

          <br />
          <br />

          <br />
          <br />
          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">評量表：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <div v-if="wfirst">
                  <b-button @click="first" variant="outline-success">第一次</b-button>
                </div>
                <br />
                <div v-if="wsecond">
                  <b-button @click="second" variant="outline-success">第二次</b-button>
                </div>
                <br />
                <div v-if="wthird">
                  <b-button @click="third" variant="outline-success">第三次</b-button>
                </div>
                <br />
                <div v-if="wfourth">
                  <b-button @click="fourth" variant="outline-success">第四次</b-button>
                </div>
                <br />
                <div v-if="wfifth">
                  <b-button @click="fifth" variant="outline-success">第五次</b-button>
                </div>
                <br />
                <div v-if="wsixth">
                  <b-button @click="sixth" variant="outline-success">第六次</b-button>
                </div>
                <br />
              </b-col>
            </b-row>
          </div>
          <br />
          <br />

          <br />
          <br />
        </section>
      </b-card>
      <!--/b-collapse-->
    </b-row>

    <section>結案</section>
    <b-row>
      <span
        style="margin-left:40px;"
        v-for="(conclude,idx) in concluding_std"
        :key="`track-${idx}`"
      >
        {{idx+1}}.
        <b-button
          v-b-toggle.collapse-1
          @click="con_selectStd(conclude)"
          :variant="childstyle(conclude)"
        >{{studentlabel(conclude)}}</b-button>
      </span>
    </b-row>
    <b-row v-if="con_showstudent">
      <!-- <b-collapse id="collapse-1" class="mt-2"> -->
      <b-card>
        <section>
          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">學生姓名：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.name" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">性別：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-radio-group v-model="form2.gender" name="gender">
                  <b-form-radio value="男">男生</b-form-radio>
                  <b-form-radio value="女">女生</b-form-radio>
                </b-form-radio-group>
              </b-col>
            </b-row>
          </div>
          <br />
          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">年齡：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.age" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">出身年份：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.birthy" id="input-default" placeholder="西元年 如：2016"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">出身日期：</label> &nbsp;
              </b-col>
              <b-col sm="2">
                <b-form-input v-model="form2.birthm" id="input-default" placeholder="  ex:03"></b-form-input>
              </b-col>
              <b-col sm="1">
                <p>月</p>
              </b-col>
              <b-col sm="2">
                <b-form-input v-model="form2.birthd" id="input-default" placeholder="ex:05"></b-form-input>
              </b-col>
              <b-col sm="1">
                <p>日</p>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">身份證字號：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.ID" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">通訊地址：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.address" id="input-default" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">戶籍地址：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.address2" id="input-default" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">日托編號：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.number" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">轉入日期年份：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.entery" id="input-default" placeholder="請輸入西元年 如:2017"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">轉入日期：</label> &nbsp;
              </b-col>
              <b-col sm="2">
                <b-form-input v-model="form2.enterm" id="input-default" placeholder="  ex:03"></b-form-input>
              </b-col>
              <b-col sm="1">
                <p>月</p>
              </b-col>
              <b-col sm="2">
                <b-form-input v-model="form2.enterd" id="input-default" placeholder="ex:05"></b-form-input>
              </b-col>
              <b-col sm="1">
                <p>日</p>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">轉出日期年份：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.outy" id="input-default" placeholder="請輸入西元年 如:2017"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">轉出日期：</label> &nbsp;
              </b-col>
              <b-col sm="2">
                <b-form-input v-model="form2.outm" id="input-default" placeholder="  ex:03"></b-form-input>
              </b-col>
              <b-col sm="1">
                <p>月</p>
              </b-col>
              <b-col sm="2">
                <b-form-input v-model="form2.outd" id="input-default" placeholder="ex:05"></b-form-input>
              </b-col>
              <b-col sm="1">
                <p>日</p>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">轉出學校：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.goschool" placeholder></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <b-form-group label="障礙類別：">&nbsp;</b-form-group>
              </b-col>
              <b-col sm="10">
                <b-form-checkbox-group v-model="form2.obstacle" name="obstacle">
                  <b-form-checkbox value="1">1</b-form-checkbox>
                  <b-form-checkbox value="2">2</b-form-checkbox>
                  <b-form-checkbox value="3">3</b-form-checkbox>
                  <b-form-checkbox value="4">4</b-form-checkbox>
                  <b-form-checkbox value="5">5</b-form-checkbox>
                  <b-form-checkbox value="6">6</b-form-checkbox>
                  <b-form-checkbox value="7">7</b-form-checkbox>
                  <b-form-checkbox value="8">8</b-form-checkbox>其他：
                  <input type="text" v-model="form2.other" />
                </b-form-checkbox-group>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">障礙程度：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-radio-group v-model="form2.obstacle_grade" name="obstacle_grade">
                  <b-form-radio value="輕度">輕度</b-form-radio>
                  <b-form-radio value="中度">中度</b-form-radio>
                  <b-form-radio value="重度">重度</b-form-radio>
                  <b-form-radio value="極重度">極重度</b-form-radio>
                  <b-form-radio value="其他">其他</b-form-radio>
                </b-form-radio-group>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">父親姓名：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.father"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">父親電話：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.fathercell"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">母親姓名：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.mother"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">母親電話：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.mothercell"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">主要照顧者：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.takecare" id="input-default"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />

          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">主要照顧者電話：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-form-input v-model="form2.takecarecell" id="input-default"></b-form-input>
              </b-col>
            </b-row>
          </div>
          <br />
          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">狀態改變：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <b-button @click="delete_case()" variant="outline-primary">刪除此學生資料</b-button>
              </b-col>
            </b-row>
          </div>
          <br />
          <br />
          <br />
          <br />
          <div fluid>
            <b-row>
              <b-col sm="2">
                <label for="input-default">評量表：</label> &nbsp;
              </b-col>
              <b-col sm="10">
                <div v-if="wfirst">
                  <b-button @click="first" variant="outline-success">第一次</b-button>
                </div>
                <br />
                <div v-if="wsecond">
                  <b-button @click="second" variant="outline-success">第二次</b-button>
                </div>
                <br />
                <div v-if="wthird">
                  <b-button @click="third" variant="outline-success">第三次</b-button>
                </div>
                <br />
                <div v-if="wfourth">
                  <b-button @click="fourth" variant="outline-success">第四次</b-button>
                </div>
                <br />
                <div v-if="wfifth">
                  <b-button @click="fifth" variant="outline-success">第五次</b-button>
                </div>
                <br />
                <div v-if="wsixth">
                  <b-button @click="sixth" variant="outline-success">第六次</b-button>
                </div>
                <br />
              </b-col>
            </b-row>
          </div>
          <br />
          <br />

          <br />
          <br />
        </section>
      </b-card>
      <!-- </b-collapse> -->
    </b-row>
  </div>
</template>

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
import { mapState } from "vuex";
export default {
  data() {
    return {
      showstudent: false,
      temp_stdid: "",
      con_showstudent: false,
      open: false,
      concluding_std: [],
      form: {
        name: null,
        gender: null,
        age: null,
        birthy: "",
        birthm: "",
        birthd: "",
        ID: null,
        address: "",
        address2: "",
        number: null,
        entery: "",
        enterm: "",
        enterd: "",
        outy: "",
        outm: "",
        outd: "",
        goschool: null,
        father: null,
        fathercell: null,
        mother: null,
        mothercell: null,
        takecare: "",
        takecarecell: "",
        obstacle: [],
        other: null
      },
      form2: {
        name: null,
        gender: null,
        age: null,
        birthy: "",
        birthm: "",
        birthd: "",
        ID: null,
        address: "",
        address2: "",
        number: null,
        entery: "",
        enterm: "",
        enterd: "",
        outy: "",
        outm: "",
        outd: "",
        goschool: null,
        father: null,
        fathercell: null,
        mother: null,
        mothercell: null,
        takecare: "",
        takecarecell: "",
        obstacle: [],
        other: null
      },
      measuretime: "",
      // measures_length: "",
      tracking_std: []
    };
  },
  computed: {
    ...mapState({
      currentStudent: state => state.currentStudent,
      currentStudent2: state => state.currentStudent2,
      students: state => state.students
    })
  },
  methods: {
    studentlabel(tstd) {
      let result = tstd.name;
      if (tstd.gender) {
        result += " -- " + tstd.gender;
      }
      if (tstd.birthy && tstd.birth) {
        result += " -- " + tstd.birthy + "/" + tstd.birth;
      }
      return result;
    },
    childstyle(child) {
      if (child && this.currentStudent && child.id === this.currentStudent.id) {
        return "success";
      }
      if (child.gender === "男") {
        return "outline-info";
      } else if (child.gender === "女") {
        return "outline-danger";
      } else {
        return "outline-dark";
      }
    },
    selectStd(std) {
      if (this.temp_stdid === std.id) {
        this.showstudent = !this.showstudent;
        return;
      }
      this.$store.commit("setObject", { key: "currentStudent", value: std });
      this.temp_stdid = std.id;
      this.showstudent = true;
      // this.con_showstudent = true;
      this.form = JSON.parse(JSON.stringify(this.currentStudent));
      if (!this.currentStudent.measures) {
        // console.log("have no student measures");
        this.wfirst = false;
        this.wsecond = false;
        this.wthird = false;
        this.wfourth = false;
        this.wfifth = false;
        this.wsixth = false;
      } else {
        // console.log("if student measures exist");
        if (this.currentStudent.measures.length == 1) {
          this.wfirst = true;
          this.wsecond = false;
          this.wthird = false;
          this.wfourth = false;
          this.wfifth = false;
          this.wsixth = false;
        }
        if (this.currentStudent.measures.length == 2) {
          this.wfirst = true;
          this.wsecond = true;
          this.wthird = false;
          this.wfourth = false;
          this.wfifth = false;
          this.wsixth = false;
        }
        if (this.currentStudent.measures.length == 3) {
          this.wfirst = true;
          this.wsecond = true;
          this.wthird = true;
          this.wfourth = false;
          this.wfifth = false;
          this.wsixth = false;
        }
        if (this.currentStudent.measures.length == 4) {
          this.wfirst = true;
          this.wsecond = true;
          this.wthird = true;
          this.wfourth = true;
          this.wfifth = false;
          this.wsixth = false;
        }
        if (this.currentStudent.measures.length == 5) {
          this.wfirst = true;
          this.wsecond = true;
          this.wthird = true;
          this.wfourth = true;
          this.wfifth = true;
          this.wsixth = false;
        }
        if (this.currentStudent.measures.length == 6) {
          this.wfirst = true;
          this.wsecond = true;
          this.wthird = true;
          this.wfourth = true;
          this.wfifth = true;
          this.wsixth = true;
        }
      }
    },
    con_selectStd(std) {
      // console.log("student2", this.student2);
      if (this.currentStudent2 && this.currentStudent2.id === std.id) {
        this.con_showstudent = !this.con_showstudent;
        return;
      }
      this.$store.commit("setObject", { key: "currentStudent2", value: std });
      this.con_showstudent = true;
      this.form2 = JSON.parse(JSON.stringify(this.currentStudent2));

      if (!this.currentStudent2.measures) {
        // console.log("have no student measures");
        this.wfirst = false;
        this.wsecond = false;
        this.wthird = false;
        this.wfourth = false;
        this.wfifth = false;
        this.wsixth = false;
      } else {
        // console.log("if student measures exist");
        if (this.currentStudent2.measures.length == 1) {
          this.wfirst = true;
          this.wsecond = false;
          this.wthird = false;
          this.wfourth = false;
          this.wfifth = false;
          this.wsixth = false;
        }
        if (this.currentStudent2.measures.length == 2) {
          this.wfirst = true;
          this.wsecond = true;
          this.wthird = false;
          this.wfourth = false;
          this.wfifth = false;
          this.wsixth = false;
        }
        if (this.currentStudent2.measures.length == 3) {
          this.wfirst = true;
          this.wsecond = true;
          this.wthird = true;
          this.wfourth = false;
          this.wfifth = false;
          this.wsixth = false;
        }
        if (this.currentStudent2.measures.length == 4) {
          this.wfirst = true;
          this.wsecond = true;
          this.wthird = true;
          this.wfourth = true;
          this.wfifth = false;
          this.wsixth = false;
        }
        if (this.currentStudent2.measures.length == 5) {
          this.wfirst = true;
          this.wsecond = true;
          this.wthird = true;
          this.wfourth = true;
          this.wfifth = true;
          this.wsixth = false;
        }
        if (this.currentStudent2.measures.length == 6) {
          this.wfirst = true;
          this.wsecond = true;
          this.wthird = true;
          this.wfourth = true;
          this.wfifth = true;
          this.wsixth = true;
        }
      }
    },

    first: function() {
      this.measuretime = 1;
      this.$store.commit("setObject", {
        key: "measuretime",
        value: this.measuretime
      });
      this.$router.push("/evaluation_form");
    },
    second: function() {
      this.measuretime = 2;
      this.$store.commit("setObject", {
        key: "measuretime",
        value: this.measuretime
      });

      this.$router.push("/evaluation_form");
    },
    third: function() {
      this.measuretime = 3;
      this.$store.commit("setObject", {
        key: "measuretime",
        value: this.measuretime
      });

      this.$router.push("/evaluation_form");
    },
    fourth: function() {
      this.measuretime = 4;
      this.$store.commit("setObject", {
        key: "measuretime",
        value: this.measuretime
      });

      this.$router.push("/evaluation_form");
    },
    fifth: function() {
      this.measuretime = 5;
      this.$store.commit("setObject", {
        key: "measuretime",
        value: this.measuretime
      });

      this.$router.push("/evaluation_form");
    },
    sixth: function() {
      this.measuretime = 6;
      this.$store.commit("setObject", {
        key: "measuretime",
        value: this.measuretime
      });

      this.$router.push("/evaluation_form");
    },
    concluding_case() {
      this.showstudent = false;
      let _student = JSON.parse(JSON.stringify(this.currentStudent));
      _student.status = "concluding";
      // console.log("changed student status", _student.status);
      let ref;
      ref = fireDb.collection("students").doc(_student.id);
      ref.update({ status: _student.status }).then(() => {
        this.$store.commit("changStdStatus", _student.id, "concluding");
        this.concluding_std.push(_student);
        for (var i = 0; i < this.tracking_std.length; i++) {
          if (this.tracking_std[i].id === _student.id) {
            this.tracking_std.splice(i, 1);
            i--;
          }
        }
      }); 
    },
    delete_case() {
      this.con_showstudent = false;
      let _student2 = JSON.parse(JSON.stringify(this.currentStudent2));
      _student2.status = "delete_case";
      let ref;
      let _this = this;
      ref = fireDb.collection("students").doc(_student2.id);
      ref.update({ status: _student2.status }).then(() => {
        this.$store.commit("changStdStatus", _student2.id, "delete_case");
        for (var i = 0; i < this.concluding_std.length; i++) {
          if (this.concluding_std[i].id === _student2.id) {
            this.concluding_std.splice(i, 1);
            i--;
          }
        }
        for (var i = 0; i < this.students.length; i++) {
          let _students = JSON.parse(JSON.stringify(this.students));
          if (_students[i].id === _student2.id) {
            _students.splice(i, 1);
            i--;
            this.$store.commit("setObject", {
              key: "students",
              value: _students
            });
          }
        }
      });
    }
  },
  mounted() {
    //以下為做追蹤中學生清單--------------------------------------------
    // console.log("have to be new students", this.students);
    let _students = JSON.parse(JSON.stringify(this.students));
    this.temp_stdid = null;
    for (let i = 0; i < _students.length; i++) {
      if (_students[i].status == "tracking") {
        this.tracking_std.push(_students[i]);
      }
    }
    //-------------------------------------------------------------------------------
    //以下為做追蹤順序照轉出日期，較早轉出的放前面-----------------------------------
    for (let i = 0; i < this.tracking_std.length; i++) {
      // console.log("stdi", this.tracking_std[i]);
      // console.log("stdi+1", this.tracking_std[i + 1]);
      // console.log("old  tracking", this.tracking_std);
      if (
        this.tracking_std[i] &&
        this.tracking_std[i].outy &&
        this.tracking_std[i].outm &&
        this.tracking_std[i].outd &&
        this.tracking_std[i + 1] &&
        this.tracking_std[i + 1].outy &&
        this.tracking_std[i + 1].outm &&
        this.tracking_std[i + 1].outd &&
        parseInt(
          this.tracking_std[i].outy +
            this.tracking_std[i].outm +
            this.tracking_std[i].outd
        ) >
          parseInt(
            this.tracking_std[i + 1].outy +
              this.tracking_std[i + 1].outm +
              this.tracking_std[i + 1].outd
          )
      ) {
        let temp = this.tracking_std[i];
        this.tracking_std[i] = this.tracking_std[i + 1];
        this.tracking_std[i + 1] = temp;
        // console.log("newtracking", this.tracking_std);
      }
    }
    // console.log("tracking_std", this.tracking_std);
    //-------------------------------------------------------------------------------------

    //以下為已結案學生清單------------------------------------------------------------
    for (let i = 0; i < this.students.length; i++) {
      if (this.students[i].status == "concluding") {
        this.concluding_std.push(this.students[i]);
        // console.log("concluding_std", this.concluding_std);
      }
    }
    //--------------------------------------------------------------------------------------------
  }
};
</script>


<style scoped>
section {
  background: orange;
  margin: 30px 20px;
  padding: 12px;
}
</style>