<template>
  <div>
    <h1>兒童服務成效統計資料</h1>
    <div class="upload">
      <b-form-file
        class="mx-4"
        style="display:inline-block;width:300px"
        v-model="ifile"
        placeholder="選擇檔案匯入"
        drop-placeholder="把檔案拖到這裡來..."
      ></b-form-file>
      <b-button variant="dark" @click="certain_upload">確定上傳</b-button>
      <!-- </b-form-group> -->
    </div>
    <br />
    <br />

    <!-- 以下列出檔案 -->
    <span v-for="(fname,idx) in filenames" :key="`fname-${idx}`">
      {{idx+1}}.
      <b-button variant="sucess" @click="openfile(fname)">{{fname.filename}}</b-button>
      <br />
    </span>
  </div>
</template>

<script>
import { fireDb, fireFile } from "~/plugins/firebase.js";
import firebase from "firebase";

export default {
  data() {
    return {
      ifile: null
    };
  },
  methods: {
    async certain_upload() {
      var fileRef = fireFile.child(this.ifile.name);
      await fileRef.put(this.ifile).then(function(snapshot) {});
      // console.log("IFILE", this.ifile);

      // if (!this.filename) {
      if (this.filenames.length == 0) {
        //如果firebase裡沒有filenames，就set一個並commit到vuex裡的filenames裡
        var ref = fireDb.collection("filenames").doc();
        try {
          await ref.set({ filename: this.ifile.name }).then(() => {
            this.$store.commit("addItem", {
              key: "filenames",
              // value: { filename: this.ifile.name, id: result.id }
              value: { filename: this.ifile.name }
            });
            console.log("after commit  filenames", this.filenames);
          });
        } catch (e) {
          console.error(e);
        }
      } else {
        //如果filenames已經存在表示裡面已經有資料，使用addItem把新的值推進vuex裡的filenames
        var ref = fireDb.collection("filenames");
        await ref.add({ filename: this.ifile.name }).then(result => {
          // console.log("result2", result);
          this.$store.commit("addItem", {
            key: "filenames",
            value: { filename: this.ifile.name }
          });
        });
        // console.log("new filenames");
        // console.log("new filenames", this.filenames);
      }
      // .then(this.$router.push("/assess"));
    },
    openfile(fname) {
      console.log("fname", fname);
      var storage = firebase.storage();
      var pathReference = storage.ref(fname.filename);
      var _this = this;
      fireFile
        .child(fname.filename)
        .getDownloadURL()
        .then(function(url) {
          // console.log("url", url);

          var xhr = new XMLHttpRequest();
          //提出請求
          xhr.responseType = "blob";
          let filename = fname.filename;
          xhr.onload = function(event) {
            var blob = xhr.response;
            if (window.navigator.msSaveOrOpenBlob) {
              window.navigator.msSaveBlob(blob, filename);
            } else {
              var elem = window.document.createElement("a");
              elem.href = window.URL.createObjectURL(blob);
              elem.download = filename;
              document.body.appendChild(elem);
              elem.click();
              document.body.removeChild(elem);
            }
          };
          xhr.open("GET", url);
          xhr.send();
        });
    }
  },
  computed: {
    filenames() {
      return this.$store.state.filenames;
    }
  },
  mounted() {
    console.log("mounted filenames", this.filenames);
    if (this.filenames.length == 0) {
      //若filenames 沒有東西，從資料庫抓
      // if (!this.filenames) {
      // console.log("mounted filenames has nothing yet");
      fireDb
        .collection("filenames")
        .get()
        .then(results => {
          let allfilenames = [];
          if (!results.empty) {
            results.docs.forEach(doca => {
              let p = doca.data();
              // console.log("p", p);
              p.id = doca.id;
              // console.log("later p", p);
              allfilenames.push(p);
            });
            // console.log("after if allfilenames", allfilenames);
            this.$store.commit("concatItems", {
              key: "filenames",
              value: allfilenames
            });
            // console.log("mounted filenames", this.filenames);
          } else {
            console.log("No such filename");
          }
        });
    } else {
      // console.log("filenames exist");
      // console.log("filenames", this.filenames);
    }
  }
};
</script>
<style scoped>
.upload {
  text-align: center;
  margin-top: 70px;
  /* padding: 12px; */
}

h1 {
  text-align: center;
  margin-top: 20px;
}
</style>