<template>
  <b-container fluid>
    <section>
      <br />
      <br />
      <b-form>
   

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">學生姓名：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input readonly v-model="form.name" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">性別：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-radio-group  v-model="form.gender" name="gender">
                <b-form-radio   value="男">男生</b-form-radio>
                <b-form-radio value="女">女生</b-form-radio>
              </b-form-radio-group>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">年齡：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input readonly v-model="form.age" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">生日：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input readonly v-model="form.birth" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">身份證字號：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input readonly v-model="form.id" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">地址：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input readonly v-model="form.address" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">日托編號：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input readonly v-model="form.number" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">轉入日期：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input readonly v-model="form.enter" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">轉出學校：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input readonly v-model="form.goschool" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <b-form-group label="障礙類別：">&nbsp;</b-form-group>
            </b-col>
            <b-col sm="10">
              <b-form-checkbox-group v-model="form.obstacle" name="obstacle">
                <b-form-checkbox value="1">1</b-form-checkbox>
                <b-form-checkbox value="2">2</b-form-checkbox>
                <b-form-checkbox value="3">3</b-form-checkbox>
                <b-form-checkbox value="4">4</b-form-checkbox>
                <b-form-checkbox value="5">5</b-form-checkbox>
                <b-form-checkbox value="6">6</b-form-checkbox>
                <b-form-checkbox value="7">7</b-form-checkbox>
                <b-form-checkbox value="8">8</b-form-checkbox>其他：
                <input type="text" v-model="form.other" />
              </b-form-checkbox-group>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">父親名稱：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input readonly v-model="form.father" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">父親電話：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input readonly v-model="form.fathercell" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">母親名稱：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input readonly v-model="form.mother" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">母親電話：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input readonly v-model="form.mothercell" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">評量表：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-button variant="info">第一次</b-button>
              <b-button variant="info">第二次</b-button>
              <b-button variant="info">第三次</b-button>
              <b-button variant="info">第四次</b-button>
              <b-button variant="info">第五次</b-button>
              <b-button variant="info">第六次</b-button>
            </b-col>
          </b-row>
        </div>
        <br />
        <br />
      </b-form>

      <br />
      <br />
    </section>
  </b-container>
</template>

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";

export default {
  data() {
    return {
      form: {
        name: this.$store.state.stdata.name,
        gender: this.$store.state.stdata.gender,
        age: this.$store.state.stdata.age,
        birth: this.$store.state.stdata.birth,
        id: this.$store.state.stdata.id,
        address: this.$store.state.stdata.address,
        number: this.$store.state.stdata.number,
        enter: this.$store.state.stdata.enter,
        goschool: this.$store.state.stdata.goschool,
        father: this.$store.state.stdata.father,
        fathercell: this.$store.state.stdata.fathercell,
        mother: this.$store.state.stdata.mother,
        mothercell: this.$store.state.stdata.mothercell,
        obstacle: this.$store.state.stdata.obstacle,
        other: this.$store.state.stdata.other,
        dataform: this.$store.state.stdata.dataform
      }
    };
  },



  methods: {}
};
</script>

<style scoped>
section {
  width: 70%;
  /*background: #ffc8b4;*/
  margin: 24px auto;
  padding: 24px;
}
</style>