<template>
  <div fluid>
    <br />
    <br />
    <h1 style="text-align:center">畫圖測試</h1>
    <br />
    <br />

    <ChartLine class="chartline" :chartdata="chartdata" :options="options" />
    <!-- <p>enter sucess</p> -->
  </div>
</template>


<script>
import ChartLine from "@/components/ChartLine";

export default {
  data() {
    var k = this.dataprofile.measuretime;
    var datau = [10, this.apple, 30];
    return {
      apple:
        this.student.measures[k - 1].domain1.see.one +
        this.student.measures[k - 1].domain1.see.two +
        this.student.measures[k - 1].domain1.see.three,
      dataprofile: {
        measuretime: this.$store.state.dataprofile.measuretime,
        domain: ""
      },

      chartdata: {
        labels: [
          "視覺應用",
          "聽覺應用",
          "觸覺應用",
          "味嗅覺應用",
          "前庭及本體覺刺激",
          "姿勢控制",
          "轉換姿勢",
          "移動能力",
          "簡單運動技能",
          "抓放能力",
          "操作能力",
          "簡單勞作及書寫技能",
          "飲食",
          "如廁",
          "清潔與衛生",
          "穿著",
          "言語機轉",
          "語言理解",
          "口語表達",
          "溝通能力",
          "物體恆存概念",
          "簡單因果概念",
          "基本物概念",
          "顏色概念",
          "形狀概念",
          "比較概念",
          "空間概念",
          "符號概念",
          "數概念",
          "順序概念",
          "模仿",
          "記憶",
          "配對分類",
          "邏輯思考",
          "解決問題",
          "簡單閱讀",
          "自我概念",
          "環境適應",
          "人際互動",
          "遊戲特質"
        ],

        datasets: [
          {
            label: "整體發展側面圖",
            fill: false, // 是否填滿色彩
            lineTension: 0,
            backgroundColor: "#f87979",
            // data: [this.apple, 10, this.apple, 30]
            data: datau
          }
        ]
      },

      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{ id: "y-axis-1", ticks: { min: 0, max: 100 } }]
        }
      }
    };
  },

  mounted() {
    console.log("measuretime", this.$store.state.dataprofile.measuretime);
  },
  computed: {
    student() {
      return this.$store.state.stdata; //stdata是物件
    }
  },
  methods: {},
  computed: {
    student() {
      return this.$store.state.stdata;
    }
  },
  components: {
    ChartLine
  }
};
</script>