<template>
  <div>
    <section>班級資料</section>
    <Classlist  style="margin-left:30px;" />
    <section>學生資料</section>
    <b-row>
      <b-col cols="3">
        <Studentlist v-if="currentClass" />
      </b-col>

      <b-col cols="9">
        <div v-if="currentStudent">
          <Studentdata />
        </div>
      </b-col>
    </b-row>
    <div v-if="user_role">
      <b-button class="add" @click="addStudent" variant="primary">新增</b-button>
    </div>
    <br />
  </div>
</template>

<script>
import Classlist from "@/components/classlist.vue";
import Studentlist from "@/components/studentlist.vue";
import Studentdata from "@/components/studentdata.vue";
import { mapState } from "vuex";

export default {
  middleware: "authenticated",
  components: {
    Classlist,
    Studentlist,
    Studentdata
  },

  data() {
    return {
      showstudent: false,
      temp_stdid: "",
      classStudents: []
    };
  },
  computed: {
    ...mapState({
      // user: state => state.user,
      currentClass: state => state.currentClass,
      currentStudent: state => state.currentStudent,
      students: state => state.students,
      user: state => state.user
    }),
    user_role() {
      if (this.user && this.user.role == "teacher") {
        return false;
      } else {
        return true;
      }
    }
  },
  methods: {
    addStudent() {
      // this.$store.commit("setObject", {
      //   key: "currentStudent",
      //   value: null
      // }); //不清空學生資料會一直顯示，有時新增學生就不會即時顯示出來
      this.$router.push("/add_std");
    }
  }
};
</script>

<style scoped>
section {
  background: orange;
  margin: 30px 20px;
  padding: 12px;
}
.add{
  margin-left:65px;
  width:300px;
}
</style>