<template>
  <section>
    <div class="userdata" v-for="(loginPeople, idx) in userlist2" :key="`user-${idx}`">
      <b-row>
        <!-- <b-col cols="11"> -->
        {{idx+1.}}
        <b-col cols="2">
          <label for="input-default">姓名：</label>
          <b-form-input style="width:100px;" v-model="loginPeople.name" placeholder="name"></b-form-input>
        </b-col>
        <!-- <b-col cols="1"></b-col> -->
        <!-- <b-row> -->
        <b-col cols="2">
          <label for="input-default">角色：</label>
          <b-form>
            <!-- <b-row> -->
            <b-form-radio v-model="loginPeople.role" name="`option${idx}`" value="teacher">教保人員</b-form-radio>
            <br />
            <b-form-radio
              v-model="loginPeople.role"
              name="`option${idx}`"
              value="teacher_super"
            >教保督導</b-form-radio>
            <br />
            <b-form-radio v-model="loginPeople.role" name="`option${idx}`" value="social">社工人員</b-form-radio>
            <br />
            <b-form-radio v-model="loginPeople.role" name="`option${idx}`" value="social_super">社工督導</b-form-radio>
          </b-form>
        </b-col>

        <!-- <b-col cols="1"></b-col> -->
        <b-col cols="3">
          <label for="input-default">帳號：</label>
          <b-form-input style="width:250px;" v-model="loginPeople.account" placeholder="account"></b-form-input>
        </b-col>
        <!-- <b-col cols="1"></b-col> -->
        <b-col cols="2">
          <label for="input-default">密碼：</label>
          <b-form-input
            style="width:180px;"
            v-model="loginPeople.password"
            type="password"
            placeholder="password"
          ></b-form-input>
        </b-col>
        <b-col cols="2">
          <b-button variant="primary" class="modifyButton" @click="modify(loginPeople)">確定</b-button>
          <b-button variant="danger" class="moveButton" @click="moveout(loginPeople)">刪除</b-button>
        </b-col>
      </b-row>
      <hr />
    </div>
  </section>
</template>


<script>
import { mapState } from "vuex";
import { fireDb } from "~/plugins/firebase.js";
import firebase from "firebase";
export default {
  data() {
    return {
      userlist2: []
    };
  },
  computed: {
    ...mapState({
      userlist: state => state.userlist
    })
  },
  mounted() {
    // if (!this.userlist) { //多這個判斷，切換資料庫時無法即時抓取更換的資料庫的user資料
      let _this = this;
      fireDb
        .collection("user")
        .get()
        .then(results => {
          let users = [];
          results.forEach(result => {
            let p = result.data();
            p.id = result.id;
            if (p.role != "notExist") {
              users.push(p);
            }
          });
          // console.log("results", results);
          this.$store.commit("setObject", { key: "userlist", value: users });
          console.log("origin this.userlist", this.userlist);
        });
    // }
    this.userlist2 = JSON.parse(JSON.stringify(this.userlist));
    console.log("userlist2", this.userlist2);
  },

  methods: {
    async modify(mp) {
      // console.log("modify mpid", mp.id);
      // console.log("modify mp", mp);
      // console.log("modify");
      // console.log("id", mp);
      let _this = this;
      let docid = mp.id;
      let copyMp = mp;
      let ref = fireDb.collection("user").doc(docid);
      delete mp.id;
      let document = mp;
      // console.log("document", document);
      try {
        await ref.update(document).then(() => {
          // console.log("after await");
          for (let i = 0; i < this.userlist.length; i++) {
            // console.log("enter for");
            // console.log("userlistID", this.userlist[i].id);
            let _userlist = JSON.parse(JSON.stringify(this.userlist));
            if (this.userlist[i].id == docid) {
              // console.log("MATCH usreID",this.userlist[i].id);
              Object.assign(_userlist[i], copyMp);
              // console.log("改後的_userlist", _userlist);
              this.$store.commit("setObject", {
                key: "userlist",
                value: _userlist
              });
              this.userlist2 = JSON.parse(JSON.stringify(this.userlist));
              // console.log("New userlist2", this.userlist2);
              alert("已更新資料");
              // console.log("更信後的userlist", this.userlist);
            }
          }
        });
      } catch (e) {
        console.error(e);
      }
    },
    async moveout(mp) {
      console.log("mp", mp);
      console.log("mp.id", mp.id);
      let docid = mp.id;
      console.log("docid", docid);
      let copyMp = mp;
      let ref = fireDb.collection("user").doc(docid);
      delete mp.id;
      let document = mp;
      let _this = this;
      document.role = "notExist";
      console.log("DOC", document);
      try {
        ref
          .delete()
          .then(function() {
            for (let i = 0; i < _this.userlist.length; i++) {
              if (_this.userlist[i].id === docid) {
                let _userlist = JSON.parse(JSON.stringify(_this.userlist));
                _userlist.splice(i, 1);
                i--;
                _this.$store.commit("setObject", {
                  key: "userlist",
                  value: _userlist
                });
              }
            }
            _this.userlist2 = JSON.parse(JSON.stringify(_this.userlist));

            console.log("資料已移除!");
          })
          .catch(function(error) {
            console.error("Error removing document: ", error);
          });
      } catch (e) {
        console.error(e);
      }
    }
  }
};
</script>





<style scoped>
.userdata {
  margin-left: 100px;
}

section {
  margin-top:50px;
  margin-left:80px;
  width:1400px;
}
/* .modifyButton {
}

.moveButton {
} */
</style>
