<template>
  <div>
    <section>資料分析類別</section>
    <div style="margin-left:30px;">
      <b-button @click="personal" :variant="openpersonal==true ? 'primary' : 'outline-primary'">個人</b-button>&nbsp;
      <b-button @click="anaclass" :variant="openclass==true ? 'primary' : 'outline-primary'">班級</b-button>&nbsp;
      <b-button
        @click="whole_center"
        :variant="openWholeCenter==true ? 'primary' : 'outline-primary'"
      >全中心</b-button>&nbsp;
    </div>

    <section>資料分析結果</section>
    <Classlist style="margin-left:20px" v-if="openpersonal" />
    <br />
    <b-row>
      <b-col cols="3">
        <Studentlist2 v-if="currentClass" />
      </b-col>
      <b-col cols="9">
        <PersonalAnalysis v-if="currentStudent" />
      </b-col>
    </b-row>
    <ClassAnalysis v-if="openclass" />

    <WholeCenterAnalysis v-if="openWholeCenter" />
  </div>
</template>

<script>
// import firebase from "firebase";
// import { fireDb } from "~/plugins/firebase.js";
import { mapState } from "vuex";
import Classlist from "@/components/classlist.vue";
import Studentlist2 from "@/components/studentlist2.vue";
import PersonalAnalysis from "@/components/PersonalAnalysis.vue";
import ClassAnalysis from "@/components/ClassAnalysis.vue";
import WholeCenterAnalysis from "@/components/WholeCenterAnalysis.vue";

export default {
  data() {
    return {
      openpersonal: true,
      openclass: false,
      openWholeCenter: false
    };
  },
  created() {
    this.$store.commit("setObject", {
      key: "currentStudent",
      value: null
    });
    // console.log("currentStd", this.currentStudent);
  },
  computed: {
    ...mapState({
      classes: state => state.classes,
      students: state => state.students,
      currentClass: state => state.currentClass,
      currentStudent: state => state.currentStudent
    })
  },

  components: {
    Classlist,
    Studentlist2,
    PersonalAnalysis,
    ClassAnalysis,
    WholeCenterAnalysis
  },
  methods: {
    personal() {
      //   console.log("currentClass", this.currentClass);
      this.openWholeCenter = false;
      this.openclass = false;
      this.openpersonal = true;
      return;
    },
    anaclass() {
      this.openpersonal = false;
      this.openWholeCenter = false;
      this.openclass = true;
      this.$store.commit("setObject", {
        key: "currentClass",
        value: null
      });
      this.$store.commit("setObject", {
        key: "currentStudent",
        value: null
      });
    },
    whole_center() {
      this.openpersonal = false;
      this.openclass = false;
      this.openWholeCenter = true;
      this.$store.commit("setObject", {
        key: "currentClass",
        value: null
      });
      this.$store.commit("setObject", {
        key: "currentStudent",
        value: null
      });
    }
  }
};
</script>

<style scoped>
section {
  background: orange;
  margin: 30px 20px;
  padding: 12px;
}
</style>