<template>
  <div fluid>
    <br />
    <br />
    <h1 style="text-align:center">整體發展側面圖</h1>
    <br />
    <br />
    <p style="margin-left:1400px;">
      x軸：項目
      <br />y軸：百分比
    </p>

    <chart-line :chart-data="chartdata" :options="options" />

    <br />

    <section>
      <div fluid>
        <b-tabs content-class="mt-3">
          <b-tab title="領域一" active>
            <b-row style="margin-left:1px;">
              <b-col cols="1">
                <p>視覺應用：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="see2" placeholder></b-form-input>
              </b-col>
              <!-- <c-col cols="10"></c-col> -->
            </b-row>

            <b-row style="margin-left:1px;">
              <b-col cols="1">
                <p>聽覺應用：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="listen2" placeholder></b-form-input>
              </b-col>
              <!-- <b-col cols="10"></b-col> -->
            </b-row>

            <b-row style="margin-left:1px;">
              <b-col cols="1">
                <p>觸覺應用：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="touch2" placeholder></b-form-input>
              </b-col>
              <!-- <b-col cols="10"></b-col> -->
            </b-row>

            <b-row style="margin-left:1px;">
              <b-col cols="1">
                <p>味嗅覺刺激：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="smell2" placeholder></b-form-input>
              </b-col>
              <!-- <b-col cols="10"></b-col> -->
            </b-row>

            <b-row style="margin-left:1px;">
              <b-col cols="1">
                <p>前庭及本體覺刺激：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="final2" placeholder></b-form-input>
              </b-col>
            </b-row>
          </b-tab>

          <b-tab title="領域二">
            <b-row style="margin-left:80px;">
              <b-col cols="1">
                <p>姿勢控制：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="posture_control2" placeholder></b-form-input>
              </b-col>
              <b-col></b-col>
            </b-row>

            <b-row style="margin-left:80px;">
              <b-col cols="1">
                <p>轉換姿勢：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="change_posture2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:80px;">
              <b-col cols="1">
                <p>移動能力：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="move2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:80px;">
              <b-col cols="1">
                <p>簡單運動技能：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="sport2" placeholder></b-form-input>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="領域三">
            <b-row style="margin-left:165px;">
              <b-col cols="1">
                <p>抓放能力：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="take2" placeholder></b-form-input>
              </b-col>
              <b-col></b-col>
            </b-row>

            <b-row style="margin-left:165px;">
              <b-col cols="1">
                <p>操作能力：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="operation2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:165px;">
              <b-col cols="1">
                <p>簡單勞作及書寫技能：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="art2" placeholder></b-form-input>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="領域四">
            <b-row style="margin-left:250px;">
              <b-col cols="1">
                <p>飲食：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="eat2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:250px;">
              <b-col cols="1">
                <p>如廁：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="toilet2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:250px;">
              <b-col cols="1">
                <p>清潔與衛生：</p>
              </b-col>

              <b-col cols="1">
                <b-form-input v-model="clean2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:250px;">
              <b-col cols="1">
                <p>穿著：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="dress2" placeholder></b-form-input>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="領域五">
            <b-row style="margin-left:340px;">
              <b-col cols="1.5">
                <p>言語機轉：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="language2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:340px;">
              <b-col cols="1.5">
                <p>語言理解：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="language_comp2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:340px;">
              <b-col cols="1.5">
                <p>口語表達：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="compress2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:330px;">
              <b-col cols="1.5">
                <p>
                  溝通能力
                  <br />(語用能力)：
                </p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="communication2" placeholder></b-form-input>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="領域六">
            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>概念理解-物體恆存概念：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="concept1n2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>概念理解-簡單因果概念：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="concept2n2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>概念理解-基本物概念：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="concept3n2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>概念理解-顏色概念：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="concept4n2" placeholder></b-form-input>
              </b-col>
            </b-row>
            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>概念理解-形狀概念：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="concept5n2" placeholder></b-form-input>
              </b-col>
            </b-row>
            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>概念理解-比較概念：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="concept6n2" placeholder></b-form-input>
              </b-col>
            </b-row>
            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>概念理解-空間概念：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="concept7n2" placeholder></b-form-input>
              </b-col>
            </b-row>
            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>概念理解-符號概念：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="concept8n2" placeholder></b-form-input>
              </b-col>
            </b-row>
            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>概念理解-數概念：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="concept9n2" placeholder></b-form-input>
              </b-col>
            </b-row>
            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>概念理解-順序概念：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="concept10n2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:453px;">
              <b-col cols="1.5">
                <p>模仿：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="imitate2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:453px;">
              <b-col cols="1.5">
                <p>記憶：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="memory2" placeholder></b-form-input>
              </b-col>
            </b-row>

            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>配對分類：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="match2" placeholder></b-form-input>
              </b-col>
            </b-row>
            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>邏輯思考：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="logic2" placeholder></b-form-input>
              </b-col>
            </b-row>
            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>解決問題：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="solve2" placeholder></b-form-input>
              </b-col>
            </b-row>
            <b-row style="margin-left:420px;">
              <b-col cols="1.5">
                <p>簡單閱讀：</p>
              </b-col>
              <b-col cols="1">
                <b-form-input v-model="read2" placeholder></b-form-input>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="領域七">
            <b-row style="margin-left:500px;">
              <b-col cols="1.5">
                <p>自我概念：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="self2" placeholder></b-form-input>
              </b-col>
            </b-row>
            <b-row style="margin-left:500px;">
              <b-col cols="1.5">
                <p>環境適應：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="adapt2" placeholder></b-form-input>
              </b-col>
            </b-row>
            <b-row style="margin-left:500px;">
              <b-col cols="1.5">
                <p>人際互動：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="interact2" placeholder></b-form-input>
              </b-col>
            </b-row>
            <b-row style="margin-left:500px;">
              <b-col cols="1.5">
                <p>遊戲特質：</p>
              </b-col>
              <b-col cols="2">
                <b-form-input v-model="game2" placeholder></b-form-input>
              </b-col>
            </b-row>
          </b-tab>
        </b-tabs>
      </div>
    </section>
  </div>
</template>


<script>
import ChartLine from "@/components/ChartLine";
import { mapState } from "vuex";
export default {
  components: {
    ChartLine
  },
  data() {
    return {
      see: "",
      listen: "",
      touch: "",
      smell: "",
      final: "",
      posture_control: "",
      change_posture: "",
      move: "",
      sport: "",
      take: "",
      operation: "",
      art: "",
      eat: "",
      toilet: "",
      clean: "",
      dress: "",
      language: "",
      language_comp: "",
      compress: "",
      communication: "",
      concept1: "",
      concept2: "",
      concept3: "",
      concept4: "",
      concept5: "",
      concept6: "",
      concept7: "",
      concept8: "",
      concept9: "",
      concept10: "",
      imitate: "",
      memory: "",
      match: "",
      logic: "",
      solve: "",
      read: "",
      self: "",
      adapt: "",
      interact: "",
      game: "",
      //以下為顯示細資料用 顯示資料及各自不同的總分
      see2: "",
      listen2: "",
      touch2: "",
      smell2: "",
      final2: "",
      posture_control2: "",
      change_posture2: "",
      move2: "",
      sport2: "",
      take2: "",
      operation2: "",
      art2: "",
      eat2: "",
      toilet2: "",
      clean2: "",
      dress2: "",
      language2: "",
      language_comp2: "",
      compress2: "",
      communication2: "",
      concept1n2: "",
      concept2n2: "",
      concept3n2: "",
      concept4n2: "",
      concept5n2: "",
      concept6n2: "",
      concept7n2: "",
      concept8n2: "",
      concept9n2: "",
      concept10n2: "",
      imitate2: "",
      memory2: "",
      match2: "",
      logic2: "",
      solve2: "",
      read2: "",
      self2: "",
      adapt2: "",
      interact2: "",
      game2: "",
      measuretime: this.$store.state.measuretime,
      chartdata: null,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{ id: "y-axis-1", ticks: { min: 0, max: 100 } }]
        }
      }
    };
  },

  mounted() {
    let k = this.measuretime;
    if (
      this.currentStudent.measures &&
      this.currentStudent.measures[k - 1].domain1 &&
      this.currentStudent.measures[k - 1].domain2 &&
      this.currentStudent.measures[k - 1].domain3 &&
      this.currentStudent.measures[k - 1].domain4 &&
      this.currentStudent.measures[k - 1].domain5 &&
      this.currentStudent.measures[k - 1].domain6 &&
      this.currentStudent.measures[k - 1].domain7
    ) {
      this.see =
        parseInt(this.currentStudent.measures[k - 1].domain1.see.one) +
        parseInt(this.currentStudent.measures[k - 1].domain1.see.two) +
        parseInt(this.currentStudent.measures[k - 1].domain1.see.three) +
        parseInt(this.currentStudent.measures[k - 1].domain1.see.four) +
        parseInt(this.currentStudent.measures[k - 1].domain1.see.five) +
        parseInt(this.currentStudent.measures[k - 1].domain1.see.six) +
        parseInt(this.currentStudent.measures[k - 1].domain1.see.seven);
      this.see2 = this.see + "/28";

      // console.log("see", this.see);
      this.listen =
        parseInt(this.currentStudent.measures[k - 1].domain1.listen.one) +
        parseInt(this.currentStudent.measures[k - 1].domain1.listen.two) +
        parseInt(this.currentStudent.measures[k - 1].domain1.listen.three) +
        parseInt(this.currentStudent.measures[k - 1].domain1.listen.four) +
        parseInt(this.currentStudent.measures[k - 1].domain1.listen.five) +
        parseInt(this.currentStudent.measures[k - 1].domain1.listen.six);
      this.listen2 = this.listen + "/24";
      this.touch =
        parseInt(this.currentStudent.measures[k - 1].domain1.touch.one) +
        parseInt(this.currentStudent.measures[k - 1].domain1.touch.two) +
        parseInt(this.currentStudent.measures[k - 1].domain1.touch.three) +
        parseInt(this.currentStudent.measures[k - 1].domain1.touch.four) +
        parseInt(this.currentStudent.measures[k - 1].domain1.touch.five) +
        parseInt(this.currentStudent.measures[k - 1].domain1.touch.six) +
        parseInt(this.currentStudent.measures[k - 1].domain1.touch.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain1.touch.eight) +
        parseInt(this.currentStudent.measures[k - 1].domain1.touch.nine);
      // console.log("touch", this.touch);
      this.touch2 = this.touch + "/36";
      this.smell =
        parseInt(this.currentStudent.measures[k - 1].domain1.smell.one) +
        parseInt(this.currentStudent.measures[k - 1].domain1.smell.two) +
        parseInt(this.currentStudent.measures[k - 1].domain1.smell.three) +
        parseInt(this.currentStudent.measures[k - 1].domain1.smell.four);
      this.smell2 = this.smell + "/16";
      this.final =
        parseInt(this.currentStudent.measures[k - 1].domain1.final.one) +
        parseInt(this.currentStudent.measures[k - 1].domain1.final.two) +
        parseInt(this.currentStudent.measures[k - 1].domain1.final.three) +
        parseInt(this.currentStudent.measures[k - 1].domain1.final.four) +
        parseInt(this.currentStudent.measures[k - 1].domain1.final.five) +
        parseInt(this.currentStudent.measures[k - 1].domain1.final.six);
      this.final2 = this.final + "/24";
      this.posture_control =
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.one
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.two
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.three
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.four
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.five
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.six
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.seven
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.eight
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.nine
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.ten
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.eleven
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.twelve
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.thirteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.posture_control.fourteen
        );
      this.posture_control2 = this.posture_control + "/56";
      this.change_posture =
        parseInt(
          this.currentStudent.measures[k - 1].domain2.change_posture.one
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.change_posture.two
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.change_posture.three
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.change_posture.four
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.change_posture.five
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.change_posture.six
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.change_posture.seven
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.change_posture.eight
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.change_posture.nine
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain2.change_posture.ten
        );
      this.change_posture2 = this.change_posture + "/40";
      this.move =
        parseInt(this.currentStudent.measures[k - 1].domain2.move.one) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.two) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.three) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.four) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.five) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.six) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.eight) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.nine) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.ten) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.eleven) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.twelve) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.thirteen) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.fourteen) +
        parseInt(this.currentStudent.measures[k - 1].domain2.move.fifteen);
      this.move2 = this.move + "/60";
      this.sport =
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.one) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.two) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.three) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.four) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.five) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.six) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.eight) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.nine) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.ten) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.eleven) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.twelve) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.thirteen) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.fourteen) +
        parseInt(this.currentStudent.measures[k - 1].domain2.sport.fifteen);
      this.sport2 = this.sport + "/60";
      this.take =
        parseInt(this.currentStudent.measures[k - 1].domain3.take.one) +
        parseInt(this.currentStudent.measures[k - 1].domain3.take.two) +
        parseInt(this.currentStudent.measures[k - 1].domain3.take.three) +
        parseInt(this.currentStudent.measures[k - 1].domain3.take.four) +
        parseInt(this.currentStudent.measures[k - 1].domain3.take.five) +
        parseInt(this.currentStudent.measures[k - 1].domain3.take.six) +
        parseInt(this.currentStudent.measures[k - 1].domain3.take.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain3.take.eight);
      this.take2 = this.take + "/32";

      this.operation =
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.one) +
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.two) +
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.three) +
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.four) +
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.five) +
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.six) +
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.eight) +
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.nine) +
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.ten) +
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.eleven) +
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.twelve) +
        parseInt(
          this.currentStudent.measures[k - 1].domain3.operation.thirteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain3.operation.fourteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain3.operation.fifteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain3.operation.sixteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain3.operation.seventeen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain3.operation.eighteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain3.operation.nineteen
        ) +
        parseInt(this.currentStudent.measures[k - 1].domain3.operation.twenty);
      this.operation2 = this.operation + "/80";
      this.art =
        parseInt(this.currentStudent.measures[k - 1].domain3.art.one) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.two) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.three) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.four) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.five) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.six) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.eight) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.nine) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.ten) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.eleven) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.twelve) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.thirteen) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.fourteen) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.fifteen) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.sixteen) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.seventeen) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.eighteen) +
        parseInt(this.currentStudent.measures[k - 1].domain3.art.nineteen);
      this.art2 = this.art + "/76";
      this.eat =
        parseInt(this.currentStudent.measures[k - 1].domain4.eat.one) +
        parseInt(this.currentStudent.measures[k - 1].domain4.eat.two) +
        parseInt(this.currentStudent.measures[k - 1].domain4.eat.three) +
        parseInt(this.currentStudent.measures[k - 1].domain4.eat.four) +
        parseInt(this.currentStudent.measures[k - 1].domain4.eat.five) +
        parseInt(this.currentStudent.measures[k - 1].domain4.eat.six) +
        parseInt(this.currentStudent.measures[k - 1].domain4.eat.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain4.eat.eight) +
        parseInt(this.currentStudent.measures[k - 1].domain4.eat.nine) +
        parseInt(this.currentStudent.measures[k - 1].domain4.eat.ten) +
        parseInt(this.currentStudent.measures[k - 1].domain4.eat.eleven);
      this.eat2 = this.eat + "/44";
      this.toilet =
        parseInt(this.currentStudent.measures[k - 1].domain4.toilet.one) +
        parseInt(this.currentStudent.measures[k - 1].domain4.toilet.two) +
        parseInt(this.currentStudent.measures[k - 1].domain4.toilet.three) +
        parseInt(this.currentStudent.measures[k - 1].domain4.toilet.four) +
        parseInt(this.currentStudent.measures[k - 1].domain4.toilet.five) +
        parseInt(this.currentStudent.measures[k - 1].domain4.toilet.six) +
        parseInt(this.currentStudent.measures[k - 1].domain4.toilet.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain4.toilet.eight) +
        parseInt(this.currentStudent.measures[k - 1].domain4.toilet.nine);
      this.toilet2 = this.toilet + "/36";
      this.clean =
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.one) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.two) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.three) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.four) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.five) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.six) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.eight) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.nine) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.ten) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.eleven) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.twelve) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.thirteen) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.fourteen) +
        parseInt(this.currentStudent.measures[k - 1].domain4.clean.fifteen);
      this.clean2 = this.clean + "/60";
      this.dress =
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.one) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.two) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.three) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.four) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.five) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.six) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.eight) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.nine) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.ten) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.eleven) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.twelve) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.thirteen) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.fourteen) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.fifteen) +
        parseInt(this.currentStudent.measures[k - 1].domain4.dress.sixteen);
      this.dress2 = this.dress + "/64";
      this.language =
        parseInt(this.currentStudent.measures[k - 1].domain5.language.one) +
        parseInt(this.currentStudent.measures[k - 1].domain5.language.two) +
        parseInt(this.currentStudent.measures[k - 1].domain5.language.three) +
        parseInt(this.currentStudent.measures[k - 1].domain5.language.four) +
        parseInt(this.currentStudent.measures[k - 1].domain5.language.five) +
        parseInt(this.currentStudent.measures[k - 1].domain5.language.six) +
        parseInt(this.currentStudent.measures[k - 1].domain5.language.seven);
      this.language2 = this.language + "/28";
      this.language_comp =
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.one
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.two
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.three
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.four
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.five
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.six
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.seven
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.eight
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.nine
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.ten
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.eleven
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.twelve
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.thirteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.fourteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.fifteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.sixteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.seventeen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.eighteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.nineteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.twenty
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.twenty_one
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.twenty_two
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.language_comp.twenty_three
        );
      this.language_comp2 = this.language_comp + "/92";
      // console.log(
      //   "this.currentStudent.measures[k - 1].domain5.compress.one=",
      //   this.currentStudent.measures[k - 1].domain5.compress.one
      // );
      this.compress =
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.one) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.two) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.three) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.four) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.five) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.six) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.eight) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.nine) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.ten) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.eleven) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.twelve) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.compress.thirteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.compress.fourteen
        ) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.fifteen) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.sixteen) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.compress.seventeen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.compress.eighteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.compress.nineteen
        ) +
        parseInt(this.currentStudent.measures[k - 1].domain5.compress.twenty) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.compress.twenty_one
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.compress.twenty_two
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.compress.twenty_three
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.compress.twenty_four
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.compress.twenty_five
        );
      // console.log("compress", this.compress);
      this.compress2 = this.compress + "/100";
      // console.log("compress2", this.compress2);
      this.communication =
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.one
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.two
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.three
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.four
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.five
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.six
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.seven
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.eight
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.nine
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.ten
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.eleven
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.twelve
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.thirteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.fourteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.fifteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.sixteen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.seventeen
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain5.communication.eighteen
        );
      this.communication2 = this.communication + "/72";
      // console.log(
      //   "this.currentStudent.measures[k - 1].domain6=",
      //   this.currentStudent.measures[k - 1].domain6
      // );

      this.concept1 =
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.one) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.two) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.three);
      this.concept1n2 = this.concept1 + "/12";
      this.concept2 =
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.four) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.five) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.six);
      this.concept2n2 = this.concept2 + "/12";
      this.concept3 =
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.eight) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.nine) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.ten) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.eleven) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.twelve) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.thirteen);
      this.concept3n2 = this.concept3 + "/28";
      this.concept4 =
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.fourteen) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.fifteen) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.sixteen) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.seventeen
        ) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.eighteen);
      this.concept4n2 = this.concept4 + "/20";
      this.concept5 =
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.nineteen) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.twenty) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.twenty_one
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.twenty_two
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.twenty_three
        );
      this.concept5n2 = this.concept5 + "/20";
      this.concept6 =
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.twenty_four
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.twenty_five
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.twenty_six
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.twenty_seven
        );
      this.concept6n2 = this.concept6 + "/16";

      this.concept7 =
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.twenty_eight
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.twenty_nine
        ) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.thirty) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.thirty_one
        );
      this.concept7n2 = this.concept7 + "/16";

      this.concept8 =
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.thirty_two
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.thirty_three
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.thirty_four
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.thirty_five
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.thirty_six
        );
      this.concept8n2 = this.concept8 + "/20";

      this.concept9 =
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.thirty_seven
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.thirty_eight
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.thirty_nine
        ) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.forty) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.forty_one
        ) +
        parseInt(this.currentStudent.measures[k - 1].domain6.concept.forty_two);
      this.concept9n2 = this.concept9 + "/24";
      this.concept10 =
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.forty_three
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.forty_four
        ) +
        parseInt(
          this.currentStudent.measures[k - 1].domain6.concept.forty_five
        );
      this.concept10n2 = this.concept10 + "/12";

      this.imitate =
        parseInt(this.currentStudent.measures[k - 1].domain6.imitate.one) +
        parseInt(this.currentStudent.measures[k - 1].domain6.imitate.two) +
        parseInt(this.currentStudent.measures[k - 1].domain6.imitate.three) +
        parseInt(this.currentStudent.measures[k - 1].domain6.imitate.four);
      this.imitate2 = this.imitate + "/16";
      this.memory =
        parseInt(this.currentStudent.measures[k - 1].domain6.memory.one) +
        parseInt(this.currentStudent.measures[k - 1].domain6.memory.two) +
        parseInt(this.currentStudent.measures[k - 1].domain6.memory.three) +
        parseInt(this.currentStudent.measures[k - 1].domain6.memory.four) +
        parseInt(this.currentStudent.measures[k - 1].domain6.memory.five) +
        parseInt(this.currentStudent.measures[k - 1].domain6.memory.six);
      this.memory2 = this.memory + "/24";
      console.log("memory", this.memory);
      console.log("memory2", this.memory2);

      this.match =
        parseInt(this.currentStudent.measures[k - 1].domain6.match.one) +
        parseInt(this.currentStudent.measures[k - 1].domain6.match.two) +
        parseInt(this.currentStudent.measures[k - 1].domain6.match.three) +
        parseInt(this.currentStudent.measures[k - 1].domain6.match.four);
      this.match2 = this.match + "/16";
      this.logic =
        parseInt(this.currentStudent.measures[k - 1].domain6.logic.one) +
        parseInt(this.currentStudent.measures[k - 1].domain6.logic.two) +
        parseInt(this.currentStudent.measures[k - 1].domain6.logic.three);
      this.logic2 = this.logic + "/12";
      this.solve =
        parseInt(this.currentStudent.measures[k - 1].domain6.solve.one) +
        parseInt(this.currentStudent.measures[k - 1].domain6.solve.two) +
        parseInt(this.currentStudent.measures[k - 1].domain6.solve.three) +
        parseInt(this.currentStudent.measures[k - 1].domain6.solve.four);
      this.solve2 = this.solve + "/16";
      this.read =
        parseInt(this.currentStudent.measures[k - 1].domain6.read.one) +
        parseInt(this.currentStudent.measures[k - 1].domain6.read.two) +
        parseInt(this.currentStudent.measures[k - 1].domain6.read.three) +
        parseInt(this.currentStudent.measures[k - 1].domain6.read.four) +
        parseInt(this.currentStudent.measures[k - 1].domain6.read.five);
      this.read2 = this.read + "/20";
      this.self =
        parseInt(this.currentStudent.measures[k - 1].domain7.self.one) +
        parseInt(this.currentStudent.measures[k - 1].domain7.self.two) +
        parseInt(this.currentStudent.measures[k - 1].domain7.self.three) +
        parseInt(this.currentStudent.measures[k - 1].domain7.self.four) +
        parseInt(this.currentStudent.measures[k - 1].domain7.self.five) +
        parseInt(this.currentStudent.measures[k - 1].domain7.self.six) +
        parseInt(this.currentStudent.measures[k - 1].domain7.self.seven);
      this.self2 = this.self + "/28";
      this.adapt =
        parseInt(this.currentStudent.measures[k - 1].domain7.adapt.one) +
        parseInt(this.currentStudent.measures[k - 1].domain7.adapt.two) +
        parseInt(this.currentStudent.measures[k - 1].domain7.adapt.three) +
        parseInt(this.currentStudent.measures[k - 1].domain7.adapt.four) +
        parseInt(this.currentStudent.measures[k - 1].domain7.adapt.five) +
        parseInt(this.currentStudent.measures[k - 1].domain7.adapt.six) +
        parseInt(this.currentStudent.measures[k - 1].domain7.adapt.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain7.adapt.eight) +
        parseInt(this.currentStudent.measures[k - 1].domain7.adapt.nine) +
        parseInt(this.currentStudent.measures[k - 1].domain7.adapt.ten);
      this.adapt2 = this.adapt + "/40";
      this.interact =
        parseInt(this.currentStudent.measures[k - 1].domain7.interact.one) +
        parseInt(this.currentStudent.measures[k - 1].domain7.interact.two) +
        parseInt(this.currentStudent.measures[k - 1].domain7.interact.three) +
        parseInt(this.currentStudent.measures[k - 1].domain7.interact.four) +
        parseInt(this.currentStudent.measures[k - 1].domain7.interact.five) +
        parseInt(this.currentStudent.measures[k - 1].domain7.interact.six) +
        parseInt(this.currentStudent.measures[k - 1].domain7.interact.seven) +
        parseInt(this.currentStudent.measures[k - 1].domain7.interact.eight);
      this.interact2 = this.interact + "/32";
      this.game =
        parseInt(this.currentStudent.measures[k - 1].domain7.game.one) +
        parseInt(this.currentStudent.measures[k - 1].domain7.game.two) +
        parseInt(this.currentStudent.measures[k - 1].domain7.game.three) +
        parseInt(this.currentStudent.measures[k - 1].domain7.game.four) +
        parseInt(this.currentStudent.measures[k - 1].domain7.game.five);
      this.game2 = this.game + "/20";
      this.chartdata = {
        labels: [
          "視覺應用",
          "聽覺應用",
          "觸覺應用",
          "味嗅覺應用",
          "前庭及本體覺刺激",
          "姿勢控制",
          "轉換姿勢",
          "移動能力",
          "簡單運動技能",
          "抓放能力",
          "操作能力",
          "簡單勞作及書寫技能",
          "飲食",
          "如廁",
          "清潔與衛生",
          "穿著",
          "言語機轉",
          "語言理解",
          "口語表達",
          "溝通能力",
          "概念理解-物體恆存",
          "概念理解-簡單因果",
          "概念理解-基本物",
          "概念理解-顏色",
          "概念理解-形狀",
          "概念理解-比較",
          "概念理解-空間",
          "概念理解-符號",
          "概念理解-數",
          "概念理解-順序",
          "模仿",
          "記憶",
          "配對分類",
          "邏輯思考",
          "解決問題",
          "簡單閱讀",
          "自我概念",
          "環境適應",
          "人際互動",
          "遊戲特質"
        ],
        datasets: [
          {
            label: "整體發展側面圖",
            fill: false, // 是否填滿色彩
            lineTension: 0,
            backgroundColor: "#f87979",
            data: [
              (this.see / 28) * 100,
              (this.listen / 24) * 100,
              (this.touch / 36) * 100,
              (this.smell / 16) * 100,
              (this.final / 24) * 100,
              (this.posture_control / 56) * 100,
              (this.change_posture / 40) * 100,
              (this.move / 60) * 100,
              (this.sport / 60) * 100,
              (this.take / 32) * 100,
              (this.operation / 80) * 100,
              (this.art / 76) * 100,
              (this.eat / 44) * 100,
              (this.toilet / 36) * 100,
              (this.clean / 60) * 100,
              (this.dress / 64) * 100,
              (this.language / 28) * 100,
              (this.language_comp / 92) * 100,
              (this.compress / 100) * 100,
              (this.communication / 72) * 100,
              (this.concept1 / 12) * 100,
              (this.concept2 / 12) * 100,
              (this.concept3 / 21) * 100,
              (this.concept4 / 20) * 100,
              (this.concept5 / 20) * 100,
              (this.concept6 / 16) * 100,
              (this.concept7 / 16) * 100,
              (this.concept8 / 20) * 100,
              (this.concept9 / 24) * 100,
              (this.concept10 / 12) * 100,
              (this.imitate / 16) * 100,
              (this.memory / 24) * 100,
              (this.match / 16) * 100,
              (this.logic / 12) * 100,
              (this.solve / 16) * 100,
              (this.read / 20) * 100,
              (this.self / 28) * 100,
              (this.adapt / 40) * 100,
              (this.interact / 32) * 100,
              (this.game / 20) * 100
            ]
          }
        ]
      };
    } else {
      alert("您尚未完成本次所有領域填寫，所以暫時還看不到整體發展側面圖唷！");
      this.$router.push("/evaluation_form");
    }
  },

  computed: {
    ...mapState({
      //currentS tudent: state => state.currentStud ent  這粒！！！
      currentStudent: state => state.currentStudent
    })
  }
};
</script>

<style >
/* #domain2{
  margin-left: 65px;
} */
</style>
