<template>
  <b-container>
    <section>
      <br />
      <p class="p">姿勢控制</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>頭部控制：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>頭部轉動：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>肩部控制：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>肩部重量轉移：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>維持坐姿：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>坐姿轉身：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>四點跪：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>站立：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>站立轉身：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>雙膝跪直：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>雙膝跪轉身：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.eleven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>蹲：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.twelve"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>單腳站：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.thirteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>踮腳尖站：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.posture_control.fourteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />
      <b-button class="create_form" @click="create_form1">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic1">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />
      <br />

      <p class="p">轉換姿勢</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>趴睡至仰躺：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.change_posture.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>仰躺至趴睡：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.change_posture.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>由躺至坐：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.change_posture.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>由坐至躺：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.change_posture.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>由坐至四點跪：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.change_posture.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>由坐椅子至站：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.change_posture.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>由站至坐椅子：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.change_posture.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>由坐地板至站：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.change_posture.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>由站至蹲下：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.change_posture.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>由蹲至站：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.change_posture.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />
      <b-button class="create_form" @click="create_form2">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic2">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />
      <br />

      <p class="p">移動能力</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>左右翻滾：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>爬行：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">移動能力-行走能力</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>扶著走：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>行走控制：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>向前走直線：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>倒退走：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>行走平衡：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">移動能力-上下樓梯</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>兩腳上樓梯：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>兩腳下樓梯：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />
      <p class="p">一腳上樓梯</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>味覺接收：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>一腳下樓梯：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.eleven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <p class="p">移動能力-跳</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>由階梯跳下：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.twelve"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>雙腳跳：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.thirteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>單腳向前跳：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.fourteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">移動能力</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>跑步平衡：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.move.fifteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />
      <b-button class="create_form" @click="create_form3">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic3">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />
      <br />
      <p class="p">簡單運動技能</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>跳床：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>鑽籠：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>走平衡木：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>溜滑梯：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>盪鞦韆：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>跨越障礙物：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <p class="p">簡單運度技能-騎腳踏車</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>上下腳踏車：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>騎腳踏車：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">簡單運動技能-球類活動</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>滾大球：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>踢球：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>雙手接球：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.eleven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>單手過肩投球：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.twelve"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>丟接球：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.thirteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>連續拍球：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.fourteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <p class="p">簡單運動技能</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>跳格子遊戲：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.sport.fifteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />
      <b-button class="create_form" @click="create_form4">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic4">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />
      <br />

      <br />

      <b-button @click="submit">確定提交</b-button>
    </section>
  </b-container>
</template>

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
import ChartLine from "@/components/ChartLine";
import { mapState } from "vuex";

export default {
  data() {
    return {
      showpic1: false,
      showpic2: false,
      showpic3: false,
      showpic4: false,
      smeasure: [], //submit時用
      smeasures: {},
      whole_measures: [],
      form: {
        posture_control: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: "",
          eleven: "",
          twelve: "",
          thirteen: "",
          fourteen: ""
        },
        change_posture: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: ""
        },
        move: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: "",
          eleven: "",
          twelve: "",
          thirteen: "",
          fourteen: "",
          fifteen: ""
        },
        sport: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: "",
          eleven: "",
          twelve: "",
          thirteen: "",
          fourteen: "",
          fifteen: ""
        }
      },
      chartdata: {
        labels: [""],
        datasets: [
          {
            fill: false,
            lineTension: 0,
            backgroundColor: "#f87979",
            data: []
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scalses: {
          yAxes: [{ id: "y-axis-1", ticks: { min: 0, max: 4 } }]
        }
      },
      measuretime: this.$store.state.measuretime
    };
  },
  computed: {
    ...mapState({
      currentStudent: state => state.currentStudent,
      students: state => state.students
    })
  },

  methods: {
    create_form1() {
      if (this.showpic1 == false) {
        //    console.log("Call Create Form1");
        this.chartdata.datasets[0].label = "姿勢控制";
        this.chartdata.labels[0] = "頭部控制";
        this.chartdata.labels[1] = "頭部轉動";
        this.chartdata.labels[2] = "肩部控制";
        this.chartdata.labels[3] = "肩部重量移轉";
        this.chartdata.labels[4] = "維持坐姿";
        this.chartdata.labels[5] = "坐姿轉身";
        this.chartdata.labels[6] = "四點跪";
        this.chartdata.labels[7] = "站立";
        this.chartdata.labels[8] = "站立轉身";
        this.chartdata.labels[9] = "雙膝跪直";
        this.chartdata.labels[10] = "雙膝跪轉身";
        this.chartdata.labels[11] = "蹲";
        this.chartdata.labels[12] = "單腳站";
        this.chartdata.labels[13] = "踮腳尖站";
        this.chartdata.datasets[0].data[0] = this.form.posture_control.one;
        this.chartdata.datasets[0].data[1] = this.form.posture_control.two;
        this.chartdata.datasets[0].data[2] = this.form.posture_control.three;
        this.chartdata.datasets[0].data[3] = this.form.posture_control.four;
        this.chartdata.datasets[0].data[4] = this.form.posture_control.five;
        this.chartdata.datasets[0].data[5] = this.form.posture_control.six;
        this.chartdata.datasets[0].data[6] = this.form.posture_control.seven;
        this.chartdata.datasets[0].data[7] = this.form.posture_control.eight;
        this.chartdata.datasets[0].data[8] = this.form.posture_control.nine;
        this.chartdata.datasets[0].data[9] = this.form.posture_control.ten;
        this.chartdata.datasets[0].data[10] = this.form.posture_control.eleven;
        this.chartdata.datasets[0].data[11] = this.form.posture_control.twelve;
        this.chartdata.datasets[0].data[12] = this.form.posture_control.thirteen;
        this.chartdata.datasets[0].data[13] = this.form.posture_control.fourteen;

        this.showpic1 = true;
      } else {
        this.showpic1 = false;
      }
    },
    create_form2() {
      if (this.showpic2 == false) {
        this.chartdata.datasets[0].label = "轉換姿勢";
        this.chartdata.labels[0] = "趴睡至仰躺";
        this.chartdata.labels[1] = "仰躺至趴睡";
        this.chartdata.labels[2] = "由躺至坐";
        this.chartdata.labels[3] = "由坐至躺";
        this.chartdata.labels[4] = "由坐至四點跪";
        this.chartdata.labels[5] = "由坐椅子至站";
        this.chartdata.labels[6] = "由站至坐椅子";
        this.chartdata.labels[7] = "由坐地板至站";
        this.chartdata.labels[8] = "由站至蹲下";
        this.chartdata.labels[9] = "由蹲至站";
        this.chartdata.datasets[0].data[0] = this.form.change_posture.one;
        this.chartdata.datasets[0].data[1] = this.form.change_posture.two;
        this.chartdata.datasets[0].data[2] = this.form.change_posture.three;
        this.chartdata.datasets[0].data[3] = this.form.change_posture.four;
        this.chartdata.datasets[0].data[4] = this.form.change_posture.five;
        this.chartdata.datasets[0].data[5] = this.form.change_posture.six;
        this.chartdata.datasets[0].data[6] = this.form.change_posture.seven;
        this.chartdata.datasets[0].data[7] = this.form.change_posture.eight;
        this.chartdata.datasets[0].data[8] = this.form.change_posture.nine;
        this.chartdata.datasets[0].data[9] = this.form.change_posture.ten;

        this.showpic2 = true;
      } else {
        //設定再點一次圖會消失
        this.showpic2 = false;
      }
    },
    create_form3() {
      if (this.showpic3 == false) {
        this.chartdata.datasets[0].label = "移動能力";
        this.chartdata.labels[0] = "左右翻滾";
        this.chartdata.labels[1] = "爬行";
        this.chartdata.labels[2] = "行走能力-扶著走";
        this.chartdata.labels[3] = "行走能力-行走控制";
        this.chartdata.labels[4] = "行走能力-向前走直線";
        this.chartdata.labels[5] = "行走能力-倒退走";
        this.chartdata.labels[6] = "行走能力-行走平衡";
        this.chartdata.labels[7] = "上下樓梯-兩腳上樓梯";
        this.chartdata.labels[8] = "上下樓梯-兩腳下樓梯";
        this.chartdata.labels[9] = "上下樓梯-一腳上樓梯";
        this.chartdata.labels[10] = "上下樓梯-一腳下樓梯";
        this.chartdata.labels[11] = "跳-由階梯跳下";
        this.chartdata.labels[12] = "跳-雙腳跳";
        this.chartdata.labels[13] = "跳-單腳向前跳";
        this.chartdata.labels[14] = "跑步平衡";
        this.chartdata.datasets[0].data[0] = this.form.move.one;
        this.chartdata.datasets[0].data[1] = this.form.move.two;
        this.chartdata.datasets[0].data[2] = this.form.move.three;
        this.chartdata.datasets[0].data[3] = this.form.move.four;
        this.chartdata.datasets[0].data[4] = this.form.move.five;
        this.chartdata.datasets[0].data[5] = this.form.move.six;
        this.chartdata.datasets[0].data[6] = this.form.move.seven;
        this.chartdata.datasets[0].data[7] = this.form.move.eight;
        this.chartdata.datasets[0].data[8] = this.form.move.nine;
        this.chartdata.datasets[0].data[9] = this.form.move.ten;
        this.chartdata.datasets[0].data[10] = this.form.move.eleven;
        this.chartdata.datasets[0].data[11] = this.form.move.twelve;
        this.chartdata.datasets[0].data[12] = this.form.move.thirteen;
        this.chartdata.datasets[0].data[13] = this.form.move.fourteen;
        this.chartdata.datasets[0].data[14] = this.form.move.fifteen;

        this.showpic3 = true;
      } else {
        this.showpic3 = false;
      }
    },
    create_form4() {
      if (this.showpic4 == false) {
        this.chartdata.datasets[0].label = "簡單運動技能";
        this.chartdata.labels[0] = "跳床";
        this.chartdata.labels[1] = "鑽龍";
        this.chartdata.labels[2] = "走平衡木";
        this.chartdata.labels[3] = "溜滑梯";
        this.chartdata.labels[4] = "盪鞦韆";
        this.chartdata.labels[5] = "跨越障礙勿";
        this.chartdata.labels[6] = "騎腳踏車-上下腳踏車";
        this.chartdata.labels[7] = "騎腳踏車-騎腳踏車";
        this.chartdata.labels[8] = "球類活動-滾大球";
        this.chartdata.labels[9] = "球類活動-踢球";
        this.chartdata.labels[10] = "球類活動-雙手接球";
        this.chartdata.labels[11] = "球類活動-單手過肩投球";
        this.chartdata.labels[12] = "球類活動-丟接球";
        this.chartdata.labels[13] = "球類活動-連續拍球";
        this.chartdata.labels[14] = "跳格子遊戲";
        this.chartdata.datasets[0].data[0] = this.form.sport.one;
        this.chartdata.datasets[0].data[1] = this.form.sport.two;
        this.chartdata.datasets[0].data[2] = this.form.sport.three;
        this.chartdata.datasets[0].data[3] = this.form.sport.four;
        this.chartdata.datasets[0].data[4] = this.form.sport.five;
        this.chartdata.datasets[0].data[5] = this.form.sport.six;
        this.chartdata.datasets[0].data[6] = this.form.sport.seven;
        this.chartdata.datasets[0].data[7] = this.form.sport.eight;
        this.chartdata.datasets[0].data[8] = this.form.sport.nine;
        this.chartdata.datasets[0].data[9] = this.form.sport.ten;
        this.chartdata.datasets[0].data[10] = this.form.sport.eleven;
        this.chartdata.datasets[0].data[11] = this.form.sport.twelve;
        this.chartdata.datasets[0].data[12] = this.form.sport.thirteen;
        this.chartdata.datasets[0].data[13] = this.form.sport.fourteen;
        this.chartdata.datasets[0].data[14] = this.form.sport.fifteen;

        this.showpic4 = true;
      } else {
        this.showpic4 = false;
      }
    },

    async submit() {
      var k = this.measuretime;
      var ref;
      if (this.currentStudent.measures) {
        if (this.currentStudent.measures[k - 1]) {
          console.log("if student.measures[k-1]_exist");
          let _this = this;
          fireDb
            .collection("students")
            .doc(this.currentStudent.id)
            .get()
            .then(results => {
              if (!results.empty) {
                _this.whole_measures = results.data().measures;
                _this.whole_measures[k - 1].domain2 = this.form;
                ref = fireDb.collection("students").doc(this.currentStudent.id);
                ref
                  .update({
                    measures: this.whole_measures
                  })
                  .then(() => {
                    for (let i = 0; i < this.students.length; i++) {
                      let _students = JSON.parse(JSON.stringify(this.students));
                      if (_students[i].id == this.currentStudent.id) {
                        let k = this.measuretime;
                        _students[i].measures[k - 1].domain2 = this.form;
                        this.$store.commit("setObject", {
                          key: "students",
                          value: _students
                        });
                        this.$store.commit("setObject", {
                          key: "currentStudent",
                          value: _students[i]
                        });
                      }
                    }
                  });
              }
            });
        } else {
          ref = fireDb.collection("students").doc(this.currentStudent.id);
          this.smeasure.push({ domain2: this.form });
          ref.update({ measures: this.smeasure }).then(() => {
            for (let i = 0; i < this.students.length; i++) {
              let _students = JSON.parse(JSON.stringify(this.students));
              if (_students[i].id == this.currentStudent.id) {
                let k = this.measuretime;
                _students[i].measures.push({ domain2: this.form });
                this.$store.commit("setObject", {
                  key: "students",
                  value: _students
                });
                this.$store.commit("setObject", {
                  key: "currentStudent",
                  value: _students[i]
                });
              }
            }
          });
        }
      } else {
        //如果現在firebase裡沒有半個measures
        console.log("firebase have no measures yet");
        ref = fireDb.collection("students").doc(this.currentStudent.id);
        this.smeasure.push({ domain2: this.form });
        ref.update({ measures: this.smeasure }).then(() => {
          for (let i = 0; i < this.students.length; i++) {
            let _students = JSON.parse(JSON.stringify(this.students));
            if (_students[i].id == this.currentStudent.id) {
              _students[i].measures = [];
              _students[i].measures.push({ domain2: this.form });
              this.$store.commit("setObject", {
                key: "students",
                value: _students
              });
              this.$store.commit("setObject", {
                key: "currentStudent",
                value: _students[i]
              });
            }
          }
        });
      }

      this.$router.push("/classes");
    }
  },

  components: {
    ChartLine
  },

  mounted() {
    // console.log("STUDENT_measures",this.student.measures);
    let _student = JSON.parse(JSON.stringify(this.currentStudent));
    if (_student.measures) {
      this.smeasure = _student.measures;

      var s = this.measuretime;

      if (!this.currentStudent) {
        let _this = this;
        fireDb
          .collection("students")
          .doc(this.currentStudent.id)
          .get()
          .then(results => {
            if (!results.empty) {
              _this.smeasures = results.data().measures[s - 1];
              //_this.smeasure.id = results.id;

              this.$store.commit("setObject", {
                key: "measureform",
                value: _this.smeasures
              });
            }
          });
      } else {
        if (this.currentStudent.measures[s - 1]) {
          let _student = JSON.parse(JSON.stringify(this.currentStudent));
          this.smeasures = _student.measures[s - 1];
        }
      }

      if (this.smeasures.domain2) {
        let d2 = this.smeasures.domain2;
        this.form.posture_control.one =
          (d2 && d2.posture_control && d2.posture_control.one) || "";
        this.form.posture_control.two =
          (d2 && d2.posture_control && d2.posture_control.two) || "";
        this.form.posture_control.three =
          (d2 && d2.posture_control && d2.posture_control.three) || "";
        this.form.posture_control.four =
          (d2 && d2.posture_control && d2.posture_control.four) || "";
        this.form.posture_control.five =
          (d2 && d2.posture_control && d2.posture_control.five) || "";
        this.form.posture_control.six =
          (d2 && d2.posture_control && d2.posture_control.six) || "";
        this.form.posture_control.seven =
          (d2 && d2.posture_control && d2.posture_control.seven) || "";
        this.form.posture_control.eight =
          (d2 && d2.posture_control && d2.posture_control.eight) || "";
        this.form.posture_control.nine =
          (d2 && d2.posture_control && d2.posture_control.nine) || "";
        this.form.posture_control.ten =
          (d2 && d2.posture_control && d2.posture_control.ten) || "";
        this.form.posture_control.eleven =
          (d2 && d2.posture_control && d2.posture_control.eleven) || "";
        this.form.posture_control.twelve =
          (d2 && d2.posture_control && d2.posture_control.twelve) || "";
        this.form.posture_control.thirteen =
          (d2 && d2.posture_control && d2.posture_control.thirteen) || "";
        this.form.posture_control.fourteen =
          (d2 && d2.posture_control && d2.posture_control.fourteen) || "";

        this.form.change_posture.one =
          (d2 && d2.change_posture && d2.change_posture.one) || "";
        this.form.change_posture.two =
          (d2 && d2.change_posture && d2.change_posture.two) || "";
        this.form.change_posture.three =
          (d2 && d2.change_posture && d2.change_posture.three) || "";
        this.form.change_posture.four =
          (d2 && d2.change_posture && d2.change_posture.four) || "";
        this.form.change_posture.five =
          (d2 && d2.change_posture && d2.change_posture.five) || "";
        this.form.change_posture.six =
          (d2 && d2.change_posture && d2.change_posture.six) || "";
        this.form.change_posture.seven =
          (d2 && d2.change_posture && d2.change_posture.seven) || "";
        this.form.change_posture.eight =
          (d2 && d2.change_posture && d2.change_posture.eight) || "";
        this.form.change_posture.nine =
          (d2 && d2.change_posture && d2.change_posture.nine) || "";
        this.form.change_posture.ten =
          (d2 && d2.change_posture && d2.change_posture.ten) || "";

        this.form.move.one = (d2 && d2.move && d2.move.one) || "";
        this.form.move.two = (d2 && d2.move && d2.move.two) || "";
        this.form.move.three = (d2 && d2.move && d2.move.three) || "";
        this.form.move.four = (d2 && d2.move && d2.move.four) || "";
        this.form.move.five = (d2 && d2.move && d2.move.five) || "";
        this.form.move.six = (d2 && d2.move && d2.move.six) || "";
        this.form.move.seven = (d2 && d2.move && d2.move.seven) || "";
        this.form.move.eight = (d2 && d2.move && d2.move.eight) || "";
        this.form.move.nine = (d2 && d2.move && d2.move.nine) || "";
        this.form.move.ten = (d2 && d2.move && d2.move.ten) || "";
        this.form.move.eleven = (d2 && d2.move && d2.move.eleven) || "";
        this.form.move.twelve = (d2 && d2.move && d2.move.twelve) || "";
        this.form.move.thirteen = (d2 && d2.move && d2.move.thirteen) || "";
        this.form.move.fourteen = (d2 && d2.move && d2.move.fourteen) || "";
        this.form.move.fifteen = (d2 && d2.move && d2.move.fifteen) || "";

        this.form.sport.one = (d2 && d2.sport && d2.sport.one) || "";
        this.form.sport.two = (d2 && d2.sport && d2.sport.two) || "";
        this.form.sport.three = (d2 && d2.sport && d2.sport.three) || "";
        this.form.sport.four = (d2 && d2.sport && d2.sport.four) || "";
        this.form.sport.five = (d2 && d2.sport && d2.sport.five) || "";
        this.form.sport.six = (d2 && d2.sport && d2.sport.six) || "";
        this.form.sport.seven = (d2 && d2.sport && d2.sport.seven) || "";
        this.form.sport.eight = (d2 && d2.sport && d2.sport.eight) || "";
        this.form.sport.nine = (d2 && d2.sport && d2.sport.nine) || "";
        this.form.sport.ten = (d2 && d2.sport && d2.sport.ten) || "";
        this.form.sport.eleven = (d2 && d2.sport && d2.sport.eleven) || "";
        this.form.sport.twelve = (d2 && d2.sport && d2.sport.twelve) || "";
        this.form.sport.thirteen = (d2 && d2.sport && d2.sport.thirteen) || "";
        this.form.sport.fourteen = (d2 && d2.sport && d2.sport.fourteen) || "";
        this.form.sport.fifteen = (d2 && d2.sport && d2.sport.fifteen) || "";
      }
    }
  }
}; //export
</script>


<style scoped>
section {
  width: 70%;
  margin: 50px, auto;
  padding: 50px;
  text-align: center;
}

.p {
  font-size: 30px;
  text-align: left;
  color: #0044bb;
}

.chartline {
  padding: 25px;
}

.create_form {
  margin-top: 10px;
}
</style>

