<template>
  <b-container>
    <section>
      <br />
      <p class="p">概念理解-物體恆存概念</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>部份物體恆存：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>基本物體恆存：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>高級物體恆存：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">概念理解 - 簡單因果概念</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>因果玩具操作：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>事物聯想：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>預期事物：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">概念理解 - 基本物概念</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>同物配對：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>同物分類：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>名稱指認：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
            <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>物品功能：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>功能配對：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.eleven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>功能分類：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.twelve"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>物品完形：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.thirteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <p class="p">概念理解 - 顏色概念</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>顏色配對：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.fourteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>顏色分類：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.fifteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>顏色指認：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.sixteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>說出顏色：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.seventeen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>：顏色應用</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.eighteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <p class="p">概念理解 - 形狀概念</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>形狀配對：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.nineteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>形狀分類：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.twenty"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>形狀指認：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.twenty_one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>說出形狀：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.twenty_two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>形狀應用：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.twenty_three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-button class="create_form" @click="create_form1">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic1">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />
      <p class="p">概念理解 - 比較概念</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>大小概念：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.twenty_four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>多少概念：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.twenty_five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>長短概念：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.twenty_six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>相反概念：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.twenty_seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <p class="p">概念理解 - 空間概念</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>上下概念：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.twenty_eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>前後概念：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.twenty_nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>裡外概念：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.thirty"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>左右概念：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.thirty_one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <p class="p">概念理解 - 符號概念</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>認識實物：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.thirty_two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>認識玩具：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.thirty_three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>認識圖卡：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.thirty_four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聽懂口語：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.thirty_five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>認識文字：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.thirty_six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <p class="p">概念理解 - 數概念</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>1至10唱數：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.thirty_seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>1至5數量應對：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.thirty_eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>6至10數量應對：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.thirty_nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>認識數字：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.forty"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>數序列：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.forty_one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>數應對：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.forty_two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <p class="p">概念理解 - 順序概念</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>大小順序：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.forty_three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>多少順序：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.forty_four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>事件順序：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.concept.forty_five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-button class="create_form" @click="create_form2">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic2">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">模仿</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>動作模仿：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.imitate.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>物品操作模仿：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.imitate.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>表情模仿：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.imitate.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聲音模仿：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.imitate.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">記憶</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>教室物品記憶：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.memory.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>位置記憶：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.memory.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>所有物記憶：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.memory.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>短暫記憶2/5：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.memory.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>短暫記憶5/10：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.memory.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>長程記憶：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.memory.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">配對分類</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>基本配對：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.match.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>兩項度配對：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.match.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>基本分類：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.match.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>兩項度分類：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.match.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <b-button class="create_form" @click="create_form3">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic3">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">邏輯思考</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>找出錯誤：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.logic.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>挑出不同：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.logic.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>邏輯推理：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.logic.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">解決問題</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>設法取物：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.solve.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>尋求協助：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.solve.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>技能應用：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.solve.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>修正錯誤：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.solve.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">簡單閱讀</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>閱讀圖畫書：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.read.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>閱讀自卡：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.read.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>閱讀簡單句子：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.read.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>閱讀故事書：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.read.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>閱讀注音符號：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.read.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-button class="create_form" @click="create_form4">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic4">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>

      <br />

      <b-button @click="submit">確定提交</b-button>
    </section>
  </b-container>
</template>
<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
import ChartLine from "@/components/ChartLine";
import { mapState } from "vuex";

export default {
  data() {
    return {
      showpic1: false,
      showpic2: false,
      showpic3: false,
      showpic4: false,
      showpic5: false,
      //readonly: false,
      smeasure: [], //submit時用的
      smeasures: {},
      whole_measures: [],
      form: {
        concept: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: "",
          eleven: "",
          twelve: "",
          thirteen: "",
          fourteen: "",
          fifteen: "",
          sixteen: "",
          seventeen: "",
          eighteen: "",
          nineteen: "",
          twenty: "",
          twenty_one: "",
          twenty_two: "",
          twenty_three: "",
          twenty_four: "",
          twenty_five: "",
          twenty_six: "",
          twenty_seven: "",
          twenty_eight: "",
          twenty_nine: "",
          thirty: "",
          thirty_one: "",
          thirty_two: "",
          thirty_three: "",
          thirty_four: "",
          thirty_five: "",
          thirty_six: "",
          thirty_seven: "",
          thirty_eight: "",
          thirty_nine: "",
          forty: "",
          forty_one: "",
          forty_two: "",
          forty_three: "",
          forty_four: "",
          forty_five: ""
        },

        imitate: {
          one: "",
          two: "",
          three: "",
          four: ""
        },

        memory: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: ""
        },

        match: {
          one: "",
          two: "",
          three: "",
          four: ""
        },
        logic: {
          one: "",
          two: "",
          three: ""
        },
        solve: {
          one: "",
          two: "",
          three: "",
          four: ""
        },
        read: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: ""
        }
      },
      chartdata: {
        labels: [""],
        datasets: [
          {
            // label: "量表值",
            fill: false, // 是否填滿色彩
            lineTension: 0,
            backgroundColor: "#f87979",
            data: []
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{ id: "y-axis-1", ticks: { min: 0, max: 4 } }]
        }
      },
      measuretime: this.$store.state.measuretime
    };
  },
  computed: {
    ...mapState({
      currentStudent: state => state.currentStudent,
      students: state => state.students
    })
  },
  methods: {
    create_form1() {
      if (this.showpic1 == false) {
        this.chartdata.datasets[0].label = "概念理解";
        this.chartdata.labels[0] = "物體恆存-部份物體恆存";
        this.chartdata.labels[1] = "物體恆存-基本物體恆存";
        this.chartdata.labels[2] = "物體恆存-高級物體恆存";
        this.chartdata.labels[3] = "簡單因果概念-因果玩具操作";
        this.chartdata.labels[4] = "簡單因果概念-事物聯想";
        this.chartdata.labels[5] = "簡單因果概念-預期事物";
        this.chartdata.labels[6] = "基本物的概念-同物配對";
        this.chartdata.labels[7] = "基本物的概念-同物分類";
        this.chartdata.labels[8] = "基本物的概念-名稱指認";
        this.chartdata.labels[9] = "基本物的概念-物品功能";
        this.chartdata.labels[10] = "基本物的概念-功能配對";
        this.chartdata.labels[11] = "基本物的概念-功能分類";
        this.chartdata.labels[12] = "基本物的概念-物品完形";
        this.chartdata.labels[13] = "顏色概念-顏色配對";
        this.chartdata.labels[14] = "顏色概念-顏色分類";
        this.chartdata.labels[15] = "顏色概念-顏色指認";
        this.chartdata.labels[16] = "顏色概念-說出顏色";
        this.chartdata.labels[17] = "顏色概念-顏色應用";
        this.chartdata.labels[18] = "形狀概念-形狀配對";
        this.chartdata.labels[19] = "形狀概念-形狀分類";
        this.chartdata.labels[20] = "形狀概念-形狀指認";
        this.chartdata.labels[21] = "形狀概念-說出形狀";
        this.chartdata.labels[22] = "形狀概念-形狀應用";
        this.chartdata.datasets[0].data[0] = this.form.concept.one;
        this.chartdata.datasets[0].data[1] = this.form.concept.two;
        this.chartdata.datasets[0].data[2] = this.form.concept.three;
        this.chartdata.datasets[0].data[3] = this.form.concept.four;
        this.chartdata.datasets[0].data[4] = this.form.concept.five;
        this.chartdata.datasets[0].data[5] = this.form.concept.six;
        this.chartdata.datasets[0].data[6] = this.form.concept.seven;
        this.chartdata.datasets[0].data[7] = this.form.concept.eight;
        this.chartdata.datasets[0].data[8] = this.form.concept.nine;
        this.chartdata.datasets[0].data[9] = this.form.concept.ten;
        this.chartdata.datasets[0].data[10] = this.form.concept.eleven;
        this.chartdata.datasets[0].data[11] = this.form.concept.twelve;
        this.chartdata.datasets[0].data[12] = this.form.concept.thirteen;
        this.chartdata.datasets[0].data[13] = this.form.concept.fourteen;
        this.chartdata.datasets[0].data[14] = this.form.concept.fifteen;
        this.chartdata.datasets[0].data[15] = this.form.concept.sixteen;
        this.chartdata.datasets[0].data[16] = this.form.concept.seventeen;
        this.chartdata.datasets[0].data[17] = this.form.concept.eighteen;
        this.chartdata.datasets[0].data[18] = this.form.concept.nineteen;
        this.chartdata.datasets[0].data[19] = this.form.concept.twenty;
        this.chartdata.datasets[0].data[20] = this.form.concept.twenty_one;
        this.chartdata.datasets[0].data[21] = this.form.concept.twenty_two;
        this.chartdata.datasets[0].data[22] = this.form.concept.twenty_three;

        this.showpic1 = true;
      } else {
        this.showpic1 = false;
      }
    },
    create_form2() {
      if (this.showpic2 == false) {
        this.chartdata.datasets[0].label = "概念理解";
        this.chartdata.labels[0] = "比較概念-大小概念";
        this.chartdata.labels[1] = "比較概念-多少概念";
        this.chartdata.labels[2] = "比較概念-長短概念";
        this.chartdata.labels[3] = "比較概念-相反概念";
        this.chartdata.labels[4] = "空間概念-上下概念";
        this.chartdata.labels[5] = "空間概念-前後概念";
        this.chartdata.labels[6] = "空間概念-裡外概念";
        this.chartdata.labels[7] = "空間概念-左右概念";
        this.chartdata.labels[8] = "符號概念-認識實物";
        this.chartdata.labels[9] = "符號概念-認識玩具";
        this.chartdata.labels[10] = "符號概念-認識圖卡";
        this.chartdata.labels[11] = "符號概念-聽懂口語";
        this.chartdata.labels[12] = "符號概念-認識文字";
        this.chartdata.labels[13] = "數概念-1至10唱數";
        this.chartdata.labels[14] = "數概念-1至5數量對應";
        this.chartdata.labels[15] = "數概念-6至10數量對應";
        this.chartdata.labels[16] = "數概念-認識數字";
        this.chartdata.labels[17] = "數序列";
        this.chartdata.labels[18] = "數應用";
        this.chartdata.labels[19] = "順序概念-大小順序";
        this.chartdata.labels[20] = "順序概念-多少順序";
        this.chartdata.labels[21] = "順序概念-事件順序";

        this.chartdata.datasets[0].data[0] = this.form.concept.twenty_four;
        this.chartdata.datasets[0].data[1] = this.form.concept.twenty_five;
        this.chartdata.datasets[0].data[2] = this.form.concept.twenty_six;
        this.chartdata.datasets[0].data[3] = this.form.concept.twenty_seven;
        this.chartdata.datasets[0].data[4] = this.form.concept.twenty_eight;
        this.chartdata.datasets[0].data[5] = this.form.concept.twenty_nine;
        this.chartdata.datasets[0].data[6] = this.form.concept.thirty;
        this.chartdata.datasets[0].data[7] = this.form.concept.thirty_one;
        this.chartdata.datasets[0].data[8] = this.form.concept.thirty_two;
        this.chartdata.datasets[0].data[9] = this.form.concept.thirty_three;
        this.chartdata.datasets[0].data[10] = this.form.concept.thirty_four;
        this.chartdata.datasets[0].data[11] = this.form.concept.thirty_five;
        this.chartdata.datasets[0].data[12] = this.form.concept.thirty_six;
        this.chartdata.datasets[0].data[13] = this.form.concept.thirty_seven;
        this.chartdata.datasets[0].data[14] = this.form.concept.thirty_eight;
        this.chartdata.datasets[0].data[15] = this.form.concept.thirty_nine;
        this.chartdata.datasets[0].data[16] = this.form.concept.forty;
        this.chartdata.datasets[0].data[17] = this.form.concept.forty_one;
        this.chartdata.datasets[0].data[18] = this.form.concept.forty_two;
        this.chartdata.datasets[0].data[19] = this.form.concept.forty_three;
        this.chartdata.datasets[0].data[20] = this.form.concept.forty_four;
        this.chartdata.datasets[0].data[21] = this.form.concept.forty_five;

        this.showpic2 = true;
      } else {
        //設定再點一次圖會消失
        this.showpic2 = false;
      }
    },
    create_form3() {
      if (this.showpic3 == false) {
        this.chartdata.datasets[0].label = "模仿、記憶、配對分類";
        this.chartdata.labels[0] = "動作模仿";
        this.chartdata.labels[1] = "物品操作模仿";
        this.chartdata.labels[2] = "表情模仿";
        this.chartdata.labels[3] = "聲音模仿";
        this.chartdata.labels[4] = "教室物品記憶";
        this.chartdata.labels[5] = "位置記憶";
        this.chartdata.labels[6] = "所有物記憶";
        this.chartdata.labels[7] = "短暫記憶2/5";
        this.chartdata.labels[8] = "短暫記憶5/10";
        this.chartdata.labels[9] = "長程記憶";
        this.chartdata.labels[10] = "基本配對";
        this.chartdata.labels[11] = "兩項度配對";
        this.chartdata.labels[12] = "基本分類";
        this.chartdata.labels[13] = "兩項度分類";

        this.chartdata.datasets[0].data[0] = this.form.imitate.one;
        this.chartdata.datasets[0].data[1] = this.form.imitate.two;
        this.chartdata.datasets[0].data[2] = this.form.imitate.three;
        this.chartdata.datasets[0].data[3] = this.form.imitate.four;
        this.chartdata.datasets[0].data[4] = this.form.memory.one;
        this.chartdata.datasets[0].data[5] = this.form.memory.two;
        this.chartdata.datasets[0].data[6] = this.form.memory.three;
        this.chartdata.datasets[0].data[7] = this.form.memory.four;
        this.chartdata.datasets[0].data[8] = this.form.memory.five;
        this.chartdata.datasets[0].data[9] = this.form.memory.six;
        this.chartdata.datasets[0].data[10] = this.form.match.one;
        this.chartdata.datasets[0].data[11] = this.form.match.two;
        this.chartdata.datasets[0].data[12] = this.form.match.three;
        this.chartdata.datasets[0].data[13] = this.form.match.four;

        this.showpic3 = true;
      } else {
        this.showpic3 = false;
      }
    },
    create_form4() {
      if (this.showpic4 == false) {
        this.chartdata.datasets[0].label = "邏輯思考、解決問題、簡單閱讀";
        this.chartdata.labels[0] = "找出錯誤";
        this.chartdata.labels[1] = "挑出不同";
        this.chartdata.labels[2] = "邏輯推理";
        this.chartdata.labels[3] = "設法取物";
        this.chartdata.labels[4] = "尋求協助";
        this.chartdata.labels[5] = "技能應用";
        this.chartdata.labels[6] = "修正錯誤";
        this.chartdata.labels[7] = "閱讀圖畫書";
        this.chartdata.labels[8] = "閱讀自卡";
        this.chartdata.labels[9] = "閱讀簡單句子";
        this.chartdata.labels[10] = "閱讀故事書";
        this.chartdata.labels[11] = "閱讀注音符號";

        this.chartdata.datasets[0].data[0] = this.form.logic.one;
        this.chartdata.datasets[0].data[1] = this.form.logic.two;
        this.chartdata.datasets[0].data[2] = this.form.logic.three;
        this.chartdata.datasets[0].data[3] = this.form.solve.one;
        this.chartdata.datasets[0].data[4] = this.form.solve.two;
        this.chartdata.datasets[0].data[5] = this.form.solve.three;
        this.chartdata.datasets[0].data[6] = this.form.solve.four;
        this.chartdata.datasets[0].data[7] = this.form.read.one;
        this.chartdata.datasets[0].data[8] = this.form.read.two;
        this.chartdata.datasets[0].data[9] = this.form.read.three;
        this.chartdata.datasets[0].data[10] = this.form.read.four;
        this.chartdata.datasets[0].data[11] = this.form.read.five;

        this.showpic4 = true;
      } else {
        this.showpic4 = false;
      }
    },

    async submit() {
      var k = this.measuretime;
      var ref;
      if (this.currentStudent.measures) {
        if (this.currentStudent.measures[k - 1]) {
          let _this = this;
          fireDb
            .collection("students")
            .doc(this.currentStudent.id)
            .get()
            .then(results => {
              if (!results.empty) {
                _this.whole_measures = results.data().measures;
                _this.whole_measures[k - 1].domain6 = this.form;

                ref = fireDb.collection("students").doc(this.currentStudent.id);
                ref
                  .update({
                    measures: this.whole_measures
                  })
                  .then(() => {
                    for (let i = 0; i < this.students.length; i++) {
                      let _students = JSON.parse(JSON.stringify(this.students));
                      if (_students[i].id == this.currentStudent.id) {
                        let k = this.measuretime;
                        _students[i].measures[k - 1].domain6 = this.form;
                        this.$store.commit("setObject", {
                          key: "students",
                          value: _students
                        });
                        this.$store.commit("setObject", {
                          key: "currentStudent",
                          value: _students[i]
                        });
                      }
                    }
                  });
              }
            });
        } else {
          ref = fireDb.collection("students").doc(this.currentStudent.id);
          this.smeasure.push({ domain6: this.form });
          ref.update({ measures: this.smeasure }).then(() => {
            for (let i = 0; i < this.students.length; i++) {
              let _students = JSON.parse(JSON.stringify(this.students));
              if (_students[i].id == this.currentStudent.id) {
                let k = this.measuretime;
                _students[i].measures.push({ domain6: this.form });
                this.$store.commit("setObject", {
                  key: "students",
                  value: _students
                });
                this.$store.commit("setObject", {
                  key: "currentStudent",
                  value: _students[i]
                });
              }
            }
          });
        }
      } else {
        //如果現在firebase裡沒有半個measures
        ref = fireDb.collection("students").doc(this.$currentStudent);
        this.smeasure.push({ domain6: this.form });
        ref.update({ measures: this.smeasure }).then(() => {
          for (let i = 0; i < this.students.length; i++) {
            let _students = JSON.parse(JSON.stringify(this.students));
            if (_students[i].id == this.currentStudent.id) {
              _students[i].measures = [];
              _students[i].measures.push({ domain6: this.form });
              this.$store.commit("setObject", {
                key: "students",
                value: _students
              });
              this.$store.commit("setObject", {
                key: "currentStudent",
                value: _students[i]
              });
            }
          }
        });
      }
      this.$router.push("/classes");
    }
  },
  components: {
    ChartLine
  },
  mounted() {
    let _student = JSON.parse(JSON.stringify(this.currentStudent));
    if (_student.measures) {
      this.smeasure = _student.measures;
      var s = this.measuretime;
      if (!this.currentStudent) {
        let _this = this;
        fireDb
          .collection("students")
          .doc(this.currentStudent.id)
          .get()
          .then(results => {
            if (!results.empty) {
              _this.smeasures = results.data().measures[s - 1];
              //_this.smeasure.id = results.id;
            }
          });
      } else {
        if (this.currentStudent.measures[s - 1]) {
          let _student = JSON.parse(JSON.stringify(this.currentStudent));
          this.smeasures = _student.measures[s - 1];
        }
      }

      if (this.smeasures.domain6) {
        let d6 = this.smeasures.domain6;
        this.form.concept.one = (d6 && d6.concept && d6.concept.one) || "";
        this.form.concept.two = (d6 && d6.concept && d6.concept.two) || "";
        this.form.concept.three = (d6 && d6.concept && d6.concept.three) || "";
        this.form.concept.four = (d6 && d6.concept && d6.concept.four) || "";
        this.form.concept.five = (d6 && d6.concept && d6.concept.five) || "";
        this.form.concept.six = (d6 && d6.concept && d6.concept.six) || "";
        this.form.concept.seven = (d6 && d6.concept && d6.concept.seven) || "";
        this.form.concept.eight = (d6 && d6.concept && d6.concept.eight) || "";
        this.form.concept.nine = (d6 && d6.concept && d6.concept.nine) || "";
        this.form.concept.ten = (d6 && d6.concept && d6.concept.ten) || "";
        this.form.concept.eleven =
          (d6 && d6.concept && d6.concept.eleven) || "";
        this.form.concept.twelve =
          (d6 && d6.concept && d6.concept.twelve) || "";
        this.form.concept.thirteen =
          (d6 && d6.concept && d6.concept.thirteen) || "";
        this.form.concept.fourteen =
          (d6 && d6.concept && d6.concept.fourteen) || "";
        this.form.concept.fifteen =
          (d6 && d6.concept && d6.concept.fifteen) || "";
        this.form.concept.sixteen =
          (d6 && d6.concept && d6.concept.sixteen) || "";
        this.form.concept.seventeen =
          (d6 && d6.concept && d6.concept.seventeen) || "";
        this.form.concept.eighteen =
          (d6 && d6.concept && d6.concept.eighteen) || "";
        this.form.concept.nineteen =
          (d6 && d6.concept && d6.concept.nineteen) || "";
        this.form.concept.twenty =
          (d6 && d6.concept && d6.concept.twenty) || "";
        this.form.concept.twenty_one =
          (d6 && d6.concept && d6.concept.twenty_one) || "";
        this.form.concept.twenty_two =
          (d6 && d6.concept && d6.concept.twenty_two) || "";
        this.form.concept.twenty_three =
          (d6 && d6.concept && d6.concept.twenty_three) || "";
        this.form.concept.twenty_four =
          (d6 && d6.concept && d6.concept.twenty_four) || "";
        this.form.concept.twenty_five =
          (d6 && d6.concept && d6.concept.twenty_five) || "";
        this.form.concept.twenty_six =
          (d6 && d6.concept && d6.concept.twenty_six) || "";
        this.form.concept.twenty_seven =
          (d6 && d6.concept && d6.concept.twenty_seven) || "";
        this.form.concept.twenty_eight =
          (d6 && d6.concept && d6.concept.twenty_eight) || "";
        this.form.concept.twenty_nine =
          (d6 && d6.concept && d6.concept.twenty_nine) || "";
        this.form.concept.thirty =
          (d6 && d6.concept && d6.concept.thirty) || "";
        this.form.concept.thirty_one =
          (d6 && d6.concept && d6.concept.thirty_one) || "";
        this.form.concept.thirty_two =
          (d6 && d6.concept && d6.concept.thirty_two) || "";
        this.form.concept.thirty_three =
          (d6 && d6.concept && d6.concept.thirty_three) || "";
        this.form.concept.thirty_four =
          (d6 && d6.concept && d6.concept.thirty_four) || "";
        this.form.concept.thirty_five =
          (d6 && d6.concept && d6.concept.thirty_five) || "";
        this.form.concept.thirty_six =
          (d6 && d6.concept && d6.concept.thirty_six) || "";
        this.form.concept.thirty_seven =
          (d6 && d6.concept && d6.concept.thirty_seven) || "";
        this.form.concept.thirty_eight =
          (d6 && d6.concept && d6.concept.thirty_eight) || "";
        this.form.concept.thirty_nine =
          (d6 && d6.concept && d6.concept.thirty_nine) || "";
        this.form.concept.forty = (d6 && d6.concept && d6.concept.forty) || "";
        this.form.concept.forty_one =
          (d6 && d6.concept && d6.concept.forty_one) || "";
        this.form.concept.forty_two =
          (d6 && d6.concept && d6.concept.forty_two) || "";
        this.form.concept.forty_three =
          (d6 && d6.concept && d6.concept.forty_three) || "";
        this.form.concept.forty_four =
          (d6 && d6.concept && d6.concept.forty_four) || "";
        this.form.concept.forty_five =
          (d6 && d6.concept && d6.concept.forty_five) || "";

        this.form.imitate.one = (d6 && d6.imitate && d6.imitate.one) || "";
        this.form.imitate.two = (d6 && d6.imitate && d6.imitate.two) || "";
        this.form.imitate.three = (d6 && d6.imitate && d6.imitate.three) || "";
        this.form.imitate.four = (d6 && d6.imitate && d6.imitate.four) || "";

        this.form.memory.one = (d6 && d6.memory && d6.memory.one) || "";
        this.form.memory.two = (d6 && d6.memory && d6.memory.two) || "";
        this.form.memory.three = (d6 && d6.memory && d6.memory.three) || "";
        this.form.memory.four = (d6 && d6.memory && d6.memory.four) || "";
        this.form.memory.five = (d6 && d6.memory && d6.memory.five) || "";
        this.form.memory.six = (d6 && d6.memory && d6.memory.six) || "";

        this.form.match.one = (d6 && d6.match && d6.match.one) || "";
        this.form.match.two = (d6 && d6.match && d6.match.two) || "";
        this.form.match.three = (d6 && d6.match && d6.match.three) || "";
        this.form.match.four = (d6 && d6.match && d6.match.four) || "";

        this.form.logic.one = (d6 && d6.logic && d6.logic.one) || "";
        this.form.logic.two = (d6 && d6.logic && d6.logic.two) || "";
        this.form.logic.three = (d6 && d6.logic && d6.logic.three) || "";

        this.form.solve.one = (d6 && d6.solve && d6.solve.one) || "";
        this.form.solve.two = (d6 && d6.solve && d6.solve.two) || "";
        this.form.solve.three = (d6 && d6.solve && d6.solve.three) || "";
        this.form.solve.four = (d6 && d6.solve && d6.solve.four) || "";

        this.form.read.one = (d6 && d6.read && d6.read.one) || "";
        this.form.read.two = (d6 && d6.read && d6.read.two) || "";
        this.form.read.three = (d6 && d6.read && d6.read.three) || "";
        this.form.read.four = (d6 && d6.read && d6.read.four) || "";
        this.form.read.five = (d6 && d6.read && d6.read.five) || "";
      }
    }
  }
};
</script>

<style scoped>
section {
  width: 70%;
  margin: 50px, auto;
  padding: 50px;
  text-align: center;
}

.p {
  font-size: 30px;
  text-align: left;
  color: #0044bb;
}

.chartline {
  padding: 25px;
}

.create_form {
  margin-top: 10px;
}
</style>

