<template>
  <b-container>
    <section>
      <br />
      <p class="p">視覺應用</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>視覺機警度：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.see.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>追視物品：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.see.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>追視人物：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.see.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>物品注意力：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.see.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>對人注意力：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.see.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>視覺辨識：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.see.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>主體背景區辨：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.see.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <b-button class="create_form" @click="create_form1">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic1">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">聽覺應用</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聽覺機警度：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.listen.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>反應聲源：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.listen.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聲音物體恆存：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.listen.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聲音理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.listen.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>名字反應：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.listen.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>傾聽能力：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.listen.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />

      <b-button class="create_form" @click="create_form2">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic2">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">觸覺應用</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>觸覺機警度：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.touch.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>身體觸覺：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.touch.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>臉部觸覺：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.touch.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>口腔觸覺：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.touch.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>觸覺統整：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.touch.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>溫度接收：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.touch.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>溫度分辨：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.touch.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>觸覺應用：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.touch.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>觸覺辨識：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.touch.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />

      <b-button class="create_form" @click="create_form3">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic3">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">味嗅覺刺激</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>味覺接收：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.smell.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>味覺分辨：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.smell.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>嗅覺接收：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.smell.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>嗅覺分辨：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.smell.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />

      <b-button class="create_form" @click="create_form4">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic4">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />
      <p class="p">家庭及本體覺刺激</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>扶抱移動：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.final.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>加速度活動：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.final.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>治療球活動：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.final.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>旋轉活動：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.final.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>關節擠壓：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.final.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>緊抱重壓刺激：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.final.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />

      <b-button class="create_form" @click="create_form5">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic5">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <b-button @click="submit">確定提交</b-button>
    </section>
  </b-container>
</template>

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
import ChartLine from "@/components/ChartLine";
import { mapState } from "vuex";
export default {
  data() {
    return {
      showpic1: false,
      showpic2: false,
      showpic3: false,
      showpic4: false,
      showpic5: false,
      //readonly: false,
      smeasure: [], //submit時用的
      smeasures: {},
      whole_measures: [],

      form: {
        see: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: ""
        },

        listen: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: ""
        },

        touch: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: ""
        },

        smell: {
          one: "",
          two: "",
          three: "",
          four: ""
        },
        final: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: ""
        }
      },
      chartdata: {
        labels: [""],
        datasets: [
          {
            // label: "量表值",
            fill: false, // 是否填滿色彩
            lineTension: 0,
            backgroundColor: "#f87979",
            data: []
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{ id: "y-axis-1", ticks: { min: 0, max: 4 } }]
        }
      },
      measuretime: this.$store.state.measuretime
    };
  },
  computed: {
    ...mapState({
      currentStudent: state => state.currentStudent,
      students: state => state.students
    })
  },

  methods: {
    create_form1() {
      if (this.showpic1 == false) {
        this.chartdata.datasets[0].label = "視覺應用";
        this.chartdata.labels[0] = "視覺機警度";
        this.chartdata.labels[1] = "追視物品";
        this.chartdata.labels[2] = "追視人物";
        this.chartdata.labels[3] = "物品注意力";
        this.chartdata.labels[4] = "對人注意力";
        this.chartdata.labels[5] = "視覺辨視";
        this.chartdata.labels[6] = "主體背景區辨";
        this.chartdata.datasets[0].data[0] = this.form.see.one;
        this.chartdata.datasets[0].data[1] = this.form.see.two;
        this.chartdata.datasets[0].data[2] = this.form.see.three;
        this.chartdata.datasets[0].data[3] = this.form.see.four;
        this.chartdata.datasets[0].data[4] = this.form.see.five;
        this.chartdata.datasets[0].data[5] = this.form.see.six;
        this.chartdata.datasets[0].data[6] = this.form.see.seven;

        this.showpic1 = true;
      } else {
        this.showpic1 = false;
      }
    },
    create_form2() {
      if (this.showpic2 == false) {
        this.chartdata.datasets[0].label = "聽覺應用";
        this.chartdata.labels[0] = "聽覺機警度";
        this.chartdata.labels[1] = "反應聲源";
        this.chartdata.labels[2] = "聲音物體恆存";
        this.chartdata.labels[3] = "聲音理解";
        this.chartdata.labels[4] = "名字反應";
        this.chartdata.labels[5] = "傾聽能力";

        this.chartdata.datasets[0].data[0] = this.form.listen.one;
        this.chartdata.datasets[0].data[1] = this.form.listen.two;
        this.chartdata.datasets[0].data[2] = this.form.listen.three;
        this.chartdata.datasets[0].data[3] = this.form.listen.four;
        this.chartdata.datasets[0].data[4] = this.form.listen.five;
        this.chartdata.datasets[0].data[5] = this.form.listen.six;
        this.chartdata.datasets[0].data[6] = this.form.listen.seven;

        this.showpic2 = true;
      } else {
        //設定再點一次圖會消失
        this.showpic2 = false;
      }
    },
    create_form3() {
      if (this.showpic3 == false) {
        this.chartdata.datasets[0].label = "觸覺應用";
        this.chartdata.labels[0] = "觸覺機警度";
        this.chartdata.labels[1] = "身體觸覺";
        this.chartdata.labels[2] = "臉部觸覺";
        this.chartdata.labels[3] = "口腔觸覺";
        this.chartdata.labels[4] = "觸覺統整";
        this.chartdata.labels[5] = "溫度接收";
        this.chartdata.labels[6] = "溫度分辨";
        this.chartdata.labels[7] = "觸覺應用";
        this.chartdata.labels[8] = "觸覺辨識";
        this.chartdata.datasets[0].data[0] = this.form.touch.one;
        this.chartdata.datasets[0].data[1] = this.form.touch.two;
        this.chartdata.datasets[0].data[2] = this.form.touch.three;
        this.chartdata.datasets[0].data[3] = this.form.touch.four;
        this.chartdata.datasets[0].data[4] = this.form.touch.five;
        this.chartdata.datasets[0].data[5] = this.form.touch.six;
        this.chartdata.datasets[0].data[6] = this.form.touch.seven;
        this.chartdata.datasets[0].data[7] = this.form.touch.eight;
        this.chartdata.datasets[0].data[8] = this.form.touch.nine;

        this.showpic3 = true;
      } else {
        this.showpic3 = false;
      }
    },
    create_form4() {
      if (this.showpic4 == false) {
        this.chartdata.datasets[0].label = "味嗅覺刺激";
        this.chartdata.labels[0] = "味覺接收";
        this.chartdata.labels[1] = "味覺分辨";
        this.chartdata.labels[2] = "嗅覺接收";
        this.chartdata.labels[3] = "嗅覺分辨";
        this.chartdata.datasets[0].data[0] = this.form.smell.one;
        this.chartdata.datasets[0].data[1] = this.form.smell.two;
        this.chartdata.datasets[0].data[2] = this.form.smell.three;
        this.chartdata.datasets[0].data[3] = this.form.smell.four;

        this.showpic4 = true;
      } else {
        this.showpic4 = false;
      }
    },
    create_form5() {
      if (this.showpic5 == false) {
        this.chartdata.datasets[0].label = "前庭及本體覺刺激";
        this.chartdata.labels[0] = "扶抱移動";
        this.chartdata.labels[1] = "加速度活動";
        this.chartdata.labels[2] = "治療球活動";
        this.chartdata.labels[3] = "旋轉活動";
        this.chartdata.labels[4] = "關節擠壓";
        this.chartdata.labels[5] = "緊抱重壓刺激";
        this.chartdata.datasets[0].data[0] = this.form.final.one;
        this.chartdata.datasets[0].data[1] = this.form.final.two;
        this.chartdata.datasets[0].data[2] = this.form.final.three;
        this.chartdata.datasets[0].data[3] = this.form.final.four;
        this.chartdata.datasets[0].data[4] = this.form.final.five;
        this.chartdata.datasets[0].data[5] = this.form.final.six;

        this.showpic5 = true;
      } else {
        this.showpic5 = false;
      }
    },

    async submit() {
      var k = this.measuretime;
      var ref;
      if (this.currentStudent.measures) {
        // 第一次填寫提交前firebase是沒有measures的
        //所以區分有無measures兩種狀況
        if (this.currentStudent.measures[k - 1]) {
          //原本有資料，進行修改動作
          let _this = this;
          fireDb
            .collection("students")
            .doc(this.currentStudent.id)
            .get()
            .then(results => {
              if (!results.empty) {
                _this.whole_measures = results.data().measures;
                _this.whole_measures[k - 1].domain1 = this.form; //修改domain1資料
                //因為要更新到firebase必須整包measures一起更新不能單獨陣列更新
                ref = fireDb.collection("students").doc(this.currentStudent.id);
                ref
                  .update({
                    measures: this.whole_measures
                  })
                  .then(() => {
                    for (let i = 0; i < this.students.length; i++) {
                      let _students = JSON.parse(JSON.stringify(this.students));
                      if (_students[i].id == this.currentStudent.id) {
                        let k = this.measuretime;
                        _students[i].measures[k - 1].domain1 = this.form;
                        this.$store.commit("setObject", {
                          key: "students",
                          value: _students
                        });
                        this.$store.commit("setObject", {
                          key: "currentStudent",
                          value: _students[i]
                        });
                      }
                    }
                  });
              }
            });
        } else {
          //如果firebase裡還沒有measures[k-1]
          //在firebase裡新增一個measures[k-1]
          //並放入domain1
          ref = fireDb.collection("students").doc(this.currentStudent.id);
          this.smeasure.push({ domain1: this.form });
          ref.update({ measures: this.smeasure }).then(() => {
            for (let i = 0; i < this.students.length; i++) {
              let _students = JSON.parse(JSON.stringify(this.students));
              if (_students[i].id == this.currentStudent.id) {
                let k = this.measuretime;
                _students[i].measures.push({ domain1: this.form });
                this.$store.commit("setObject", {
                  key: "students",
                  value: _students
                });
                this.$store.commit("setObject", {
                  key: "currentStudent",
                  value: _students[i]
                });
              }
            }
          });
        }
      } else {
        //如果現在firebase裡沒有半個measures
        // console.log("firebase have no measures yet");
        ref = fireDb.collection("students").doc(this.currentStudent.id);
        this.smeasure.push({ domain1: this.form });
        ref.update({ measures: this.smeasure }).then(() => {
          for (let i = 0; i < this.students.length; i++) {
            let _students = JSON.parse(JSON.stringify(this.students));
            if (_students[i].id == this.currentStudent.id) {
              _students[i].measures = [];
              _students[i].measures.push({ domain1: this.form });
              this.$store.commit("setObject", {
                key: "students",
                value: _students
              });
              this.$store.commit("setObject", {
                key: "currentStudent",
                value: _students[i]
              });
            }
          }
        });
      }
      this.$router.push("/classes");
    }
  },
  components: {
    ChartLine
  },
  mounted() {
    //修改過後，mounted這裡抓到的currentStudent資料是為更新的
    let _student = JSON.parse(JSON.stringify(this.currentStudent));
    if (_student.measures) {
      //先檢查，如果_student裡面有measures再讓它顯示出來
      this.smeasure = _student.measures;
      var s = this.measuretime;
      if (!this.currentStudent) {
        let _this = this;
        fireDb
          .collection("students")
          .doc(this.currentStudent.id)
          .get()
          .then(results => {
            if (!results.empty) {
              _this.smeasures = results.data().measures[s - 1];
            }
          });
      } else {
        if (this.currentStudent.measures[s - 1]) {
          let _student = JSON.parse(JSON.stringify(this.currentStudent));
          this.smeasures = _student.measures[s - 1];
        }
      }

      if (this.smeasures.domain1) {
        let d1 = this.smeasures.domain1;
        this.form.see.one = (d1 && d1.see && d1.see.one) || "";
        this.form.see.two = (d1 && d1.see && d1.see.two) || "";
        this.form.see.three = (d1 && d1.see && d1.see.three) || "";
        this.form.see.four = (d1 && d1.see && d1.see.four) || "";
        this.form.see.five = (d1 && d1.see && d1.see.five) || "";
        this.form.see.six = (d1 && d1.see && d1.see.six) || "";
        this.form.see.seven = (d1 && d1.see && d1.see.seven) || "";

        this.form.listen.one = (d1 && d1.listen && d1.listen.one) || "";
        this.form.listen.two = (d1 && d1.listen && d1.listen.two) || "";
        this.form.listen.three = (d1 && d1.listen && d1.listen.three) || "";
        this.form.listen.four = (d1 && d1.listen && d1.listen.four) || "";
        this.form.listen.five = (d1 && d1.listen && d1.listen.five) || "";
        this.form.listen.six = (d1 && d1.listen && d1.listen.six) || "";

        this.form.touch.one = (d1 && d1.touch && d1.touch.one) || "";
        this.form.touch.two = (d1 && d1.touch && d1.touch.two) || "";
        this.form.touch.three = (d1 && d1.touch && d1.touch.three) || "";
        this.form.touch.four = (d1 && d1.touch && d1.touch.four) || "";
        this.form.touch.five = (d1 && d1.touch && d1.touch.five) || "";
        this.form.touch.six = (d1 && d1.touch && d1.touch.six) || "";
        this.form.touch.seven = (d1 && d1.touch && d1.touch.seven) || "";
        this.form.touch.eight = (d1 && d1.touch && d1.touch.eight) || "";
        this.form.touch.nine = (d1 && d1.touch && d1.touch.nine) || "";

        this.form.smell.one = (d1 && d1.smell && d1.smell.one) || "";
        this.form.smell.two = (d1 && d1.smell && d1.smell.two) || "";
        this.form.smell.three = (d1 && d1.smell && d1.smell.three) || "";
        this.form.smell.four = (d1 && d1.smell && d1.smell.four) || "";

        this.form.final.one = (d1 && d1.final && d1.final.one) || "";
        this.form.final.two = (d1 && d1.final && d1.final.two) || "";
        this.form.final.three = (d1 && d1.final && d1.final.three) || "";
        this.form.final.four = (d1 && d1.final && d1.final.four) || "";
        this.form.final.five = (d1 && d1.final && d1.final.five) || "";
        this.form.final.six = (d1 && d1.final && d1.final.six) || "";
      }
    }
  }
};
</script>

<style scoped>
section {
  width: 70%;
  margin: 50px, auto;
  padding: 50px;
  text-align: center;
}

.p {
  font-size: 30px;
  text-align: left;
  color: #0044bb;
}

.chartline {
  padding: 25px;
}

.create_form {
  margin-top: 10px;
}
</style>

