<template>
  <b-container>
    <section>
      <br />
      <p class="p">自我概念</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>認識自己：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.self.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>認識父母：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.self.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>認識兄弟姊妹：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.self.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>認識自己身體：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.self.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>認識自己東西：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.self.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>認識自己性別：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.self.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>知道電話號碼：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.self.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">環境適應</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>短暫分離：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.adapt.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>喜歡逗弄：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.adapt.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>適當怕生：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.adapt.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>避免危險：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.adapt.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>參與新事物：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.adapt.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>適應陌生環境：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.adapt.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>遵守教室規則：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.adapt.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>完成工作：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.adapt.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>玩具收拾：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.adapt.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>挫折忍受：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.adapt.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-button class="create_form" @click="create_form1">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic1">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">人際互動</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>依附表現：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.interact.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>視線接觸：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.interact.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>回應能力：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.interact.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>主動趨近：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.interact.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>分享：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.interact.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>幫助別人：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.interact.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>延緩等待：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.interact.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>輪流：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.interact.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">遊戲特質</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>功能性遊戲：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.game.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>表徵遊戲：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.game.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>合作性遊戲：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.game.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>角色扮演：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.game.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>規則性扮演：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.game.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-button class="create_form" @click="create_form2">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic2">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <b-button @click="submit">確定提交</b-button>
    </section>
  </b-container>
</template>
<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
import ChartLine from "@/components/ChartLine";
import { mapState } from "vuex";

export default {
  data() {
    return {
      showpic1: false,
      showpic2: false,
      showpic3: false,
      showpic4: false,
      showpic5: false,
      //readonly: false,
      smeasure: [], //submit時用的
      smeasures: {},
      whole_measures: [],

      form: {
        self: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: ""
        },
        adapt: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: ""
        },
        interact: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: ""
        },
        game: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: ""
        }
      },
      chartdata: {
        labels: [""],
        datasets: [
          {
            // label: "量表值",
            fill: false, // 是否填滿色彩
            lineTension: 0,
            backgroundColor: "#f87979",
            data: []
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{ id: "y-axis-1", ticks: { min: 0, max: 4 } }]
        }
      },
      measuretime: this.$store.state.measuretime
    };
  },
  computed: {
    ...mapState({
      currentStudent: state => state.currentStudent,
      students: state => state.students
    })
  },
  methods: {
    create_form1() {
      if (this.showpic1 == false) {
        this.chartdata.datasets[0].label = "自我概念、環境適應";
        this.chartdata.labels[0] = "認識自己";
        this.chartdata.labels[1] = "認識父母";
        this.chartdata.labels[2] = "認識兄弟姊妹";
        this.chartdata.labels[3] = "認識自己身體";
        this.chartdata.labels[4] = "認識自己東西";
        this.chartdata.labels[5] = "認識自己性別";
        this.chartdata.labels[6] = "知道電話號碼";
        this.chartdata.labels[7] = "短暫分離";
        this.chartdata.labels[8] = "喜歡逗弄";
        this.chartdata.labels[9] = "適當怕生";
        this.chartdata.labels[10] = "避免危險";
        this.chartdata.labels[11] = "參與新事物";
        this.chartdata.labels[12] = "適應陌生環境";
        this.chartdata.labels[13] = "遵守教室規則";
        this.chartdata.labels[14] = "完成工作";
        this.chartdata.labels[15] = "玩具收拾";
        this.chartdata.labels[16] = "挫折忍受";
        this.chartdata.datasets[0].data[0] = this.form.self.one;
        this.chartdata.datasets[0].data[1] = this.form.self.two;
        this.chartdata.datasets[0].data[2] = this.form.self.three;
        this.chartdata.datasets[0].data[3] = this.form.self.four;
        this.chartdata.datasets[0].data[4] = this.form.self.five;
        this.chartdata.datasets[0].data[5] = this.form.self.six;
        this.chartdata.datasets[0].data[6] = this.form.self.seven;
        this.chartdata.datasets[0].data[7] = this.form.adapt.one;
        this.chartdata.datasets[0].data[8] = this.form.adapt.two;
        this.chartdata.datasets[0].data[9] = this.form.adapt.three;
        this.chartdata.datasets[0].data[10] = this.form.adapt.four;
        this.chartdata.datasets[0].data[11] = this.form.adapt.five;
        this.chartdata.datasets[0].data[12] = this.form.adapt.six;
        this.chartdata.datasets[0].data[13] = this.form.adapt.seven;
        this.chartdata.datasets[0].data[14] = this.form.adapt.eight;
        this.chartdata.datasets[0].data[15] = this.form.adapt.nine;
        this.chartdata.datasets[0].data[16] = this.form.adapt.ten;
        this.showpic1 = true;
      } else {
        this.showpic1 = false;
      }
    },
    create_form2() {
      if (this.showpic2 == false) {
        this.chartdata.datasets[0].label = "人際互動、遊戲特質";
        this.chartdata.labels[0] = "依附表現";
        this.chartdata.labels[1] = "視線接觸";
        this.chartdata.labels[2] = "回應能力";
        this.chartdata.labels[3] = "主動趨近";
        this.chartdata.labels[4] = "分享";
        this.chartdata.labels[5] = "幫助別人";
        this.chartdata.labels[6] = "延緩等待";
        this.chartdata.labels[7] = "輪流";
        this.chartdata.labels[8] = "功能性遊戲";
        this.chartdata.labels[9] = "表徵遊戲";
        this.chartdata.labels[10] = "合作性遊戲";
        this.chartdata.labels[11] = "角色扮演";
        this.chartdata.labels[12] = "規則性遊戲";

        this.chartdata.datasets[0].data[0] = this.form.interact.one;
        this.chartdata.datasets[0].data[1] = this.form.interact.two;
        this.chartdata.datasets[0].data[2] = this.form.interact.three;
        this.chartdata.datasets[0].data[3] = this.form.interact.four;
        this.chartdata.datasets[0].data[4] = this.form.interact.five;
        this.chartdata.datasets[0].data[5] = this.form.interact.six;
        this.chartdata.datasets[0].data[6] = this.form.interact.seven;
        this.chartdata.datasets[0].data[7] = this.form.interact.eight;
        this.chartdata.datasets[0].data[8] = this.form.game.one;
        this.chartdata.datasets[0].data[9] = this.form.game.two;
        this.chartdata.datasets[0].data[10] = this.form.game.three;
        this.chartdata.datasets[0].data[11] = this.form.game.four;
        this.chartdata.datasets[0].data[12] = this.form.game.five;

        this.showpic2 = true;
      } else {
        this.showpic2 = false;
      }
    },

    async submit() {
      var k = this.measuretime;
      var ref;
      if (this.currentStudent.measures) {
        if (this.currentStudent.measures[k - 1]) {
          let _this = this;
          fireDb
            .collection("students")
            .doc(this.currentStudent.id)
            .get()
            .then(results => {
              if (!results.empty) {
                _this.whole_measures = results.data().measures;
                _this.whole_measures[k - 1].domain7 = this.form;

                ref = fireDb.collection("students").doc(this.currentStudent.id);
                ref
                  .update({
                    measures: this.whole_measures
                  })
                  .then(() => {
                    for (let i = 0; i < this.students.length; i++) {
                      let _students = JSON.parse(JSON.stringify(this.students));
                      if (_students[i].id == this.currentStudent.id) {
                        let k = this.measuretime;
                        _students[i].measures[k - 1].domain7 = this.form;
                        this.$store.commit("setObject", {
                          key: "students",
                          value: _students
                        });
                        this.$store.commit("setObject", {
                          key: "currentStudent",
                          value: _students[i]
                        });
                      }
                    }
                  });
              }
            });
        } else {
          ref = fireDb.collection("students").doc(this.currentStudent.id);
          this.smeasure.push({ domain7: this.form });
          ref.update({ measures: this.smeasure }).then(() => {
            for (let i = 0; i < this.students.length; i++) {
              let _students = JSON.parse(JSON.stringify(this.students));
              if (_students[i].id == this.currentStudent.id) {
                let k = this.measuretime;
                _students[i].measures.push({ domain7: this.form });
                this.$store.commit("setObject", {
                  key: "students",
                  value: _students
                });
                this.$store.commit("setObject", {
                  key: "currentStudent",
                  value: _students[i]
                });
              }
            }
          });
        }
      } else {
        //如果現在firebase裡沒有半個measures
        console.log("firebase have no measures yet");
        ref = fireDb.collection("students").doc(this.currentStudent.id);
        this.smeasure.push({ domain7: this.form });
        ref.update({ measures: this.smeasure }).then(() => {
          for (let i = 0; i < this.students.length; i++) {
            let _students = JSON.parse(JSON.stringify(this.students));
            if (_students[i].id == this.currentStudent.id) {
              _students[i].measures = [];
              _students[i].measures.push({ domain7: this.form });
              this.$store.commit("setObject", {
                key: "students",
                value: _students
              });
              this.$store.commit("setObject", {
                key: "currentStudent",
                value: _students[i]
              });
            }
          }
        });
      }

      this.$router.push("/classes");
    }
  },
  components: {
    ChartLine
  },
  mounted() {
    let _student = JSON.parse(JSON.stringify(this.currentStudent));
    if (_student.measures) {
      this.smeasure = _student.measures;
      var s = this.measuretime;
      if (!this.currentStudent) {
        let _this = this;
        fireDb
          .collection("students")
          .doc(this.currentStudent.id)
          .get()
          .then(results => {
            if (!results.empty) {
              _this.smeasures = results.data().measures[s - 1];
            }
          });
      } else {
        if (this.currentStudent.measures[s - 1]) {
          let _student = JSON.parse(JSON.stringify(this.currentStudent));
          this.smeasures = _student.measures[s - 1];
        }
      }

      if (this.smeasures.domain7) {
        let d7 = this.smeasures.domain7;
        this.form.self.one = (d7 && d7.self && d7.self.one) || "";
        this.form.self.two = (d7 && d7.self && d7.self.two) || "";
        this.form.self.three = (d7 && d7.self && d7.self.three) || "";
        this.form.self.four = (d7 && d7.self && d7.self.four) || "";
        this.form.self.five = (d7 && d7.self && d7.self.five) || "";
        this.form.self.six = (d7 && d7.self && d7.self.six) || "";
        this.form.self.seven = (d7 && d7.self && d7.self.seven) || "";

        this.form.adapt.one = (d7 && d7.adapt && d7.adapt.one) || "";
        this.form.adapt.two = (d7 && d7.adapt && d7.adapt.two) || "";
        this.form.adapt.three = (d7 && d7.adapt && d7.adapt.three) || "";
        this.form.adapt.four = (d7 && d7.adapt && d7.adapt.four) || "";
        this.form.adapt.five = (d7 && d7.adapt && d7.adapt.five) || "";
        this.form.adapt.six = (d7 && d7.adapt && d7.adapt.six) || "";
        this.form.adapt.seven = (d7 && d7.adapt && d7.adapt.seven) || "";
        this.form.adapt.eight = (d7 && d7.adapt && d7.adapt.eight) || "";
        this.form.adapt.nine = (d7 && d7.adapt && d7.adapt.nine) || "";
        this.form.adapt.ten = (d7 && d7.adapt && d7.adapt.ten) || "";

        this.form.interact.one = (d7 && d7.interact && d7.interact.one) || "";
        this.form.interact.two = (d7 && d7.interact && d7.interact.two) || "";
        this.form.interact.three =
          (d7 && d7.interact && d7.interact.three) || "";
        this.form.interact.four = (d7 && d7.interact && d7.interact.four) || "";
        this.form.interact.five = (d7 && d7.interact && d7.interact.five) || "";
        this.form.interact.six = (d7 && d7.interact && d7.interact.six) || "";
        this.form.interact.seven =
          (d7 && d7.interact && d7.interact.seven) || "";
        this.form.interact.eight =
          (d7 && d7.interact && d7.interact.eight) || "";

        this.form.game.one = (d7 && d7.game && d7.game.one) || "";
        this.form.game.two = (d7 && d7.game && d7.game.two) || "";
        this.form.game.three = (d7 && d7.game && d7.game.three) || "";
        this.form.game.four = (d7 && d7.game && d7.game.four) || "";
        this.form.game.five = (d7 && d7.game && d7.game.five) || "";
      }
    }
  }
};
</script>

<style scoped>
section {
  width: 70%;
  margin: 50px, auto;
  padding: 50px;
  text-align: center;
}

.p {
  font-size: 30px;
  text-align: left;
  color: #0044bb;
}

.chartline {
  padding: 25px;
}

.create_form {
  margin-top: 10px;
}
</style>







 