<template>
  <b-container>
    <section>
      <br />
      <p class="p">抓放能力</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>伸手觸碰：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.take.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">抓放能力-抓握技巧</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>掌指抓握：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.take.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>對掌抓握：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.take.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>三指取物：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.take.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>兩指取物：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.take.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">抓放能力</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>放：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.take.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>換手：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.take.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>對側拿放：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.take.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <b-button class="create_form" @click="create_form1">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic1">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">操作能力</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>推移：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>搬或端移：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>提物：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>拉：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>按壓開關：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>插棒：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>堆疊：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>套換拔開：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>手眼協調：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>串珠：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>一頁頁翻書：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.eleven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>使用杓瓢：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.twelve"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>旋開旋緊：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.thirteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>擰乾：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.fourteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>剝開：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.fifteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>打開各式繩結：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.sixteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>撕紙：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.seventeen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>夾子夾物：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.eighteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>掌指轉換技巧：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.nineteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>綁蝴蝶結：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.operation.twenty"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />
      <b-button class="create_form" @click="create_form2">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic2">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">簡單勞作及書寫技能</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>積木造型：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>黏土造型：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>對摺紙張：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>摺紙造型：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>簡單縫工：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <p class="p">簡單勞作及書寫技能 - 畫圖技巧</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>塗鴉：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>仿畫：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>著色：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>自己畫圖：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">簡單勞作及書寫技能 - 書寫技巧</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>正確握筆：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>將點連線：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.eleven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>描寫：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.twelve"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>仿寫：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.thirteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>自發性書寫：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.fourteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">簡單勞作及書寫技能 - 剪貼技巧</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>剪斷物品：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.fifteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>連續剪：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.sixteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>沿線剪：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.seventeen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>撕貼貼紙：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.eighteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>簡單剪貼：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.art.nineteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <b-button class="create_form" @click="create_form3">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic3">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />
      <br />

      <b-button @click="submit">確定提交</b-button>
    </section>
  </b-container>
</template>

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
import ChartLine from "@/components/ChartLine";
import { mapState } from "vuex";

export default {
  data() {
    return {
      showpic1: false,
      showpic2: false,
      showpic3: false,

      smeasure: [], //submit時用
      smeasures: {},
      whole_measures: [],
      form: {
        take: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: ""
        },
        operation: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: "",
          eleven: "",
          twelve: "",
          thirteen: "",
          fourteen: "",
          fifteen: "",
          sixteen: "",
          seventeen: "",
          eighteen: "",
          nineteen: "",
          twenty: ""
        },
        art: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: "",
          eleven: "",
          twelve: "",
          thirteen: "",
          fourteen: "",
          fifteen: "",
          sixteen: "",
          seventeen: "",
          eighteen: "",
          nineteen: "",
          // twenty: ""
        }
      },
      chartdata: {
        labels: [""],
        datasets: [
          {
            fill: false,
            lineTension: 0,
            backgroundColor: "#f87979",
            data: []
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scalses: {
          yAxes: [{ id: "y-axis-1", ticks: { min: 0, max: 4 } }]
        }
      },
      measuretime: this.$store.state.measuretime
    };
  },
  computed: {
    ...mapState({
      currentStudent: state => state.currentStudent,
      students: state => state.students
    })
  },
  methods: {
    create_form1() {
      if (this.showpic1 == false) {
        // console.log("Call Create Form", this.form);
        //let form2 = JSON.parse(JSON.stringify(this.form));
        //console.log(form2);
        this.chartdata.datasets[0].label = "抓放能力";
        this.chartdata.labels[0] = "伸手碰觸";
        this.chartdata.labels[1] = "掌指抓握";
        this.chartdata.labels[2] = "對掌抓握";
        this.chartdata.labels[3] = "三指取物";
        this.chartdata.labels[4] = "兩指取物";
        this.chartdata.labels[5] = "放";
        this.chartdata.labels[6] = "換手";
        this.chartdata.labels[7] = "對側拿放";

        this.chartdata.datasets[0].data[0] = this.form.take.one;
        this.chartdata.datasets[0].data[1] = this.form.take.two;
        this.chartdata.datasets[0].data[2] = this.form.take.three;
        this.chartdata.datasets[0].data[3] = this.form.take.four;
        this.chartdata.datasets[0].data[4] = this.form.take.five;
        this.chartdata.datasets[0].data[5] = this.form.take.six;
        this.chartdata.datasets[0].data[6] = this.form.take.seven;
        this.chartdata.datasets[0].data[7] = this.form.take.eight;
        this.chartdata.datasets[0].data[8] = this.form.take.nine;
        this.chartdata.datasets[0].data[9] = this.form.take.ten;
        this.chartdata.datasets[0].data[10] = this.form.take.eleven;
        this.chartdata.datasets[0].data[11] = this.form.take.twelve;
        this.chartdata.datasets[0].data[12] = this.form.take.thirteen;
        this.chartdata.datasets[0].data[13] = this.form.take.fourteen;

        this.showpic1 = true;
      } else {
        this.showpic1 = false;
      }
    },
    create_form2() {
      if (this.showpic2 == false) {
        this.chartdata.datasets[0].label = "操作能力";
        this.chartdata.labels[0] = "推移";
        this.chartdata.labels[1] = "搬或端移";
        this.chartdata.labels[2] = "提物";
        this.chartdata.labels[3] = "拉";
        this.chartdata.labels[4] = "按壓開關";
        this.chartdata.labels[5] = "插棒";
        this.chartdata.labels[6] = "堆疊";
        this.chartdata.labels[7] = "套接拔開";
        this.chartdata.labels[8] = "手眼協調";
        this.chartdata.labels[9] = "串珠";
        this.chartdata.labels[10] = "一頁頁翻書";
        this.chartdata.labels[11] = "使用杓瓢";
        this.chartdata.labels[12] = "旋開旋緊";
        this.chartdata.labels[13] = "擰乾";
        this.chartdata.labels[14] = "剝開";
        this.chartdata.labels[15] = "打開各式繩結";
        this.chartdata.labels[16] = "撕紙";
        this.chartdata.labels[17] = "夾子夾物";
        this.chartdata.labels[18] = "掌紙轉換技巧";
        this.chartdata.labels[19] = "綁蝴蝶結";

        this.chartdata.datasets[0].data[0] = this.form.operation.one;
        this.chartdata.datasets[0].data[1] = this.form.operation.two;
        this.chartdata.datasets[0].data[2] = this.form.operation.three;
        this.chartdata.datasets[0].data[3] = this.form.operation.four;
        this.chartdata.datasets[0].data[4] = this.form.operation.five;
        this.chartdata.datasets[0].data[5] = this.form.operation.six;
        this.chartdata.datasets[0].data[6] = this.form.operation.seven;
        this.chartdata.datasets[0].data[7] = this.form.operation.eight;
        this.chartdata.datasets[0].data[8] = this.form.operation.nine;
        this.chartdata.datasets[0].data[9] = this.form.operation.ten;
        this.chartdata.datasets[0].data[10] = this.form.operation.eleven;
        this.chartdata.datasets[0].data[11] = this.form.operation.twelve;
        this.chartdata.datasets[0].data[12] = this.form.operation.thirteen;
        this.chartdata.datasets[0].data[13] = this.form.operation.fourteen;
        this.chartdata.datasets[0].data[14] = this.form.operation.fifteen;
        this.chartdata.datasets[0].data[15] = this.form.operation.sixteen;
        this.chartdata.datasets[0].data[16] = this.form.operation.seventeen;
        this.chartdata.datasets[0].data[17] = this.form.operation.eighteen;
        this.chartdata.datasets[0].data[18] = this.form.operation.nineteen;
        this.chartdata.datasets[0].data[19] = this.form.operation.twenty;

        this.showpic2 = true;
      } else {
        //設定再點一次圖會消失
        this.showpic2 = false;
      }
    },
    create_form3() {
      if (this.showpic3 == false) {
        this.chartdata.datasets[0].label = "簡單勞作及書寫技能";
        this.chartdata.labels[0] = "積木造型";
        this.chartdata.labels[1] = "黏土造型";
        this.chartdata.labels[2] = "對摺紙張";
        this.chartdata.labels[3] = "摺紙造型";
        this.chartdata.labels[4] = "簡單縫工";
        this.chartdata.labels[5] = "畫圖技巧-塗鴉";
        this.chartdata.labels[6] = "畫圖技巧-仿畫";
        this.chartdata.labels[7] = "畫圖技巧-著色";
        this.chartdata.labels[8] = "畫圖技巧-自己畫圖";
        this.chartdata.labels[9] = "書寫技巧-正確握筆";
        this.chartdata.labels[10] = "書寫技巧-將點連線";
        this.chartdata.labels[11] = "書寫技巧-描寫";
        this.chartdata.labels[12] = "書寫技巧-仿寫";
        this.chartdata.labels[13] = "書寫技巧-自發性書寫";
        this.chartdata.labels[14] = "剪斷物品";
        this.chartdata.labels[15] = "連續剪";
        this.chartdata.labels[16] = "沿線剪";
        this.chartdata.labels[17] = "撕貼貼紙";
        this.chartdata.labels[18] = "簡單剪貼";

        this.chartdata.datasets[0].data[0] = this.form.art.one;
        this.chartdata.datasets[0].data[1] = this.form.art.two;
        this.chartdata.datasets[0].data[2] = this.form.art.three;
        this.chartdata.datasets[0].data[3] = this.form.art.four;
        this.chartdata.datasets[0].data[4] = this.form.art.five;
        this.chartdata.datasets[0].data[5] = this.form.art.six;
        this.chartdata.datasets[0].data[6] = this.form.art.seven;
        this.chartdata.datasets[0].data[7] = this.form.art.eight;
        this.chartdata.datasets[0].data[8] = this.form.art.nine;
        this.chartdata.datasets[0].data[9] = this.form.art.ten;
        this.chartdata.datasets[0].data[10] = this.form.art.eleven;
        this.chartdata.datasets[0].data[11] = this.form.art.twelve;
        this.chartdata.datasets[0].data[12] = this.form.art.thirteen;
        this.chartdata.datasets[0].data[13] = this.form.art.fourteen;
        this.chartdata.datasets[0].data[14] = this.form.art.fifteen;
        this.chartdata.datasets[0].data[15] = this.form.art.sixteen;
        this.chartdata.datasets[0].data[16] = this.form.art.seventeen;
        this.chartdata.datasets[0].data[17] = this.form.art.eighteen;
        this.chartdata.datasets[0].data[18] = this.form.art.nineteen;

        this.showpic3 = true;
      } else {
        this.showpic3 = false;
      }
    },

    async submit() {
      var k = this.measuretime;
      var ref;
      //  let _student = JSON.parse(JSON.stringify(this.student));
      if (this.currentStudent.measures) {
        if (this.currentStudent.measures[k - 1]) {
          let _this = this;
          fireDb
            .collection("students")
            .doc(this.currentStudent.id)
            .get()
            .then(results => {
              if (!results.empty) {
                _this.whole_measures = results.data().measures;
                _this.whole_measures[k - 1].domain3 = this.form;
                ref = fireDb.collection("students").doc(this.currentStudent.id);
                ref
                  .update({
                    measures: this.whole_measures
                  })
                  .then(() => {
                    for (let i = 0; i < this.students.length; i++) {
                      let _students = JSON.parse(JSON.stringify(this.students));
                      if (_students[i].id == this.currentStudent.id) {
                        let k = this.measuretime;
                        _students[i].measures[k - 1].domain3 = this.form;
                        this.$store.commit("setObject", {
                          key: "students",
                          value: _students
                        });
                        this.$store.commit("setObject", {
                          key: "currentStudent",
                          value: _students[i]
                        });
                      }
                    }
                  });
              }
            });
        } else {
          ref = fireDb.collection("students").doc(this.currentStudent.id);
          this.smeasure.push({ domain3: this.form });
          ref.update({ measures: this.smeasure }).then(() => {
            for (let i = 0; i < this.students.length; i++) {
              let _students = JSON.parse(JSON.stringify(this.students));
              if (_students[i].id == this.currentStudent.id) {
                let k = this.measuretime;
                _students[i].measures.push({ domain3: this.form });
                this.$store.commit("setObject", {
                  key: "students",
                  value: _students
                });
                this.$store.commit("setObject", {
                  key: "currentStudent",
                  value: _students[i]
                });
              }
            }
          });
        }
      } else {
        //如果現在firebase裡沒有半個measures
        ref = fireDb.collection("students").doc(this.currentStudent.id);
        this.smeasure.push({ domain3: this.form });
        ref.update({ measures: this.smeasure }).then(() => {
          for (let i = 0; i < this.students.length; i++) {
            let _students = JSON.parse(JSON.stringify(this.students));
            if (_students[i].id == this.currentStudent.id) {
              _students[i].measures = [];
              _students[i].measures.push({ domain3: this.form });
              this.$store.commit("setObject", {
                key: "students",
                value: _students
              });
              this.$store.commit("setObject", {
                key: "currentStudent",
                value: _students[i]
              });
            }
          }
        });
      }
      this.$router.push("/classes");
    }
  },

  components: {
    ChartLine
  },

  mounted() {
    let _student = JSON.parse(JSON.stringify(this.currentStudent));
    if (_student.measures) {
      this.smeasure = _student.measures;
      var s = this.measuretime;
      if (!this.currentStudent) {
        let _this = this;
        fireDb
          .collection("students")
          .doc(this.currentStudent.id)
          .get()
          .then(results => {
            if (!results.empty) {
              _this.smeasures = results.data().measures[s - 1];
            }
          });
      } else {
        if (this.currentStudent.measures[s - 1]) {
          let _student = JSON.parse(JSON.stringify(this.currentStudent));
          this.smeasures = _student.measures[s - 1];
        }
      }

      if (this.smeasures.domain3) {
        let d3 = this.smeasures.domain3;
        this.form.take.one = (d3 && d3.take && d3.take.one) || "";
        this.form.take.two = (d3 && d3.take && d3.take.two) || "";
        this.form.take.three = (d3 && d3.take && d3.take.three) || "";
        this.form.take.four = (d3 && d3.take && d3.take.four) || "";
        this.form.take.five = (d3 && d3.take && d3.take.five) || "";
        this.form.take.six = (d3 && d3.take && d3.take.six) || "";
        this.form.take.seven = (d3 && d3.take && d3.take.seven) || "";
        this.form.take.eight = (d3 && d3.take && d3.take.eight) || "";

        this.form.operation.one =
          (d3 && d3.operation && d3.operation.one) || "";
        this.form.operation.two =
          (d3 && d3.operation && d3.operation.two) || "";
        this.form.operation.three =
          (d3 && d3.operation && d3.operation.three) || "";
        this.form.operation.four =
          (d3 && d3.operation && d3.operation.four) || "";
        this.form.operation.five =
          (d3 && d3.operation && d3.operation.five) || "";
        this.form.operation.six =
          (d3 && d3.operation && d3.operation.six) || "";
        this.form.operation.seven =
          (d3 && d3.operation && d3.operation.seven) || "";
        this.form.operation.eight =
          (d3 && d3.operation && d3.operation.eight) || "";
        this.form.operation.nine =
          (d3 && d3.operation && d3.operation.nine) || "";
        this.form.operation.ten =
          (d3 && d3.operation && d3.operation.ten) || "";
        this.form.operation.eleven =
          (d3 && d3.operation && d3.operation.eleven) || "";
        this.form.operation.twelve =
          (d3 && d3.operation && d3.operation.twelve) || "";
        this.form.operation.thirteen =
          (d3 && d3.operation && d3.operation.thirteen) || "";
        this.form.operation.fourteen =
          (d3 && d3.operation && d3.operation.fourteen) || "";
        this.form.operation.fifteen =
          (d3 && d3.operation && d3.operation.fifteen) || "";
        this.form.operation.sixteen =
          (d3 && d3.operation && d3.operation.sixteen) || "";
        this.form.operation.seventeen =
          (d3 && d3.operation && d3.operation.seventeen) || "";
        this.form.operation.eighteen =
          (d3 && d3.operation && d3.operation.eighteen) || "";
        this.form.operation.nineteen =
          (d3 && d3.operation && d3.operation.nineteen) || "";
        this.form.operation.twenty =
          (d3 && d3.operation && d3.operation.twenty) || "";

        this.form.art.one = (d3 && d3.art && d3.art.one) || "";
        this.form.art.two = (d3 && d3.art && d3.art.two) || "";
        this.form.art.three = (d3 && d3.art && d3.art.three) || "";
        this.form.art.four = (d3 && d3.art && d3.art.four) || "";
        this.form.art.five = (d3 && d3.art && d3.art.five) || "";
        this.form.art.six = (d3 && d3.art && d3.art.six) || "";
        this.form.art.seven = (d3 && d3.art && d3.art.seven) || "";
        this.form.art.eight = (d3 && d3.art && d3.art.eight) || "";
        this.form.art.nine = (d3 && d3.art && d3.art.nine) || "";
        this.form.art.ten = (d3 && d3.art && d3.art.ten) || "";
        this.form.art.eleven = (d3 && d3.art && d3.art.eleven) || "";
        this.form.art.twelve = (d3 && d3.art && d3.art.twelve) || "";
        this.form.art.thirteen = (d3 && d3.art && d3.art.thirteen) || "";
        this.form.art.fourteen = (d3 && d3.art && d3.art.fourteen) || "";
        this.form.art.fifteen = (d3 && d3.art && d3.art.fifteen) || "";
        this.form.art.sixteen = (d3 && d3.art && d3.art.sixteen) || "";
        this.form.art.seventeen = (d3 && d3.art && d3.art.seventeen) || "";
        this.form.art.eighteen = (d3 && d3.art && d3.art.eighteen) || "";
        this.form.art.nineteen = (d3 && d3.art && d3.art.nineteen) || "";
      }
    }
  }
};
</script>


<style scoped>
section {
  width: 70%;
  margin: 50px, auto;
  padding: 50px;
  text-align: center;
}

.p {
  font-size: 30px;
  text-align: left;
  color: #0044bb;
}

.chartline {
  padding: 25px;
}

.create_form {
  margin-top: 10px;
}
</style>

