<template>
  <b-container>
    <section>
      <br />
      <p class="p">飲食</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>吞嚥能力：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.eat.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>咀嚼能力：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.eat.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>以手進食：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.eat.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>湯匙使用：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.eat.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>叉子使用：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.eat.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>獨立進食：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.eat.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>杯子喝水：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.eat.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>取水及喝水：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.eat.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>吸管使用：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.eat.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>餐前準備：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.eat.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>餐後收拾：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.eat.eleven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-button class="create_form" @click="create_form1">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic1">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">如廁</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>馬桶小便：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.toilet.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>小便表示：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.toilet.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>獨立小便：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.toilet.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>大便表示：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.toilet.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>馬桶大便：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.toilet.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>獨立大便：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.toilet.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>如廁方式：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.toilet.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>用衛生紙：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.toilet.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>如廁衛生：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.toilet.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-button class="create_form" @click="create_form2">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic2">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">清潔與衛生</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>開關龍頭：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>正確洗手：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>自己洗手：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>擦手臉：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>自己洗臉：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>刷牙：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>漱口：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>擠牙膏：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>梳頭髮：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>配合洗澡：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>自己洗澡：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.eleven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>配合洗髮：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.twelve"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>配合擤鼻涕：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.thirteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>擦鼻涕：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.fourteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>衛生習慣：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.clean.fifteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />

      <b-button class="create_form" @click="create_form3">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic3">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">穿著</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>拖鞋：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>穿鞋：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>解開黏扣帶：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>黏好黏扣帶：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>脫襪子：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>脫褲子：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>穿褲子：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>脫外套：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>脫套頭衣：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>穿套頭衣：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>穿襪子：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.eleven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>解釦子：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.twelve"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>穿外套：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.thirteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>扣釦子：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.fourteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>拉下拉鍊：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.fifteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>拉上拉鍊：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.dress.sixteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />

      <b-button class="create_form" @click="create_form4">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic4">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <b-button @click="submit">確定提交</b-button>
    </section>
  </b-container>
</template>
<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
import ChartLine from "@/components/ChartLine";
import { mapState } from "vuex";

export default {
  data() {
    return {
      showpic1: false,
      showpic2: false,
      showpic3: false,
      showpic4: false,
      showpic5: false,
      //readonly: false,
      smeasure: [], //submit時用的
      smeasures: {},
      whole_measures: [],

      form: {
        eat: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: "",
          eleven: ""
        },
        toilet: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: ""
        },
        clean: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: "",
          eleven: "",
          twelve: "",
          thirteen: "",
          fourteen: "",
          fifteen: ""
        },
        dress: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: "",
          eleven: "",
          twelve: "",
          thirteen: "",
          fourteen: "",
          fifteen: "",
          sixteen: ""
        }
      },
      chartdata: {
        labels: [""],
        datasets: [
          {
            // label: "量表值",
            fill: false, // 是否填滿色彩
            lineTension: 0,
            backgroundColor: "#f87979",
            data: []
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{ id: "y-axis-1", ticks: { min: 0, max: 4 } }]
        }
      },
      measuretime: this.$store.state.measuretime
    };
  },
  computed: {
    ...mapState({
      currentStudent: state => state.currentStudent,
      students: state => state.students
    })
  },

  methods: {
    create_form1() {
      if (this.showpic1 == false) {
        this.chartdata.datasets[0].label = "飲食";
        this.chartdata.labels[0] = "吞嚥能力";
        this.chartdata.labels[1] = "咀嚼能力";
        this.chartdata.labels[2] = "以手進食";
        this.chartdata.labels[3] = "湯匙使用";
        this.chartdata.labels[4] = "叉子使用";
        this.chartdata.labels[5] = "獨立進食";
        this.chartdata.labels[6] = "杯子喝水";
        this.chartdata.labels[7] = "取水及喝水";
        this.chartdata.labels[8] = "吸管使用";
        this.chartdata.labels[9] = "餐前準備";
        this.chartdata.labels[10] = "餐後收拾";

        this.chartdata.datasets[0].data[0] = this.form.eat.one;
        this.chartdata.datasets[0].data[1] = this.form.eat.two;
        this.chartdata.datasets[0].data[2] = this.form.eat.three;
        this.chartdata.datasets[0].data[3] = this.form.eat.four;
        this.chartdata.datasets[0].data[4] = this.form.eat.five;
        this.chartdata.datasets[0].data[5] = this.form.eat.six;
        this.chartdata.datasets[0].data[6] = this.form.eat.seven;
        this.chartdata.datasets[0].data[7] = this.form.eat.eight;
        this.chartdata.datasets[0].data[8] = this.form.eat.nine;
        this.chartdata.datasets[0].data[9] = this.form.eat.ten;
        this.chartdata.datasets[0].data[10] = this.form.eat.eleven;
        this.showpic1 = true;
      } else {
        this.showpic1 = false;
      }
    },
    create_form2() {
      if (this.showpic2 == false) {
        this.chartdata.datasets[0].label = "如廁";
        this.chartdata.labels[0] = "馬桶小便";
        this.chartdata.labels[1] = "小便表示";
        this.chartdata.labels[2] = "獨立小便";
        this.chartdata.labels[3] = "大便表示";
        this.chartdata.labels[4] = "馬桶大便";
        this.chartdata.labels[5] = "獨立大便";
        this.chartdata.labels[6] = "如廁方式";
        this.chartdata.labels[7] = "用衛生紙";
        this.chartdata.labels[8] = "如廁衛生";

        this.chartdata.datasets[0].data[0] = this.form.toilet.one;
        this.chartdata.datasets[0].data[1] = this.form.toilet.two;
        this.chartdata.datasets[0].data[2] = this.form.toilet.three;
        this.chartdata.datasets[0].data[3] = this.form.toilet.four;
        this.chartdata.datasets[0].data[4] = this.form.toilet.five;
        this.chartdata.datasets[0].data[5] = this.form.toilet.six;
        this.chartdata.datasets[0].data[6] = this.form.toilet.seven;
        this.chartdata.datasets[0].data[7] = this.form.toilet.eight;
        this.chartdata.datasets[0].data[8] = this.form.toilet.nine;

        this.showpic2 = true;
      } else {
        this.showpic2 = false;
      }
    },
    create_form3() {
      if (this.showpic3 == false) {
        this.chartdata.datasets[0].label = "清潔與衛生";
        this.chartdata.labels[0] = "開關龍頭";
        this.chartdata.labels[1] = "正確洗手";
        this.chartdata.labels[2] = "自己洗手";
        this.chartdata.labels[3] = "擦手臉";
        this.chartdata.labels[4] = "自己洗臉";
        this.chartdata.labels[5] = "刷牙";
        this.chartdata.labels[6] = "漱口";
        this.chartdata.labels[7] = "擠牙膏";
        this.chartdata.labels[8] = "梳頭髮";
        this.chartdata.labels[9] = "配合洗澡";
        this.chartdata.labels[10] = "自己洗澡";
        this.chartdata.labels[11] = "配合洗髮";
        this.chartdata.labels[12] = "配合擤鼻涕";
        this.chartdata.labels[13] = "擦鼻涕";
        this.chartdata.labels[14] = "衛生習慣";
        this.chartdata.datasets[0].data[0] = this.form.clean.one;
        this.chartdata.datasets[0].data[1] = this.form.clean.two;
        this.chartdata.datasets[0].data[2] = this.form.clean.three;
        this.chartdata.datasets[0].data[3] = this.form.clean.four;
        this.chartdata.datasets[0].data[4] = this.form.clean.five;
        this.chartdata.datasets[0].data[5] = this.form.clean.six;
        this.chartdata.datasets[0].data[6] = this.form.clean.seven;
        this.chartdata.datasets[0].data[7] = this.form.clean.eight;
        this.chartdata.datasets[0].data[8] = this.form.clean.nine;
        this.chartdata.datasets[0].data[9] = this.form.clean.ten;
        this.chartdata.datasets[0].data[10] = this.form.clean.eleven;
        this.chartdata.datasets[0].data[11] = this.form.clean.twelve;
        this.chartdata.datasets[0].data[12] = this.form.clean.thirteen;
        this.chartdata.datasets[0].data[13] = this.form.clean.fourteen;
        this.chartdata.datasets[0].data[14] = this.form.clean.fifteen;

        this.showpic3 = true;
      } else {
        this.showpic3 = false;
      }
    },
    create_form4() {
      if (this.showpic4 == false) {
        this.chartdata.datasets[0].label = "穿著";
        this.chartdata.labels[0] = "拖鞋";
        this.chartdata.labels[1] = "穿鞋";
        this.chartdata.labels[2] = "解開黏扣帶";
        this.chartdata.labels[3] = "黏好黏扣帶";
        this.chartdata.labels[4] = "脫襪子";
        this.chartdata.labels[5] = "脫褲子";
        this.chartdata.labels[6] = "穿褲子";
        this.chartdata.labels[7] = "脫外套";
        this.chartdata.labels[8] = "脫套頭衣";
        this.chartdata.labels[9] = "穿套頭衣";
        this.chartdata.labels[10] = "穿襪子";
        this.chartdata.labels[11] = "解釦子";
        this.chartdata.labels[12] = "穿外套";
        this.chartdata.labels[13] = "扣釦子";
        this.chartdata.labels[14] = "拉下拉鍊";
        this.chartdata.labels[15] = "拉上拉鍊";
        this.chartdata.datasets[0].data[0] = this.form.dress.one;
        this.chartdata.datasets[0].data[1] = this.form.dress.two;
        this.chartdata.datasets[0].data[2] = this.form.dress.three;
        this.chartdata.datasets[0].data[3] = this.form.dress.four;
        this.chartdata.datasets[0].data[4] = this.form.dress.five;
        this.chartdata.datasets[0].data[5] = this.form.dress.six;
        this.chartdata.datasets[0].data[6] = this.form.dress.seven;
        this.chartdata.datasets[0].data[7] = this.form.dress.eight;
        this.chartdata.datasets[0].data[8] = this.form.dress.nine;
        this.chartdata.datasets[0].data[9] = this.form.dress.ten;
        this.chartdata.datasets[0].data[10] = this.form.dress.eleven;
        this.chartdata.datasets[0].data[11] = this.form.dress.twelve;
        this.chartdata.datasets[0].data[12] = this.form.dress.thirteen;
        this.chartdata.datasets[0].data[13] = this.form.dress.fourteen;
        this.chartdata.datasets[0].data[14] = this.form.dress.fifteen;
        this.chartdata.datasets[0].data[15] = this.form.dress.sixteen;

        this.showpic4 = true;
      } else {
        this.showpic4 = false;
      }
    },

    async submit() {
      var k = this.measuretime;
      var ref;
      if (this.currentStudent.measures) {
        if (this.currentStudent.measures[k - 1]) {
          let _this = this;
          fireDb
            .collection("students")
            .doc(this.currentStudent.id)
            .get()
            .then(results => {
              if (!results.empty) {
                _this.whole_measures = results.data().measures;
                _this.whole_measures[k - 1].domain4 = this.form;
                ref = fireDb.collection("students").doc(this.currentStudent.id);
                ref
                  .update({
                    measures: this.whole_measures
                  })
                  .then(() => {
                    for (let i = 0; i < this.students.length; i++) {
                      let _students = JSON.parse(JSON.stringify(this.students));
                      if (_students[i].id == this.currentStudent.id) {
                        let k = this.measuretime;
                        _students[i].measures[k - 1].domain4 = this.form;
                        this.$store.commit("setObject", {
                          key: "students",
                          value: _students
                        });
                        this.$store.commit("setObject", {
                          key: "currentStudent",
                          value: _students[i]
                        });
                      }
                    }
                  });
              }
            });
        } else {
          ref = fireDb.collection("students").doc(this.currentStudent.id);
          this.smeasure.push({ domain4: this.form });
          ref.update({ measures: this.smeasure }).then(() => {
            for (let i = 0; i < this.students.length; i++) {
              let _students = JSON.parse(JSON.stringify(this.students));
              if (_students[i].id == this.currentStudent.id) {
                let k = this.measuretime;
                _students[i].measures.push({ domain4: this.form });
                this.$store.commit("setObject", {
                  key: "students",
                  value: _students
                });
                this.$store.commit("setObject", {
                  key: "currentStudent",
                  value: _students[i]
                });
              }
            }
          });
        }
      } else {
        //如果現在firebase裡沒有半個measures
        ref = fireDb.collection("students").doc(this.currentStudent.id);
        this.smeasure.push({ domain4: this.form });
        ref.update({ measures: this.smeasure }).then(() => {
          for (let i = 0; i < this.students.length; i++) {
            let _students = JSON.parse(JSON.stringify(this.students));
            if (_students[i].id == this.currentStudent.id) {
              _students[i].measures = [];
              _students[i].measures.push({ domain4: this.form });
              this.$store.commit("setObject", {
                key: "students",
                value: _students
              });
              this.$store.commit("setObject", {
                key: "currentStudent",
                value: _students[i]
              });
            }
          }
        });
      }
      this.$router.push("/classes");
    }
  },
  components: {
    ChartLine
  },
  mounted() {
    let _student = JSON.parse(JSON.stringify(this.currentStudent));
    if (_student.measures) {
      this.smeasure = _student.measures;
      var s = this.measuretime;
      if (!this.currentStudent) {
        let _this = this;
        fireDb
          .collection("students")
          .doc(this.currentStudent.id)
          .get()
          .then(results => {
            if (!results.empty) {
              _this.smeasures = results.data().measures[s - 1];
            }
          });
      } else {
        if (this.currentStudent.measures[s - 1]) {
          let _student = JSON.parse(JSON.stringify(this.currentStudent));
          this.smeasures = _student.measures[s - 1];
        }
      }

      if (this.smeasures.domain4) {
        let d4 = this.smeasures.domain4;
        this.form.eat.one = (d4 && d4.eat && d4.eat.one) || "";
        this.form.eat.two = (d4 && d4.eat && d4.eat.two) || "";
        this.form.eat.three = (d4 && d4.eat && d4.eat.three) || "";
        this.form.eat.four = (d4 && d4.eat && d4.eat.four) || "";
        this.form.eat.five = (d4 && d4.eat && d4.eat.five) || "";
        this.form.eat.six = (d4 && d4.eat && d4.eat.six) || "";
        this.form.eat.seven = (d4 && d4.eat && d4.eat.seven) || "";
        this.form.eat.eight = (d4 && d4.eat && d4.eat.eight) || "";
        this.form.eat.nine = (d4 && d4.eat && d4.eat.nine) || "";
        this.form.eat.ten = (d4 && d4.eat && d4.eat.ten) || "";
        this.form.eat.eleven = (d4 && d4.eat && d4.eat.eleven) || "";

        this.form.toilet.one = (d4 && d4.toilet && d4.toilet.one) || "";
        this.form.toilet.two = (d4 && d4.toilet && d4.toilet.two) || "";
        this.form.toilet.three = (d4 && d4.toilet && d4.toilet.three) || "";
        this.form.toilet.four = (d4 && d4.toilet && d4.toilet.four) || "";
        this.form.toilet.five = (d4 && d4.toilet && d4.toilet.five) || "";
        this.form.toilet.six = (d4 && d4.toilet && d4.toilet.six) || "";
        this.form.toilet.seven = (d4 && d4.toilet && d4.toilet.seven) || "";
        this.form.toilet.eight = (d4 && d4.toilet && d4.toilet.eight) || "";
        this.form.toilet.nine = (d4 && d4.toilet && d4.toilet.nine) || "";

        this.form.clean.one = (d4 && d4.clean && d4.clean.one) || "";
        this.form.clean.two = (d4 && d4.clean && d4.clean.two) || "";
        this.form.clean.three = (d4 && d4.clean && d4.clean.three) || "";
        this.form.clean.four = (d4 && d4.clean && d4.clean.four) || "";
        this.form.clean.five = (d4 && d4.clean && d4.clean.five) || "";
        this.form.clean.six = (d4 && d4.clean && d4.clean.six) || "";
        this.form.clean.seven = (d4 && d4.clean && d4.clean.seven) || "";
        this.form.clean.eight = (d4 && d4.clean && d4.clean.eight) || "";
        this.form.clean.nine = (d4 && d4.clean && d4.clean.nine) || "";
        this.form.clean.ten = (d4 && d4.clean && d4.clean.ten) || "";
        this.form.clean.eleven = (d4 && d4.clean && d4.clean.eleven) || "";
        this.form.clean.twelve = (d4 && d4.clean && d4.clean.twelve) || "";
        this.form.clean.thirteen = (d4 && d4.clean && d4.clean.thirteen) || "";
        this.form.clean.fourteen = (d4 && d4.clean && d4.clean.fourteen) || "";
        this.form.clean.fifteen = (d4 && d4.clean && d4.clean.fifteen) || "";

        this.form.dress.one = (d4 && d4.dress && d4.dress.one) || "";
        this.form.dress.two = (d4 && d4.dress && d4.dress.two) || "";
        this.form.dress.three = (d4 && d4.dress && d4.dress.three) || "";
        this.form.dress.four = (d4 && d4.dress && d4.dress.four) || "";
        this.form.dress.five = (d4 && d4.dress && d4.dress.five) || "";
        this.form.dress.six = (d4 && d4.dress && d4.dress.six) || "";
        this.form.dress.seven = (d4 && d4.dress && d4.dress.seven) || "";
        this.form.dress.eight = (d4 && d4.dress && d4.dress.eight) || "";
        this.form.dress.nine = (d4 && d4.dress && d4.dress.nine) || "";
        this.form.dress.ten = (d4 && d4.dress && d4.dress.ten) || "";
        this.form.dress.eleven = (d4 && d4.dress && d4.dress.eleven) || "";
        this.form.dress.twelve = (d4 && d4.dress && d4.dress.twelve) || "";
        this.form.dress.thirteen = (d4 && d4.dress && d4.dress.thirteen) || "";
        this.form.dress.fourteen = (d4 && d4.dress && d4.dress.fourteen) || "";
        this.form.dress.fifteen = (d4 && d4.dress && d4.dress.fifteen) || "";
        this.form.dress.sixteen = (d4 && d4.dress && d4.dress.sixteen) || "";
      }
    }
  }
};
</script>

<style scoped>
section {
  width: 70%;
  margin: 50px, auto;
  padding: 50px;
  text-align: center;
}

.p {
  font-size: 30px;
  text-align: left;
  color: #0044bb;
}

.chartline {
  padding: 25px;
}

.create_form {
  margin-top: 10px;
}
</style>







 