<template>
  <b-container>
    <section>
      <br />
      <p class="p">言語機轉</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>呼吸：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>發聲：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>雙唇閉合：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>舌頭活動：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>張口閉口：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>吹：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>流口水控制：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <b-button class="create_form" @click="create_form1">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic1">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">語言理解 - 非口語理解</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>名字反應：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聽懂語氣：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>情境下理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">語言理解 - 語彙理解</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>人稱詞理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>動作詞理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>名稱詞理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>身體部位名稱理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>代名詞理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>空間詞理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>了解形容詞：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <p class="p">語言理解-簡單句理解</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>功能性指認：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.eleven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>直述句理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.twelve"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>問句理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.thirteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>否定句理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.fourteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">語言理解 - 複雜句理解</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>理解含形容詞句子：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.fifteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>理解含空間詞句子：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.sixteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>對比句理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.seventeen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>複合直述句理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.eighteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>複合句理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.nineteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>複雜句理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.twenty"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">語言理解 - 敘述性語言理解</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聽懂敘述性語言：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.twenty_one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聽懂故事：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.twenty_two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聽懂暗示性用語：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.language_comp.twenty_three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-button class="create_form" @click="create_form2">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic2">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>
      <br />

      <p class="p">口語表達 - 聲音表達</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聲音回應：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聲音表示需求：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聲音表示情緒：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>牙牙學語：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>使用擬生詞：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>回答是/不是：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>仿說語彙：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>人稱詞使用：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>名稱詞使用：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>動作詞使用：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>說出名字：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.eleven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>代名詞使用：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.twelve"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>
      <br />
      <p class="p">口語表達 - 簡單句表達</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>片語使用：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.thirteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>仿說簡單句：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.fourteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>直述句表達：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.fifteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>問句表達：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.sixteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>否定句表達：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.seventeen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">口語表達 - 複雜句表達</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>仿說複雜句：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.eighteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>使用含形容詞的句子：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.nineteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>複合句表達：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.twenty"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>複雜句表達：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.twenty_one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <p class="p">口語表達 - 語言精熟度</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>構音正確：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.twenty_two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>看圖說故事：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.twenty_three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>不同語法：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.twenty_four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>說話流利：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.compress.twenty_five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-button class="create_form" @click="create_form3">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic3">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>

      <p class="p">溝通能力（語用能力）</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>視線接觸：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.one"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>溝通意圖：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.two"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>表示需求：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.three"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>打招呼、道歉：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.four"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>表示拒絕：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.five"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>回答問題：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.six"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>表示情緒：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.seven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>問問題：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.eight"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>指示或告知：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.nine"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>描述事件：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.ten"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>音量控制：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.eleven"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>互動輪流：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.twelve"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>要求重述：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.thirteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>澄清不明訊息：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.fourteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>電話對談：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.fifteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>唱兒歌：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.sixteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>使用不同語調：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.seventeen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>溝通效度：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <div>
              <b-form-input v-model="form.communication.eighteen"></b-form-input>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-button class="create_form" @click="create_form4">生成圖表</b-button>
      <br />
      <br />
      <div v-if="showpic4">
        <ChartLine class="chartline" :chart-data="chartdata" :options="options" />
      </div>

      <br />

      <b-button @click="submit">確定提交</b-button>
    </section>
  </b-container>
</template>






<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
import ChartLine from "@/components/ChartLine";
import { mapState } from "vuex";

export default {
  data() {
    return {
      showpic1: false,
      showpic2: false,
      showpic3: false,
      showpic4: false,
      showpic5: false,
      //readonly: false,
      smeasure: [], //submit和mounted時用到
      smeasures: {},
      whole_measures: [],
      form: {
        language: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: ""
        },

        language_comp: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: "",
          eleven: "",
          twelve: "",
          thirteen: "",
          fourteen: "",
          fifteen: "",
          sixteen: "",
          seventeen: "",
          eighteen: "",
          nineteen: "",
          twenty: "",
          twenty_one: "",
          twenty_two: "",
          twenty_three: ""
        },

        compress: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: "",
          eleven: "",
          twelve: "",
          thirteen: "",
          fourteen: "",
          fifteen: "",
          sixteen: "",
          seventeen: "",
          eighteen: "",
          nineteen: "",
          twenty: "",
          twenty_one: "",
          twenty_two: "",
          twenty_three: "",
          twenty_four: "",
          twenty_five: ""
        },

        communication: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: "",
          ten: "",
          eleven: "",
          twelve: "",
          thirteen: "",
          fourteen: "",
          fifteen: "",
          sixteen: "",
          seventeen: "",
          eighteen: ""
        }
      },
      chartdata: {
        labels: [""],
        datasets: [
          {
            // label: "量表值",
            fill: false, // 是否填滿色彩
            lineTension: 0,
            backgroundColor: "#f87979",
            data: []
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{ id: "y-axis-1", ticks: { min: 0, max: 4 } }]
        }
      },
      measuretime: this.$store.state.measuretime
    };
  },
  computed: {
    ...mapState({
      currentStudent: state => state.currentStudent,
      students: state => state.students
    })
  },

  methods: {
    create_form1() {
      if (this.showpic1 == false) {
        this.chartdata.datasets[0].label = "言語機轉";
        this.chartdata.labels[0] = "呼吸";
        this.chartdata.labels[1] = "發聲";
        this.chartdata.labels[2] = "雙唇閉合";
        this.chartdata.labels[3] = "舌頭活動";
        this.chartdata.labels[4] = "張口閉口";
        this.chartdata.labels[5] = "吹";
        this.chartdata.labels[6] = "流口水控制";
        this.chartdata.datasets[0].data[0] = this.form.language.one;
        this.chartdata.datasets[0].data[1] = this.form.language.two;
        this.chartdata.datasets[0].data[2] = this.form.language.three;
        this.chartdata.datasets[0].data[3] = this.form.language.four;
        this.chartdata.datasets[0].data[4] = this.form.language.five;
        this.chartdata.datasets[0].data[5] = this.form.language.six;
        this.chartdata.datasets[0].data[6] = this.form.language.seven;

        this.showpic1 = true;
      } else {
        this.showpic1 = false;
      }
    },
    create_form2() {
      if (this.showpic2 == false) {
        this.chartdata.datasets[0].label = "語言理解";
        this.chartdata.labels[0] = "非口語理解-名字反應";
        this.chartdata.labels[1] = "非口語理解-聽懂語氣";
        this.chartdata.labels[2] = "非口語理解-情境下理解";
        this.chartdata.labels[3] = "語彙理解-人稱詞理解";
        this.chartdata.labels[4] = "語彙理解-動作詞理解";
        this.chartdata.labels[5] = "語彙理解-名稱詞理解";
        this.chartdata.labels[6] = "語彙理解-身體部位名稱理解";
        this.chartdata.labels[7] = "代名詞理解";
        this.chartdata.labels[8] = "空間詞理解";
        this.chartdata.labels[9] = "了解形容詞";
        this.chartdata.labels[10] = "簡單句理解-功能性指認";
        this.chartdata.labels[11] = "簡單句理解-直述句理解";
        this.chartdata.labels[12] = "簡單句理解-問句理解";
        this.chartdata.labels[13] = "簡單句理解-否定句理解";
        this.chartdata.labels[14] = "複雜句理解-理解含形容詞子句";
        this.chartdata.labels[15] = "複雜句理解-理解含空間詞的子句";
        this.chartdata.labels[16] = "複雜句理解-對比句理解";
        this.chartdata.labels[17] = "複雜句理解-複合直述句理解";
        this.chartdata.labels[18] = "複雜句理解-複合句理解";
        this.chartdata.labels[19] = "複雜句理解-複雜句理解";
        this.chartdata.labels[20] = "敘述性語言理解-聽懂敘述性語言";
        this.chartdata.labels[21] = "敘述性語言理解-聽懂故事";
        this.chartdata.labels[22] = "敘述性語言理解-聽懂暗示性用語";

        this.chartdata.datasets[0].data[0] = this.form.language_comp.one;
        this.chartdata.datasets[0].data[1] = this.form.language_comp.two;
        this.chartdata.datasets[0].data[2] = this.form.language_comp.three;
        this.chartdata.datasets[0].data[3] = this.form.language_comp.four;
        this.chartdata.datasets[0].data[4] = this.form.language_comp.five;
        this.chartdata.datasets[0].data[5] = this.form.language_comp.six;
        this.chartdata.datasets[0].data[6] = this.form.language_comp.seven;
        this.chartdata.datasets[0].data[7] = this.form.language_comp.eight;
        this.chartdata.datasets[0].data[8] = this.form.language_comp.nine;
        this.chartdata.datasets[0].data[9] = this.form.language_comp.ten;
        this.chartdata.datasets[0].data[10] = this.form.language_comp.eleven;
        this.chartdata.datasets[0].data[11] = this.form.language_comp.twelve;
        this.chartdata.datasets[0].data[12] = this.form.language_comp.thirteen;
        this.chartdata.datasets[0].data[13] = this.form.language_comp.fourteen;
        this.chartdata.datasets[0].data[14] = this.form.language_comp.fifteen;
        this.chartdata.datasets[0].data[15] = this.form.language_comp.sixteen;
        this.chartdata.datasets[0].data[16] = this.form.language_comp.seventeen;
        this.chartdata.datasets[0].data[17] = this.form.language_comp.eighteen;
        this.chartdata.datasets[0].data[18] = this.form.language_comp.nineteen;
        this.chartdata.datasets[0].data[19] = this.form.language_comp.twenty;
        this.chartdata.datasets[0].data[20] = this.form.language_comp.twenty_one;
        this.chartdata.datasets[0].data[21] = this.form.language_comp.twenty_two;
        this.chartdata.datasets[0].data[22] = this.form.language_comp.twenty_three;
        this.showpic2 = true;
      } else {
        //設定再點一次圖會消失
        this.showpic2 = false;
      }
    },
    create_form3() {
      if (this.showpic3 == false) {
        this.chartdata.datasets[0].label = "口語表達";
        this.chartdata.labels[0] = "聲音表達-聲音回應";
        this.chartdata.labels[1] = "聲音表達-聲音表示需求";
        this.chartdata.labels[2] = "聲音表達-聲音表示情緒";
        this.chartdata.labels[3] = "聲音表達-牙牙學語";
        this.chartdata.labels[4] = "聲音表達-使用擬聲詞";
        this.chartdata.labels[5] = "語彙表達-回答是/不是";
        this.chartdata.labels[6] = "語彙表達-仿說語彙";
        this.chartdata.labels[7] = "語彙表達-人稱詞使用";
        this.chartdata.labels[8] = "語彙表達-名稱詞使用";
        this.chartdata.labels[9] = "語彙表達-動作詞使用";
        this.chartdata.labels[10] = "語彙表達-說出名字";
        this.chartdata.labels[11] = "語彙表達-代名詞使用";
        this.chartdata.labels[12] = "簡單句表達-片語使用";
        this.chartdata.labels[13] = "簡單句表達-仿說簡單句";
        this.chartdata.labels[14] = "簡單句表達-直述句表達";
        this.chartdata.labels[15] = "簡單句表達-問句表達";
        this.chartdata.labels[16] = "簡單句表達-否定句表達";
        this.chartdata.labels[17] = "複雜句表達-仿說複雜句";
        this.chartdata.labels[18] = "複雜句表達-使用含形容詞子句";
        this.chartdata.labels[19] = "複雜句表達-複合句表達";
        this.chartdata.labels[20] = "複雜句表達-複雜句表達";
        this.chartdata.labels[21] = "語言精熟度-構音正確";
        this.chartdata.labels[22] = "語言精熟度-看圖說故事";
        this.chartdata.labels[23] = "語言精熟度-不同語法";
        this.chartdata.labels[24] = "語言精熟度-說話流利";
        this.chartdata.datasets[0].data[0] = this.form.compress.one;
        this.chartdata.datasets[0].data[1] = this.form.compress.two;
        this.chartdata.datasets[0].data[2] = this.form.compress.three;
        this.chartdata.datasets[0].data[3] = this.form.compress.four;
        this.chartdata.datasets[0].data[4] = this.form.compress.five;
        this.chartdata.datasets[0].data[5] = this.form.compress.six;
        this.chartdata.datasets[0].data[6] = this.form.compress.seven;
        this.chartdata.datasets[0].data[7] = this.form.compress.eight;
        this.chartdata.datasets[0].data[8] = this.form.compress.nine;
        this.chartdata.datasets[0].data[9] = this.form.compress.ten;
        this.chartdata.datasets[0].data[10] = this.form.compress.eleven;
        this.chartdata.datasets[0].data[11] = this.form.compress.twelve;
        this.chartdata.datasets[0].data[12] = this.form.compress.thirteen;
        this.chartdata.datasets[0].data[13] = this.form.compress.fourteen;
        this.chartdata.datasets[0].data[14] = this.form.compress.fifteen;
        this.chartdata.datasets[0].data[15] = this.form.compress.sixteen;
        this.chartdata.datasets[0].data[16] = this.form.compress.seventeen;
        this.chartdata.datasets[0].data[17] = this.form.compress.eighteen;
        this.chartdata.datasets[0].data[18] = this.form.compress.nineteen;
        this.chartdata.datasets[0].data[19] = this.form.compress.twenty;
        this.chartdata.datasets[0].data[20] = this.form.compress.twenty_one;
        this.chartdata.datasets[0].data[21] = this.form.compress.twenty_two;
        this.chartdata.datasets[0].data[22] = this.form.compress.twenty_three;
        this.chartdata.datasets[0].data[23] = this.form.compress.twenty_four;
        this.chartdata.datasets[0].data[24] = this.form.compress.twenty_five;

        this.showpic3 = true;
      } else {
        this.showpic3 = false;
      }
    },
    create_form4() {
      if (this.showpic4 == false) {
        this.chartdata.datasets[0].label = "溝通能力";
        this.chartdata.labels[0] = "視線接觸";
        this.chartdata.labels[1] = "溝通意圖";
        this.chartdata.labels[2] = "表示需求";
        this.chartdata.labels[3] = "打招呼、道歉";
        this.chartdata.labels[4] = "表示拒絕";
        this.chartdata.labels[5] = "回答問題";
        this.chartdata.labels[6] = "表示情緒";
        this.chartdata.labels[7] = "問問題";
        this.chartdata.labels[8] = "指示或告知";
        this.chartdata.labels[9] = "描述事件";
        this.chartdata.labels[10] = "音量控制";
        this.chartdata.labels[11] = "互動輪流";
        this.chartdata.labels[12] = "要求重述";
        this.chartdata.labels[13] = "澄清不明訊息";
        this.chartdata.labels[14] = "電話對談";
        this.chartdata.labels[15] = "唱兒歌";
        this.chartdata.labels[16] = "使用不同語調";
        this.chartdata.labels[17] = "溝通效度";

        this.chartdata.datasets[0].data[0] = this.form.communication.one;
        this.chartdata.datasets[0].data[1] = this.form.communication.two;
        this.chartdata.datasets[0].data[2] = this.form.communication.three;
        this.chartdata.datasets[0].data[3] = this.form.communication.four;
        this.chartdata.datasets[0].data[4] = this.form.communication.five;
        this.chartdata.datasets[0].data[5] = this.form.communication.six;
        this.chartdata.datasets[0].data[6] = this.form.communication.seven;
        this.chartdata.datasets[0].data[7] = this.form.communication.eight;
        this.chartdata.datasets[0].data[8] = this.form.communication.nine;
        this.chartdata.datasets[0].data[9] = this.form.communication.ten;
        this.chartdata.datasets[0].data[10] = this.form.communication.eleven;
        this.chartdata.datasets[0].data[11] = this.form.communication.twelve;
        this.chartdata.datasets[0].data[12] = this.form.communication.thirteen;
        this.chartdata.datasets[0].data[13] = this.form.communication.fourteen;
        this.chartdata.datasets[0].data[14] = this.form.communication.fifteen;
        this.chartdata.datasets[0].data[15] = this.form.communication.sixteen;
        this.chartdata.datasets[0].data[16] = this.form.communication.seventeen;
        this.chartdata.datasets[0].data[17] = this.form.communication.eighteen;

        this.showpic4 = true;
      } else {
        this.showpic4 = false;
      }
    },

    async submit() {
      var k = this.measuretime;
      var ref;
      // console.log("this.currentStudent.measures", this.currentStudent.measures);
      if (this.currentStudent.measures) {
        if (this.currentStudent.measures[k - 1]) {
          // console.log("if this.currentStudent.measures[k - 1]");
          let _this = this;
          fireDb
            .collection("students")
            .doc(this.currentStudent.id)
            .get()
            .then(results => {
              if (!results.empty) {
                _this.whole_measures = results.data().measures;
                // console.log("_this.whole_measures", this.whole_measures);
                _this.whole_measures[k - 1].domain5 = this.form;
                // console.log("new _this.whole_measures", this.whole_measures);
                ref = fireDb.collection("students").doc(this.currentStudent.id);
                ref
                  .update({
                    measures: this.whole_measures
                  })
                  .then(() => {
                    for (let i = 0; i < this.students.length; i++) {
                      let _students = JSON.parse(JSON.stringify(this.students));
                      if (_students[i].id == this.currentStudent.id) {
                        let k = this.measuretime;
                        _students[i].measures[k - 1].domain5 = this.form;
                        this.$store.commit("setObject", {
                          key: "students",
                          value: _students
                        });
                        this.$store.commit("setObject", {
                          key: "currentStudent",
                          value: _students[i]
                        });
                      }
                    }
                  });
              }
            });
        } else {
          ref = fireDb.collection("students").doc(this.currentStudent.id);
          this.smeasure.push({ domain5: this.form });
          ref.update({ measures: this.smeasure }).then(() => {
            for (let i = 0; i < this.students.length; i++) {
              let _students = JSON.parse(JSON.stringify(this.students));
              if (_students[i].id == this.currentStudent.id) {
                let k = this.measuretime;
                _students[i].measures.push({ domain5: this.form });
                this.$store.commit("setObject", {
                  key: "students",
                  value: _students
                });
                this.$store.commit("setObject", {
                  key: "currentStudent",
                  value: _students[i]
                });
              }
            }
          });
        }
      } else {
        //如果現在firebase裡沒有半個measures
        ref = fireDb.collection("students").doc(this.currentStudent.id);
        this.smeasure.push({ domain5: this.form });
        ref.update({ measures: this.smeasure }).then(() => {
          for (let i = 0; i < this.students.length; i++) {
            let _students = JSON.parse(JSON.stringify(this.students));
            if (_students[i].id == this.currentStudent.id) {
              _students[i].measures = [];
              _students[i].measures.push({ domain5: this.form });
              this.$store.commit("setObject", {
                key: "students",
                value: _students
              });
              this.$store.commit("setObject", {
                key: "currentStudent",
                value: _students[i]
              });
            }
          }
        });
      }
      this.$router.push("/classes");
    }
  },
  components: {
    ChartLine
  },
  mounted() {
    let _student = JSON.parse(JSON.stringify(this.currentStudent));
    if (_student.measures) {
      this.smeasure = _student.measures;
      var s = this.measuretime;
      if (!this.currentStudent) {
        let _this = this;
        fireDb
          .collection("students")
          .doc(this.currentStudent.id)
          .get()
          .then(results => {
            if (!results.empty) {
              _this.smeasures = results.data().measures[s - 1];
            }
          });
      } else {
        if (this.currentStudent.measures[s - 1]) {
          let _student = JSON.parse(JSON.stringify(this.currentStudent));
          this.smeasures = _student.measures[s - 1];
        }
      }

      if (this.smeasures.domain5) {
        let d5 = this.smeasures.domain5;
        this.form.language.one = (d5 && d5.language && d5.language.one) || "";
        this.form.language.two = (d5 && d5.language && d5.language.two) || "";
        this.form.language.three =
          (d5 && d5.language && d5.language.three) || "";
        this.form.language.four = (d5 && d5.language && d5.language.four) || "";
        this.form.language.five = (d5 && d5.language && d5.language.five) || "";
        this.form.language.six = (d5 && d5.language && d5.language.six) || "";
        this.form.language.seven =
          (d5 && d5.language && d5.language.seven) || "";

        this.form.language_comp.one =
          (d5 && d5.language_comp && d5.language_comp.one) || "";
        this.form.language_comp.two =
          (d5 && d5.language_comp && d5.language_comp.two) || "";
        this.form.language_comp.three =
          (d5 && d5.language_comp && d5.language_comp.three) || "";
        this.form.language_comp.four =
          (d5 && d5.language_comp && d5.language_comp.four) || "";
        this.form.language_comp.five =
          (d5 && d5.language_comp && d5.language_comp.five) || "";
        this.form.language_comp.six =
          (d5 && d5.language_comp && d5.language_comp.six) || "";
        this.form.language_comp.seven =
          (d5 && d5.language_comp && d5.language_comp.seven) || "";
        this.form.language_comp.eight =
          (d5 && d5.language_comp && d5.language_comp.eight) || "";
        this.form.language_comp.nine =
          (d5 && d5.language_comp && d5.language_comp.nine) || "";
        this.form.language_comp.ten =
          (d5 && d5.language_comp && d5.language_comp.ten) || "";
        this.form.language_comp.eleven =
          (d5 && d5.language_comp && d5.language_comp.eleven) || "";
        this.form.language_comp.twelve =
          (d5 && d5.language_comp && d5.language_comp.twelve) || "";
        this.form.language_comp.thirteen =
          (d5 && d5.language_comp && d5.language_comp.thirteen) || "";
        this.form.language_comp.fourteen =
          (d5 && d5.language_comp && d5.language_comp.fourteen) || "";
        this.form.language_comp.fifteen =
          (d5 && d5.language_comp && d5.language_comp.fifteen) || "";
        this.form.language_comp.sixteen =
          (d5 && d5.language_comp && d5.language_comp.sixteen) || "";
        this.form.language_comp.seventeen =
          (d5 && d5.language_comp && d5.language_comp.seventeen) || "";
        this.form.language_comp.eighteen =
          (d5 && d5.language_comp && d5.language_comp.eighteen) || "";
        this.form.language_comp.nineteen =
          (d5 && d5.language_comp && d5.language_comp.nineteen) || "";
        this.form.language_comp.twenty =
          (d5 && d5.language_comp && d5.language_comp.twenty) || "";
        this.form.language_comp.twenty_one =
          (d5 && d5.language_comp && d5.language_comp.twenty_one) || "";
        this.form.language_comp.twenty_two =
          (d5 && d5.language_comp && d5.language_comp.twenty_two) || "";
        this.form.language_comp.twenty_three =
          (d5 && d5.language_comp && d5.language_comp.twenty_three) || "";

        this.form.compress.one = (d5 && d5.compress && d5.compress.one) || "";
        this.form.compress.two = (d5 && d5.compress && d5.compress.two) || "";
        this.form.compress.three =
          (d5 && d5.compress && d5.compress.three) || "";
        this.form.compress.four = (d5 && d5.compress && d5.compress.four) || "";
        this.form.compress.five = (d5 && d5.compress && d5.compress.five) || "";
        this.form.compress.six = (d5 && d5.compress && d5.compress.six) || "";
        this.form.compress.seven =
          (d5 && d5.compress && d5.compress.seven) || "";
        this.form.compress.eight =
          (d5 && d5.compress && d5.compress.eight) || "";
        this.form.compress.nine = (d5 && d5.compress && d5.compress.nine) || "";
        this.form.compress.ten = (d5 && d5.compress && d5.compress.ten) || "";
        this.form.compress.eleven =
          (d5 && d5.compress && d5.compress.eleven) || "";
        this.form.compress.twelve =
          (d5 && d5.compress && d5.compress.twelve) || "";
        this.form.compress.thirteen =
          (d5 && d5.compress && d5.compress.thirteen) || "";
        this.form.compress.fourteen =
          (d5 && d5.compress && d5.compress.fourteen) || "";
        this.form.compress.fifteen =
          (d5 && d5.compress && d5.compress.fifteen) || "";
        this.form.compress.sixteen =
          (d5 && d5.compress && d5.compress.sixteen) || "";
        this.form.compress.seventeen =
          (d5 && d5.compress && d5.compress.seventeen) || "";
        this.form.compress.eighteen =
          (d5 && d5.compress && d5.compress.eighteen) || "";
        this.form.compress.nineteen =
          (d5 && d5.compress && d5.compress.nineteen) || "";
        this.form.compress.twenty =
          (d5 && d5.compress && d5.compress.twenty) || "";
        this.form.compress.twenty_one =
          (d5 && d5.compress && d5.compress.twenty_one) || "";
        this.form.compress.twenty_two =
          (d5 && d5.compress && d5.compress.twenty_two) || "";
        this.form.compress.twenty_three =
          (d5 && d5.compress && d5.compress.twenty_three) || "";
        this.form.compress.twenty_four =
          (d5 && d5.compress && d5.compress.twenty_four) || "";
        this.form.compress.twenty_five =
          (d5 && d5.compress && d5.compress.twenty_five) || "";

        this.form.communication.one =
          (d5 && d5.communication && d5.communication.one) || "";
        this.form.communication.two =
          (d5 && d5.communication && d5.communication.two) || "";
        this.form.communication.three =
          (d5 && d5.communication && d5.communication.three) || "";
        this.form.communication.four =
          (d5 && d5.communication && d5.communication.four) || "";
        this.form.communication.five =
          (d5 && d5.communication && d5.communication.five) || "";
        this.form.communication.six =
          (d5 && d5.communication && d5.communication.six) || "";
        this.form.communication.seven =
          (d5 && d5.communication && d5.communication.seven) || "";
        this.form.communication.eight =
          (d5 && d5.communication && d5.communication.eight) || "";
        this.form.communication.nine =
          (d5 && d5.communication && d5.communication.nine) || "";
        this.form.communication.ten =
          (d5 && d5.communication && d5.communication.ten) || "";
        this.form.communication.eleven =
          (d5 && d5.communication && d5.communication.eleven) || "";
        this.form.communication.twelve =
          (d5 && d5.communication && d5.communication.twelve) || "";
        this.form.communication.thirteen =
          (d5 && d5.communication && d5.communication.thirteen) || "";
        this.form.communication.fourteen =
          (d5 && d5.communication && d5.communication.fourteen) || "";
        this.form.communication.fifteen =
          (d5 && d5.communication && d5.communication.fifteen) || "";
        this.form.communication.sixteen =
          (d5 && d5.communication && d5.communication.sixteen) || "";
        this.form.communication.seventeen =
          (d5 && d5.communication && d5.communication.seventeen) || "";
        this.form.communication.eighteen =
          (d5 && d5.communication && d5.communication.eighteen) || "";
      }
    }
  }
};
</script>

<style scoped>
section {
  width: 70%;
  margin: 50px, auto;
  padding: 50px;
  text-align: center;
}

.p {
  font-size: 30px;
  text-align: left;
  color: #0044bb;
}

.chartline {
  padding: 25px;
}

.create_form {
  margin-top: 10px;
}
</style>

