<template>
  <b-container fluid>
    <div class="evaluation">
      <h2 style="margin-top:80px;">早期療育課程評量</h2>
      <br />

      <b-button @click="domainone" style="margin:12px;" variant="outline-dark">領域一：感官知覺側面圖</b-button>
      <br />

      <b-button @click="domaintwo" style="margin:12px;" variant="outline-dark">領域二：粗大動作側面圖</b-button>
      <br />

      <b-button @click="domainthree" style="margin:12px;" variant="outline-dark">領域三：精細動作側面圖</b-button>
      <br />

      <b-button @click="domainfour" style="margin:12px;" variant="outline-dark">領域四：生活自理側面圖</b-button>
      <br />

      <b-button @click="domainfive" style="margin:12px;" variant="outline-dark">領域五：語言溝通側面圖</b-button>
      <br />

      <b-button @click="domainsix" style="margin:12px;" variant="outline-dark">領域六：認知側面圖</b-button>
      <br />

      <b-button @click="domainseven" style="margin:12px;" variant="outline-dark">領域七：社會適應側面圖</b-button>
      <br />
      <b-button @click="form_analyze" style="margin:12px;" variant="outline-dark">評量結果綜合研判分析報告</b-button>
      <br />
      <b-button @click="develop_pic" style="margin:12px;" variant="outline-dark">整體發展側面圖</b-button>
      <br />
    </div>
  </b-container>
</template>

<script>
// import firebase from "firebase";
// import { fireDb } from "~/plugins/firebase.js";

export default {
  data() {
    return {
      measuretime: this.$store.state.measuretime
    };
  },

  methods: {
    domainone() {
      this.$router.push("/domain_one");
    },
    domaintwo() {
      this.$router.push("/domain_two");
    },
    domainthree() {
      this.$router.push("/domain_three");
    },
    domainfour() {
      this.$router.push("/domain_four");
    },
    domainfive() {
      this.$router.push("/domain_five");
    },
    domainsix() {
      this.$router.push("/domain_six");
    },
    domainseven() {
      this.$router.push("/domain_seven");
    },
    form_analyze: function() {
      //console.log("push to form)analyze");
      this.$router.push("/form_analyze");
    },
    develop_pic: function() {
      this.$router.push("/develop_pic");
    }
  },

  // mounted() {
  //   console.log("measuretime", this.measuretime);
  // }
};
</script>





<style scoped>
.evaluation {
  text-align: center;
}
</style>
