<template>
  <div class="all">
    <h2>家長回饋單</h2>

    <section>所有回饋單</section>
    <b-row>
      <div v-for="(date,idx) in feedback2 " :key="`allfeedback-${idx}`">
        <b-col cols="5">
          <b-col cols="1">{{idx+1}}.</b-col>
          <b-col cols="11">
            <b-button
              variant="outline-dark"
              style="width:120px;"
              @click="all_feedback(date)"
            >{{date.id}}</b-button>
          </b-col>
        </b-col>
      </div>
      <b-col cols="7">
        <div v-if="show_who_write">
          <!-- <b-collapse id="collapse-1" class="mt-2"> -->
          <!-- 按完日期按鈕後顯示的東西 -->
          <b-card>
            <div v-for="(wper,idx) in writePersons" :key="`wper-${idx}`">
              <b-col cols="1">{{idx+1}}.</b-col>
              <b-col cols="11">
                <b-button
                  @click="show_content(wper)"
                  variant="outline-dark"
                  style="width:120px;"
                >{{wper}}</b-button>
              </b-col>
            </div>
          </b-card>
          <!-- </b-collapse> -->
        </div>
      </b-col>
    </b-row>

    <section>學生填寫狀況</section>
    <b-row>
      <div v-for="(std,idx) in feedbackList " :key="`std-${idx}`">
        <b-col cols="5">
          <b-col cols="1">{{idx+1}}.</b-col>
          <b-col cols="11">
            <b-button variant="outline-dark" style="width:120px;" @click="std_write(std)">{{std}}</b-button>
          </b-col>
        </b-col>
      </div>
      <b-col cols="7">
        <div v-if="std_write_status">
          <b-card>
            <div v-for="(wrday,idx) in writeDays" :key="`wrday-${idx}`">
              <b-col cols="1">{{idx+1}}.</b-col>
              <b-col cols="11">
                <b-button
                  @click="show_content2(wrday)"
                  variant="outline-dark"
                  style="width:120px;"
                >{{wrday}}</b-button>
              </b-col>
            </div>
          </b-card>
        </div>
      </b-col>
    </b-row>
  </div>
</template>


<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";

export default {
  data() {
    return {
      writePersons: [],
      writeDays: [],
      show_who_write: false,
      std_write_status: false,
      feedbackList: [],
      child_id: ""
      // date: ""
    };
  },

  computed: {
    currentClass() {
      return this.$store.getters["getCurrentClass"];
    },
    students() {
      return this.$store.state.students;
    },

    feedback() {
      return this.$store.state.feedback;
    },
    feedback2() {
      return this.$store.state.feedback2;
    },
    date() {
      return this.$store.state.date;
    }
  },
  mounted() {
    if (this.feedback) {
      for (let i = 0; i < this.feedback.length; i++) {
        this.feedbackList.push(this.feedback[i].results[0].child);
      }
    }
  },

  methods: {
    all_feedback(vdate) {
      if (this.date && this.date.id === vdate.id) {
        this.show_who_write = !this.show_who_write;
        return;
      }
      this.writePersons = vdate.write_person;
      this.$store.commit("setObject", {
        key: "date",
        value: vdate.id
      });
      this.show_who_write = true;
    },
    show_content(wper) {
      for (let i = 0; i < this.students.length; i++) {
        if (this.students[i].name == wper) {
          this.child_id = this.students[i].id;
          // console.log("wper 的id", this.child_id); //印成功
          this.$store.commit("setObject", {
            key: "child_id",
            value: this.child_id
          });
          // console.log("commit child_id", this.child_id); //印成功
          // console.log("before break"); //印成功
          break;
        }
      }
      // console.log("after break"); //印成功
      this.$router.push("/feedback_ans");
    },
    std_write(std) {
      if (this.student && this.student.id === std.id) {
        this.std_write_status = !this.std_write_status;
        return;
      }
      this.writeDays = [];
      // console.log("std=", std.id);
      for (let i = 0; i < this.students.length; i++) {
        if (this.students[i].name == std) {
          this.child_id = this.students[i].id;
          // console.log("wper 的id", this.child_id); //印成功
          this.$store.commit("setObject", {
            key: "child_id",
            value: this.child_id
          });
          this.std_write_status = true;
          // console.log("commit child_id", this.child_id); //印成功
          // console.log("before break"); //印成功
          break;
        }
      }
      for (let i = 0; i < this.feedback.length; i++) {
        if (this.$store.state.child_id !== this.feedback[i].id) {
          // console.log("child_id not match");
        } else {
          // console.log("child_id match sucess");
          for (let j = 0; j < this.feedback[i].results.length; j++) {
            // console.log(
            //   "this.feedback[i].date",
            //   this.feedback[i].results[j].date
            // );
            this.writeDays.push(this.feedback[i].results[j].date);
            // console.log("writeDays", this.writeDays);
          }
        }
      }
    },
    show_content2(wrday) {
      // console.log("小孩", this.$store.state.child_id);
      // console.log("wrday", wrday);
      this.$store.commit("setObject", {
        key: "date",
        value: wrday
      });
      this.$router.push("/feedback_ans");
    }
  }
};
</script>

<style scoped>
section {
  background: orange;
  margin: 30px 20px;
  padding: 12px;

  /* text-align: center; */
}

h2 {
  text-align: center;
  padding: 12px;
}
.all {
  /* width: 800px; */
  /* text-align: center; */
}
</style>