<template>
  <div class="container">
    <div>
      <form>
        <br />
        <h1>家長回饋單</h1>
        <br />

        <!-- <b-form-select name="member" v-model="formdata.child" :options="opstudent"></b-form-select> -->
        <div class="form-group">
          <label>服務對象:</label>
          <b-input v-model="formdata.child" type="text" class="form-control" />
          <!--11.21 add v-model-->
        </div>

        <div class="form-group">
          <label>填答人員:</label>
          <b-input v-model="formdata.parents" type="text" class="form-control" id="parents" />
          <!--11.21 add v-model-->
        </div>
        <div class="form-group">
          <label for="formdata.date">日期:</label>
          <b-input v-model="formdata.date" type="text" class="form-control" id="date" />
        </div>
      </form>
    </div>
    <br />

    <div class="top_word">
      <p>
        親愛的家長：
        <br />感謝您用心陪伴孩子！為了更了解家長對於孩子在寶貝中心的學習，與所有同仁對家庭的服務狀況，請您協助填答以下問題～
      </p>
    </div>

    <p>填答方式:</p>

    <div class="points_explain">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">分數</th>
            <th scope="col">7</th>
            <th scope="col">6</th>
            <th scope="col">5</th>
            <th scope="col">4</th>
            <th scope="col">3</th>
            <th scope="col">2</th>
            <th scope="col">1</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">程度</th>
            <td>全部都能夠</td>
            <td>大部分能夠</td>
            <td>常常能夠</td>
            <td>有時候能夠</td>
            <td>偶爾能夠</td>
            <td>少部份能夠</td>
            <td>完全不能夠</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <br />
    <div class="firstQ">
      <p>
        1.請問您認為在寶貝中心服務中，家長能夠參與早期療育的所有過程嗎？
        請依程度填答7~1分。
      </p>
    </div>
    <br />

    <!--<div>
    <b-form-group label="Individual radios">
      <b-form-radio  readonly v-model="selected" name="radio" value="A">Option A</b-form-radio>
      <b-form-radio  readonly v-model="selected" name="radio" value="B">Option B</b-form-radio>
    </b-form-group>
    </div>-->

    <div class="firstQA">
      <b-form-radio-group readonly v-model="formdata.one_one" name="1-1">
        <p>1.1 請問您有機會參與孩子的評估項目嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.one_two" name="1-2">
        <p>1.2 請問您有機會提出孩子或家庭的需求與關切事項嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.one_three" name="1-3">
        <p>1.3 請問您有機會對於孩子的療育做出自己的決定嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.one_four" name="1-4">
        <p>1.4 請問您有機會參與孩子擬定『個別化服務計畫』嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.one_five" name="1-5">
        <p>1.5 請問您有機會參與執行孩子『個別化服務計畫』嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.one_six" name="1-6">
        <p>1.6 請問您覺得自己清楚孩子整接受早期療育的狀況嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.one_seven" name="1-7">
        <p>1.7 請問您能夠參與孩子早期療育的過程嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
      </b-form-radio-group>
    </div>
    <br />
    <br />

    <div class="talk">
      <b-form-textarea
        id="textarea"
        readonly
        v-model="formdata.text1"
        placeholder="其他想說的話～"
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </div>
    <br />
    <br />

    <div class="secondQ">
      <p>
        2.請問您認為家長能夠了解並促進孩子的發展嗎？
        請依程度填答7~1分。
      </p>
    </div>
    <br />

    <div class="secondQA">
      <b-form-radio-group readonly v-model="formdata.two_one" name="2-1">
        <p>2.1 您有機會了解一般孩子在每個年齡該有的發展狀況嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.two_two" name="2-2">
        <p>2.2 請問您有機會了解自己孩子的發展狀況嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.two_three" name="2-3">
        <p>2.3 請問您有機會 了解如何在日常生活與孩子互動嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.two_four" name="2-4">
        <p>2.4 請問您有機會了解如何照顧與教養孩子嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.two_five" name="2-5">
        <p>2.5 請問您了解自己孩子的發展狀況嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.two_six" name="2-6">
        <p>2.6 請問您了解如何促進孩子發展嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
      </b-form-radio-group>
    </div>
    <br />
    <br />

    <div class="talk">
      <b-form-textarea
        id="textarea"
        readonly
        v-model="formdata.text2"
        placeholder="其他想說的話～"
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </div>
    <br />
    <br />

    <div class="thirdQ">
      <p>
        3.請問您認為家人能夠一起協助孩子的學習與發展嗎？
        請依程度填答7~1分。
      </p>
    </div>
    <br />

    <div class="thirdQA">
      <b-form-radio-group readonly v-model="formdata.three_one" name="3-1">
        <p>3.1 家人有機會了解孩子的發展狀況嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>

        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.three_two" name="3-2">
        <p>3.2 家人有機會了解在家中如何協助孩子學習嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.three_three" name="3-3">
        <p>3.3 家人有機會了解在家中如何與孩子互動嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>

        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.three_four" name="3-4">
        <p>3.4家人有機會了解您與孩子需要哪些協助嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.three_five" name="3-5">
        <p>3.5 請問您的家人能有一起協助孩子的學習與發展嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
      </b-form-radio-group>
    </div>
    <br />
    <br />

    <div class="talk">
      <b-form-textarea
        id="textarea"
        readonly
        v-model="formdata.text3"
        placeholder="其他想說的話～"
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </div>
    <br />
    <br />

    <div class="fourthQ">
      <p>
        4.請問您認為家長能夠建立自己的支持系統嗎？
        請依程度填答7~1分。
      </p>
    </div>
    <br />

    <div class="fourthQA">
      <b-form-radio-group readonly v-model="formdata.four_one" name="4-1">
        <p>4.1 請問您有機會了解自己跟孩子的相關權益嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.four_two" name="4-2">
        <p>4.2 請問您有機會了解相關的早期療育資源嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.four_three" name="4-3">
        <p>4.3 請問您有機會參與早期療育團隊的運作嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.four_four" name="4-4">
        <p>4.4 請問您有機會了解有哪些親朋好友可以協助您嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.four_five" name="4-5">
        <p>4.5 請問您有機會帶著孩子參與自己想要參加的活動嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.four_six" name="4-6">
        <p>4.6 請問您有機會跟其他類似狀況的家長談談嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.four_seven" name="4-7">
        <p>4.7 請問您能夠建立自己的支持系統嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
      </b-form-radio-group>
    </div>
    <br />
    <br />

    <div class="talk">
      <b-form-textarea
        id="textarea"
        readonly
        v-model="formdata.text4"
        placeholder="其他想說的話～"
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </div>
    <br />
    <br />

    <div class="fifthQ">
      <p>
        5.請問您認為家長是否能夠因應或減低自己所面臨的壓力？
        請依程度填答7~1分。
      </p>
    </div>
    <br />

    <div class="fifthQA">
      <b-form-radio-group readonly v-model="formdata.five_one" name="5-1">
        <p>5.1 請問您有機會了解自己照顧小孩承受壓力的狀態嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>

        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.five_two" name="5-2">
        <p>5.2 請問您有機會了解自己照顧小孩具備哪些優勢嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>

        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.five_three" name="5-3">
        <p>5.3 請問您有機會了解如何因應自己的壓力嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>

        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.five_four" name="5-4">
        <p>5.4 請問您能夠因應或減少自己所面臨的壓力嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
      </b-form-radio-group>
    </div>
    <br />
    <br />

    <div class="talk">
      <b-form-textarea
        id="textarea"
        readonly
        v-model="formdata.text5"
        placeholder="其他想說的話～"
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </div>
    <br />
    <br />

    <div class="sixthQ">
      <p>6.請問您希望獲得哪些相關活動 課程及資訊呢?</p>
    </div>
    <br />

    <div class="sixthQA">
      <p>您希望寶貝中心辦理～</p>
      <b-form-radio-group readonly v-model="formdata.six_one_one" name="6-1">
        <b-form-radio value="yes">
          辦親職講座內容為
          <b-input readonly v-model="formdata.six_one" type="text" class="6.1" />
        </b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.six_two_two" name="6-2">
        <b-form-radio value="yes">
          辦活動例如親子旅遊
          <b-input readonly v-model="formdata.six_two" type="text" class="6.2" />
        </b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.six_three_three" name="6-3">
        <b-form-radio value="yes">
          其他
          <b-input readonly v-model="formdata.six_three" type="text" class="6.3" />
        </b-form-radio>
        <br />
      </b-form-radio-group>
      <br />

      <p>您希望為自己多安排哪些活動～</p>

      <b-form-radio-group readonly v-model="formdata.six_four_four" name="6-4">
        <b-form-radio value="yes">
          多上一些課程，內容為
          <b-input readonly v-model="formdata.six_four" type="text" class="6.4" />
        </b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.six_five_five" name="6-5">
        <b-form-radio value="yes">
          有人指導孩子個別發展領域之學習技巧與訓練，內容為
          <b-input readonly v-model="formdata.six_five" type="text" class="6.5" />
        </b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.six_six_six" name="6-6">
        <b-form-radio value="yes">
          多一些自己的時間，可以做
          <b-input readonly v-model="formdata.six_six" type="text" class="6.6" />
        </b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.six_seven_seven" name="6-7">
        <b-form-radio value="yes">
          多一些親子時間，可以做
          <b-input readonly v-model="formdata.six_seven" type="text" class="6.7" />
        </b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.six_eight" name="6-8">
        <b-form-radio>需要改善親子關係</b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.six_nine" name="6-9">
        <b-form-radio>需要改善與其他家人關係</b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group readonly v-model="formdata.six_ten_ten" name="6-10">
        <b-form-radio>
          其他
          <b-input readonly v-model="formdata.six_ten" type="text" class="6.10" />
        </b-form-radio>
        <br />
      </b-form-radio-group>
    </div>
    <br />

    <!--<b-input  type="submit"  class="submit" value="確定提交"> -->

    <br />
    <br />
    <!-- <p class="end_word">謝謝您的填答，寶貝中心將更努力貼近您～</p> -->
  </div>
</template>

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";

export default {
  name: "submit",
  data() {
    return {
      formdata: {
        child: "",
        date: "",
        parents: "",
        text1: "",
        text2: "",
        text3: "",
        text4: "",
        text5: "",
        one_one: "",
        one_two: "",
        one_three: "",
        one_four: "",
        one_five: "",
        one_six: "",
        one_seven: "",
        two_one: "",
        two_two: "",
        two_three: "",
        two_four: "",
        two_five: "",
        two_six: "",
        three_one: "",
        three_two: "",
        three_three: "",
        three_four: "",
        three_five: "",
        four_one: "",
        four_two: "",
        four_three: "",
        four_four: "",
        four_five: "",
        four_six: "",
        four_seven: "",
        five_one: "",
        five_two: "",
        five_three: "",
        five_four: "",
        six_one: "",
        six_one_one: "",
        six_two: "",
        six_two_two: "",
        six_three: "",
        six_three_three: "",
        six_four: "",
        six_four_four: "",
        six_five: "",
        six_five_five: "",
        six_six: "",
        six_six_six: "",
        six_seven: "",
        six_sevne_seven: "",
        six_eight: "",
        six_nine: "",
        six_ten: "",
        six_ten_ten: ""
      }
    };
  },
  computed: {
    feedback() {
      return this.$store.state.feedback;
    },
    child_id() {
      return this.$store.state.child_id;
    },
    date() {
      return this.$store.state.date;
    },
    feedback_ans() {
      return this.$store.state.feedback_ans;
    }
  },
  mounted() {
    // console.log("ans child_id", this.child_id);
    // console.log("date", this.date);
    // this.formdata.child="angry_bird";

    for (let i = 0; i < this.feedback.length; i++) {
      if (this.feedback[i].id !== this.child_id) {
        console.log("child.id not match");
      } else {
        console.log("child.id sucess match");
        console.log("feedback[i].id", this.feedback[i].id);

        //比對成功，接著要比日期
        // console.log("feedback results", this.feedback[i].results);
        console.log("feedback results length", this.feedback[i].results.length);
        for (let j = 0; j < this.feedback[i].results.length; j++) {
          console.log("start to match date");
          if (this.feedback[i].results[j].date !== this.date) {
            console.log("date not match");
          } else {
            console.log("正確content", this.feedback[i].results[j]);
            this.$store.commit("setObject", {
              key: "feedback_ans",
              value: this.feedback[i].results[j]
            });
            break;
          }
        }
        break;
      }
    }
    this.formdata.child = this.feedback_ans.child;
    this.formdata.parents = this.feedback_ans.parents;
    this.formdata.date = this.feedback_ans.date;
    this.formdata.text1 = this.feedback_ans.text1;
    this.formdata.text2 = this.feedback_ans.text2;
    this.formdata.text3 = this.feedback_ans.text3;
    this.formdata.text4 = this.feedback_ans.text4;
    this.formdata.text5 = this.feedback_ans.text5;
    this.formdata.one_one = this.feedback_ans.one_one;
    this.formdata.one_two = this.feedback_ans.one_two;
    this.formdata.one_three = this.feedback_ans.one_three;
    this.formdata.one_four = this.feedback_ans.one_four;
    this.formdata.one_five = this.feedback_ans.one_five;
    this.formdata.one_six = this.feedback_ans.one_six;
    this.formdata.one_seven = this.feedback_ans.one_seven;
    this.formdata.two_one = this.feedback_ans.two_one;
    this.formdata.two_two = this.feedback_ans.two_two;
    this.formdata.two_three = this.feedback_ans.two_three;
    this.formdata.two_four = this.feedback_ans.two_four;
    this.formdata.two_five = this.feedback_ans.two_five;
    this.formdata.two_six = this.feedback_ans.two_six;
    this.formdata.three_one = this.feedback_ans.three_one;
    this.formdata.three_two = this.feedback_ans.three_two;
    this.formdata.three_three = this.feedback_ans.three_three;
    this.formdata.three_four = this.feedback_ans.three_four;
    this.formdata.three_five = this.feedback_ans.three_five;
    this.formdata.four_one = this.feedback_ans.four_one;
    this.formdata.four_two = this.feedback_ans.four_two;
    this.formdata.four_three = this.feedback_ans.four_three;
    this.formdata.four_four = this.feedback_ans.four_four;
    this.formdata.four_five = this.feedback_ans.four_five;
    this.formdata.four_six = this.feedback_ans.four_six;
    this.formdata.four_seven = this.feedback_ans.four_seven;
    this.formdata.five_one = this.feedback_ans.five_one;
    this.formdata.five_two = this.feedback_ans.five_two;
    this.formdata.five_three = this.feedback_ans.five_three;
    this.formdata.five_four = this.feedback_ans.five_four;
    this.formdata.six_one = this.feedback_ans.six_one;
    this.formdata.six_one_one = this.feedback_ans.six_one_one;
    this.formdata.six_two = this.feedback_ans.six_two;
    this.formdata.six_two_two = this.feedback_ans.six_two_two;
    this.formdata.six_three = this.feedback_ans.six_three;
    this.formdata.six_three_three = this.feedback_ans.six_three_three;
    this.formdata.six_four = this.feedback_ans.six_four;
    this.formdata.six_four_four = this.feedback_ans.six_four_four;
    this.formdata.six_five = this.feedback_ans.six_five;
    this.formdata.six_five_five = this.feedback_ans.six_five_five;
    this.formdata.six_six = this.feedback_ans.six_six;
    this.formdata.six_six_six = this.feedback_ans.six_six_six;
    this.formdata.six_seven = this.feedback_ans.six_seven;
    this.formdata.six_sevne_seven = this.feedback_ans.six_sevne_seven;
    this.formdata.six_eight = this.feedback_ans.six_eight;
    this.formdata.six_nine = this.feedback_ans.six_nine;
    this.formdata.six_ten = this.feedback_ans.six_ten;
    this.formdata.six_ten_ten = this.feedback_ans.six_ten_ten;
  }
};
</script>


<style scoped>
p.end_word {
  text-align: center;
  font-size: 25px;
  background: chocolate;
  color: aliceblue;
}
</style>