<template>
  <b-container>
    <section>
      <br />
      <p class="p">視覺應用</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>視覺機警度：</label> &nbsp;
          </b-col>
          <b-col sm="8" style="width:10px;">
            <!-- style width好像沒有作用-->
            <b-form-input v-model="form.see.one"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>追視物品：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.see.two"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>追視人物：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.see.three"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>物品注意力：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.see.four"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>對人注意力：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.see.five"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>視覺辨識：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.see.six"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>主體背景區辨：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.see.seven"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />
      <p class="p">聽覺應用</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聽覺機警度：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.listen.one"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>反應聲源：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.listen.two"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聲音物體恆存：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.listen.three"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>聲音理解：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.listen.four"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>名字反應：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.listen.five"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>傾聽能力：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.listen.six"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />
      <p class="p">觸覺應用</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>觸覺機警度：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.touch.one"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>身體觸覺：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.touch.two"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>臉部觸覺：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.touch.three"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>口腔觸覺：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.touch.four"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>觸覺統整：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.touch.five"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>溫度接收：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.touch.six"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>溫度分辨：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.touch.seven"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>觸覺應用：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.touch.eight"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>觸覺辨識：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.touch.nine"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />
      <p class="p">味嗅覺刺激</p>
      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>味覺接收：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.smell.one"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>味覺分辨：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.smell.two"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>嗅覺接收：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.smell.three"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>嗅覺分辨：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.smell.four"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />
      <p class="p">家庭及本體覺刺激</p>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>扶抱移動：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.final.one"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>加速度活動：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.final.two"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>治療球活動：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.final.three"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>旋轉活動：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.final.four"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>關節擠壓：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.final.five"></b-form-input>
          </b-col>
        </b-row>
      </div>

      <div fluid>
        <b-row style="margin:12px;">
          <b-col sm="4">
            <label>緊抱重壓刺激：</label> &nbsp;
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="form.final.six"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <b-button @click="create_form">生成圖表</b-button>
      <!--放圖表-->
      <b-button @click="submit">確定提交</b-button>
    </section>
  </b-container>
</template>

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
export default {
  data() {
    return {
      form: {
        see: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: ""
        },

        listen: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: ""
        },

        touch: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: "",
          seven: "",
          eight: "",
          nine: ""
        },

        smell: {
          one: "",
          two: "",
          three: "",
          four: ""
        },
        final: {
          one: "",
          two: "",
          three: "",
          four: "",
          five: "",
          six: ""
        }
      }
    };
  },

  methods: {
    async create_form() {
      //按下生成圖表後 頁面下方出現數值側面圖
      const ref = fireDb.collection("first_domain_one").doc();

      console.log(this.form);
      try {
        await ref.set(this.form);
      } catch (e) {
        console.error(e);
      }
    }
  },
  
};
</script>

<style scoped>
section {
  width: 70%;
  margin: 50px, auto;
  padding: 50px;
  text-align: center;
}

.p {
  font-size: 30px;
  text-align: left;
  color: #0044bb;
}
</style>

