<template>
  <div class="container">
    <div>
      <form>
        <br />
        <br />
        <h1>評量結果綜合研判分析報告</h1>
        <br />
        <br />
        <div class="form-group">
          <label>學生姓名：</label>
          <b-input v-model="form.child" type="text" class="form-control" />
          <!--11.21 add v-model-->
        </div>
        <div class="form-group">
          <label for="formdata.gender">性別：</label>
          <b-input v-model="form.gender" type="text" class="form-control" id="class" />
          <!--11.21 add v-model-->
        </div>
        <div class="form-group">
          <label for="formdata.bitrh">出生日期：</label>
          <b-input v-model="form.birth" type="text" class="form-control" id="parents" />
          <!--11.21 add v-model-->
        </div>
        <div class="form-group">
          <label for="formdata.date">評量日期：</label>
          <b-input v-model="form.date" type="text" class="form-control" id="date" />
          <!--11.21 add v-model-->
        </div>
        <div class="form-group">
          <label for="formdata.come">入學日期：</label>
          <b-input v-model="form.come" type="text" class="form-control" id="date" />
          <!--11.21 add v-model-->
        </div>
        <div class="form-group">
          <label for="formdata.person">評量者：</label>
          <b-input v-model="form.person" type="text" class="form-control" id="date" />
          <!--11.21 add v-model-->
        </div>
      </form>
    </div>
    <br />

    <br />
    <div class="domain">
      <div>
        <p class="p">健康狀況-現況摘要</p>
        <b-form-textarea
          style="background-color:#FFF0D4;"
          id="textarea"
          v-model="form.healthy"
          rows="3"
          max-rows="10"
        ></b-form-textarea>
      </div>
      <div>
        <br />
        <p class="p">感官知覺-現況摘要</p>
        <b-form-textarea
          style="background-color:#FFF0D4;"
          id="textarea"
          v-model="form.feel"
          rows="3"
          max-rows="10"
        ></b-form-textarea>
      </div>
      <br />
      <br />
      <div>
        <p class="p">粗大動作-現況摘要</p>
        <b-form-textarea
          style="background-color:#CCDDFF;"
          id="textarea"
          v-model="form.action"
          rows="3"
          max-rows="10"
        ></b-form-textarea>
      </div>
      <div>
        <br />
        <p class="p">精細動作-現況摘要</p>
        <b-form-textarea
          style="background-color:#CCDDFF;"
          id="textarea"
          v-model="form.saction"
          rows="3"
          max-rows="10"
        ></b-form-textarea>
      </div>
      <br />
      <br />
      <div>
        <p class="p">生活自理-現況摘要</p>
        <b-form-textarea
          style="background-color:#FFF0D4;"
          id="textarea"
          v-model="form.life"
          rows="3"
          max-rows="10"
        ></b-form-textarea>
      </div>
      <div>
        <br />
        <p class="p">語言溝通-現況摘要</p>
        <b-form-textarea
          style="background-color:#FFF0D4;"
          id="textarea"
          v-model="form.lang"
          rows="3"
          max-rows="10"
        ></b-form-textarea>
      </div>
      <br />
      <br />
      <div>
        <p class="p">認知-現況摘要</p>
        <b-form-textarea
          style="background-color:#CCDDFF;"
          id="textarea"
          v-model="form.know"
          rows="3"
          max-rows="10"
        ></b-form-textarea>
      </div>
      <div>
        <br />
        <p class="p">社會適應-現況摘要</p>
        <b-form-textarea
          style="background-color:#CCDDFF;"
          id="textarea"
          v-model="form.adapt"
          rows="3"
          max-rows="10"
        ></b-form-textarea>
      </div>
      <br />
    </div>
    <br />
    <br />
    <b-button align="center" @click="submit" class="submit" variant="outline-dark">確定提交</b-button>
    <!--移不到中間位置-->
    <br />
    <br />
  </div>
</template>

// <script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
import { mapState } from "vuex";
export default {
  data() {
    return {
      measuretime: this.$store.state.measuretime,
      form: {
        child: "",
        gender: "",
        birth: "",
        date: "",
        come: "",
        person: "",
        healthy: "",
        feel: "",
        action: "",
        saction: "",
        life: "",
        lang: "",
        know: "",
        adapt: ""
      },
      whole_measures: "", //放firebase抓下來的全部measures資料
      form_analyze: ""
    };
  },
  methods: {
    submit() {
      var k = this.measuretime;
      var ref;

      if (this.currentStudent.measures[k - 1]) {
        let _this = this;
        fireDb
          .collection("students")
          .doc(this.currentStudent.id)
          .get()
          .then(results => {
            if (!results.empty) {
              _this.whole_measures = results.data().measures;
              _this.whole_measures[k - 1].form_analyze = this.form;

              // this.$store.commit("setObject", {
              //   key: "vform_analyze",
              //   value: "this.whole_measures"
              // });
              ref = fireDb.collection("students").doc(this.currentStudent.id);
              ref
                .update({
                  measures: this.whole_measures
                })
                .then(() => {
                  for (let i = 0; i < this.students.length; i++) {
                    let _students = JSON.parse(JSON.stringify(this.students));
                    if (this.students[i].id == this.currentStudent.id) {
                      _students[i].measures[k - 1].form_analyze = this.form;
                      this.$store.commit("setObject", {
                        key: "students",
                        value: _students
                      });
                      this.$store.commit("setObject", {
                        key: "currentStudent",
                        value: _students[i]
                      });
                    }
                  }
                });
            }
          });
      }

      this.$router.push("/classes");
    }
  },

  mounted() {
    var k = this.measuretime;
    let _student = JSON.parse(JSON.stringify(this.currentStudent));
    console.log("_student", _student);
    if (!_student.measures) {
      console.log("!_student.measures");
      alert("本次領域評量表都尚未進行填寫唷！");
      this.$router.push("/evaluation_form");
    } else {
      if (_student.measures[k - 1].form_analyze) {
        console.log("show");
        console.log(
          " _student.measures[k - 1].form_analyze;",
          _student.measures[k - 1].form_analyze
        );
        this.form = _student.measures[k - 1].form_analyze;
      }
    }
  },
  computed: {
    ...mapState({
      currentStudent: state => state.currentStudent,
      students: state => state.students
    })
  }
};
</script>

<style >
h1 {
  text-align: center;
}
p {
  font-weight: bold;
}
.submit {
  text-align: center;
}
.domain {
  text-align: center;
}
</style>
