<template>
  <div>
    <div class="container_h-100">
      <b-alert
        :show="dismissCountDown"
        dismissible
        variant="warning"
        @dismissed="dismissCountDown=0"
        @dismiss-count-down="countDownChanged"
      >
        <p>Login failed!</p>
      </b-alert>
      <div class="d-flex justify-content-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
              <img src="./logo.png" class="brand_logo" alt="Logo" />
            </div>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form>
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <div class="group">
                  <input
                    v-model="email"
                    type="text"
                    name
                    class="form-control input_pass"
                    value
                    placeholder="account"
                  />
                </div>
                <br />
              </div>
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
                <input
                  v-model="password"
                  type="password"
                  name
                  class="form-control input_pass"
                  value
                  placeholder="password"
                />
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customControlInline" />
                  <!-- <label class="custom-control-label" for="customControlInline">Remember me</label> -->
                </div>
              </div>
            </form>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button @click="login" class="btn login_btn">Login</button>
          </div>
          <div class="mt-4">
            <div class="d-flex justify-content-center links">
              Don't have an account? &nbsp;
              <u>
                <router-link to="/signUp" class="SignUp">signUp</router-link>
              </u>
            </div>
            <!--<div>user:{{username()}}</div>-->
            <!-- <div class="d-flex justify-content-center links">
              <a href="#" class="forget">Forgot your password?</a>
            </div>-->

            <!--<div class="logout">
            <button @click.prevent="logout">Logout</button>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  layout: "notlogin",
  data() {
    return {
      email: "",
      password: "",
      dismissCountDown: 0,
      dismissSecs: 2
    };
  },
  computed: {
    ...mapState({
      user: state => state.user
    })
  },
  methods: {
    login: function() {
      let payload = { email: this.email, password: this.password };
      this.$store
        .dispatch("signInWithEmail", payload)
        .then(() => {
          if (this.user.role == "roleController") {
            // console.log("EDIT");
            this.$router.push("/control_role");
          } else {
            // console.log("Enter classes");
            if (this.user.role == "parent") {
              this.$router.push("/parent_feedback");
            } else {
              this.$router.push("/classes");
            }
          }
        })
        .catch(() => {
          console.log("Login failed!");
          this.showAlert();
        });
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    }
  }
};
</script>



<style scoped>
.custom-control {
  margin-top: 24px;
  text-align: center;
}

.SignUp {
  color: #000000;
}

.forget {
  color: #000000;
}
.user_card {
  height: 600px;
  width: 350px;
  margin-top: 250px;
  background: #0088a8;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.group {
  margin-left: 24px;
  /* margin-bottom: 12px; */
}

.brand_logo_container {
  position: absolute;
  height: 200px;
  width: 200px;
  top: -100px;
  border-radius: 20px 20px 20px 20px;
  background: #227700;
  padding: 10px;
  text-align: center;
}

.brand_logo {
  height: 180px;
  width: 180px;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid white;
}

.form_container {
  margin-top: 50px;
}

.login_btn {
  width: 100%;
  background: #ff8800 !important;
  color: white !important;
  /* margin-bottom: 30px; */
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: #ff8800 !important;
  /*color:white !important;*/
  border: 0px;
  /*border-radius: 0.25rem 0 0 0.25rem !important;*/
}

.input_user,
.input_pass:focus {
  /*輸入account的地方*/
  box-shadow: none !important;
  outline: 100px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: blue !important;
  .label {
    float: left;
    width: 100px;
  }
}

.logout {
  text-align: center;
  margin-top: 20px;
}
</style>


