<template>
  <b-container fluid>
    <section>
      <b-form @submit="submit">
        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">學生姓名：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.name" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">性別：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-radio-group v-model="form.gender" name="gender">
                <b-form-radio value="男">男生</b-form-radio>
                <b-form-radio value="女">女生</b-form-radio>
              </b-form-radio-group>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">年齡：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.age" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">生日：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.birth" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">身份證字號：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.ID" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">地址：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.address" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">日托編號：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.number" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">轉入日期：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.enter" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">轉出學校：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.goschool" id="input-default" placeholder></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <b-form-group label="障礙類別：">&nbsp;</b-form-group>
            </b-col>
            <b-col sm="10">
              <b-form-checkbox-group v-model="form.obstacle" name="obstacle">
                <b-form-checkbox value="1">1</b-form-checkbox>
                <b-form-checkbox value="2">2</b-form-checkbox>
                <b-form-checkbox value="3">3</b-form-checkbox>
                <b-form-checkbox value="4">4</b-form-checkbox>
                <b-form-checkbox value="5">5</b-form-checkbox>
                <b-form-checkbox value="6">6</b-form-checkbox>
                <b-form-checkbox value="7">7</b-form-checkbox>
                <b-form-checkbox value="8">8</b-form-checkbox>其他：
                <input type="text" v-model="form.other" />
              </b-form-checkbox-group>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">父親名稱：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.father" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">父親電話：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.fathercell" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">母親名稱：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.mother" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">母親電話：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="form.mothercell" id="input-default"></b-form-input>
            </b-col>
          </b-row>
        </div>
        <br />

        <div fluid>
          <b-row>
            <b-col sm="2">
              <label for="input-default">狀態改變：</label> &nbsp;
            </b-col>
            <b-col sm="10">
              <b-button variant="outline-primary">追蹤中</b-button>
              <b-button variant="outline-primary">結案</b-button>
            </b-col>
          </b-row>
        </div>
        <br />
        <br />

        <b-button variant="primary" type="submit" class="sub">確定修改</b-button>
      </b-form>
      <br />
      <br />
      <b-button variant="success" @click="add_form">新增評量表:</b-button>
      <br />
      <br />
      <div fluid>
        <b-row>
          <b-col sm="2">
            <label for="input-default">評量表：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <div v-if="wfirst">
              <b-button @click="first" variant="outline-success">第一次</b-button>
            </div>
            <br />
            <div v-if="wsecond">
              <b-button @click="second" variant="outline-success">第二次</b-button>
            </div>
            <br />
            <div v-if="wthird">
              <b-button @click="third" variant="outline-success">第三次</b-button>
            </div>
            <br />
            <div v-if="wfourth">
              <b-button @click="fourth" variant="outline-success">第四次</b-button>
            </div>
            <br />
            <div v-if="wfifth">
              <b-button @click="fifth" variant="outline-success">第五次</b-button>
            </div>
            <br />
            <div v-if="wsixth">
              <b-button @click="sixth" variant="outline-success">第六次</b-button>
            </div>
            <br />
          </b-col>
        </b-row>
      </div>
      <br />
      <br />
    </section>
  </b-container>
</template>

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";

export default {
  name: "submit",
  data() {
    return {
      form: {
        name: null,
        gender: null,
        age: null,
        birth: null,
        ID: null,
        address: null,
        number: null,
        enter: null,
        goschool: null,
        father: null,
        fathercell: null,
        mother: null,
        mothercell: null,
        obstacle: [],
        other: null
      },
      dataprofile: {
        measuretime: "", //用來區分是第幾次填寫評量表
        domain: ""
      },
      wfirst: false,
      wsecond: false,
      wthird: false,
      wfourth: false,
      wfifth: false,
      wsixth: false,
      measures_length: ""
    };
  },
  computed: {
    student() {
      return this.$store.state.stdata;
    }
  },
  mounted() {
    this.form = JSON.parse(JSON.stringify(this.$store.state.stdata));
    // console.log("student", this.student);
    // console.log("measures_length", this.student.measures.length);
    if (this.student.measures.length == 1) {
      this.wfirst = true;
    }
    if (this.student.measures.length == 2) {
      this.wfirst = true;
      this.wsecond = true;
    }
    if (this.student.measures.length == 3) {
      this.wfirst = true;
      this.wsecond = true;
      this.wthird = true;
    }
    if (this.student.measures.length == 4) {
      this.wfirst = true;
      this.wsecond = true;
      this.wthird = true;
      this.wfourth = true;
    }
    if (this.student.measures.length == 5) {
      this.wfirst = true;
      this.wsecond = true;
      this.wthird = true;
      this.wfourth = true;
      this.wfifth = true;
    }
    if (this.student.measures.length == 6) {
      this.wfirst = true;
      this.wsecond = true;
      this.wthird = true;
      this.wfourth = true;
      this.wfifth = true;
      this.wsixth = true;
    }
  },

  methods: {
    async submit(evt) {
      let _this = this;
      evt.preventDefault();
      console.log("submit sucess");
      let docid = this.form.id;
      const ref = fireDb.collection("students").doc(docid);
      delete this.form.id;
      const document = this.form;
      console.log("data update", document);
      try {
        await ref.update(document).then(() => {
          //update改push
          console.log("PRE stdatas", _this.$store.state.stdatas);
          this.$store.commit("setObject", { key: "stdatas", value: document });
          console.log("POST stdatas", _this.$store.state.stdatas);
        });
      } catch (e) {
        console.error(e);
      }
      this.$router.push("/add_std");
    },
    first: function() {
      this.dataprofile.measuretime = 1;
      this.$store.commit("setObject", {
        key: "dataprofile",
        value: this.dataprofile
      });
      this.$router.push("/evaluation_form");
    },
    second: function() {
      this.dataprofile.measuretime = 2;
      this.$store.commit("setObject", {
        key: "dataprofile",
        value: this.dataprofile
      });

      this.$router.push("/evaluation_form");
    },
    third: function() {
      this.dataprofile.measuretime = 3;
      this.$store.commit("setObject", {
        key: "dataprofile",
        value: this.dataprofile
      });

      this.$router.push("/evaluation_form");
    },
    fourth: function() {
      this.dataprofile.measuretime = 4;
      this.$store.commit("setObject", {
        key: "dataprofile",
        value: this.dataprofile
      });

      this.$router.push("/evaluation_form");
    },
    fifth: function() {
      this.dataprofile.measuretime = 5;
      this.$store.commit("setObject", {
        key: "dataprofile",
        value: this.dataprofile
      });

      this.$router.push("/evaluation_form");
    },
    sixth: function() {
      this.dataprofile.measuretime = 6;
      this.$store.commit("setObject", {
        key: "dataprofile",
        value: this.dataprofile
      });

      this.$router.push("/evaluation_form");
    },

    add_form: function() {
      this.measures_length = this.student.measures.length + 1;
      console.log("measures_length", this.measures_length);
      if (this.measures_length == 1) {
        this.wfirst = true;
      }
      if (this.measures_length == 2) {
        this.wfirst = true;
        this.wsecond = true;
      }
      if (this.measures_length == 3) {
        this.wfirst = true;
        this.wsecond = true;
        this.wthird = true;
      }
      if (this.measures_length == 4) {
        this.wfirst = true;
        this.wsecond = true;
        this.wthird = true;
        this.wfourth = true;
      }
      if (this.measures_length == 5) {
        this.wfirst = true;
        this.wsecond = true;
        this.wthird = true;
        this.wfourth = true;
        this.wfifth = true;
      }
      if (this.measures_length == 6) {
        this.wfirst = true;
        this.wsecond = true;
        this.wthird = true;
        this.wfourth = true;
        this.wfifth = true;
        this.wsixth = true;
      }
    }
  }
};
</script>





<style scoped>
section {
  width: 70%;
  /*background: #ffc8b4;*/
  margin: 24px auto;
  padding: 24px;
}
</style>
