<template>
  <div class="container">
    <div>
      <form>
        <br />
        <h1>家長回饋單</h1>
        <br />
        <!-- <label for="formdata.class">服務對象班級:</label>
         切換不同資料庫要記得改班級id 
        <b-button
          @click="chooseClass('gCS5CLnf2HJUKA8UGHz3')"
          :variant="nowchooseClass=='gCS5CLnf2HJUKA8UGHz3' ? 'primary' : 'outline-info'"
          v-model="formdata.class"
          value="gCS5CLnf2HJUKA8UGHz3"
        >河馬</b-button>
&nbsp;
        <b-button
          @click="chooseClass('adNQxJExFKliTE2PInBx')"
          :variant="nowchooseClass=='adNQxJExFKliTE2PInBx' ? 'primary' : 'outline-info'"
          v-model="formdata.class"
          value="adNQxJExFKliTE2PInBx"
        >大象</b-button>
&nbsp;
        <b-button
          @click="chooseClass('jMLdtZIEzUflDqs856G5')"
          :variant="nowchooseClass=='jMLdtZIEzUflDqs856G5' ? 'primary' : 'outline-info'"
          v-model="formdata.class"
          value="jMLdtZIEzUflDqs856G5"
        >小熊</b-button>&nbsp;
        <b-button
          @click="chooseClass('ljSz7Ws6I6LqWUYOT1ro')"
          :variant="nowchooseClass=='ljSz7Ws6I6LqWUYOT1ro' ? 'primary' : 'outline-info'"
          v-model="formdata.class"
          value="ljSz7Ws6I6LqWUYOT1ro"
        >綿羊</b-button>&nbsp;
        <br />
        <br />-->

        <!-- <label>寶貝姓名:</label> -->
        <!-- <b-form-select name="member" v-model="formdata.child" :options="opstudent"></b-form-select> -->

        <div class="form-group">
          <label for="formdata.date">寶貝姓名（請打全名）:</label>
          <b-input v-model="formdata.child" type="text" class="form-control" id="child" />
        </div>
        <div class="form-group">
          <label for="formdata.parents">填答人員:</label>
          <b-input v-model="formdata.parents" type="text" class="form-control" id="parents" />
          <!--11.21 add v-model-->
        </div>
        <div class="form-group">
          <label for="formdata.date">日期:</label>
          <b-input v-model="formdata.date" type="text" class="form-control" id="date" />
        </div>
      </form>
    </div>
    <br />

    <div class="top_word">
      <p>
        親愛的家長：
        <br />感謝您用心陪伴孩子！為了更了解家長對於孩子在寶貝中心的學習，與所有同仁對家庭的服務狀況，請您協助填答以下問題～
      </p>
    </div>

    <p>填答方式:</p>

    <div class="points_explain">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">分數</th>
            <th scope="col">7</th>
            <th scope="col">6</th>
            <th scope="col">5</th>
            <th scope="col">4</th>
            <th scope="col">3</th>
            <th scope="col">2</th>
            <th scope="col">1</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">程度</th>
            <td>全部都能夠</td>
            <td>大部分能夠</td>
            <td>常常能夠</td>
            <td>有時候能夠</td>
            <td>偶爾能夠</td>
            <td>少部份能夠</td>
            <td>完全不能夠</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <br />
    <div class="firstQ">
      <p>
        1.請問您認為在寶貝中心服務中，家長能夠參與早期療育的所有過程嗎？
        請依程度填答7~1分。
      </p>
    </div>
    <br />

    <!--<div>
    <b-form-group label="Individual radios">
      <b-form-radio v-model="selected" name="radio" value="A">Option A</b-form-radio>
      <b-form-radio v-model="selected" name="radio" value="B">Option B</b-form-radio>
    </b-form-group>
    </div>-->

    <div class="firstQA">
      <b-form-radio-group v-model="formdata.one_one" name="1-1">
        <p>1.1 請問您有機會參與孩子的評估項目嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.one_two" name="1-2">
        <p>1.2 請問您有機會提出孩子或家庭的需求與關切事項嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.one_three" name="1-3">
        <p>1.3 請問您有機會對於孩子的療育做出自己的決定嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.one_four" name="1-4">
        <p>1.4 請問您有機會參與孩子擬定『個別化服務計畫』嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.one_five" name="1-5">
        <p>1.5 請問您有機會參與執行孩子『個別化服務計畫』嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.one_six" name="1-6">
        <p>1.6 請問您覺得自己清楚孩子整接受早期療育的狀況嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.one_seven" name="1-7">
        <p>1.7 請問您能夠參與孩子早期療育的過程嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
      </b-form-radio-group>
    </div>
    <br />
    <br />

    <div class="talk">
      <b-form-textarea
        id="textarea"
        v-model="formdata.text1"
        placeholder="其他想說的話～"
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </div>
    <br />
    <br />

    <div class="secondQ">
      <p>
        2.請問您認為家長能夠了解並促進孩子的發展嗎？
        請依程度填答7~1分。
      </p>
    </div>
    <br />

    <div class="secondQA">
      <b-form-radio-group v-model="formdata.two_one" name="2-1">
        <p>2.1 您有機會了解一般孩子在每個年齡該有的發展狀況嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.two_two" name="2-2">
        <p>2.2 請問您有機會了解自己孩子的發展狀況嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.two_three" name="2-3">
        <p>2.3 請問您有機會 了解如何在日常生活與孩子互動嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.two_four" name="2-4">
        <p>2.4 請問您有機會了解如何照顧與教養孩子嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.two_five" name="2-5">
        <p>2.5 請問您了解自己孩子的發展狀況嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.two_six" name="2-6">
        <p>2.6 請問您了解如何促進孩子發展嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
      </b-form-radio-group>
    </div>
    <br />
    <br />

    <div class="talk">
      <b-form-textarea
        id="textarea"
        v-model="formdata.text2"
        placeholder="其他想說的話～"
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </div>
    <br />
    <br />

    <div class="thirdQ">
      <p>
        3.請問您認為家人能夠一起協助孩子的學習與發展嗎？
        請依程度填答7~1分。
      </p>
    </div>
    <br />

    <div class="thirdQA">
      <b-form-radio-group v-model="formdata.three_one" name="3-1">
        <p>3.1 家人有機會了解孩子的發展狀況嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>

        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.three_two" name="3-2">
        <p>3.2 家人有機會了解在家中如何協助孩子學習嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.three_three" name="3-3">
        <p>3.3 家人有機會了解在家中如何與孩子互動嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>

        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.three_four" name="3-4">
        <p>3.4家人有機會了解您與孩子需要哪些協助嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.three_five" name="3-5">
        <p>3.5 請問您的家人能有一起協助孩子的學習與發展嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
      </b-form-radio-group>
    </div>
    <br />
    <br />

    <div class="talk">
      <b-form-textarea
        id="textarea"
        v-model="formdata.text3"
        placeholder="其他想說的話～"
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </div>
    <br />
    <br />

    <div class="fourthQ">
      <p>
        4.請問您認為家長能夠建立自己的支持系統嗎？
        請依程度填答7~1分。
      </p>
    </div>
    <br />

    <div class="fourthQA">
      <b-form-radio-group v-model="formdata.four_one" name="4-1">
        <p>4.1 請問您有機會了解自己跟孩子的相關權益嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.four_two" name="4-2">
        <p>4.2 請問您有機會了解相關的早期療育資源嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.four_three" name="4-3">
        <p>4.3 請問您有機會參與早期療育團隊的運作嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.four_four" name="4-4">
        <p>4.4 請問您有機會了解有哪些親朋好友可以協助您嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.four_five" name="4-5">
        <p>4.5 請問您有機會帶著孩子參與自己想要參加的活動嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.four_six" name="4-6">
        <p>4.6 請問您有機會跟其他類似狀況的家長談談嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.four_seven" name="4-7">
        <p>4.7 請問您能夠建立自己的支持系統嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
      </b-form-radio-group>
    </div>
    <br />
    <br />

    <div class="talk">
      <b-form-textarea
        id="textarea"
        v-model="formdata.text4"
        placeholder="其他想說的話～"
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </div>
    <br />
    <br />

    <div class="fifthQ">
      <p>
        5.請問您認為家長是否能夠因應或減低自己所面臨的壓力？
        請依程度填答7~1分。
      </p>
    </div>
    <br />

    <div class="fifthQA">
      <b-form-radio-group v-model="formdata.five_one" name="5-1">
        <p>5.1 請問您有機會了解自己照顧小孩承受壓力的狀態嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>

        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.five_two" name="5-2">
        <p>5.2 請問您有機會了解自己照顧小孩具備哪些優勢嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>

        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.five_three" name="5-3">
        <p>5.3 請問您有機會了解如何因應自己的壓力嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>

        <br />
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.five_four" name="5-4">
        <p>5.4 請問您能夠因應或減少自己所面臨的壓力嗎？</p>
        <b-form-radio value="1">1</b-form-radio>
        <b-form-radio value="2">2</b-form-radio>
        <b-form-radio value="3">3</b-form-radio>
        <b-form-radio value="4">4</b-form-radio>
        <b-form-radio value="5">5</b-form-radio>
        <b-form-radio value="6">6</b-form-radio>
        <b-form-radio value="7">7</b-form-radio>
      </b-form-radio-group>
    </div>
    <br />
    <br />

    <div class="talk">
      <b-form-textarea
        id="textarea"
        v-model="formdata.text5"
        placeholder="其他想說的話～"
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </div>
    <br />
    <br />

    <div class="sixthQ">
      <p>6.請問您希望獲得哪些相關活動 課程及資訊呢?</p>
    </div>
    <br />

    <div class="sixthQA">
      <p>您希望寶貝中心辦理～</p>
      <b-form-radio-group v-model="formdata.six_one_one" name="6-1">
        <b-form-radio value="yes">
          辦親職講座內容為
          <b-input v-model="formdata.six_one" type="text" class="6.1" />
          <!--只抓的到打字的值 radio不會亮 -->
        </b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.six_two_two" name="6-2">
        <b-form-radio value="yes">
          辦活動例如親子旅遊
          <b-input v-model="formdata.six_two" type="text" class="6.2" />
        </b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.six_three_three" name="6-3">
        <b-form-radio value="yes">
          其他
          <b-input v-model="formdata.six_three" type="text" class="6.3" />
        </b-form-radio>
        <br />
      </b-form-radio-group>
      <br />

      <p>您希望為自己多安排哪些活動～</p>

      <b-form-radio-group v-model="formdata.six_four_four" name="6-4">
        <b-form-radio value="yes">
          多上一些課程，內容為
          <b-input v-model="formdata.six_four" type="text" class="6.4" />
        </b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.six_five_five" name="6-5">
        <b-form-radio value="yes">
          有人指導孩子個別發展領域之學習技巧與訓練，內容為
          <b-input v-model="formdata.six_five" type="text" class="6.5" />
        </b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.six_six_six" name="6-6">
        <b-form-radio value="yes">
          多一些自己的時間，可以做
          <b-input v-model="formdata.six_six" type="text" class="6.6" />
        </b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.six_seven_seven" name="6-7">
        <b-form-radio value="yes">
          多一些親子時間，可以做
          <b-input v-model="formdata.six_seven" type="text" class="6.7" />
        </b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.six_eight" name="6-8">
        <b-form-radio>需要改善親子關係</b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.six_nine" name="6-9">
        <b-form-radio>需要改善與其他家人關係</b-form-radio>
        <br />
      </b-form-radio-group>

      <b-form-radio-group v-model="formdata.six_ten_ten" name="6-10">
        <b-form-radio>
          其他
          <b-input v-model="formdata.six_ten" type="text" class="6.10" />
        </b-form-radio>
        <br />
      </b-form-radio-group>
    </div>
    <br />

    <!--<b-input  type="submit"  class="submit" value="確定提交"> -->
    <div class="d-flex justify-content-center mt-3 login_container">
      <button @click="submit" class="submit">Submit</button>
    </div>

    <br />
    <br />
    <p class="end_word">謝謝您的填答，寶貝中心將更努力貼近您～</p>
  </div>
</template>


<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";

export default {
  layout: "parent",
  name: "submit",
  data() {
    return {
      currentClassStd: [],
      nowchooseClass: "",
      document: [],
      document2: [],
      feedback_results: [],
      u: "",
      d: [],
      fdate: "",
      opstudent: [], //下拉是學生選單
      option: "",
      formdata: {
        child: "",
        class: "",
        date: "",
        parents: "",
        text1: "",
        text2: "",
        text3: "",
        text4: "",
        text5: "",
        one_one: "",
        one_two: "",
        one_three: "",
        one_four: "",
        one_five: "",
        one_six: "",
        one_seven: "",
        two_one: "",
        two_two: "",
        two_three: "",
        two_four: "",
        two_five: "",
        two_six: "",
        three_one: "",
        three_two: "",
        three_three: "",
        three_four: "",
        three_five: "",
        four_one: "",
        four_two: "",
        four_three: "",
        four_four: "",
        four_five: "",
        four_six: "",
        four_seven: "",
        five_one: "",
        five_two: "",
        five_three: "",
        five_four: "",
        six_one: "",
        six_one_one: "",
        six_two: "",
        six_two_two: "",
        six_three: "",
        six_three_three: "",
        six_four: "",
        six_four_four: "",
        six_five: "",
        six_five_five: "",
        six_six: "",
        six_six_six: "",
        six_seven: "",
        six_sevne_seven: "",
        six_eight: "",
        six_nine: "",
        six_ten: "",
        six_ten_ten: ""
      }
    };
  },
  methods: {
    // chooseClass(k) {
    //   this.nowchooseClass = k;
    //   this.opstudent = [];
    //   for (let i = 0; i < this.classes.length; i++) {
    //     if (k == this.classes[i].id) {
    //       this.currentClassStd = this.classes[i].students;
    //     }
    //   }

    //   if (this.students && this.currentClassStd) {
    //     for (let i = 0; i < this.currentClassStd.length; i++) {
    //       for (let j = 0; j < this.students.length; j++) {
    //         if (this.students[j].id === this.currentClassStd[i]) {
    //           this.opstudent.push(this.students[j].name);
    //         }
    //       }
    //     }
    //   }
    // },

    async submit() {
      //-------------------寫入feedback到firebase---------------------------------
      for (let i = 0; i < this.students.length; i++) {
        if (this.students[i].name == this.formdata.child) {
          let _students = JSON.parse(JSON.stringify(this.students));
          this.u = _students[i].id;
        } //firebase feedback 中間曾放students的id
      }
      console.log("feedback", this.feedback);
      if (this.feedback) {
        console.log("enter firebase has feedback");
        for (let i = 0; i < this.feedback.length; i++) {
          if (this.u !== this.feedback[i].id) {
            //表示feedback裡已經有過這位學生資料，
            //所以要push一筆新的回饋單內容到firebase最右邊欄位
            if (i == this.feedback.length - 1) {
              //feedback裡還沒有這位學生資料，set一筆新資料進去firebase
              console.log("feedback 還沒有這位學生資料");
              var ref = fireDb.collection("feedback").doc(this.u);
              this.document.push(this.formdata);
              try {
                await ref.set({ results: this.document });
              } catch (e) {
                console.error(e);
              }
            }
          } else {
            console.log("feedback已有這位學生資料");
            let _feedback = JSON.parse(JSON.stringify(this.feedback));
            this.document = _feedback[i].results;
            console.log("pre document", this.document);
            this.document.push(this.formdata);
            console.log("later document", this.document);
            var ref = fireDb.collection("feedback").doc(this.u);
            ref.update({ results: this.document });
            break;
          }
        }
      } else {
        console.log("has no feedback yet");
        var ref = fireDb.collection("feedback").doc(this.u);
        // console.log("formdata.date", this.formdata.date)
        this.document.push(this.formdata);
        try {
          await ref.set({ results: this.document });
        } catch (e) {
          console.error(e);
        }
      }
      //---------------------------------------------------------------------------------------
      //-----------------------寫入feedback2到firebase----------------------
      if (this.feedback2) {
        console.log("enter if has feedback2");
        console.log("feedback2", this.feedback2);
        for (let i = 0; i < this.feedback2.length; i++) {
          if (this.feedback2[i].id !== this.fdate) {
            console.log("此筆資料比對不成功fdata", this.fdate);
            if (i == this.feedback2.length - 1) {
              //比到最後一個都比對不成功
              console.log("比完都不成功fdata", this.fdate);
              console.log("這個日期尚未存在");
              var ref = fireDb.collection("feedback2").doc(this.fdate);
              this.document2.push(this.formdata.child);
              try {
                await ref.set({ write_person: this.document2 });
              } catch (e) {
                console.error(e);
              }
            }
          } else {
            console.log("這個日期已經存在");
            console.log("else fdata", this.fdate);
            let _feedback2 = JSON.parse(JSON.stringify(this.feedback2));
            this.document2 = _feedback2[i].write_person;
            this.document2.push(this.formdata.child);
            var ref = fireDb.collection("feedback2").doc(this.feedback2[i].id);
            ref.update({ write_person: this.document2 });
            break;
          }
        }
        //   console.log("have has feedback2");
      } else {
        console.log("has no feedback2 yet");
        var ref = fireDb.collection("feedback2").doc(this.fdate);
        this.document2.push(this.formdata.child);
        try {
          await ref.set({ write_person: this.document2 });
        } catch (e) {
          console.error(e);
        }
      }
      //-----------------------------------------------------------------------------
      let _this = this;
      this.$store.dispatch("signOut").then(() => {
        alert("成功收到您的問卷囉！")
        _this.$router.push("/login");
      });
      // this.$router.push("/submit_sucess");
    }
  },

  computed: {
    classes() {
      return this.$store.state.classes;
    },
    feedback() {
      return this.$store.state.feedback;
    },
    feedback2() {
      return this.$store.state.feedback2;
    },

    students() {
      return this.$store.state.students;
    }
  },
  mounted() {
    // console.log("students", this.students);
    // console.log("students length", this.students.length);
    this.date = new Date();
    let dd = String(this.date.getDate()).padStart(2, "0");
    let mm = String(this.date.getMonth() + 1).padStart(2, "0"); //January is 0!
    let yyyy = this.date.getFullYear();
    this.date = yyyy + mm + dd;
    // this.date = yyyy +"/"+mm+"/"+dd;
    this.formdata.date = this.date;

    this.fdate = yyyy + mm + dd;

    let _this = this;
    fireDb
      .collection("classes")
      .get()
      .then(results => {
        let classes = [];
        if (!results.empty) {
          results.docs.forEach(doca => {
            let p = doca.data();
            p.id = doca.id;
            classes.push(p);
          });
          this.$store.commit("setObject", {
            key: "classes",
            value: classes
          });
        } else {
          console.log("No such class");
        }
      });
    // console.log("class", this.classes);

    fireDb
      .collection("students")
      .get()
      .then(results => {
        let students = [];
        if (!results.empty) {
          results.docs.forEach(doca => {
            let p = doca.data();
            p.id = doca.id;
            students.push(p);
          });
          this.$store.commit("setObject", {
            key: "students",
            value: students
          });
        } else {
          console.log("No such students");
        }
      });

    fireDb
      .collection("feedback")
      .get()
      .then(results => {
        let feedback = [];
        if (!results.empty) {
          results.docs.forEach(doca => {
            let p = doca.data();
            p.id = doca.id;
            feedback.push(p);
          });
          // console.log("feedback", this.feedback);

          this.$store.commit("setObject", {
            key: "feedback",
            value: feedback
          });
        } else {
          console.log("No such feedback");
        }
      });

    fireDb
      .collection("feedback2")
      .get()
      .then(results => {
        let feedback2 = [];
        if (!results.empty) {
          results.docs.forEach(doca => {
            let p = doca.data();
            p.id = doca.id;
            feedback2.push(p);
          });
          // console.log("feedback", this.feedback);

          this.$store.commit("setObject", {
            key: "feedback2",
            value: feedback2
          });
        } else {
          console.log("No such feedback2");
        }
      });
  }
};
</script>


<style scoped>
p.end_word {
  text-align: center;
  font-size: 25px;
  background: chocolate;
  color: aliceblue;
}

h1 {
  text-align: center;
}
</style>