<template>
  <section>
    <h3>註冊一個新帳戶！</h3>
    <br />
    <br />
    <br />
    <div class="form">
      <div>
        <b-row>
          <b-col sm="2">
            <label for="input-default" style="font-size:20px">姓名：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="fdata.name" placeholder="name"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />
      <br />

      <!-- <div>
        <b-form-group>
          <b-row>
            <b-col sm="2">
              <label for="input-default" style="font-size:20px">角色：</label> &nbsp;
            </b-col>
            <b-col sm="10" class="role">
              <b-form-radio v-model="fdata.role" name="some-radios" value="teacher">教保人員</b-form-radio>
              <br />
              <b-form-radio v-model="fdata.role" name="some-radios" value="teacher_super">教保督導</b-form-radio>
              <br />
              <b-form-radio v-model="fdata.role" name="some-radios" value="social">社工人員</b-form-radio>
              <br />
              <b-form-radio v-model="fdata.role" name="some-radios" value="social_super">社工督導</b-form-radio>
            </b-col>
          </b-row>
        </b-form-group>
      </div>
      <br />-->

      <div>
        <b-row>
          <b-col sm="2">
            <label for="input-default" style="font-size:20px">帳號：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="fdata.account" placeholder="account"></b-form-input>
          </b-col>
        </b-row>
      </div>
      <br />

      <div>
        <b-row>
          <b-col sm="2">
            <label for="input-default" style="font-size:20px">密碼：</label> &nbsp;
          </b-col>
          <b-col sm="10">
            <b-form-input v-model="fdata.password" type="password" placeholder="password"></b-form-input>
          </b-col>
        </b-row>
      </div>
    </div>

    <br />

    <button @click="signUp">Sign Up</button>
    <span>
      or go back to
      <router-link to="/login">login</router-link>
    </span>
  </section>
</template>

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";

export default {
  layout: "notlogin",
  // name: "signUp",
  data() {
    return {
      fdata: {
        account: "",
        password: "",
        name: "",
        role: "teacher"
      }
    };
  },

  mounted() {
    // if you want to duplicate an object
    // let newObject = JSON.parse(JSON.stringify(this.record))
  },
  methods: {
    // signUp: function() {
    signUp() {
      let payload = {
        account: this.fdata.account,
        password: this.fdata.password,
        name: this.fdata.name,
        role: this.fdata.role
      };
      console.log("payload=", payload);

      this.$store.dispatch("signUp", payload).then(() => {
        // this.$router.push("/classes"); //直接推到classes 元件全部都跑不出來 再重新登入才看得到
        this.$router.push("/login");
      });
    }
  }
};
</script>






<style scoped>
section {
  text-align: center;
  /* width: 50%; */
  margin-top: 200px;
  padding: 24px;
  /* margin-left: 450px; */
}

input {
  width: 50%;
  padding: 15px;
}

button {
  margin-top: 10px;
  width: 10%;
  cursor: pointer;
}
span {
  display: block;
  margin-top: 20px;
  font-size: 11px;
}

.form {
  margin-left: 330px;
}

.role {
  margin-left: -450px;
  font-size: 18px;
}
</style>