<template>
  <div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <p class="end_word">已收到您填寫的問卷囉，謝謝您！～</p>
  </div>
</template>
<script>
export default {
  layout: "parent"
};
</script>>

<style scoped>
p.end_word {
  text-align: center;
  font-size: 40px;
  background: #007799;
  color: aliceblue;
}
</style>