
<template>
  <!-- 想新增成先新增年份資料夾，再新增月份資料夾，進入月份資料夾後再填寫服務紀錄 -->
  <div>
    <section>班級</section>
    <span v-for="(cls, idx) in classes" :key="`class-${idx}`">
      <b-button
        v-if="currentClass==cls"
        class="mx-2"
        variant="success"
        @click="chooseClass(cls)"
      >{{cls.name}}</b-button>
      <b-button v-else class="mx-2" variant="outline-success" @click="chooseClass(cls)">{{cls.name}}</b-button>
    </span>
    <section>
      <b-row>
        <b-col cols="3">
          <h2>學生</h2>
          <br />
        </b-col>
        <b-col cols="9">
          <h2>服務紀錄</h2>
        </b-col>
      </b-row>
    </section>
    <div>
      <b-row>
        <b-col cols="5">
          <div v-if="students">
            <div class="stdbutton" v-for="(docb, idx) in classStudents" :key="idx">
              <!-- 這裡呼叫了students 會到computer抓值-->
              {{idx+1}}
              <b-button
                :variant="childstyle(docb)"
                style="width:100px;"
                @click="selectStd(docb)"
              >{{docb.name}}&nbsp;&nbsp;</b-button>
            </div>
          </div>
        </b-col>
        <b-col cols="7">
          <div v-if="showYearFile">
            <b-card>
              <input type="text" class="date" v-model="NewYear" placeholder="西元年xxxx" />
              <b-button @click="addYearButton" variant="outline-primary">新增年份檔案</b-button>
              <hr />
              <div v-for="(Filename,idx) in YearButtons" :key="`date-${idx}`">
                {{idx+1}}.
                <b-button
                  @click="enterthisyear(Filename)"
                  variant="outline-dark"
                >{{Filename.YearFile}}</b-button>
                <hr />
                <br />
              </div>

              <br />
            </b-card>
          </div>
          <div v-if="showMonthFile">
            <b-card>
              <input type="text" class="date" v-model="NewMonth" placeholder="ex:2020/01" />
              <b-button @click="addMonthButton" variant="outline-primary">新增月份檔案</b-button>
              <hr />
              <div v-for="(Filename,idx) in MonthButtons" :key="`date-${idx}`">
                {{idx+1}}.
                <b-button
                  @click="enterthisMonth(Filename)"
                  variant="outline-dark"
                >{{Filename.MonthFile}}</b-button>
                <hr />
                <br />
              </div>
            </b-card>
          </div>
          <div v-if="showWriteRecord">
            <b-card>
              <b-button variant="outline-primary" @click="modifyRecords">修改</b-button>
              <b-button v-b-toggle.collapse-1 variant="outline-primary">新增</b-button>
              <span v-if="social_super">
                <b-button variant="outline-primary" @click="conclude">定案</b-button>
              </span>
              <!------------------------------------------------------------ -->
              <b-collapse id="collapse-1" class="mt-2">
                <b-card>
                  <br />
                  <table class="records_options">
                    <thead>
                      <tr>
                        <!-- <th scope="col">分數</th> -->
                        <th scope="col">A</th>
                        <th scope="col">B</th>
                        <th scope="col">C</th>
                        <th scope="col">D</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!-- <th scope="row">程度</th> -->
                        <td style="text-align:left">
                          1.本機構
                          <br />2.醫院
                          <br />3.家庭
                          <br />4.學校
                          <br />5.其他
                        </td>
                        <td style="text-align:left">
                          1.會談
                          <br />2.電訪
                          <br />3.LINE
                          <br />4.其他
                        </td>
                        <td style="text-align:left">
                          1.服務對象
                          2.家長
                          <br />3.教保員
                          4.重要他人
                          <br />5.療育/醫療專業人員
                          <br />6.相關社工
                          <br />7.督導
                          8.其他
                        </td>
                        <td style="text-align:left">
                          1.關懷/了解近況
                          <br />2.情緒/行為處理
                          <br />3.資訊提供
                          4.資源連結
                          <br />5.陪同就醫
                          6.轉介/轉銜
                          <br />7.蒐集案家資料
                          <br />8.督導/服務使用者研討
                          <br />9.其他
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                  <b-form>
                    訪談日期：
                    <input
                      type="text"
                      class="date"
                      name="visit.date"
                      v-model="visit.date"
                      placeholder="ex: 01/05"
                    />
                    <br />
                    <br />
                    <b-row>
                      <b-col>
                        A:
                        <input type="text" name="visit.A" class="option" v-model="visit.A" />
                      </b-col>
                      <b-col>
                        B:
                        <input type="text" name="visit.B" class="option" v-model="visit.B" />
                      </b-col>
                      <b-col>
                        C:
                        <input type="text" name="visit.C" class="option" v-model="visit.C" />
                      </b-col>
                      <b-col>
                        D:
                        <input type="text" name="visit.D" class="option" v-model="visit.D" />
                      </b-col>
                      <b-col></b-col>
                      <b-col></b-col>
                    </b-row>
                    <br />訪談紀錄：
                    <br />
                    <input type="text" class="record" name="visit.record" v-model="visit.record" />
                  </b-form>
                  <br />

                  <b-button @click="certain_add" size="sm">確定新增</b-button>
                </b-card>
              </b-collapse>
              <!-- ---------------------------按新增會跳出來的 ----------------------------------------------------->
              <!-- ----------------------------------------------------------------------------->
              <table class="records_options">
                <thead>
                  <tr>
                    <!-- <th scope="col">分數</th> -->
                    <th scope="col">A</th>
                    <th scope="col">B</th>
                    <th scope="col">C</th>
                    <th scope="col">D</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- <th scope="row">程度</th> -->
                    <td style="text-align:left">
                      1.本機構
                      <br />2.醫院
                      <br />3.家庭
                      <br />4.學校
                      <br />5.其他
                    </td>
                    <td style="text-align:left">
                      1.會談
                      <br />2.電訪
                      <br />3.LINE
                      <br />4.其他
                    </td>
                    <td style="text-align:left">
                      1.服務對象
                      2.家長
                      <br />3.教保員
                      4.重要他人
                      <br />5.療育/醫療專業人員
                      <br />6.相關社工
                      <br />7.督導
                      8.其他
                    </td>
                    <td style="text-align:left">
                      1.關懷/了解近況
                      <br />2.情緒/行為處理
                      <br />3.資訊提供
                      4.資源連結
                      <br />5.陪同就醫
                      6.轉介/轉銜
                      <br />7.蒐集案家資料
                      <br />8.督導/服務使用者研討
                      <br />9.其他
                    </td>
                  </tr>
                </tbody>
              </table>
              <div v-for="(record, idx) in svisit.records" :key="idx">
                <b-card :title="record.date">
                  <label for="input-default">A：</label>
                  <b-form-input
                    :readonly="conclude2(record)"
                    style="width:50px;"
                    v-model="record.A"
                  ></b-form-input>
                  <label for="input-default">B：</label>
                  <b-form-input
                    :readonly="conclude2(record)"
                    style="width:50px;"
                    v-model="record.B"
                  ></b-form-input>
                  <label for="input-default">C：</label>
                  <b-form-input
                    :readonly="conclude2(record)"
                    style="width:50px;"
                    v-model="record.C"
                  ></b-form-input>
                  <label for="input-default">D：</label>
                  <b-form-input
                    :readonly="conclude2(record)"
                    style="width:50px;"
                    v-model="record.D"
                  ></b-form-input>
                  <br />
                  <br />
                  <label for="input-default">服務內容：</label>
                  <b-form-input :readonly="conclude2(record)" v-model="record.record"></b-form-input>
                </b-card>
              </div>
              <!--按學生姓名會出現訪談資料----------------------------------------- -->
            </b-card>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>



 

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
import { mapState } from "vuex";

export default {
  data() {
    return {
      YearButtons: [],
      MonthButtons: [],
      NewYear: "",
      NewMonth: "",
      clickYear: "",
      clickMonth: "",
      classStudents: [],
      showYearFile: false,
      showMonthFile: false,
      showWriteRecord: false,
      // modify: true,
      temp_stdid: "",
      visit: {
        //新增的
        date: "",
        record: "",
        A: "",
        B: "",
        C: "",
        D: ""
      },
      svisit: {
        //閱讀的

        records: []
      }
    };
  },

  computed: {
    ...mapState({
      classes: state => state.classes,
      students: state => state.students,
      currentStudent: state => state.currentStudent,
      currentClass: state => state.currentClass
      // DateButtonsList: state => state.YearButtons
    }),

    social_super() {
      //判斷是否顯示定案按鈕
      if (
        this.$store.state.user.role &&
        this.$store.state.user.role == "social_super"
      ) {
        return true;
      } else {
        return false;
      }
    }
  },
  mounted() {
    this.temp_stdid = null;
    if (this.classes && this.classes.length > 0) {
      if (!this.currentClass) {
        this.chooseClass(this.classes[0]);
      }
      this.classStudents = this.getClassStudents(this.currentClass);
      console.log("type classstudent", typeof this.classStudents);
    }
  },
  methods: {
    childstyle(child) {
      if (child && this.currentStudent && child.id === this.currentStudent.id) {
        return "success";
      }
      if (child.gender === "男") {
        return "outline-info";
      } else if (child.gender === "女") {
        return "outline-danger";
      } else {
        return "outline-dark";
      }
    },
    addYearButton() {
      // console.log("YearButtons", this.YearButtons);
      this.YearButtons.push({ YearFile: this.NewYear });
      // console.log("after push Datebuttons", this.YearButtons);
      let _students = JSON.parse(JSON.stringify(this.students));
      let nyb = JSON.parse(JSON.stringify(this.YearButtons));
      for (let i = 0; i < this.students.length; i++) {
        if (this.currentStudent.id == this.students[i].id) {
          this.$set(_students[i], "YearButtons", nyb);
          this.$store.commit("setObject", {
            key: "students",
            value: _students
          });
        }
      }
      let ref = fireDb.collection("students").doc(this.currentStudent.id);
      ref.update({ YearButtons: this.YearButtons }).then(() => {
        this.NewYear = null;
      });
    },
    enterthisyear(year) {
      this.showYearFile = false;
      this.showMonthFile = true;
      this.showWriteRecord = false;
      console.log("mon", this.MonthButtons);

      // console.log("data", year.YearFile);
      this.clickYear = year.YearFile;
      // console.log("clickyear", this.clickYear);
      // console.log(
      //   "this.currentStudent.MonthButtons",
      //   this.currentStudent.MonthButtons
      // );
      if (this.currentStudent.MonthButtons) {
        for (let i = 0; i < this.currentStudent.MonthButtons.length; i++) {
          if (this.currentStudent.MonthButtons[i].Year == this.clickYear) {
            console.log("YES");
            this.MonthButtons.push(this.currentStudent.MonthButtons[i]);
          } else {
            console.log("NO");
            this.MonthButtons = [];
          }
        }
      }

      console.log("MonthButtons", this.MonthButtons);
    },
    addMonthButton() {
      this.MonthButtons.push({
        MonthFile: this.NewMonth,
        Year: this.clickYear
      });

      let _students = JSON.parse(JSON.stringify(this.students));
      let nmb = JSON.parse(JSON.stringify(this.MonthButtons));
      for (let i = 0; i < this.students.length; i++) {
        if (this.currentStudent.id == this.students[i].id) {
          this.$set(_students[i], "MonthButtons", nmb);
          this.$store.commit("setObject", {
            key: "students",
            value: _students
          });
        }
      }
      let ref = fireDb.collection("students").doc(this.currentStudent.id);
      ref.update({ MonthButtons: this.MonthButtons }).then(() => {
        this.NewMonth = null;
      });
    },
    enterthisMonth(data) {
      this.svisit.records = [];
      this.clickMonth = data.MonthFile;
      // console.log("clickMonth", this.clickMonth);
      this.showYearFile = false;
      this.showMonthFile = false;
      this.showWriteRecord = true;
      console.log("this.currentStudent.records", this.currentStudent.records);
      // console.log("this.clickYear", this.clickYear);

      if (this.currentStudent.records) {
        var currentStd_records = JSON.parse(
          JSON.stringify(this.currentStudent.records)
        );
        for (let i = 0; i < currentStd_records.length; i++) {
          // console.log(" currentStd_records[i]", currentStd_records[i]);
          // console.log(
          //   " currentStd_records[i].year",
          //   currentStd_records[i].year
          // );
          // console.log(
          //   " currentStd_records[i].month",
          //   currentStd_records[i].month
          // );
          if (
            currentStd_records[i] &&
            currentStd_records[i].year == this.clickYear &&
            currentStd_records[i].month == this.clickMonth
          ) {
            console.log("YESSSSSSSHAVW");
            this.svisit.records.push(currentStd_records[i]);
            // this.svisit.records = JSON.parse(
            //   JSON.stringify(this.currentStudent.records)
            //   //$store.state.stdata.records這是vuex的東西，nuxt不能直接改，先用json.stringify改成字串讓地址消失，
            //   //在用parse讓它變回物件（firebase只吃物件），這樣就會有一個獨立全新地址就可以改了。
            // );
          } else {
            console.log("NOOOOOO");
            this.svisit.records = [];
          }
        }
      }

      console.log("this.svisit.records", this.svisit.records);
    },
    conclude2(record) {
      if (record && record.status == "conclude") {
        return true;
      }
      return false;
    },
    getClassStudents(cls) {
      if (!cls || !cls.students) {
        return [];
      } else {
        if (this.students) {
          //確保還沒有學生時不會有filter不會產生error
          return this.students.filter(
            student =>
              cls.students.indexOf(student.id) >= 0 &&
              student.status !== "delete_case"
          );
        }
      }
    },
    chooseClass(cls) {
      // console.log("cls", cls);
      this.showYearFile = false;
      this.$store.commit("setObject", { key: "currentClass", value: cls });
      // console.log("currentClass", this.currentClass);
      // console.log("this.currentClass.students", this.currentClass.students);
      this.classStudents = this.getClassStudents(this.currentClass);
      // this.classStudents = this.currentClass.students;
      // console.log("CurrClass", this.currentClass);
    },
    modifyRecords() {
      fireDb
        .collection("students")
        .doc(this.currentStudent.id)
        .update({ records: this.svisit.records });
      // console.log("svisit.records", this.svisit.records);
      this.$store.commit("setStdataRecords", this.svisit.records);
    },
    conclude() {
      for (let i = 0; i < this.svisit.records.length; i++) {
        // console.log("each svisit records", this.svisit.records[i]);
        this.$set(this.svisit.records[i], "status", "conclude");
        //this.svisit.records[i].status = "conclude";
      }
      // console.log("conclude svisit records", this.svisit.records);
      const ref = fireDb.collection("students").doc(this.currentStudent.id);
      ref
        .update({ records: this.svisit.records })
        .then(this.$store.commit("setStdataRecords", this.svisit.records));
    },

    selectStd(student) {
      this.showYearFile = true;
      this.showMonthFile = false;
      this.showWriteRecord = false;
      this.YearButtons = [];
      this.MonthButtons = [];
      // this.svisit.records = [];
      if (student.YearButtons) {
        for (let i = 0; i < student.YearButtons.length; i++) {
          this.YearButtons.push(student.YearButtons[i]);
        }
      } else {
        this.YearButtons = [];
      }
      this.$store.commit("setObject", {
        key: "currentStudent",
        value: student
      });
    },
    async certain_add() {
      // console.log("currentStudent", this.currentStudent);
      // console.log("currentStudent.id", this.currentStudent.id);

      const ref = fireDb.collection("students").doc(this.currentStudent.id);
      // this.svisit.records.push(this.visit);
      //visit是物件,push過去會把地址也指過去,所以svisti.records和visit地址一樣了
      //這時想改visit的值，電腦會認為去動到vuex裡svisit.records的值

      this.svisit.records.push({
        date: this.visit.date,
        record: this.visit.record,
        status: "",
        year: this.clickYear,
        month: this.clickMonth,
        A: this.visit.A,
        B: this.visit.B,
        C: this.visit.C,
        D: this.visit.D
      });
      ref.update({ records: this.svisit.records }).then(() => {
        //用update：原本沒有records會自動補一個在firebase
        this.$store.commit("setStdataRecords", this.svisit.records);
        this.visit.date = null;
        this.visit.record = null;
        this.visit.A = null;
        this.visit.B = null;
        this.visit.C = null;
        this.visit.D = null;
      });
    }
  }
};
</script>

<style scoped>
section {
  background: orange;
  margin: 30px 20px;
  padding: 12px;
}

/* .span {
  width: 150px;
}  */

input {
  display: inline-block;
  width: 60%;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: -8px;
}

.card {
  width: 700px;
}

.record {
  height: 300px;
  width: 600px;
}

.date {
  width: 100px;
}

.stdbutton {
  margin: 20px 100px;
}
</style>

