
<template>
<!-- 想新增成先新增年份資料夾成功版本 -->
  <div>
    <section>班級</section>
    <span v-for="(cls, idx) in classes" :key="`class-${idx}`">
      <b-button
        v-if="currentClass==cls"
        class="mx-2"
        variant="success"
        @click="chooseClass(cls)"
      >{{cls.name}}</b-button>
      <b-button v-else class="mx-2" variant="outline-success" @click="chooseClass(cls)">{{cls.name}}</b-button>
    </span>
    <section>
      <b-row>
        <b-col cols="3">
          <h2>學生</h2>
          <br />
        </b-col>
        <b-col cols="9">
          <h2>服務紀錄</h2>
        </b-col>
      </b-row>
    </section>
    <div>
      <b-row>
        <b-col cols="5">
          <div v-if="students">
            <div class="stdbutton" v-for="(docb, idx) in classStudents" :key="idx">
              <!-- 這裡呼叫了students 會到computer抓值-->
              {{idx+1}}
              <b-button
                :variant="childstyle(docb)"
                style="width:100px;"
                @click="selectStd(docb)"
              >{{docb.name}}&nbsp;&nbsp;</b-button>
            </div>
          </div>
        </b-col>
        <b-col cols="7">
          <div v-if="showrecords">
            <b-card>
              <!-- <b-button variant="outline-primary" @click="modifyRecords">修改</b-button> -->
              <input type="text" class="date" v-model="NewYear" placeholder="西元年xxxx" />
              <b-button @click="addDateButton" variant="outline-primary">新增年份檔案</b-button>
              <hr />
              <div v-for="(Filename,idx) in YearButtons" :key="`date-${idx}`">
                {{idx+1}}.
                <b-button
                  @click="enterthisyear(Filename)"
                  variant="outline-dark"
                >{{Filename.YearFile}}</b-button>
                <hr />
                <br />
              </div>
              <!-- <b-button v-b-toggle.collapse-1 variant="outline-primary">新增</b-button> -->
              <!-- <span v-if="social_super">
                <b-button variant="outline-primary" @click="conclude">定案</b-button>
              </span>-->
              <!------------------------------------------------------------ -->
              <b-collapse id="collapse-1" class="mt-2">
                <b-card>
                  <br />
                  <b-form>
                    訪談日期：
                    <input
                      type="text"
                      class="date"
                      name="visit.date"
                      v-model="visit.date"
                      placeholder="xxx/xx/xx"
                    />
                    <br />
                    <br />訪談紀錄：
                    <br />
                    <input type="text" class="record" name="visit.record" v-model="visit.record" />
                  </b-form>
                  <br />

                  <b-button @click="certain_add" size="sm">確定新增</b-button>
                </b-card>
              </b-collapse>
              <!-- ---------------------------按新增會跳出來的 ----------------------------------------------------->
              <!-- ----------------------------------------------------------------------------->

              <div v-for="(record, idx) in svisit.records" :key="idx">
                <b-card :title="record.date">
                  <b-form-input :readonly="conclude2(record)" v-model="record.record"></b-form-input>
                </b-card>
              </div>
              <!--按學生姓名會出現訪談資料------------------------------------------->
              <br />
            </b-card>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>



 

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";
import { mapState } from "vuex";

export default {
  data() {
    return {
      YearButtons: [],
      NewYear: "",
      classStudents: [],
      showrecords: false,
      // modify: true,
      temp_stdid: "",
      visit: {
        //新增的
        date: "",
        record: ""
      },
      svisit: {
        //閱讀的

        records: []
      }
    };
  },

  computed: {
    ...mapState({
      classes: state => state.classes,
      students: state => state.students,
      currentStudent: state => state.currentStudent,
      currentClass: state => state.currentClass
      // DateButtonsList: state => state.YearButtons
    }),

    social_super() {
      //判斷是否顯示定案按鈕
      if (
        this.$store.state.user.role &&
        this.$store.state.user.role == "social_super"
      ) {
        return true;
      } else {
        return false;
      }
    }
  },
  mounted() {
    this.temp_stdid = null;
    if (this.classes && this.classes.length > 0) {
      if (!this.currentClass) {
        this.chooseClass(this.classes[0]);
      }
      this.classStudents = this.getClassStudents(this.currentClass);
      console.log("type classstudent", typeof this.classStudents);
    }
  },
  methods: {
    childstyle(child) {
      if (child && this.currentStudent && child.id === this.currentStudent.id) {
        return "success";
      }
      if (child.gender === "男") {
        return "outline-info";
      } else if (child.gender === "女") {
        return "outline-danger";
      } else {
        return "outline-dark";
      }
    },
    addDateButton() {
      console.log("YearButtons", this.YearButtons);
      // let _DateButtons = JSON.parse(JSON.stringify(this.YearButtons));
      //  console.log("_Datebuttons", _DateButtons);
      this.YearButtons.push({ YearFile: this.NewYear });
      console.log("after push Datebuttons", this.YearButtons);
      // this.$store.commit("setObject", {
      //   key: "YearButtons",
      //   value: this.YearButtons
      // });
      let _students = JSON.parse(JSON.stringify(this.students));
      let nyb = JSON.parse(JSON.stringify(this.YearButtons))
      for (let i = 0; i < this.students.length; i++) {
        if (this.currentStudent.id == this.students[i].id) {
          this.$set(_students[i], "YearButtons", nyb);
          this.$store.commit("setObject", {
            key: "students",
            value: _students
          });
        }
      }
      // console.log("1store databutton", this.$store.state.YearButtons);
      const ref = fireDb.collection("students").doc(this.currentStudent.id);
      ref.update({ YearButtons: this.YearButtons }).then(() => {
        // let _DateButtons = JSON.parse(JSON.stringify(this.YearButtons));
        // this.$store.commit("setObject", {
        //   key: "YearButtons",
        //   value: _DateButtons
        // });
        this.NewYear = null;
      });

      // console.log("2store databutton", this.$store.state.YearButtons);
      // console.log("After commit YearButtons", this.YearButtons);
    },
    enterthisyear(year) {
      console.log("data", year.YearFile);
      for (let i = 0; i < this.YearButtons.length; i++) {
        console.log("Yearbutton", this.YearButtons[i].YearFile);
        if(year.YearFile==this.YearButtons[i].YearFile){
          
        }
      }
    },
    conclude2(record) {
      if (record && record.status == "conclude") {
        return true;
      }
      return false;
    },
    getClassStudents(cls) {
      if (!cls || !cls.students) {
        return [];
      } else {
        if (this.students) {
          //確保還沒有學生時不會有filter不會產生error
          return this.students.filter(
            student =>
              cls.students.indexOf(student.id) >= 0 &&
              student.status !== "delete_case"
          );
        }
      }
    },
    chooseClass(cls) {
      // console.log("cls", cls);
      this.showrecords = false;
      this.$store.commit("setObject", { key: "currentClass", value: cls });
      // console.log("currentClass", this.currentClass);
      // console.log("this.currentClass.students", this.currentClass.students);
      this.classStudents = this.getClassStudents(this.currentClass);
      // this.classStudents = this.currentClass.students;
      // console.log("CurrClass", this.currentClass);
    },
    modifyRecords() {
      fireDb
        .collection("students")
        .doc(this.currentStudent.id)
        .update({ records: this.svisit.records });
      // console.log("svisit.records", this.svisit.records);
      this.$store.commit("setStdataRecords", this.svisit.records);
    },
    conclude() {
      for (let i = 0; i < this.svisit.records.length; i++) {
        // console.log("each svisit records", this.svisit.records[i]);
        this.$set(this.svisit.records[i], "status", "conclude");
        //this.svisit.records[i].status = "conclude";
      }
      // console.log("conclude svisit records", this.svisit.records);
      const ref = fireDb.collection("students").doc(this.currentStudent.id);
      ref
        .update({ records: this.svisit.records })
        .then(this.$store.commit("setStdataRecords", this.svisit.records));
    },

    selectStd(student) {
      this.YearButtons = [];
      if (student.YearButtons) {
        console.log("YESYESYES");
        for (let i = 0; i < student.YearButtons.length; i++) {
          console.log("YESYESYES2222");
          this.YearButtons.push(student.YearButtons[i]);
        }
        // this.$store.commit("setObject", {
        //   key: "YearButtons",
        //   value: this.YearButtons
        // });
      } else {
        console.log("nononono");
        this.YearButtons = [];
        // this.$store.commit("setObject", {
        //   key: "YearButtons",
        //   value: this.YearButtons
        // });
      }
      console.log("selectSTD DateButtonsList", this.DateButtonsList);
      console.log(" selectSTD Datebutton", this.YearButtons);
      this.$store.commit("setObject", {
        key: "currentStudent",
        value: student
      });

      // console.log("DATABUTTON", this.$store.state.YearButtons);
      // console.log("2 LIST", this.DatebuttonsList);
      // console.log("after commit Datebuttons", this.YearButtons);
      // console.log("currentStudent", this.currentStudent);
      // console.log("this.currentStudent.records", this.currentStudent.records);
      if (this.temp_stdid === student.id) {
        this.showrecords = !this.showrecords;
        return;
      }

      this.temp_stdid = student.id;
      this.showrecords = true;
      if (this.currentStudent.records) {
        this.svisit.records = JSON.parse(
          JSON.stringify(this.currentStudent.records)
          //$store.state.stdata.records這是vuex的東西，nuxt不能直接改，先用json.stringify改成字串讓地址消失，
          //在用parse讓它變回物件（firebase只吃物件），這樣就會有一個獨立全新地址就可以改了。
        );
      } else {
        this.svisit.records = [];
      }
    },
    async certain_add() {
      console.log("currentStudent", this.currentStudent);
      console.log("currentStudent.id", this.currentStudent.id);

      const ref = fireDb.collection("students").doc(this.currentStudent.id);
      // this.svisit.records.push(this.visit);
      //visit是物件,push過去會把地址也指過去,所以svisti.records和visit地址一樣了
      //這時想改visit的值，電腦會認為去動到vuex裡svisit.records的值
      this.svisit.records.push({
        date: this.visit.date,
        record: this.visit.record,
        status: ""
      });
      ref.update({ records: this.svisit.records }).then(() => {
        //用update：原本沒有records會自動補一個在firebase
        this.$store.commit("setStdataRecords", this.svisit.records);
        this.visit.date = null;
        this.visit.record = null;
      });
    }
  }
};
</script>

<style scoped>
section {
  background: orange;
  margin: 30px 20px;
  padding: 12px;
}

/* .span {
  width: 150px;
}  */

input {
  display: inline-block;
  width: 60%;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: -8px;
}

.card {
  width: 700px;
}

.record {
  height: 300px;
  width: 600px;
}

.date {
  width: 100px;
}

.stdbutton {
  margin: 20px 100px;
}
</style>

